/* #region  SITE SETTINGS - MENUS */

.settings #navigation {
    margin-top: 2em;
  }
  
  .admin-menus .overlay #admin-content-edit {
    padding-top:3em;
  }
  
  #edit-primary-menus {
    margin-left: -5px;
    padding-top: 0px;
    padding-left: 0;
    padding-bottom: .3em;
  }
  
  .nav-item-main {
    width: auto;
    padding: 0 8px;
    color: #222;
    @include rem-fallback(font-size, 18);
    margin-left: 2px;
  }
  
  .nav-item.ui-sortable-handle {
    cursor: move;
    border: 1px solid #999;
    width: auto;
    display: inline-block;
    border-radius: 2px;
    margin-bottom: 1em;
  }
  
  .nav-item.ui-sortable-handle:hover {
    background: #ffffd9;
    text-decoration: none;
    color: #222;
    border: 1px solid #222;
    transition: color .25s linear, background-color .25s ease-in-out;
  }
  
  .nav-item .type {
    margin-right: .2em;
    color: #222;
    font-size: .9em;
    margin-left: 5em;
    margin-top: 2px;
  }
  
  #admin-navigation .nav-item .btn-primary {
    cursor: move;
    border-radius: 0;
    border-right: 1px solid #565656;
    padding-left: .3em;
    padding-right: .3em;
  }
  
  #admin-navigation .nav-item .mk-re-order {
    @include rem-fallback(font-size, 18);
    cursor: move;
    float: none;
    display: inline-block;
    position: relative;
    top: 2px;
  }
  
  .remove-menu {
    border: none;
    background: none;
    color: #222;
    padding: 5px 0 0 0;
    display: inline-block;
    margin-left: 6px;
    float: right;
    margin-right: .5em;
  }
  
  .remove-menu .mk-icon {
    left: 1px;
    top: 3px;
    @include rem-fallback(font-size, 20);
    color: #852330;
    position: relative;
  }
  
  #menu-add {
    margin-top: 1em;
  }
  
  #admin-navigation .menu-item {
    clear: both;
    float: left;
    margin: 0 0 .6em 0;
    color: #222
  }
  
  #admin-navigation .default-menu-label {
    display: inline-block;
    padding-right: 1em;
    width: 120px;
    float: left;
  }
  
  #admin-navigation #search {
    border: none;
    padding-left: 0
  }
  
  #admin-navigation #search .mk-search {
    color: #222;
    font-size: 1em;
  }
  
  #other-menus {
    margin-top: 1.5em;
  }
  
  #menu-add-content,
  #menu-add-external {
    margin: 10px .5em 5px 0;
    width: auto;
    cursor: pointer;
    clear: left;
    display: inline;
  }
  
  #menu-add-content .mk-add,
  #menu-add-external .mk-add {
    top: 4px;
    @include rem-fallback(font-size, 18);
  }
  
  #external-url-form {
    margin-top: 1em;
    background: #eee;
    display: block;
    width: auto;
    padding: 1em 1em .5em 1em;
    border: 1px solid #ddd;
  }
  
  #external-add {
    margin-top: .5em;
  }
  
  #external-url-form .input-group {
    display: block;
  }
  
  #settings-context .admin-context-header {
    /* When selector shows up in admin context, not item  */
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 1em;
  }
  
  #admin-content-edit.browser-selector.admin-context-body .tab-content.is-open {
    padding-top: 0;
  }
  
  #admin-content-edit.browser-selector.admin-context-body .accordion-tabs .tab-link {
    display: none;
  }
  
  #admin-content-edit.browser-selector.admin-context-body .accordion-tabs .tab-content {
    border-top: none;
  }
  
  /* #endregion  */