<!-- # Admin Pane - Statistics # -->

<div class="admin-pane item-revisions overlay overlay-full">

<header class="overlay-header">
  <div class="header-inner">
  <h2><span class="mk-icon mk-delete"></span> Deleted Content</h2> 	
  <nav>
    <ul class="page-options"> 
      	<li class="option-close">	  	
      		<button class="btn btn-sm btn-default close-button" aria-label="Close">
        		<span class="mk-icon mk-close"></span>
        		<span class="button-text sr-only"> Close</span> 
        	</button>
      	</li>
    </ul>
  </nav>
  </div>
</header>

<div id="admin-site-settings" class="site-settings-revisions">
    <div id="revisions-content">
        <table class="table table-striped table-hover table-condensed trashcan">
            <thead>
                <tr>
                    <td>Actions</td> 
                    <td class="sort sort-asc" dir="asc" sort="id">Title</td> 
                    <td class="sort sort-asc" dir="asc" sort="views">URI</td>
                    <td class="sort sort-asc" dir="asc" sort="visits">Date</td> 
                    <td class="sort sort-asc" dir="asc" sort="title">User</td> 
                </tr>
            </thead>
            <tbody>
                <% var revision, formed, i=0, length = trash.length %>
                <% for(i;i<length;i++){ revision = trash[i]; %>
                    <% lastAccess = 'Never'; if(revision.changed > 0){ lastAccess = Mediakron.formatUnixDateStamp(revision.changed, 'small'); } %>
                    <tr>
                        <td class="rev-actions">
                            <a href="#" class="btn btn-primary restore" uri="<%= revision.id %>" action="revert"><span class="mk-icon mk-undo"></span> Restore</a>
                        </td>
                        <td class="rev-title"><%= revision.title %></td>
                        <td class="rev-id"><%= revision.uri %></td> 
                        <td class="rev-date"><%= lastAccess %></td>
                        <td class="rev-user"><%= revision.username %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
