<div id="relationship-selection">
	<h2>Add item to <%= type %>: <%= title %></h2>
	<ul class="nav nav-tabs">
		<li class="active"><a id="tab-existing" >Existing Content</a></li>
		<li> <a id="tab-new">Add New Content</a></li>
	</ul>
	<div id="browser">
		<%= browser %>
	</div>
	<div id="add-content" style="display:none">
		<ul id="select-add">
			<li><h3>Basic Items</h3></li>
			<li><a class="btn btn-info btn-sm add-link create" type="image"><span class="mk-icon mk-add"></span> Add Image</a></li>
			<li><a class="btn btn-info btn-sm add-link create" type="video"><span class="mk-icon mk-add"></span> Add Video</a></li>
			<li><a class="btn btn-info btn-sm add-link create" type="text"><span class="mk-icon mk-add"></span> Add Text</a></li>
			<li><a class="btn btn-info btn-sm add-link create" type="audio"><span class="mk-icon mk-add"></span> Add Audio</a></li>
			<li><h3>Collections</h3></li>
			<li><a class="btn btn-info btn-sm add-link create" type="section"><span class="mk-icon mk-add"></span> Add Section</a></li>
			<li><a class="btn btn-info btn-sm add-link create" type="map"><span class="mk-icon mk-add"></span> Add Map</a></li>
			<li><a class="btn btn-info btn-sm add-link create" type="timeline"><span class="mk-icon mk-add"></span> Add Timeline</a></li>
			<li><a class="btn btn-info btn-sm add-link create" type="slideshow"><span class="mk-icon mk-add"></span> Add Slideshow</a></li>
			<li><a class="btn btn-info btn-sm add-link create" type="narrative"><span class="mk-icon mk-add"></span> Add Narrative</a></li>
			<li><a class="btn btn-info btn-sm add-link create" type="progression"><span class="mk-icon mk-add"></span> Add Progression</a></li>
			<li><a class="btn btn-info btn-sm add-link create" type="comparison"><span class="mk-icon mk-add"></span> Add Comparison</a></li>

		</ul>
	</div>
</div>