<!-- # Admin Pane - Hompage # -->

<div class="admin-pane admin-homepage overlay overlay-half">

<header class="overlay-header">
  <div class="header-inner">
    <h2><span class="mk-icon mk-settings"></span> Settings  > Homepage</h2> 	
    <nav>
      <ul class="page-options"> 
        	<li class="option-close">	  	
        		<button class="btn btn-sm btn-default close-button" aria-label="Close">
          		<span class="mk-icon mk-close"></span>
          		<span class="button-text"> Close</span> 
          	</button>
        	</li>
      </ul>
    </nav>
  </div>
</header>

<div id="admin-homepage" class="site-settings">
    <div id="item-content" >	
        <h3 class="title">Homepage Settings</h3>
        <fieldset>  
		   <legend>Introduction</legend>
        
        <div class="form-instructions"><p>A homepage introduction with a description and/or image.</p></div>
        
        <div class="rich-text field">
            <label for="description">Description</label>
           	 <div id="description" class="enable-wysiwyg model-field" contenteditable="true" settings-attr="description" data-placeholder="A description of your site ~" edit-type="html"><%= Mediakron.Settings.HomePage.description %></div>
            <%= wysiwyg %>
        </div>
       
        <div class="field edit-image clearfix">
            <label for="image">Image</label>
            <div class="edit-thumbnail">
            	<% var removeClass = 'hide'; if(Mediakron.Settings.HomePage.image){ %>
            	
            	    <% var thumbnail = Mediakron.Image.theme(Mediakron.Image.style(Mediakron.Settings.HomePage.image,'medium')), removeClass = 'hide'; if(thumbnail != ''){ removeClass = ''; } %>
                	<%= thumbnail %>

                <% } %>
            </div>

            <button id="remove-image" type="submit" class="btn submit btn-no-style <%= removeClass %>"><span class="mk-icon mk-remove"> </span> <span class="sr-only">Remove Image</span></button>

	         <button id="upload-image" type="submit" class="btn submit btn-primary"><span class="mk-icon mk-upload"> </span> Upload Image</button>
	         
	         <div id="file-progress-bar" role="progressbar">
             <div id="file-progress-text">
                 Loading
             </div>

             <div class="progress progress-striped active">
               <div class="progress-bar" style="width: 0%"></div>
             </div>
	         </div>
	         
	         <div class="field field-alt <%= removeClass %>">
  					<label for="alt">Alternative Text <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/alt-text"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Alternative Text</span></span></a></label>
  					<input class="form-control model-field" id="alt" model-attr="image" placeholder="Describe this image for web accessibility" value="<%- Mediakron.Settings.HomePage.alt %>">						
  	        <input id="image-file" type="file" placeholder="Image"  model-attr="image" />
          </div>
        </div>
        </fieldset>
        
        
        <fieldset class="layout-styles">
            <legend>Layout</legend>       			
            <% _.each(Mediakron.Settings.HomePage.options,function(opt,id){ %>
				<div class="layout-option <%= opt.id %>"  <% if(opt.icon != ''){ %>style="background-image: url('<%= opt.icon %>')"<% } %>>
                	<span class="option-input"><input name="layout" value="<%= opt.id %>" class="homepage-layout" type="radio" <%= Mediakron.Checked(Mediakron.Settings.HomePage.layout,id) %>> </span>
                		<span class="option-title"><%= opt.title %>
                			<% if(opt.help != ''){ %><% } %>
                			<% if(opt.help != ''){ %> <div class="help"> <%= opt.help %></div><% } %> 
                		</span>
				</div>
			<% }) %>
			
       </fieldset>

    <% var item = false; %>
    
    <% if(Mediakron.Settings.HomePage.item){ item = Mediakron.getItemFromURI(Mediakron.Settings.HomePage.item);  } %>
    <% if(item){ %>
        <fieldset id="homepage-add">
           <legend>Home Page Content </legend>	
           <div class="form-instructions">You've selected a media item or collection to appear on the homepage.</div> <span id="active-homepage">Current Home Page Content: <span class="current-homepage-item"> <%= item.get('title') %></span>  </span>
        	<span class="remove-menu">
                <span id="homepage-remove-item" class="mk-icon mk-remove" title="Remove Item"></span><span class="sr-only">Remove Item</span>
            </span>
        
        </fieldset>
    <% }else{ %>
   
           
       <fieldset id="homepage-add">
		 <legend>Home Page Content </legend>
		 <div class="form-instructions">Select a media item or collection to appear on the homepage. It will appear below the homepage introduction.</div>
		<button id="homepage-add-content" class="btn btn-primary btn-md">
			<span class="mk-icon mk-add"></span> Choose Content
		</button> 
    </fieldset>

<% } %>
				
  <div class="save-bar">
    <div class="save-bar-inner">
  		<button id="done-editing" type="submit" class="btn btn-success submit btn-sm"><span class="mk-icon mk-save"> </span> Save</button>
  		<button id="close-settings-context" class="btn btn-default btn-sm close-settings"><span class="mk-icon mk-close"> </span> Cancel</button>
  	</div>
  </div>

</div>

</div>

</div>

<div class="overlay-bg"></div>