<% basepath = Mediakron.Controller.baseurl; %>

<div class="tags browser-page">
    
  <header>
  <h2><span class="mk-icon mk-tag"></span> Tags</h2> 
  	<ul class="browser-nav" role="navigation" aria-label="Other Browse Pages">
    	<li class="browser-page-links"><a class="all-content-link" href="<%= basepath %>browse"><span class="mk-icon mk-grid"></span> All Content</a></li> 
    	<li class="browser-page-links"> <a class=" updates-link" href="<%= basepath %>mycontent"><span class="mk-icon mk-user"></span> My Content</a></li>
    	<li class="browser-page-links"><a class="all-content-link" href="<%= basepath %>updates"><span class="mk-icon mk-updates"></span> Recent Changes </a></li> 
  	</ul>
  </header>
    
    <ul class="taglist"></ul>
    
</div>