<div id="external-nav">
	<div class="input-group">
		<span class="input-group-addon">URL</span>
		<input id="external-url" class="form-control" name="external-url" value="<%- menu.url %>" placeholder="Enter URL" />
	</div><br>
	<div class="input-group">
		<span class="input-group-addon">Title</span>
		<input id="external-title" class="form-control" name="external-title"  value="<%- menu.title %>" placeholder="Enter Title" />
	</div><br>
	<button id="saveExt" type="submit" class="btn btn-success btn-sm"><span class="mk-icon mk-save"> </span> Save and Exit</button>
	<button id="cancelExt" class="btn btn-default btn-sm">Cancel</button>
</div>