<!-- # Admin Pane - Statistics # -->

<div class="admin-pane item-revisions overlay overlay-full">

<header class="overlay-header">
  <div class="header-inner">
  <h2><span class="mk-icon mk-modified"></span> Revisions</h2> 	
  <nav>
    <ul class="page-options"> 
      	<li class="option-close">	  	
      		<button class="btn btn-sm btn-default close-button" aria-label="Close">
        		<span class="mk-icon mk-close"></span>
        		<span class="button-text sr-only"> Close</span> 
        	</button>
      	</li>
    </ul>
  </nav>
  </div>
</header>

<div id="admin-site-settings" class="site-settings-revisions">
    <div id="revisions-content">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <td>Actions</td> 
                    <td class="sort sort-asc" dir="asc" sort="id">Id</td> 
                    <td class="sort sort-asc" dir="asc" sort="views">Time</td>
                    <td class="sort sort-asc" dir="asc" sort="visits">User</td> 
                    <td class="sort sort-asc" dir="asc" sort="title">Title</td> 
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
    
</div>

<div class="rev-preview-window hide">
  <div class="rev-preview-topbar">
    <div class="rev-preview-topbar-inner">
      <h1><span class="mk-icon mk-modified"></span> Revision Preview</h1>
       <button class="btn btn-sm btn-primary rev-preview-close" aria-label="Close"><span class="mk-icon mk-close"></span><span class="button-text"> Close </span></button>
      <button class="btn btn-sm btn-primary rev-preview-revert" revision="" action="revert"><span class="mk-icon mk-undo"></span>Revert Revision</button> 
         </div>
  </div>
  <div id="rev-preview">
</div> 

</div>

</div>
