
<% if(Mediakron.Templates[type]){ %>

  <fieldset id="layout-fields" class="layout-styles">
      <legend class="js-expandmore">Layout Styles </legend> 
    <div class="js-to_expand">
        <div class="form-instructions">
        The basic layout options for how this item will appear. 
        </div>	
        
    	<% _.each(Mediakron.Templates[type],function(opt){ %>
    		<% var checked = ""; if(template == opt.id){ checked = 'checked' } %>
    		    <div class="layout-option <%= opt.id %>"  <% if(opt.icon != ''){ %>style="background-image: url('<%= opt.icon %>')"<% } %>>
                	<span class="option-input">
                	    <input name="templates" class="templates template-field" id="template-<%= opt.id %>" model-attr="template" value="<%= opt.id %>" <%= checked %> type="radio" ></span> 
                		<label class="option-title" for="template-<%= opt.id %>"><%= opt.name %>
    			    		<% if(opt.help != ''){ %><% } %>
    			    		<% if(opt.help != ''){ %> <div class="help"> <%= opt.help %></div><% } %> 
    			    	</label>
    			</div>
      	<% }) %>
  </div>
  </fieldset>

<% } %>

<fieldset id="featured-information" class="widget-options expandable-fieldset">
	<legend class="js-expandmore">Featured Information <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/widgets"><span class="mk-icon mk-help get-help"></span><span class="sr-only"> More about featured information</span></a></legend> 
	
	  <div class="js-to_expand">
    	<div class="form-instructions">
      	This allows you to highlight secondary content by having it show up alongside or just below the main item content (depending on the layout options for the content type). 
    	</div>	
    	<div class="layout-widget layout-none">
    		<span>
    			<input name="sidebar-content" class="sidebar-field" id="sidebar-none"  model-attr="template" value="none" type="radio" <%= Mediakron.Checked(options.defaultSidebar,'none') %>> 
    		<label for="sidebar-none">None</label>
    		</span>
    	</div>
    	<div class="layout-widget layout-description">
    		<span>
    			<input name="sidebar-content" class="sidebar-field" id="sidebar-description"  model-attr="template" value="description" type="radio" <%= Mediakron.Checked(options.defaultSidebar,'description') %>> 
    			<label for="sidebar-description">Description</label>
    		</span>
    	</div>
    	<div class="layout-widget layout-details">
    		<span>
        		<input name="sidebar-content" class="sidebar-field" id="sidebar-details"  model-attr="template" value="details" type="radio" <%= Mediakron.Checked(options.defaultSidebar,'details') %>> 
    			<label for="sidebar-details">Source/Metadata</label>
    		</span>
    	</div>
    	<div class="layout-widget layout-transcript">
    		<span>
        		<input name="sidebar-content" class="sidebar-field" id="sidebar-transcript"  model-attr="template" value="transcript" type="radio" <%= Mediakron.Checked(options.defaultSidebar,'transcript') %>> 
    			<label for="sidebar-transcript">Transcript</label>
    		</span>
    	</div>
  	</div>
  </fieldset>



<% if(type == 'map'){ %>
  <fieldset class="timemap-fields hide accordion-panel">
      <legend class="js-expandmore">TimeMap Settings </legend> 
    
      <div class="js-to_expand">	
        <div class="form-instructions">
        Enter the start and end date of the timeline. 
        </div>	
      <div class="start-date-container">	
        <label> Start: </label>
        <div class="start-date-fields"></div>
      </div>
      <div class="end-date-container">	
        <label> End: </label>
        <div class="end-date-fields"></div>
      </div>
    </div>
    
  </fieldset>
  
  <fieldset class="filters-layers accordion-panel">
      <legend class="js-expandmore">Sidebar Visibility Options <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/sidebaroptions"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Sidebar Options</span></span></a></legend> 
    	
    	<div class="js-to_expand">	
      	<div class="form-instructions">Control the display of map sidebar as well as the controls for filtering map markers and toggling layers. 
      	</div>	
      	<div class="filter-sidebar">
      		<span>
      			<input name="sidebar-hidden" class="filter-field" id="sidebar-default"  option-attr="hideSidebar" value="hide" type="checkbox" <%= Mediakron.Checked(options.hideSidebar,'hide') %>> 
      		<label for="sidebar-none">Sidebar closed by default</label>
      		</span>
      	</div>
        <div class="layers-enabled">
      		<span>
      			<input name="layers-enabled" class="filter-field" id="layers-hidden"  option-attr="layersHidden" value="hidden" type="checkbox" <%= Mediakron.Checked(options.layersHidden,'hidden') %>> 
      		<label for="sidebar-none">Do not display map layers</label>
      		</span>
      	</div>
      	<div class="filters-enabled">
      		<span>
      			<input name="filters-hidden" class="filter-field" id="filters-hidden"  option-attr="filtersHidden" value="hidden" type="checkbox" <%= Mediakron.Checked(options.filtersHidden,'hidden') %>> 
      		<label for="sidebar-none">Do not display map filters</label>
      		</span>
      	</div>
      	</div>
  </fieldset>
<% } %>


<% if(type == 'timeline'){ %>
  <fieldset class="filters-layers accordion-panel">
      <legend class="js-expandmore">Sidebar Visibility Options</legend> 
    	
    	<div class="js-to_expand">	
      	<div class="form-instructions">Control the display of timeline sidebar as well as the controls for filtering timeline markers and toggling layers. 
      	</div>	
      	<div class="filter-sidebar">
      		<span>
      			<input name="sidebar-hidden" class="filter-field" id="sidebar-default"  option-attr="hideSidebar" value="hide" type="checkbox" <%= Mediakron.Checked(options.hideSidebar,'hide') %>> 
      		<label for="sidebar-none">Sidebar closed by default</label>
      		</span>
      	</div>
        <div class="layers-enabled">
      		<span>
      			<input name="layers-enabled" class="filter-field" id="layers-hidden"  option-attr="layersHidden" value="hidden" type="checkbox" <%= Mediakron.Checked(options.layersHidden,'hidden') %>> 
      		<label for="sidebar-none">Do not display map layers</label>
      		</span>
      	</div>
      	<div class="filters-enabled">
      		<span>
      			<input name="filters-hidden" class="filter-field" id="filters-hidden"  option-attr="filtersHidden" value="hidden" type="checkbox" <%= Mediakron.Checked(options.filtersHidden,'hidden') %>> 
      		<label for="sidebar-none">Do not display map filters</label>
      		</span>
      	</div>
      	</div>
  </fieldset>
<% } %>

