<% var user, i=0, length = users.length %>
<% for(i;i<length;i++){ user = users[i]; %>
    <% lastAccess = 'Never'; if(user.lastVisit > 0){ lastAccess = Mediakron.formatUnixDateStamp(user.lastVisit); } %>
    <tr>
        <td><a href="<%= basepath %>browse/user/<%= user.id %>"><%= user.name %></a></td> 
        <td><%= user.visits %></td>  
        <td><%= user.views %></td> 
        <td><%= user.contributions %></td> 
        <td><%= user.edits %></td> 
        <td><%= lastAccess %></td>
    </tr>
<% } %>