<!-- # Admin Pane - Add Content # -->

<div class="admin-pane admin-add-content overlay overlay-full">

<header class="overlay-header">
  <div class="header-inner">
    <h2><span class="mk-icon mk-settings"></span> Settings > Manage Users</h2> 	
    <nav>
      <ul class="page-options"> 
        	<li class="option-close">	  	
        		<button class="btn btn-sm btn-default close-button" aria-label="Close">
          		<span class="mk-icon mk-close"></span>
          		<span class="button-text"> Close</span> 
          	</button>
        	</li>
      </ul>
    </nav>
  </div>
</header>

<div id="manage-users" class="site-settings">

	<h3 class="title">Manage Users</h3>
		
	<h4 class="title">Users</h4>		
	
	<fieldset class="add-new-user expander">
	
	  <legend class="title expander-trigger expander-hidden">Add User(s)</legend>	
	
	
  	  <div class="expander-content">
    	 
    	<div class="field-group">
      	<label for='addUsersRole'>Role: </label>
      	<select id="addUsersRole" name="addUsersRole">
      	  <option value="member">Member</option>
      	  <option value="contributor">Contributor</option>
      	  <option value="collaborator">Collaborator</option>
      	  <option value="editor">Editor</option>
      	  <option value="administrator">Administrator</option>
      	</select>
    	</div>
    	
    	<div class="field-group">
      	<label for="addUsers">Add user emails (one per row)</label>
  	
  	  	<div class="form-instructions">For Boston College users, add a username or email address. NOTE: BC emails must be the username version (e.g. doeja@bc.edu), not the longer version (e.g. jane.doe@bc.edu). For non-BC users, just add an email address</div>
  	  	
      	<textarea id="addUsers" rows="4" cols="50"></textarea>
      </div>
      <button id="btn-add-new-user"  class="btn btn-primary btn-sm">Add User </button>
      
      </div>
	
	</fieldset>

	 	  
  <table class="table table-striped table-bordered user-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Role</th>
            <th class="row-ldap">Group<a class="help-link" href="<%= Mediakron.Settings.basepath %>help/groupaccess">
                <span class="mk-icon mk-help get-help"><span class="sr-only">Help with Group Access</span></span></th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
  
    <h4 class="title">Groups</h4>	
    
  <fieldset class="group expander">
  	
  	<legend class="title expander-trigger expander-hidden">Add Group</legend>	
  	
  	<div class="expander-content">
  	
  	<div class="form-instructions">For Boston College sites only. Use the format in this example for connecting a course roster to a site: APSY7419012016S. <p><strong>Important:</strong> for fall courses, use the year associated with the spring semester. For example, a fall 2015 course would be "2016F"</p></div>
  	
  	
  	<div class="field-group ">
    	<label for="group-role">Role: </label>
    	<select id="group-role" name="group-role">
    	  <option value="member">Member</option>
    	  <option value="contributor">Contributor</option>
    	  <option value="collaborator">Collaborator</option>
    	  <option value="editor">Editor</option>
    	  <option value="administrator">Administrator</option>
    	</select>
  	</div>
  	
  	<div class="field-group">
    	 <label for="group-id" class="required">Group ID </label>
    	 <input type="text" id="group-id" name="group-id" required="required" maxlength="255">
    </div>
    
    <button id="btn-add-group"  class="btn btn-primary btn-sm">Add Group</button>
    
    </div>
    
  </fieldset>
  	    	  
  <table class="table table-striped table-bordered groups-table">
    <thead>
        <tr>
            <th>Group</th>
            <th>Role</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
      
    
  </tbody>
</table>
 
   
  </div>
