<div class="popup timeline-popup">

   <div class="timeline-edit-buttons">
    <% if(parent.canEdit(false)){ %>
    <a href="<%= Mediakron.Settings.basepath+uri+'/manager/'+item.get('uri') %>"><span class="mk-icon mk-edit"></span></a>
    <% } %>
    <% if(parent.canRemoveFrom(false)){ %>
      <a href="<%= Mediakron.Settings.basepath+ uri +'/manager/'+item.get('uri')+'/remove' %>"><span class="mk-icon mk-remove"></span></a>
	  <% } %>
  </div>
	
	<div class="popup-body clearfix">
	  <span class="timeline-date"><span class="sr-only">Date:</span> <%= time %></span>
	  
    <div class="popup-header">
    	<%= item.get('title') %>
    </div>
  	  
    <% if(item.get('caption') !== '') { %>
     <%= item.getSquareImage('medium',125,125) %>
	  <div class="popup-timeline-caption">  <%= item.get('caption') %>  </div>
   <% }else{ %>
    <div class="popup-timeline-nocaption">
      <%= item.getSquareImage('medium',125,125) %>
    </div>
   <% } %> 
		
	</div>
</div>