<article class="template timeline-template in-narrative timeline-template--default <% if(caption.length){ %> caption-active<% } %>">
	<div class="content-primary">	
		
		<header class="title-box">
			<h3><a href="<%= uri %>" data-tooltip="View outside of narrative" class="tooltip--n"><%= title %></a></h3>	<span class="edit-menu edit-menu-<%= uri %>"></span>
			<% if(caption.length){ %><div class="caption"><%= caption %></div><% } %>
		</header>
		
    <div id="item-content" class="main-item-content no-sidebar">	
    		<div class="timeline timeline-<%= uri %>">
        		<div id="add-new-content">
        		        <a class="btn btn-primary" id="add-content-context" href="settings/manage/select/<%= uri %>"><span class="mk-icon mk-add"></span> Add Content to Timeline
        		        </a>
        		</div>
    	</div>
	
	<% var curClass = "closed"; if(current !== uri){ curClass = "opened"; } %>
	<div class="item-view <%= curClass %>">
	    <a href="#<%= uri %>" class="view-close"><span class="mk-icon mk-close"></span><span class="sr-only" >Close</span></a>
	    <div class="item-contents"></div>
	</div>
	
  <div class="widgets widgets--below widgets--below-<%= uri %>">
  	<div class="widgets__description widget-box"></div>
  	<div class="widgets__transcript widget-box"></div>
  	<div class="widgets__details widget-box"></div>
  </div>	

</article>