		<div id="metadata-form">
		
			<div class="form-instructions">The following fields are from the Dublin Core Metadata Element Set. <a href="http://dublincore.org/documents/dces/.">More information of Dublin Core</a> </div>
			
			
			<div class="field">
			<label for="creator" class="control-label">Creator</label>
			<div class="model-field"aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="creator" data-placeholder="Enter Content Creator" type="text"><%- creator %></div>
			</div>
			
			<div class="field">
			<label for="contributor" class="control-label">Contributor</label>
			<div class="model-field"aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="contributor" data-placeholder="An entity responsible for making contributions to the resource" type="text"><%- contributor %></div>
			</div>
			
			<div class="field">
			<label for="coverage" class="control-label">Coverage</label>
			<div class="model-field" aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="coverage" data-placeholder="The spatial or temporal topic of the resource" type="text"><%- coverage %></div>
			</div>
			
  		<div class="field">
    		<label for="description" class="control-label">Description</label>
          <div class="model-field"aria-labelledby="title" role="textbox" aria-multiline="true" contenteditable="true"  model-attr="metadata" id="description" data-placeholder="Enter Short Description" type="text"><%- description %></div>
  		</div>
		
        <div class="field">
        <label for="format" class="control-label">Format</label>
        <div class="model-field"aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="format" data-placeholder="The file format, physical medium, or dimensions of the resourc" type="text"><%- format %></div>
        </div>
        
        <div class="field">
        <label for="identifier" class="control-label">Identifier</label>
        <div class="model-field"aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="identifier" data-placeholder="An unambiguous reference to the resource within a given context" type="text"><%- identifier %></div>
        </div>
        
        <div class="field">
        <label for="language" class="control-label">Language</label>
        <div class="model-field"aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="language" data-placeholder="A language of the resource" type="text"><%- language %></div>
        </div>
        
        <div class="field">
        <label for="coverage" class="control-label">Location</label>
        <div class="model-field" aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="location" data-placeholder="A the location of the resource" type="text"><%- coverage %></div>
        </div>
        
        <div class="field">
        <label for="medium" class="control-label">Medium</label>
        <div class="model-field" aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="medium" data-placeholder="The physical material or carrier" type="text"><%- medium %></div>
        </div>
        
        <div class="field">
        <label for="Provenance" class="control-label">Provenance</label>
        <div class="model-field" aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="provenance" data-placeholder="A statement of any changes in ownership and custody" type="text"><%- provenance %></div>
        </div>
        
        <div class="field">
        <label for="publisher" class="control-label">Published</label>
        <div class="model-field"aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="publisher" data-placeholder="Enter Date of Publication" type="text"><%- published %></div>
        </div>
        
        <div class="field">
        <label for="published" class="control-label">Publisher</label>
        <div class="model-field"aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="published" data-placeholder="An entity responsible for making the resource available" type="text"  value="<%- publisher %>"><%- publisher %></div>
        </div>

        
        <div class="field">
        <label for="relation" class="control-label">Relation</label>
        <div class="model-field" aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="relation" data-placeholder="A related resource" type="text"><%- relation %></div>
        </div>
        
        <div class="field">
        <label for="rights" class="control-label">Rights</label>
        <div class="model-field" aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="rights" data-placeholder="Information about rights held in and over the resource" type="text"><%- rights %></div>
       </div>
        
        <div class="field">
        <label for="SizeOrDuration" class="control-label">Size/Duration</label>
        <div class="model-field" aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="SizeOrDuration" data-placeholder="A dimension of the resource, or a time taken to play or execute" type="text"><%- SizeOrDuration %></div>
        </div>
      
        <div class="field">
        <label for="subject" class="control-label">Subject</label>
        <div class="model-field" aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true"  model-attr="metadata" id="subject" data-placeholder="The topic of the resource" type="text"><%- subject %></div>
        </div>
    </div>
