<div class="home-template home-template--basic">

	<div class="home-template__inner">

		<% if(Mediakron.Settings.subtitle) { %>
			<h2 class="subtitle"><%= Mediakron.Settings.subtitle%></h2>
		<% } %>
		
		<% if(Mediakron.Settings.HomePage.image){ %>
			<div class="home-image" >
            	<%= Mediakron.Image.theme(Mediakron.Image.style(Mediakron.Settings.HomePage.image,'full'),Mediakron.Settings.name,Mediakron.Settings.HomePage.alt) %>
            </div>	
        <% } %>     	
			
			<% if(description){ %>
			<div class="description"><%= description %></div>
			<% } %>		
		
 	</div>
 	
	<% if(Mediakron.Access.check('can change site settings')){ %><a id="change-homepage" class="btn btn-default tooltip--w"  href="<%= basepath %>settings/homepage" data-tooltip="Change Homepage Settings"><span class="mk-icon mk-edit"></span><span class="button-text"> Edit Homepage</span></a><% } %>
	
</div>
<div id="homepage-content">
</div>