<div class="home-template home-template--left <% if(!Mediakron.Settings.HomePage.image){ %>no-image        <% } %>">

	<div class="home-template__inner">	

		<% if(Mediakron.Settings.HomePage.image){ %>
		<div class="home-image col-md-8">
            	<%= Mediakron.Image.theme(Mediakron.Image.style(Mediakron.Settings.HomePage.image,'full'),Mediakron.Settings.name,Mediakron.Settings.HomePage.alt) %>
            </div>	
        <% } %>
        
    	<div class="home-template_info col-md-4" > 
			<% if(Mediakron.Settings.subtitle.length > 0){ %>
			<h2 class="home-subtitle"><%= Mediakron.Settings.subtitle%></h2>
			<% } %>
    		<div class="home-description"><%= description %> </div>	 	
	 	</div>
	 	
	<% if(Mediakron.Access.check('can change site settings')){ %><a id="change-homepage" class="btn btn-default tooltip--w"  href="<%= basepath %>settings/homepage" data-tooltip="Change Homepage Settings"><span class="mk-icon mk-edit"></span><span class="button-text"> Edit Homepage</span></a><% } %>
	
</div>

<div id="homepage-content">
</div>