<ul>
	<% if(items.length > 0){   %>
	<% _.each(items, function(menu){  %>
		<% if(menu){   %>
			<% if(menu.type && menu.type == 'external'){ var title; if(menu.title){ title = menu.title; }else{ title = menu.uri; } %>
				<li class="homepage-menu--item">
					<a href="<%= menu.uri %>" class=""><%= menu.title %></a>
				</li>
			<% }else{ %>
				<li class="homepage-menu--item">
					<div class="homepage-menu-thumbnail"><%=menu.getSquareImage('medium','150','150',true) %></div>
					<a href="<%= menu.getURL() %>" class="homepage-menu-title"><%= menu.get('title') %></a>
				</li>
			<% } %> 
        <% }}); %>

    <% } %>
</ul>