/* === @group CANVAS LTI (_lit.scss) === */

/* @group LTI CONTENT BROWSER */

body.lti-browser {
    padding: 0 .5em;
}

body.lti-browser,
body.lti-view {
	padding-top:0;
	background:#fff;
}

body.lti-view.lti-browser .lti-site-link {
  display: none /* hide "View Site" overlay in browser view */
}

body.lti-browser #mediakron,
body.lti-view #mediakron {
	padding-top:0;
}

body.lti-view .button-menu,
body.lti-view .collections-link
 {
	display: none;
}

body.lti-browser #mediakron h2 {
	margin-bottom: 0;
}

body.lti-browser #nav, 
body.lti-browser #branding,
body.lti-browser #header,
body.lti-view #nav, 
body.lti-view #branding,
body.lti-view #header   {
    display: none;
}

body.lti-browser .content-action {
	width: 27%;
}

body.lti-browser #content-filters #content-sort {
	clear:none;
}

body.lti-browser #content-view-options {
    margin-left: .5em;
}

body.lti-browser table#admin-content .btn-add {
	padding: 5px 6px 5px 6px;
	background: #1A4251;
	font-size: 1.1em;
	display: inline;
	border: 1px solid transparent;
	color: #fff;
	border-radius: 2px;
	margin-right: 1em;
	font-size: 16px;
}

body.lti-browser table#admin-content .btn-add .mk-add {
	color: #fff;
}

body.lti-browser table#admin-content .btn-add .mk-link {
    color: #fff;
}

body.lti-browser table#admin-content .browser-meta {
	margin-left: 1em;
	padding-top: 3px;
}


body.lti-browser table#admin-content .actions{
	width:auto;
}

body.lti-browser table#admin-content.list-view tr.item-row .title {
	margin-left: 0;
}

body.lti-browser table#admin-content .actions a{
	clear:none;
}

body.lti-browser table#admin-content .browser-meta{
	margin-left: 1.5em;
}

body.lti-browser table#admin-content.list-view .row-thumb{
	display: none;
}

body.lti-browser footer,
body.lti-view footer {
	display:none;
}

.lti-view #carousel #carousel-toggle {
	top: -12px;
	right: 40%;
	border:none;
}

.lti-view .info-bar.fixed-bar {
	display: none;
}

.lti-view .sticky-header.active {
  display: none;
}

/* Hide page page options in LTI view  */
.lti-view .item-header .page-options li {
  display: none;
}  

.item-header .page-options li.option-view-in-mk,
.sticky-header .page-options li.option-view-in-mk {
  display: none;
}

/* Show View in MediaKron button */

.lti-view .item-header .page-options li.option-view-in-mk {
  display: inline-block;
}


/* @end */

/* @group CANVAS SET-UP PAGE */

#admin-canvas #site-list .alert {
	margin-bottom: 0;
	text-align: center;
}

#admin-canvas #site-list .btn {
	width: 100%;
}


#admin-canvas #disconnect   {
    background: #333;
    border: none;
    color: #fff;
}

#admin-canvas #disconnect   .mk-icon {
    color: #fff;
    position: relative;
    top: 3px;
    margin-right: -6px;
}

/* @end */

/* @group LTI Site Link Overlay */

.lti-site-link {
	display: none;
}

body.lti-view.body-homepage .lti-site-link {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1003;
	cursor:pointer;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	text-align:center;
	display: block;
}

body.lti-view.body-homepage .lti-site-link--inner {
	@include scut-center-transform;
	padding: 2em;
	background: #fff;
	border-radius: 4px;
}

body.lti-view.body-homepage .btn-lti-site {
	background: #660000;
	color: #fff;
	width: 100%;
	border-radius: 4px;
	@include rem-fallback(font-size, 22);
}

body.lti-view.body-homepage .lti-site-link .instructions {
	@include rem-fallback(max-width, 200);
	margin-top: 1em;
}

body.lti-view.body-homepage .lti-site-link .instructions a {
	color: #660000;
	font-weight: bold;
}




/* @end */

/* @end CANVAS LTI == */
