<div id="compare-magnify" class="clearfix">
	<% if(itemD){ %>
		<div id="mediakron-compare-left" class="clearfix">
			<div id="mediakron-compare-top-left">
				<%= itemA %>
			</div>
			<div id="mediakron-compare-bottom-left">
				<%= itemC %>
			</div>
		</div>
		<div id="mediakron-compare-right" class="clearfix">
			<div id="mediakron-compare-top-right">
				<%= itemB %>
			</div>
			<div id="mediakron-compare-bottom-right">
				<%= itemD %>
			</div>
		</div>
	<% }else if(itemC){ %>
		<div id="mediakron-compare-left" class="clearfix">
			<div id="mediakron-compare-top-left">
				<%= itemA %>
			</div>
			<div id="mediakron-compare-bottom-left">
				<%= itemC %>
			</div>
		</div>
		<div id="mediakron-compare-right" class="clearfix">
			<div id="mediakron-compare-top-right">
				<%= itemB %>
			</div>
		</div>
	<% }else { %>
		<div id="mediakron-compare-left" class="clearfix">
			<%= itemA %>
		</div>
		<div id="mediakron-compare-right" class="clearfix">
			<%= itemB %>
		</div>
	<% } %>
</div>
