<div class="datewidget-start">
  <div class="timelineSelectWidget">
  	<% var ranges = Mediakron.Timeline.ranges, months = ["January","February","March","April","May","June","July","August","September","October","November","December"]; %>
  	
  	<div class="form-group year">
  	    <span class="start-end-label">Start: </span><input class="form-control" type="text" date="year" placeholder="Year" value="<%= start.year %>"> /
  	</div>
  	<div class="form-group month">
  	        <% if(type == 'generic'){ %>
  	            <input class="form-control" type="text" date="month" placeholder="Month" value="<%= start.month %>">>/ 
  	        <% }else{ %>
  		        <select name="months" class="month-select" type="text" date="month" data-placeholder="Month">
  		            <option value=""></option>
  			        <% _.each(months, function(month,key){ %>  
  				        <option value="<%= key %>" <% if(start.month == key){ %> selected <% } %>><%= month %> </option>
  	                <% }); %>
  	            </select> /
  	        <% } %> 
  	</div>
  	<div class="form-group day">
  	    <input class="form-control" type="text" date="day" placeholder="Day" value="<%= start.day %>">
  	</div>
  	<div class="form-group hour">
  	    <input class="form-control" type="text" date="hour" placeholder="Hour" value="<%= start.hour %>">
  	</div>
  	<div class="form-group minute">
  	    : <input class="form-control" type="text" date="Minute" placeholder="Min" value="<%= start.minute %>">
  	</div>
  	<div class="form-group second">
  	    : <input class="form-control" type="text" date="second" placeholder="Sec" value="<%= start.second %>">
  	</div>
  
  </div>
</div>


<div class="datewidget-end">
  <div class="timelineSelectWidget">
  	<% var ranges = Mediakron.Timeline.ranges, months = ["January","February","March","April","May","June","July","August","September","October","November","December"]; %>
  	
  	<div class="form-group year">
  	    <span class="start-end-label">End: </span><input class="form-control" type="text" date="year" placeholder="Year" value="<%= end.year %>"> /
  	</div>
  	<div class="form-group month">
  	        <% if(type == 'generic'){ %>
  	            <input class="form-control" type="text" date="month" placeholder="Month"  value="<%= end.month %>">/ 
  	        <% }else{ %>
  		        <select name="months" class="month-select" type="text" date="month" data-placeholder="Month">
  		            <option value=""></option>
  			        <% _.each(months, function(month,key){ %>  
  				        <option value="<%= key %>" <% if(end.month == key){ %> selected <% } %>><%= month %> </option>
  	                <% }); %>
  	            </select> /
  	        <% } %> 
  	</div>
  	<div class="form-group day">
  	    <input class="form-control" type="text" date="day" placeholder="Day" value="<%= end.day %>">
  	</div>
  	<div class="form-group hour">
  	    <input class="form-control" type="text" date="hour" placeholder="Hour" value="<%= end.hour %>">
  	</div>
  	<div class="form-group minute">
  	    : <input class="form-control" type="text" date="Minute" placeholder="Min" value="<%= end.minute %>">
  	</div>
  	<div class="form-group second">
  	    : <input class="form-control" type="text" date="second" placeholder="Sec" value="<%= end.second %>">
  	</div>
  
  </div>
</div>