<% var kanopy = item.getKanopyUrl(); console.log(kanopy); %>

<div class="kanopy-container">
	<iframe width='100%' height='100%' src='<%= kanopy %>' frameborder='0' allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
</div>

<div class="video-help-text">	
  <button class="js-expandmore btn btn-sm btn-no-style"><span class="mk-icon mk-help"></span> <span class="button-text">Video Help</span></button>
  <div class="js-to_expand hidden">
   If the video does not appear, you may need to <strong><a href="https://login.proxy.bu.edu/login?url=<%= kanopy %>">log into the Boston University Libraries</a></strong> and then reload the page.		
     </div>
  </div>	
</div>