
   /**
 * ====== Reponsive ==================
 */


@media (max-width: 1200px)  {

 }


/* Tablets*/
@media (max-width: 991px)  { /*  62em  */

 }
 
 
   /* Phones */
@media (max-width:  767px) { /* 48em */

/* @group LAYOUT */



/* @end */

/* @group CONTENT BROWSER */

table#admin-content td{
	display:block;
}
table#admin-content .bulk-check {
	float:left;
	padding-right:.5em;
}
table#admin-content  .square-thumbnail {
	top: 0px;
	float:left;
}
.view-in-collection {
	padding-left:0;
	margin-top:5px;
}
table#admin-content .browser-meta{
	margin-top:5px;
}
table#admin-content .actions{
	float:none;
	margin-top:5px;
	position:static;
}

/* @end */


}



