/* @group TAGS  */

.tags {
    padding: 0 1em;
    @include breakpoint(sm){
  	padding: 0;
  	}
}

.taglist {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	max-width: 80%;
  margin: 2em auto;
  width: 80%;
}

.taglist li {
	list-style: none;
	display: inline-block;
	margin-right: .5em;
	border-radius: 3px;
	padding: 0em 0.5em;
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: .5em;
	@include rem-fallback(font-size, 16);
	padding: .2em .4em;
}

.taglist li .tag {
    display: inline-block;
    float: left;
}

.taglist li:hover {
  background: #666;
  color: #fff;
}

.taglist li:hover a {
  color: #fff;
}

.taglist li .mk-tag {
	@include rem-fallback(font-size, 14);
	top: 1px;
	margin-right: 4px;
}

.taglist li a,
.taglist li a:hover{
	text-decoration: none;
	border-bottom: none;
	box-shadow: none;
}

.taglist .mk-icon {
	list-style: none;
  @include rem-fallback(font-size, 14);
  top: 2px;
  left: 1px;
}

/* @group Tag Template */

.tag-template .item-content{
  max-width: 700px;
  margin: auto;
  padding: 0 1em;
  @include breakpoint(sm){
  padding: 0;
  }
}

.tag-template h2 {
	text-transform: capitalize;
}

.tag-template .details-button {
	display: none;
}

.tag-template h2 .mk-icon {
	text-transform: capitalize;
	padding-right: .4em;
	@include rem-fallback(font-size, 25);
}

.tag-template .widgets__comments, .tag-template .comments-button {
	display: none;
}

#settings-context #tag-field{
  margin-bottom: 0;
}

#settings-context .all-tags{
    clear:both;
    padding-top: 1em;
}

.tags-breadcrumb{
	font-style: italic;
}

.tags-breadcrumb:before {
	content: "In ";
	font-style: normal;
}



/* @end */


/* @group ADD TAGS */
#tag-list {
  margin: 0 0 .5em 0;
  padding: 0;
}

.field-group-tags .field {
  padding: 0;
  margin: 0;
}

#tag-list li {
    list-style: none;
    display: inline-block;
    background: #eee;
    border: 1px solid #565656;
    padding: .1em .5em;
    border-radius: 4px;
    white-space: nowrap;
    margin-bottom: .5em;
    margin-right: .4em;
}

#tag-list li .remove-tag {
    padding-left: .3em;
}

#tag-list li .mk-icon.mk-remove {
  top: 2px;  
}

#tag-list li .mk-tag {
    padding-right: .3em;
    font-size: 14px;
    
}

#settings-context .all-tags ul {
  background: #fff;
  border: 1px solid #565656;
  padding: .5em;
  border-radius: 2px;
  position: relative;
  z-index: 1;
  width: 300px;
  box-shadow: none;
}


.all-tags .chosen-container-multi .chosen-choices li.search-choice {
  margin-right: .3em;
}

.field-group-tags .chosen-container-multi .chosen-choices li.search-field input[type="text"],  {
  color: #565656;
  @include rem-fallback(font-size, 18);
  width: 200px !important;
}

.field-group-tags #tag-field {
  @include placeholder {
      color: #565656;
      @include rem-fallback(font-size, 18);
    } 
}


/* @end */

/* @group TAGS IN DETAILS */

.details-tags ul {
	padding-left: 0;
	margin-left: 0;
}

.details-tags ul li {
	list-style: none;
	display: inline-block;
	margin-right: .5em;
	border-radius: 3px;
	padding: 0em 0.5em;
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: .5em;
	@include rem-fallback(font-size, 16);
	background: #fafafa;
	padding: .2em .4em;
}

.details-tags ul li:hover {
  background: #666;
  color: #fff;
}

.details-tags ul li:hover a {
  color: #fff;
}

.details-tags ul li .mk-tag {
	@include rem-fallback(font-size, 14);
	top: 2px;
	left: 1px;
}

.details-tags ul li a,
.details-tags ul li a:hover{
	text-decoration: none;
	border-bottom: none;
	box-shadow: none;
}


/* @end */

/* @end */

