/node_modules
/public/hot
/public/storage
/api/storage/
/api/storage/*.key
vendor
vendor/*
/.idea
/.vagrant
/api/Homestead.json
/api/Homestead.yaml
npm-debug.log
yarn-error.log
.env
docker/data
docker/composer/cache
/public/files
