<% basepath = Drupal.Mediakron.Settings.basepath; console.log(showUpdated); %>
<div id="mediakron-content-search" class="clearfix" >
	<div id="mediakron-search-main" >
		<h2>
			<%= title %>
		</h2>
		<div id="recent-select">
		<input type="radio" name="changes" value="created" <% if(!showUpdated){ %>checked<% } %>><label>New Items</label>
		<input type="radio" name="changes" value="changes" <% if(showUpdated){ %>checked<% } %>><label>Updated Items</label>
		</div>
			<% if(items.length){ %>
				<div id="mediakron-search-items">
					<% items.forEach( function(item){  %>
					    <% var id = item.get("id"); %> 
						<% var title = item.get("title"); %>
					    <% var link = item.get("link"); %>
						<% var created = Drupal.Mediakron.Settings.FormatDate(item.get("created")); %>
						<% var date = Drupal.Mediakron.Settings.FormatUpdated(item.get("changed")); %>
						<% var teaser = Drupal.Mediakron.Settings.FormatTeaser(item.get("body")); %>
					    <div class="search-item clearfix enable-compare" data-id="<%= id %>" comparetype="slideshow"  itemid="<%= id %>">
							<%= Drupal.Mediakron.getTagImage(item) %>
							<div class="search_link"><%= link %></div>
							<% if(showUpdated){ %><div class="date"><strong>Updated: </strong><%= date %></div> <% } %>
							<div class="date"><strong>Created: </strong><%= created %></div>
							<div class="snippet"><%= teaser %></div> 
						</div>
					<% }); %>
				</div>
			<% } %>
	</div>
</div>
