<% basepath = Drupal.Mediakron.Controller.basepath; %>
<div id="mediakron-content-search" class="clearfix" >
	<div id="mediakron-search-main" >
		<h2>
			<%= title %>
		</h2>
			<% if(items.length){ %>
				<div id="mediakron-search-items">
					<% items.forEach( function(result){ console.log(result); %>
					  <% if(!result.get("results")){ %>
					    <% var snippet = result.get("snippet");  %>
					    <div class="search-item clearfix"><%= snippet %></div>
					  <% }else{ %>
					    <% var id = result.get("id"); %>
					    <% var item = Drupal.Mediakron.items.get(id); %>
					    <% var title = item.get("title"); %>
					    <% var link = item.get("link"); %>
					    <% var snippet = result.get("snippet");  %>
					    <div class="search-item clearfix enable-compare" data-id="<%= id %>" comparetype="slideshow"  itemid="<%= id %>">
							<%= Drupal.Mediakron.getTagImage(item) %>
							<div class="search_link"><%= link %></div>
							<%= snippet %>
						</div>
						<% } %>
					<% }); %>
				</div>
			<% } %>
	</div>
</div>
