/* @group MK Fonts */

@font-face {
  font-family: 'mediakron';
  src:  url('fonts/mediakron.eot?ra6f2d');
  src:  url('fonts/mediakron.eot?ra6f2d#iefix') format('embedded-opentype'),
    url('fonts/mediakron.woff2?ra6f2d') format('woff2'),
    url('fonts/mediakron.ttf?ra6f2d') format('truetype'),
    url('fonts/mediakron.woff?ra6f2d') format('woff'),
    url('fonts/mediakron.svg?ra6f2d#mediakron') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mk-icon {
	font-family: 'mediakron';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mk-edit2:before {
  content: "\e254";
}
.mk-ellipsis:before {
  content: "\e5d4";
}
.mk-person_pin:before {
  content: "\e55a";
}
.mk-quote:before {
  content: "\e620";
}
.mk-story:before {
  content: "\e61e";
}
.mk-image:before {
  content: "\e601";
}
.mk-slideshow:before {
  content: "\e602";
}
.mk-video:before {
  content: "\e603";
}
.mk-text:before {
  content: "\e604";
}
.mk-narrative:before {
  content: "\e605";
}
.mk-file:before {
  content: "\e61f";
}
.mk-comparison:before {
  content: "\e606";
}
.mk-progression:before {
  content: "\e607";
}
.mk-folder:before {
  content: "\e608";
}
.mk-tag:before {
  content: "\e609";
}
.mk-map:before {
  content: "\e60a";
}
.mk-timeline:before {
  content: "\e600";
}
.mk-updates:before {
  content: "\e908";
}
.mk-zoomin:before {
  content: "\e900";
}
.mk-zoomout:before {
  content: "\e901";
}
.mk-fullscreen-open:before {
  content: "\e60b";
}
.mk-fullscreen-close:before {
  content: "\e60d";
}
.mk-lock:before {
  content: "\e905";
}
.mk-unlocked:before {
  content: "\e906";
}
.mk-wrench:before {
  content: "\e909";
}
.mk-equalizer:before {
  content: "\e90a";
}
.mk-tools:before {
  content: "\e618";
}
.mk-unordered-list:before {
  content: "\e610";
}
.mk-numbered-list:before {
  content: "\e611";
}
.mk-play:before {
  content: "\e61d";
}
.mk-audio:before {
  content: "\e60c";
}
.mk-bold:before {
  content: "\e613";
}
.mk-italic:before {
  content: "\e614";
}
.mk-paragraph-left:before {
  content: "\e615";
}
.mk-paragraph-center:before {
  content: "\e616";
}
.mk-paragraph-right:before {
  content: "\e617";
}
.mk-new-window:before {
  content: "\e903";
}
.mk-duplicate:before {
  content: "\e902";
}
.mk-erase:before {
  content: "\e621";
}
.mk-organize:before {
  content: "\e60e";
}
.mk-edit:before {
  content: "\e60f";
}
.mk-mail:before {
  content: "\e7c7";
}
.mk-undo:before {
  content: "\e7cd";
}
.mk-user:before {
  content: "\e7d0";
}
.mk-users:before {
  content: "\e7d1";
}
.mk-export:before {
  content: "\e7d4";
}
.mk-comment:before {
  content: "\e7e3";
}
.mk-search:before {
  content: "\e7e7";
}
.mk-view:before {
  content: "\e7ff";
}
.mk-appearance:before {
  content: "\e814";
}
.mk-save:before {
  content: "\e83a";
}
.mk-close:before {
  content: "\e83b";
}
.mk-remove:before {
  content: "\e83e";
}
.mk-unpublish:before {
  content: "\e83f";
}
.mk-add:before {
  content: "\e840";
}
.mk-delete-bold:before {
  content: "\e841";
}
.mk-minus:before {
  content: "\e842";
}
.mk-plus:before {
  content: "\e843";
}
.mk-info:before {
  content: "\e847";
}
.mk-help:before {
  content: "\e849";
}
.mk-return:before {
  content: "\e84f";
}
.mk-created:before {
  content: "\e850";
}
.mk-modified:before {
  content: "\e851";
}
.mk-back:before {
  content: "\e854";
}
.mk-connect:before {
  content: "\e855";
}
.mk-menu:before {
  content: "\e859";
}
.mk-archive:before {
  content: "\e863";
}
.mk-upload:before {
  content: "\e865";
}
.mk-download:before {
  content: "\e866";
}
.mk-expand:before {
  content: "\e876";
}
.mk-arrow-left:before {
  content: "\e898";
}
.mk-arrow-down:before {
  content: "\e899";
}
.mk-arrow-up:before {
  content: "\e89a";
}
.mk-arrow-right:before {
  content: "\e89b";
}
.mk-superscript:before {
  content: "\e907";
}
.mk-asterisk:before {
  content: "\e904";
}
.mk-h1:before {
  content: "\e619";
}
.mk-h2:before {
  content: "\e61a";
}
.mk-h3:before {
  content: "\e61b";
}
.mk-link:before {
  content: "\e612";
}
.mk-unlink:before {
  content: "\e61c";
}
.mk-grid:before {
  content: "\e010";
}
.mk-list:before {
  content: "\e012";
}
.mk-settings:before {
  content: "\e019";
}
.mk-delete:before {
  content: "\e020";
}
.mk-home:before {
  content: "\e021";
}
.mk-re-order:before {
  content: "\e119";
}
.mk-filter:before {
  content: "\e138";
}
.mk-sort:before {
  content: "\e150";
}