<div id="online">
    <% if(Mediakron.Status.online){ %><div id="status-indicator" class="is-online"><% }else { %><div id="status-indicator" class="is-not-online offline"><% } %>
    </div>
    <div id="current-editors" class="hide">
        <strong>Active Editors</strong>
        <table class="table table-striped">
            <thead><tr><td>Name</td><td>Status</td><td>Item</td></tr></thead>
            <tbody>
        <% _.each(users,function(user){ if(user.status != ''){ %>
            <tr class="editor"> <td><%= user.user.name %></td><td><%= user.status %></td><td><%= user.item %></td></tr>
        <% }}); %>
        </tbody>
        </table>
    </div>
</div>