<div id="login-banner">
	<div id="branding">
		<h1 class="page-header"><span id="site-name"><a href="home"><%= Mediakron.Settings.name %></a></span></h1>
	</div>
</div>


<div id="login">
	<h2 class="sr-only">Log in </h2>
	<div id="login-image">
		<img src="/images/mklogo-horizontal-300.png" alt="MediaKron Logo" />
	</div>
	<% if(authenticated){ %> 
		<p>You are logged in, but you have not been given access to this site.</p>
		<ul>
			<li>
				<a href="mailto:mksupport@bu.edu">Request Access</a>
			</li>
			<li>
				<a href="/profile">Return to your account page</a>
			</li>
		</ul>
	<% }else{ %>
    	<form method="post" id="user-login" accept-charset="UTF-8" role="form">
    		<div class="form-item form-type-textfield form-item-name">
    			<label class="sr-only" for="username">Username <span class="form-required" title="This field is required.">*</span></label>
    			<input type="text" id="username" name="name" value="" class="form-text required" placeholder="Username"/>
    			<div class="login-instructions">If you are a BU user, please use your basic BU ID as username. Otherwise, use your email address.</div>
    		</div>
    		<div class="form-item form-type-password form-item-pass">
    			<label class="sr-only"for="password">Password <span class="form-required" title="This field is required.">*</span></label>
    			<input type="password" id="password" name="pass"  class="form-text required" placeholder="Password"/>
    			<div class="login-instructions"></div>
    		</div>
    		<input type="hidden" name="form_id" value="user_login" />
    		<div class="form-actions form-wrapper" id="edit-actions">
    			<input type="submit" id="login-submit" name="op" value="Log in" class="form-submit" />
    		</div>
       <a href="/resetting/request" class="forgot-password">I forgot my password</a>
    		
    	</form>
	<% } %>
	
</div>