<div id="add-timeline-edit">
	<% 
		var ranges =  _.map(Drupal.Mediakron.Controller.mktime.zoomConversions,function(i,range){
		  return range;
		}).reverse(),
	    granularity  = Drupal.Mediakron.Timeline.granularity,
	    scope  = Drupal.Mediakron.Timeline.scope,
	    start = false, 
		stop = false,
		startEnable, endEnable,
	    startDate = item.get("start"), 
	    endDate = item.get("end");
		if(endDate.serial == 0){ endEnable = "" }else{ endEnable = "checked" }
		if(startDate.serial == 0){ startEnable = "" }else{ startEnable = "checked" }
	%>
	<div id="timeline-edit-start">
		<input type="checkbox" name="enable-start" <%= startEnable %> class="timeline-enable-checkbox" id="enable-start" /> <strong>Enable Start Date</strong>
		<% _.each(ranges,function(i,order){  %>
			<% if(i == scope){ start = true; } %>
			<% if(start && !stop){ 
			var range = Drupal.Mediakron.Controller.mktime.zoomConversions[i];
			var val1 = startDate[i]; 
				if(val1 == 0){ val = ""; }
			%>
			<div class="timeline-edit-field"> 
				<label><%= range.label %></label>
				<input type="textfield" name="<%= i %>-start" class="edit-timeline-field edit-<%= i %>-start" value="<%= val1 %>" />
			</div>
			<% } %>
			<% if(i == granularity){ stop = true; return false; } %>
		<% }); %>
	</div>
	<div id="timeline-edit-end">
		<input type="checkbox" name="enable-end" <%= endEnable %> class="timeline-enable-checkbox" id="enable-end" /> <strong>Enable End Date</strong>
		<% stop = false, start = false; _.each(ranges,function(i,order){ %>
			<% if(i == scope){ start = true; } %>
			<% if(start && !stop){ 
			var range = Drupal.Mediakron.Controller.mktime.zoomConversions[i];
			var val1 = endDate[i]; 
				if(val1 == 0){ val1 = ""; }
			%>
			<div class="timeline-edit-field">
				<label><%= range.label %></label>
				<input type="textfield" name="<%= i %>-end" class="edit-timeline-field edit-<%= i %>-end" value="<%= val1 %>" />
			</div>
			<% } %>
			<% if(i == granularity){ stop = true; return false; } %>
		<% }); %>
	</div>
	<div class="edit-actions clearfix">
		<a id="timeline-save" class="inline-save inline-action clearfix"> Save </a>
		<a id="timeline-cancel" class="inline-cancel inline-action clearfix"> Cancel </a>
	</div>
</div>