<!-- # Admin Pane - Import  # -->

<div class="admin-pane admin-settings overlay overlay-full">

    <header class="overlay-header">
        <h2><span class="mk-icon mk-settings"></span> Settings > Import</h2> 	
        <nav>
          <ul class="page-options"> 
            	<li class="option-close">	  	
            		<button class="btn btn-sm btn-default close-button" aria-label="Close">
              		<span class="mk-icon mk-close"></span>
              		<span class="button-text"> Close</span> 
              	</button>
            	</li>
          </ul>
        </nav>
    </header>
    
    <% var i = 0, length = plugins.length %>
    <div id="import">
    	<h3>Import Options</h3>
    	<!-- Tabs -->
        <div id="import-tabs">
            <ul class="accordion-tabs dynamic">
                <% for(i;i<length;i++){ %>
    				<li class="tab-header-and-content"><a class="tab-link plugin" plugin-id="<%= i %>" href="<%= plugins[i].url %>"><%= plugins[i].title %></a></li>
    			<% } %>
            </ul>
        </div>
        <!-- /#import-tabs-->
        
    	<div id="page-content-wrapper" class="tab-content-dynamic">
    	    <div class="form-instructions">Tools for adding content to your site. </div>
    	</div>
    </div> 
</div>