<!-- ===== Template for Folder Content Type Edit Form  ===== -->

<div class="edit-form folder-form collection overlay overlay-half">

    <header class="overlay-header">
        <div class="header-inner">
            <h2><%= label %></h2>
            <nav>
                <ul class="page-options">
                    <li class="edit-options option-add">
                        <a class="btn btn-sm btn-default" href="/settings/manage/select/<%= Mediakron.controller.getPath() %>" aria-label="Add To" title="Add To">
                            <span class="toggles mk-icon mk-add"></span>
                            <span class="button-text"> Add To</span>
                        </a>
                    </li>
                    <li class="option-organize">
                        <a class="btn btn-sm btn-default" href="/settings/manage/organize/<%= Mediakron.controller.getPath() %>" aria-label="Organize %>" title="Organize %>">
                            <span class="toggles mk-icon mk-organize"></span>
                            <span class="button-text"> Organize</span>
                        </a>
                    </li>
                    <li class="option-help">
                        <a class="btn btn-sm btn-default help-link" href="<%= Mediakron.Settings.basepath %>help/folder"><span class="mk-icon mk-help"><span class="sr-only">Help with Folders</span></span></a>
                    </li>
                    <li class="option-close">
                        <button class="btn btn-sm btn-default close-button" aria-label="Close">
                            <span class="mk-icon mk-close"></span>
                            <span class="button-text"> Close</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="admin-edit-image" class="edit">
        <div id="item-content">
            <div id="editors" class="hide"></div>

            <form role="form">
                <div class="validation"></div>

                <!-- ============= SECTION: BASIC INFORMATION =============-->

                <fieldset class="basic-information">
                    <legend>Title</legend>

                    <!-- Title Field-->
                    <div class="field title-field">
                        <label for="title" class="sr-only">Title:</label>
                        <div id="title" aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true" class="model-field" model-attr="title" data-placeholder="Add a title"><%- title %></div>
                    </div>

                    <!-- Caption Field-->
                    <div class="rich-text field">
                        <label for="caption">Caption <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/caption"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Captions</span></span></a></label>
                        <div id="caption" class="model-field enable-wysiwyg" aria-labelledby="caption" role="textbox" aria-multiline="true" contenteditable="true" class="model-field enable-wysiwyg" model-attr="caption" data-placeholder="A brief description/subtitle " edit-type="html"><%= caption %></div>
                        <%= wysiwyg %>
                    </div>

                </fieldset>
                
               <!-- ============= SECTION: CONTENT ============= -->
                
                <fieldset>

                    <legend>Folder Content</legend>

                    <div class="field title-field">
                        <p>To add the items to this Folder, first save it and then click the "Add" button to either select existing items or add new ones. </p>
                    </div>

                </fieldset>                
 
                 <!-- ========== SECTION: DETAILS ============= -->
 
                 <div class="section-container section-details">
                 
                     <h3 class="section-container-title">Details </h3>
 
                     <div class="author-date expandable-fieldset">
                         <h4 class="js-expandmore has-data"> Author and Editing Information</h4>
                         <div class="author-date js-to_expand">Created <%= model.getCreated() %> by <%= model.get("user").name %>. Last updated <%= model.getChanged() %>.
                         </div>
                     </div>
 
                     <!-- === DESCRIPTION === -->
                     <fieldset id="description-field" class="top-panel expandable-fieldset">
                         <legend class="js-expandmore">Description <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/description"><span class="mk-icon mk-help get-help"></span><span class="sr-only"> About the Description field</span></a></legend>
                         <div class="js-to_expand">
                             <!-- Description Field -->
                             <div class="rich-text field accordion-content" aria-hidden="true">
                                 <label class="sr-only" for="description">Description</label>
                                 <div id="description" class="model-field enable-wysiwyg" contenteditable="true" model-attr="description" data-placeholder="A longer description" edit-type="html"><%= description %></div>
                                 <%= wysiwyg %>
                             </div>
                         </div>
                     </fieldset>
 
                     <!-- ===  SOURCE === -->
                     <fieldset id="source-fields" class="expandable-fieldset">
                         <legend class="js-expandmore">Source
                             <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/source">
                                 <span class="mk-icon mk-help get-help"></span><span class="sr-only"> About Source fields</span></a>
                         </legend>
                         <div class="js-to_expand">
                             <div class="form-instructions"> Use the source fields to give attribution for item content with a citation and/or web address.
                             </div>
                             <div class="rich-text field">
                                 <label for="citation">Reference/citation</label>
                                 <div id="citation" class="model-field enable-wysiwyg" contenteditable="true" model-attr="metadata" data-placeholder="Provide a reference/citation for this item" edit-type="html"><%= metadata.citation %></div>
                                 <%= wysiwyg %>
                             </div>
                             <div class="field">
                                 <label for="source">Source URL</label>
                                 <div class="model-field" contenteditable="true" id="source" model-attr="metadata" data-placeholder="http://www..." type="email"><%- metadata.source %></div>
                                 <%= wysiwyg %>
                             </div>
                         </div>
                     </fieldset>
 
                    <!-- === DATE === -->
                    <fieldset id="date-fields" class="expandable-fieldset">
                        <legend class="js-expandmore">Date</legend>
                          <div class="js-to_expand">
                           <div class="form-instructions"> These dates set the length of the timeline.  <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/dates"><span class="mk-icon mk-help get-help"></span>Tips for date formats</a></div>
                          <div class="js-to_expand"><%= dateWidget %></div>
                        </a>
                    </fieldset> 
                    
                     <!-- === METADATA === -->
                     <fieldset id="metadata-fields" class="expandable-fieldset">
                         <legend class="js-expandmore">Other Metadata</legend>
                         <div class="accordion-content js-to_expand"><%= metadataForm %></div>
                     </fieldset>
 
                     <!-- === TAGS === -->
                     <fieldset class="field-group-tags expandable-fieldset">
                         <legend class="js-expandmore">Tags <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/tags"><span class="mk-icon mk-help get-help"></span><span class="sr-only"> Help with Tags</span></a></legend>
 
                         <div class="js-to_expand">
                             <div class="field">
                                 <legend class="sr-only">Tags for this Item</legend>
                                 <ul id="tag-list">
                                     <% var curtags = {}; _.each(tags,function(tag){ curtags[tag.get('uri')] = true; %>
                                         <li uri="<%= tag.get('uri') %>"><span class="mk-icon mk-tag"></span>
                                             <%= tag.get('title') %>
                                                 <button class="remove-tag btn submit btn-no-style"><span class="mk-icon mk-remove"> </span> <span class="sr-only">Remove Tag</span></button>
                                         </li>
                                         <% }) %>
                                 </ul>
                             </div>
 
                             <!-- create new tag field -->
                             <div class="field">
                                 <label class="add-tags" for="description">Create Tags</label>
                                 <input id="tag-field" class="model-field" model-attr="tags" size="50" placeholder="Example: tag one, tag two" value="<%= model.getTagsComma() %>">
                                 <button class="add-field-tag btn btn-primary"><span class="mk-icon mk-add"> </span> Add</button>
                             </div>
 
                             <div class="all-tags field">
                                 <label for="choose-tag">Add Tags</label>
                                 <select id="choose-tag" data-placeholder="Choose an existing tag" multiple>
                                     <% _.each(Mediakron.items.where({type:'tag'}),function(tag){ %>
                                         <option value="<%= tag.get('uri') %>">
                                             <%= tag.get('title') %>
                                         </option>
                                         <% }); %>
                                 </select>
                             </div>
                         </div>
                     </fieldset>
                     
                 </div>
                 
                 <div class="section-container section-appearance">
 
                     <!-- ============= SECTION: APPEARANCE ============= -->
 
                     <h3 class="section-container-title"> Appearance </h3>
               
                   
                     
                    <!-- === THUMBNAIL ===  -->

                    <fieldset class="field-group-thumbnail expandable-fieldset">
                        <legend class="js-expandmore">Thumbnail/Header Image</legend>

                        <div class="edit-image clearfix js-to_expand">
                            <label for="image">Image</label>
                            <div class="form-instructions">
                                Optional: This image will appear as the thumbnail for this story and as the header image depending on the layout selected below. Allowed formats: jpg, png, gif.
                            </div>

                            <% var thumbnail = model.getImage('medium'), removeClass = 'hide'; if(thumbnail != ''){ removeClass = ''; } %>
                                <div class="edit-thumbnail">
                                    <%= thumbnail %>
                                </div>
                                <button id="remove-image" type="submit" class="btn submit btn-no-style <%= removeClass %>"><span class="mk-icon mk-remove"> </span> <span class="sr-only">Remove Image</span></button>
                                <button id="upload-image" type="submit" class="btn submit btn-primary"><span class="mk-icon mk-upload"> </span> Upload Image</button>
                                <div class="field field-alt <%= removeClass %>">
                                    <label for="alt">Alternative Text <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/alt-text"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Alternative Text</span></span></a></label>
                                    <div id="alt" role="textbox" aria-labelledby="alt" class="model-field" contenteditable="true" model-attr="image" data-placeholder="Describe this image for web accessibility">
                                        <%- image.alt %>
                                    </div>
                                </div>
                                <input id="image-file" type="file" placeholder="Image" model-attr="image" />

                                <div id="file-progress-bar">
                                    <div id="file-progress-text">Loading</div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar" style="width: 0%"></div>
                                    </div>
                                </div>
                        </div>

                     </fieldset>
                      
 
                  <!-- === FOLDER COLOR AND ICON === -->
                  <fieldset id="folder-styles">
                     <% var color = '#333333'; if(options.color){ color = options.color; } %>
                    <legend class="js-expandmore">Folder Color</legend>
                    <div class="js-to_expand">
                      <div class="form-instructions">This color currently only used in Timelines to group markers. </div>
                      <div class="field">
                          <label for="layer-type" class="layer-type-label">Color</label>
                              <input id="layer-color" type="color" name="layer-color" value="<%= color %>">
                      </div>
    
                      <div class="field layer-icon hide">
                          <% var icon = 'mki mki-marker'; if(options.icon){ icon = options.icon; } %>
                          <label for="layer-type" class="layer-type-label">Current Icon: <span class="current-icon <%= icon %>"></span></label>
                          <button class="btn btn-primary btn-sm select-icon">Choose Icon</button>
                          <div class="icons">
                              <div class="wrapper">
                                  <h3>Choose Icon</h3>
                                  <button class="btn btn-sm btn-default close-icon" aria-label="Close">
                                      <span class="mk-icon mk-close"></span>
                                      <span class="button-text sr-only"> Close</span>
                                  </button>
                                  <div id="search"><span class="mki mki-magnifier" style="-webkit-transform: translate(0px,0px);transform: translate(0px,0px);-ms-transform: translate(0px,0px)"></span>
                                      <input id="search_input" placeholder="search" type="text" />
                                  </div>
                                  <div id="types"></div>
                                  <div id="icons-wrapper"></div>
                              </div>
                          </div>
                       </div>
                     </div>
 
                  </fieldset>
 
                     <!-- === LAYOUT STYLES AND FEATURED WIDGETS === -->
 
                     <%= sidebarOpts %>
 
                 </div>
 
                 <%= savebar %>
 
             </form>
         </div>
         <!-- End #item -->
     </div>
 </div>
 
 <div class="overlay-bg"></div>