<!-- ===== Organize Pane - Timeline  ===== -->

<% var record; %>

<div class="organize-pane organize-timeline collection overlay overlay-sidebar">

  <header>
    <div class="header-inner">
      <h2><span class="toggles mk-icon mk-organize"></span> Organize Timeline </h2>
      <nav>
        <ul class="page-options"> 
          <li class="option-edit">
          	<a class="edit-button btn btn-sm btn-default" type="button" href="/settings/manage/edit/<%= Mediakron.controller.getPath() %>" aria-label="Edit" title="Edit Timeline">
          		<span class="toggles mk-icon mk-edit"></span><span class="button-text"> Edit</span>
          	</a>
          	<li class="option-add">	  	
          		<a class="btn btn-sm btn-default" href="/settings/manage/select/<%= Mediakron.controller.getPath() %>" aria-label="Add To" title="Add To">
          			<span class="toggles mk-icon mk-add"></span>
          			<span class="button-text"> Add To</span>
          		</a>
          	</li>
          	<li class="option-close">	  	
          		<button class="btn btn-sm btn-default close-button" aria-label="Close">
            		<span class="mk-icon mk-close"></span>
            		<span class="button-text"> Close</span> 
            	</button>
    
          	</li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div id="manage-timeline" class="organize">
    <h3 class="title"><%= item.title %></h3>
  	<ul class="manage-timeline-list">
  		<%  _.each(item.sorted,function(event){ record = Mediakron.getItemFromURI(event.uri); if(!record){ return; } %>
  			<li class="event-manage" uri="<%= event.uri %>">
  				<div class="timeline-manage-item event-<%= event.uri %>" uri="<%= event.uri %>">
  				    <h4><span title="<%= record.getNormalType() %>" class="mk-icon mk-<%= record.getNormalType() %>"></span> <span class="sr-only"><%= record.getNormalType() %> </span><a href="<%= event.uri %>"> <%= record.get('title') %> 	</a></h4><% if(record.canEdit() || model.canRemoveFrom()){ %><button type="button" class="remove-item btn-no-style" uri="<%= event.uri %>"><span class="mk-icon mk-remove"  ></span> <span class="sr-only"> Remove Event </span></button><% } %>
  				    <% if(record.canEdit()){ %><a class="edit-button tooltip--n organize-edit-button" type="button" href="<%= record.editURL() %>" data-tooltip="Edit <%= record.getNormalType() %>"><span class="mk-icon mk-edit"></span><span class="sr-only"> Edit <%= record.getNormalType() %></span></a><% } %>
  				    <div class="timeline-fields">
  					    <div class="start-date-container">
  	    				    <label>Start: <span class="add-start add-start-<%= event.uri %> " uri="<%= event.uri %>"></span></label>
  	                        <div class="start-date-<%= event.uri %>"></div>
  						</div>
  						<div class="end-date-container">
  	    				    <label>End: <span class="add-end add-end-<%= event.uri %> " uri="<%= event.uri %>"></span></label>
  	                        <div class="end-date-<%= event.uri %>"></div>
  	                    </div>
  			        </div>
  
  				</div>
  			</li>
  		<% }); %>
  	</ul>
  	
  	<div class="save-bar">
  	  <div class="save-bar-inner">
  			<button id="done-editing" type="submit" class="btn btn-success submit btn-sm"><span class="mk-icon mk-save"> </span> Save</button>
  			<button id="cancel-editing" class="btn btn-default btn-sm close-settings"><span class="mk-icon mk-close"> </span> Close</button>
        </div>
    </div>
    
  </div>
  
</div>

<div class="overlay-bg"></div>