// === _story.scss ===

/* @group Story HEIGHT */

.story-template .story-content {
	min-height: 100vh;
}

/* @end */




/* #region STORY: General */

.story-title {
  margin: auto;
  @include rem-fallback(max-width, 700);
  padding: .2em .5em .2em .3em;
  width: 100%;
  @include rem-fallback(font-size, 34);
}

.story-body {
  clear: both;
  @include rem-fallback(font-size, 21);
  letter-spacing: .01rem;
  line-height: 1.5;
  height: 100%;
  margin: auto;
  @include rem-fallback(max-width, 700);
  padding: 0;
  text-align: left;
  width: 100%;
  position: relative;
  z-index: 1;
  background: #fff;
}

.option-edit-content,
#edit-story {
  width: 100%;
}

.option-edit-content .mk-icon {
  font-size: 16px;
  top: 1px;
}

#edit-story {
  padding-left: .5em;
  border: none;
}

.story-body p,
.story-body ul,
.story-body ol,
.story-body blockquote {
  @include rem-fallback(margin-bottom, 30);
  min-height: 1.2em;
}

.story-body p+ul {
  @include rem-fallback(margin-top, -15px);
}

.story-body ul+p {
  @include rem-fallback(margin-top, -15px);
}

.story-template .item-header {
  margin-bottom: 0;
}

.story-template .item-nav {
  position: static;
  padding-left: 1em;
}

.story-template .caption {
  padding-left: .5em;
  @include rem-fallback(font-size, 22);
}

.story-template .save-bar {
  display: none;
}

.add-story-header,
.add-story-title,
.editing-enabled-title {
  display: none;
}

.add-content .edit-story .add-story-header,
.story-edit-page-options {
  display: none;
}

.add-content .edit-story .story-edit-page-options,
.edit-story.editing-enabled .story-edit-page-options,
.editing-enabled .story-template .story-edit-page-options {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1004;
  animation-name: fadeIn;
  animation-delay: 1s;
}

.add-content .edit-story .story-edit-page-options .page-options,
.editing-enabled .story-template .story-edit-page-options .page-options {
  right: 1em;
  top: .6em;
  @include rem-fallback(width, 100);
}

.add-content .edit-story .story-edit-page-options .page-options .close-button,
.editing-enabled .story-template .story-edit-page-options .page-options .close-button {
  text-align: center;
  padding: .1em .2em .1em .2em;
  background: transparent;
  border: none;
  @include rem-fallback(font-size, 16);
}

.add-content .edit-story .story-edit-page-options .page-options .close-button .mk-icon,
.editing-enabled .story-template .story-edit-page-options .page-options .close-button .mk-icon {
  top: 2px;
}

.add-content .edit-story .story-edit-page-options .page-options .mk-icon.mk-close::before,
.add-content .edit-story .story-edit-page-options .page-options .mk-icon.mk-close::after,
.editing-enabled .story-template .story-edit-page-options .page-options .mk-icon.mk-close::before,
.editing-enabled .story-template .story-edit-page-options .page-options .mk-icon.mk-close::after {
  background: #000;
}

.add-content .edit-story .story-edit-page-options .page-options .close-button .button-text,
.editing-enabled .story-template .story-edit-page-options .page-options .close-button .button-text {
  display: none;
}

.add-content .edit-story .story-edit-page-options .page-options .option-help,
.editing-enabled .story-template .story-edit-page-options .page-options .option-help {
  @include rem-fallback(font-size, 14);
  padding: 0em .4em .2em .4em;
}

.add-content .edit-story .story-edit-page-options .page-options .option-help a,
.editing-enabled .story-template .story-edit-page-options .page-options .option-help a {
  background: transparent;
  border: none;
  color: #000;
  padding-top: 0;
}

.add-content .edit-story .story-edit-page-options .page-options .option-help a .mk-icon,
.editing-enabled .story-template .story-edit-page-options .page-options .option-help a .mk-icon {
  @include rem-fallback(font-size, 20);
}

.editing-stories-text {
  display: none;
}

.widgets-menu.in-story {
  position: relative;
  /* To position View in properly */
}

.add-story-header .mk-edit,
.add-story-header .mk-add,
  {
  top: 2px;
}

.add-content .edit-story .add-story-header .add-story-title {
  display: inline-block;
}

.editing-enabled .story-template .add-story-header .editing-enabled-title {
  display: inline-block;
}

.add-content header.add-story-header .header-inner,
.editing-enabled .story-template .add-story-header .header-inner {
  margin: auto;
  padding-left: 1em;
}

.add-content .add-story-header h1,
.editing-enabled .story-template .add-story-header h1 {
  @include rem-fallback(font-size, 22);
  font-weight: normal;
  margin: 0;
  padding: .2em 1em .2em .5em;
}

.add-content .add-story-header nav,
.editing-enabled .story-template .add-story-header nav {
  display: inline;
}

.add-content .add-story-header .page-options,
.editing-enabled .story-template .add-story-header .page-options {
  display: inline;
  float: right;
  position: static;
}

.add-content .add-story-header .page-options li,
.editing-enabled .story-template .add-story-header .page-options li {
  display: inline-block;
}

.add-content .add-story-header .page-options .close-button,
.editing-enabled .story-template .add-story-header .page-options .close-button {
  padding: .1em .1em 0em .3em;
  position: absolute;
  z-index: 10000;
}

.add-content .add-story-header .page-options .option-help a,
.editing-enabled .story-template .add-story-header .page-options .option-help a {
  background: #fff;
  color: #000;
}

.add-content .add-story-header .page-options .option-help .mk-icon,
.editing-enabled .story-template .add-story-header .option-help .mk-icon {
  position: relative;
  top: 3px;
}

.add-content .story-template .item-header .page-options,
.editing-enabled .story-template .add-story-header .item-header .page-options {
  display: none;
}

.editing-enabled .story-template .item-nav {
  display: none;
}

.add-content .story-template .mk-breadcrumb {
  display: none;
}

.story-template .justified-gallery img {
  border: 5px solid #fff;
}

/* #endregion  */

/* #region STORY: Feature Styles */

/************************
    Feature Styles
*************************/

figure {
  clear: both;
  z-index: 2;
}

figure.alignRight {
  clear: right;
  width: 48%;
  float: right;
  margin-left: .5em;
  margin-bottom: .5em;
  @include breakpoint(xxs) {
    width: 100%;
    margin-right: 0;
  }
  @include breakpoint(sm) {
    margin-right: -8%;
    width: 55%;
  }
}

figure.alignRightSm {
  clear: right;
  width: 48%;
  float: right;
  margin-left: .5em;
  margin-bottom: .5em;
  @include breakpoint(xxs) {
    width: 100%;
    margin-right: 0;
  }
  @include breakpoint(md) {
    margin-right: 0%;
    width: 33%;
  }
}

figure.alignRightLg {
  clear: right;
  width: 48%;
  float: right;
  margin-left: .5em;
  margin-bottom: .5em;
  @include breakpoint(xxs) {
    width: 100%;
    margin-right: 0;
  }
  @include breakpoint(md) {
    margin-right: -29%;
    width: 75%;
  }
}

figure.alignLeft {
  clear: left;
  width: 45%;
  float: left;
  margin-right: 1em;
  margin-bottom: .5em;
  @include breakpoint(xxs) {
    width: 100%;
    margin-left: 0;
  }
  @include breakpoint(sm) {
    margin-left: -7%;
    width: 55%;
  }
}

figure.alignLeftSm {
  clear: left;
  width: 45%;
  float: left;
  margin-right: 1em;
  margin-bottom: .5em;
  @include breakpoint(xxs) {
    width: 100%;
    margin-left: 0;
  }
  @include breakpoint(md) {
    margin-left: 0;
    width: 33%;
  }
}

figure.alignLeftLg {
  clear: left;
  width: 45%;
  float: left;
  margin-right: 1em;
  margin-bottom: .5em;
  @include breakpoint(xxs) {
    width: 100%;
    margin-left: 0;
  }
  @include breakpoint(md) {
    margin-left: -26%;
    width: 75%;
  }
}

figure.alignLarge {
  clear: left;
  width: 100%;
  float: none;
  margin-right: 1.5em;
  margin-bottom: .5em;
  @include breakpoint(sm) {
    margin-left: -20%;
    width: 140%;
  }
}

figure.alignCol,
figure.alignFull {
  clear: both;
  margin-bottom: .5em;
}

figure.type-image.alignFull {
  margin-left: -50%;
  width: 100vw;
}

figure.type-image.alignFull img {
  width: 100%;
}

figure.type-image.alignCol {}

figure.type-image.alignLeft {}

figure.type-image.alignRight {}

figure.type-file canvas {
  width: 100%;
  min-height: 350px;
}

figure.type-file.alignFull {
  margin-left: -50%;
  width: 100vw;
}

figure.type-file.alignFull img {
  width: 100%;
}

figure.type-file.alignCol {
  border: 1px solid #565656;
}

figure.type-file.alignWide {
  border: 1px solid #565656;
  width: 100%;
  max-width: 960px;
}

figure.type-file.alignLeft {
  border: 1px solid #565656;
}

figure.type-file.alignRight {
  border: 1px solid #565656;
}

figure.type-video.alignFull {
  margin-left: -50%;
  width: 100vw;
}

figure.type-video.alignFull img {
  width: 100%;
}

figure.type-video.alignWide {
  width: 100%;
  max-width: 960px;
}

figure.type-video.alignCol {}

figure.type-video.alignLeft {}

figure.type-video.alignRight {}

figure.type-audio.alignFull {
  margin-left: -50%;
  width: 100vw;
}

figure.type-audio.alignFull img {
  width: 100%;
}

figure.type-audio.alignCol {}

figure.type-audio.alignWide {
  width: 100%;
  max-width: 960px;
}

figure.type-audio.alignLeft {}

figure.type-audio.alignRight {}

figure.type-map,
figure.type-map .map {
  max-height: 400px;
}

figure.type-map.alignFull {
  margin-left: -50%;
  width: 100vw;
}

figure.type-map.alignCol {}

figure.type-map.alignLeft {}

figure.type-map.alignRight {}

figure.type-timeline,
figure.type-timeline .timeline {
  height: 400px;
  overflow: hidden;
  width: 120%;
  margin-left: -10%;
}

figure.type-timeline.alignFull {
  margin-left: -50%;
  width: 100vw;
}

figure.type-timeline.alignCol {}

figure.type-timeline.alignLeft {}

figure.type-timeline.alignRight {}

figure.type-file,
figure.type-image,
.story-template .justified-gallery img {
  cursor: pointer;
}

/* #endregion */

/* #region STORY: Edit Functionality */

.edit-story {}

.edit-story .item-header.header-visibility {
  visibility: visible;
  opacity: 0;
}

.edit-story .sticky-header.active {
  display: none;
}

.edit-story .story-title {
  min-height: 35px;
  padding-left: 0;
}

.edit-story .story-add {
  display: none;
  position: absolute;
  margin-left: -60px;
  width: 92px;
  z-index: 1004;
}

.story-edit-left-bind {
  left: -30px;
  position: absolute;
}

.story-edit-left-bind .add-button {
  width: 75px;
  cursor: pointer;
  padding: .1em 0em .2em 0em;
  @include rem-fallback(font-size, 18);
  animation-name: fadeIn;
  animation-duration: .5;
  position: relative;
  border: 1px solid #222;
  z-index: 1003;
  background: #222;
  color: #fff;
}

.story-edit-left-bind .add-button:after,
.story-edit-left-bind .add-button:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.story-edit-left-bind .add-button:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #222;
  border-width: 14px;
  margin-top: -15px;
}

.story-edit-left-bind .add-button:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #222;
  border-width: 16px;
  margin-top: -16px;
}

.story-add-main {
  float: left;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 1.5em 1em 1.5em;
}

.story-add-main h3 {
  margin-top: .8em;
  margin-bottom: .75em;
}

.story-add-main .accordion-tabs .tab-content {
  display: block;
}

.story-add-main .accordion-tabs .tab-link.is-active {
  position: relative;
  bottom: -1px;
  background: #fff;
}

.story-add-comparison,
story-add-comparison {
  /* hiding until add comparison is built  */
  display: none;
}

.story-add-field {
  border: 1px solid #565656;
  margin-bottom: 5px;
  padding: 5px 7px;
  width: 100%;
  display: block;
}

.story-add .edit-image {
  display: flex;
  margin-top: 1em;
}

.add-dropzone {
  border: 3px dashed #ccc;
  border-radius: 10px;
  height: 150px;
  margin: 20px 0;
  padding: 30px;
  text-align: center;
  width: 200px;
}

.add-tabs {
  padding: 7px;
}

.add {
  padding: 0 10px;
}

.add input {
  border-radius: 2px;
  margin: 5px 3px;
}

.story-template .browse ul {
  padding-left: 0;
}

.story-template .browse ul li {
  list-style: outside none none;
  cursor: pointer;
  border: 1px solid #565656;
  margin-bottom: .5em;
  border-radius: 2px;
  margin-right: .5em;
}

.story-template .browse ul li:hover {
  background: #ffffd9;
  text-decoration: none;
  color: #222;
  border: 1px solid #222;
  transition: color .25s linear, background-color .25s ease-in-out;
}

.story-template .browse ul li .btn-primary {
  border-radius: 0;
  font-size: 20px;
  margin-right: .5em;
}

.story-add-content {
  margin-left: 150px;
}

.story-edit-left-bind .add-items,
.annotate-story {
  top: 0;
  background: #fff;
  border-radius: 2px;
  transition: right .1s;
  right: -100%;
  left: auto;
  position: fixed;
  @include rem-fallback(width, 550);
  height: 100%;
}

.story-edit-left-bind .add-items.is-visible {
  @include rem-fallback(width, 550);
  padding: 0;
  transition: right .4s cubic-bezier(.25, .1, .25, 1);
  border: 1px solid #565656;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
  opacity: 1;
  /*    @include scut-center-transform(x);*/
  position: fixed;
  z-index: 1002;
  top: 0;
  left: auto;
  right: 0;
  overflow: hidden;
  height: 100%;
}

.story-edit-left-bind .add-items .save-bar {
  @include rem-fallback(width, 549);
  right: -100%;
  left: auto;
  position: fixed;
}

.story-edit-left-bind .add-items.is-visible .save-bar {
  @include rem-fallback(width, 549);
  right: 0;
  left: auto;
  position: fixed;
}

.story-add-bg {
  position: fixed;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1002;
}

.story-annotate-bg {
  position: fixed;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1003;
}

.story-add-bg.is-visible {
  opacity: .2;
  visibility: visible;
}

.story-annotate-bg.is-visible {
  opacity: .2;
  visibility: visible;
}

.add-controls {
  float: left;
  clear: left;
  width: 100%;
  padding: 0;
  background: #222;
}

.story-add-button {
  display: block;
  float: left;
  @include rem-fallback(font-size, 28);
  padding: .3em 7px .3em 9px;
  width: 45px;
  cursor: pointer;
  background: #222;
  color: #fff;
  margin-top: 3px;
}

.story-add-button.selected {
  background: #fff;
  color: #222;
  position: relative;
  bottom: -1px;
  border-radius: 2px 2px 0px 0px;
  margin-left: .5em;
}

.add-controls .close-story-button {
  padding: 0em .2em .1em 0.2em;
  display: block;
  margin-top: .75em;
  margin-right: 1em;
  float: right;
  cursor: pointer;
}

.add-controls .close-story-button .mk-icon::before,
.add-controls .close-story-button .mk-icon::after {
  background: #fff;
}

.add-controls .story-add-button.story-add-map {
  font-size: 34px;
  top: 6px;
  position: relative;
  padding: 0 0.3em 0 .4em;
}

.story-add-button:hover {
  text-decoration: none;
}

.filter-browse {
  border: 1px solid #565656;
  padding: .2em .5em;
  font-size: 14px;
  margin-bottom: 1em;
  border-radius: 2px;
}

.story-add-footnote {
  display: none;
}

.thumbnail-container {
  position: relative;
  max-width: 150px;
  margin: 0 2em 1em 0;
}

.thumbnail-container #remove-image {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em 0;
}

.edit-story .story-content {
  clear: both;
  height: 100%;
  margin: auto auto 3em auto;
  max-width: 43.75rem;
  text-align: left;
  width: 100%;
  position: relative;
}

.edit-story p {
  min-height: 1.2em;
}

/*.edit-story .story-content:hover:after {
  content: "Select text to reveal formatting options. Press return/enter to insert content";
  position: absolute;
  top: 0;
  right: -12em;
  @include rem-fallback(font-size, 14);  
  animation-name: fadeInWysiwyg;
  animation-duration: .5s; 
  display: block;
  width: 11em;
}*/

[contentEditable="true"] {
  word-wrap: break-word;
}

.story-body:focus {
  /* keep story body from being styled with default focus */
  outline: 0;
}

// NOTE THIS MUST BE KEPT SO THAT CHROME DOESN"T DO STUPID SHIT
// DO NOT REMOVE.  Edit values if you want, but don't remove!
.edit-story .story-body>p,
.edit-story .story-body>span {
  letter-spacing: 0.01rem;
  font-size: 1.3125rem;
  line-height: 1.5;
}

.edit-story #edit-story {
  display: none;
  /* Hide edit button when in edit mode */
}

.story-template .option-done {
  display: none;
}

.edit-story .option-done {
  display: inline;
}

.add-content .edit-story .option-edit {
  display: none;
  /* Hide edit details button when adding new story   */
}

.option-edit {
  padding-bottom: 5px;
}

.edit-story .story-template .save-bar {
  display: block;
  /* Show savebar when editing */
  z-index: 1001;
  animation: slideUpStay .5s;
}

.add-content .edit-story #save-story,
/* Show different versions of the save button on add story page */

.add-content .edit-story #save-done {
  display: none;
}

#save-exit-story {
  display: none;
}

#discard-changes {
  background: #f9edbe;
  font-weight: bold;
  float: right;
  padding: 4px 10px 3px 10px;
  border: 2px solid #000;
}

.edit-story .option-edit-details {
  display: none;
}

.option-edit-details .mk-icon,
.option-edit-content .mk-icon {
  display: inline-block;
  padding-right: .1em;
}

.add-content .edit-story #save-exit-story {
  display: inline-block;
}

.story-body {
  padding: 0em .5em 2em .5em;
}

.story-template .widget-box>aside {
  padding: 1em .5em 2em .5em;
}

.story-body h2 {
  @include rem-fallback(font-size, 28);
  font-weight: bold;
}

.story-body h3 {
  @include rem-fallback(font-size, 22);
  font-weight: bold;
}

.story-body p,
.story-body h2,
.story-body h3 {
  clear: none;
}

@keyframes highlightField {
  0% {
    border: 1px solid #ccc;
  }
  60% {
    border: 1px solid #ccc;
  }
  100% {
    border: 1px solid #fff;
  }
}

@keyframes highlight {
  0% {
    background-color: #ffffd9;
  }
  60% {
    background-color: #ffffd9;
  }
  100% {
    background-color: #fff;
  }
}

/*.edit-story .story-body p,
.edit-story .story-body ul,
.edit-story .story-body h2,
.edit-story .story-body h3,*/

.edit-story .story-body,
.edit-story .story-title[contenteditable=true] {
  @extend %editable-field !optional;
  border: none;
  animation-name: highlightField;
  animation-duration: 2s;
  border: 1px solid #fff !important;
  padding-left: 0;
}

.edit-story .story-title[contenteditable=true] {
  border: 1px solid #565656;
}

/*.edit-story .story-body p:empty,
.edit-story .story-body ul:empty,
.edit-story .story-body h2:empy,
.edit-story .story-body h3:empy,*/

.edit-story .story-body:empty,
.edit-story .story-title[contenteditable=true]:empty {
  @extend %editable-field-empty;
  border: 1px solid #fff !important;
}

.edit-story .story-title[contenteditable=true]:empty {
  @include rem-fallback(min-height, 60);
}

/*.edit-story .story-body p:hover,
.edit-story .story-body ul:hover,
.edit-story .story-body h2:hover,
.edit-story .story-body h3:hover,*/

.edit-story .story-title[contenteditable=true]:hover,
  {
  @extend %editable-field-hover !optional;
  border: 1px solid #66afe9 !important;
}

.edit-story .story-body:hover {
  background: #fff !important;
}

/*.edit-story .story-body p:focus,
.edit-story .story-body ul:focus,
.edit-story .story-body h2:focus,
.edit-story .story-body h3:focus,*/

.edit-story .story-body:focus,
.edit-story .story-title[contenteditable=true]:focus,
  {
  @extend %editable-field-focus;
  border: 1px solid #66afe9 !important;
  background: transparent !important;
}

.edit-story .story-body:focus {
  border: 1px solid transparent !important;
  box-shadow: none !important;
}

.edit-story h1.story-title[contenteditable=true] {
  @include rem-fallback(font-size, 34);
  ::placeholder  {
    color: #565656;
    font-size: 34px;
    font-size: 2rem !important;
    /* getting overwritten by edit.scss */
  }
}

.add-content .edit-story .story-body,
.add-content .edit-story .story-title[contenteditable=true] {
  border: 1px solid #565656 !important;
}

.add-content .edit-story .story-body {
  min-height: calc(100vh - 190px);
  /* Mainly for FF Mac */
}

.edit-story .story-content .story-body p {
  clear: none;
}

.item-story .story-body ul,
.item-story .story-body ol {
  margin-left: 1em;
}

.item-story .story-body li {
  padding-bottom: .5em;
}

.video-timecodes-story {
  padding: 1em;
}

.video-timecodes-story h4 {
  @include rem-fallback(font-size, 20);
}

/* #endregion  */

/* #region STORY: FIGURE EDITOR */

figure.selected {
  border: 3px solid #66afe9;
}

figure {
  position: relative;
}

figure .helptext {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .2);
  left: 0;
  top: 0;
  z-index: 101;
  /* so it appears over figure */
  animation: fadeInDown .35s;
}

figure .helptext .instructions {
  margin-top: 30%;
  @include rem-fallback(font-size, 18);
  text-align: center;
  clear: both;
  background: rgba(255, 255, 255, .8);
  padding: .3px;
  border: 1px solid #999;
  margin: 30% auto auto auto;
  width: 100%;
  @include rem-fallback(max-width, 300);
  border-radius: 3px;
}

figure .helptext .tools {
  position: absolute;
  right: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.8);
  padding: .4em;
  min-width: 330px;
  text-align: center;
  width: 100%;
  animation: fadeIn .35s;
}

.figure-button {
  background: #444;
  color: #fff;
  border: 1px solid #ddd;
  padding: 0em .5em .2em .5em;
  @include rem-fallback(font-size, 14);
  margin-bottom: .5em;
}

.figure-button:focus {
  background: #fff;
  color: #000;
}

.figure-button .mk-remove {
  background: #444;
  color: #fff;
  top: 3px;
}

.figure-botton-edit {
  margin-left: 1em;
}

.helptext .inline-caption-edit {
  position: absolute;
  bottom: 0;
  width: 100%;
  @include rem-fallback(font-size, 16);
  padding: .2em 0 .2em .5em;
  z-index: 1;
}

.helptext .inline-caption-edit:hover {
  background-color: #ffffd9;
  border: 1px solid #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.7);
  transition: border-color 0.3s ease-in-out 0s, background 0.3s ease-in-out 0s, padding 0.3s ease-in-out 0s;
  z-index: 1;
}

/* #endregion */

/* #region STORY: WYSIWYG */

.wbrowse-external {
  display: inline;
}

.wbrowse-internal {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

.wbrowse-bg {
  background: #000 none repeat scroll 0 0;
  height: 100vh;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 200vh;
  z-index: 1;
}

.wbrowse-body {
  background: #fff none repeat scroll 0 0;
  border-radius: 10px;
  height: 500px;
  left: 50vw;
  margin-left: -350px;
  margin-top: -300px;
  position: absolute;
  top: 50vh;
  width: 700px;
  z-index: 101;
}

.edit-story .wysiwyg {
  position: fixed;
  left: 0 !important;
  top: 0;
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 1);
  position: fixed;
  padding: 0.8em 0.5em 0.8em 0.5em;
  display: block;
  background: #fff;
  width: 100%;
  animation: slideDownStay .5s;
  height: 50px;
  z-index: 1002;
  border-bottom: 1px solid #565656;
}

.edit-story .wysiwyg-url {
  padding: 4px .5em 4px .5em;
}

.edit-story .wysiwyg-inner {
  @include rem-fallback(max-width, 700);
  margin: auto;
  text-align: left;
}

.edit-story .wysiwyg-button {
  color: #000;
}

.edit-story .wysiwyg-arrow {
  display: none;
}

.wysiwyg-button {
  display: inline;
}

.wlink-tool {
  margin-top: -.2em;
  padding-left: .5em;
}

.edit-story .wlink-internal {
  border: 1px solid #000;
  padding: .2em .5em;
  margin-right: .5em;
  @include rem-fallback(height, 30);
}

.edit-story #wlink-external-field {
  border: 1px solid #000;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: .2em .5em;
  width: 212px;
  background: #ddd;
  color: #000;
  margin: 0;
  @include rem-fallback(font-size, 16);
  @include rem-fallback(height, 30);
  ::placeholder  {
    color: #565656;
    @include rem-fallback(font-size, 16);
  }
}

.edit-story .wysiwyg-link.wysiwyg-url {
  padding: .2em .6em .2em .6em;
  margin-left: -6px;
  border: none;
  @include rem-fallback(height, 30);
  border: 1px solid #000;
}

.edit-story .wlink-tool .mk-link {
  font-size: 16px;
  margin-right: 0;
}

.edit-story .wysiwyg-headers {
  position: relative;
  display: inline-block;
  font-family: Georgia, serif;
  margin-left: .2em;
}

.edit-story .wysiwyg-headers-inner {
  background: #fff none repeat scroll 0 0;
  display: none;
  margin-left: -80px;
  padding: 14px;
  position: absolute;
  text-align: center;
  width: 230px;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.wysiwyg-header-h2 {
  font-size: 110%;
}

.edit-story .wysiwyg-link.mk-close {
  top: 0;
  margin-left: .5em;
  @include rem-fallback(height, 30);
  border: 1px solid #000;
}

.edit-story .view-full-audio,
.edit-story .view-full-video {
  display: none;
}

.view-full-video,
.view-full-audio {
  display: block;
  position: absolute;
  bottom: -7px;
  color: #000;
  padding: .2em .5em 0em .5em;
  @include rem-fallback(font-size, 14);
  font-size: 0.875rem;
  border-radius: 3px;
  right: 0;
  font-weight: normal;
  z-index: 101;
  background: #fff;
}

.view-full-video {
  bottom: 1em;
}

.view-full-audio .mk-icon,
.view-full-video .mk-icon {
  @include rem-fallback(font-size, 14);
  top: 2px;
  position: relative;
}

.story-body .video-help-text {
  display: none;
}

/*.edit-story .wysiwyg-link,
.edit-story .wysiwyg-unlink, 
.edit-story .wysiwyg-note {
  border: none;
  border-radius: 3px;
  margin-left: .2em;
  padding: .1em .3em 0 .3em;
  background: #fff;
  color: #000; 
}

.edit-story .wysiwyg-link:hover,
.edit-story .wysiwyg-unlink:hover, 
.edit-story .wysiwyg-note:hover {
  background: #ddd;
}*/

.edit-story .mk-link,
.edit-story .unlink {
  margin-right: .1em;
  top: 1px;
}

/* #endregion */

/* #region STORY: DragonDrop */

/*======   DragonDrop Demo CSS
Basically, user-select, and user-drag (and all their prefixes) need to be set in a way that lets the browser know which parts of our draggable element are selectable and draggable and which aren't.
    So I guess this is that.
======*/

/* these rules only apply to fancy boxes when contenteditable is true: they are necessary for the drag-and-drop demo to work correctly */

[contenteditable="true"] figure {
  /**/
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* without this line, element can be dragged within itself! No-no! */
  /**/
  -moz-user-drag: element;
  -webkit-user-drag: element;
  user-drag: element;
  /* makes the whole fancy box draggable */
  cursor: move !important;
}

/* switches to the move cursor */

[contenteditable="true"] .fancy * {
  /**/
  -moz-user-drag: none;
  -webkit-user-drag: none;
  user-drag: none;
}

/* hopefully disables the internal default dragging of the img */

figure {
  display: block;
  background: #fff;
  cursor: pointer;
}

figure.type-image img {
  display: block;
  margin-bottom: 2px;
  border: none;
}

figure .figure-caption {
  @include rem-fallback(font-size, 16);
  padding: .5em 1em;
}

figure.alignCol .figure-caption {
  padding: .5em 1em .5em 0;
}

figure.alignFull .figure-caption {
  text-align: center;
}

/* #endregion */

/* #region STORY: NOTES */

.add-note {
  display: None;
}

/* #endregion */

/* #region STORY: WIDGETS */

.edit-story .widgets-container {
  display: none;
}

.add-content .story-template .widgets__details {
  dipsplay: none;
}

/*.content-widget-container.sidebar-active {
  display: flex;
  align-items: flex-start;
  margin: auto;
  max-width: 1200px;
}
   
.widgets-container {
  flex: 1;
  margin-left: 3em;
} */

/* #endregion */

/* #region STORY: TEMPLATE--FULL */

.story-template--full {
  position: relative;
}

.story-template.story-template--full .content-primary {
  padding: 0;
}

.story-template--full .item-header-container.background-image-active {
  @extend .background-image;
  height: 85vh;
  margin-bottom: 1em;
}

.story-template--full .item-header-container.background-image-active:before {
  @extend .background-image-darkened;
  height: 85vh;
}

.story-template--full .background-image-active .item-header-inner {
  width: 100%;
  max-width: none;
  @include scut-center-transform;
  text-align: center;
}

.story-template--full .item-header-container.background-image-active h1 {
  margin: 0;
  padding: 0;
  float: none;
  color: #fff;
  @extend .text-shadow;
  letter-spacing: 1px;
  @include rem-fallback(font-size, 44);
  font-size: 7vw;
  line-height: 8vw;
  letter-spacing: 1px;
  text-align: center;
  @include breakpoint(xs) {
    font-size: 34px;
    font-size: 10vw;
    line-height: 11.5vw;
  }
  @include breakpoint(md) {
    @include rem-fallback(font-size, 56);
    font-size: 6vw;
    line-height: 7.5vw;
    max-width: 80%;
  }
}

.edit-story .story-template--full .item-header-container.background-image-active h1 {
  display: inline-block;
  background: transparent !important;
  padding: .2em .5em;
}

.edit-story .story-template--full .item-header-container.background-image-active .story-title[contenteditable=true]:hover {
  display: inline-block;
  background: transparent !important;
  padding: .2em .5em;
}

.edit-story .story-template--full .item-header-container.background-image-active .story-title[contenteditable=true]:focus {
  display: inline-block;
  background: transparent !important;
  padding: .2em .5em;
}

.story-template--full .item-header-container.background-image-active .caption {
  letter-spacing: 2px;
  margin: .5em auto auto auto;
  color: #fff;
  @extend .text-shadow;
  @include rem-fallback(font-size, 24);
  font-size: 2.5vw;
  line-height: 4vw;
  @include breakpoint(xs) {
    font-size: 24px;
    font-size: 4vw;
    line-height: 5vw;
  }
  @include breakpoint(md) {
    font-size: 24px;
    font-size: 2.5vw;
    line-height: 4vw;
  }
}

/* #endregion */

/* #region STORY: TEMPLATE--HALF */

.story-template--half {
  position: relative;
}

.story-template.story-template--half .content-primary {
  padding: 0;
}

.story-template--half .story-content {
  margin-top: 2em;
}

.story-template--half .item-header-container.background-image-active {
  @extend .background-image;
  height: 42vh;
  margin-bottom: 1em;
}

.story-template--half .item-header-container.background-image-active:before {
  @extend .background-image-darkened;
  height: 42vh;
}

.story-template--half .background-image-active .item-header-inner {
  width: 100%;
  max-width: none;
  @include scut-center-transform;
  text-align: center;
}

.story-template--half .item-header-container.background-image-active h1 {
  margin: 0;
  padding: 0;
  float: none;
  color: #fff;
  @extend .text-shadow;
  letter-spacing: 1px;
  @include rem-fallback(font-size, 44);
  font-size: 6vw;
  line-height: 8vw;
  letter-spacing: 1px;
  text-align: center;
  @include breakpoint(xs) {
    font-size: 34px;
    font-size: 10vw;
    line-height: 11.5vw;
  }
  @include breakpoint(md) {
    @include rem-fallback(font-size, 54);
    font-size: 5vw;
    line-height: 7.5vw;
    max-width: 80%;
  }
}

.story-template--half .item-header-container.background-image-active h1 {
  display: inline-block;
  background: transparent !important;
  padding: .2em .5em;
}

.story-template--half .item-header-container.background-image-active .story-title[contenteditable=true]:hover {
  display: inline-block;
  background: transparent !important;
  padding: .2em .5em;
}

.story-template--half .item-header-container.background-image-active .story-title[contenteditable=true]:focus {
  display: inline-block;
  background: transparent !important;
  padding: .2em .5em;
}

.story-template--half .item-header-container.background-image-active .caption {
  letter-spacing: 2px;
  margin: .5em auto auto auto;
  color: #fff;
  @extend .text-shadow;
  @include rem-fallback(font-size, 20);
  font-size: 2vw;
  line-height: 3vw;
  padding: 0;
  margin-top: 0;
  @include breakpoint(xs) {
    font-size: 24px;
    font-size: 3vw;
    line-height: 4vw;
  }
  @include breakpoint(md) {
    font-size: 24px;
    font-size: 2.5vw;
    line-height: 4vw;
  }
}

/* #endregion */

/* #region STORY: TOC */

.story-toc {
  position: fixed;
  @include rem-fallback(left, 15);
  @include rem-fallback(top, 74);
  @include rem-fallback(max-width, 300);
  width: auto;
  z-index: 3;
  background: #fff;
  padding: 0;
  border: 1px solid #565656;
  border-radius: 2px;
  animation-name: fadeIn;
  animation-delay: 1s;
  @include breakpoint(xs) {
    @include rem-fallback(left, 5);
  }
  @include breakpoint(lg) {
    @include rem-fallback(left, 40);
    @include rem-fallback(top, 68);
    padding: .5;
    width: auto;
    border: none;
    animation: none;
  }
}

/* Places to hide TOC */

.preview-rev .story-toc,
/* revisions pane */

#homepage-content .story-toc
/* homepage*/

  {
  display: none;
}

.editing-enabled .story-toc {
  display: none;
}

.story-template--half .story-toc {
  top: 52vh;
}

.story-template--full .story-toc {
  top: 102vh;
}

.scrolled .story-toc {
  @include rem-fallback(top, 56);
}

.story-toc.open {
  width: 0;
  padding: 0;
  border: none;
  @include breakpoint(lg) {
    @include rem-fallback(max-width, 300);
    width: 18%;
    @include rem-fallback(left, 40);
  }
  @include breakpoint(xl) {
    max-width: none;
    width: 20%;
    @include rem-fallback(left, 40);
  }
  @include breakpoint(xxl) {
    max-width: none;
    width: 25%;
    @include rem-fallback(left, 40);
  }
}

.story-toc #story-toc-content {
  display: block;
  padding: .5em 1em 1em;
  @include breakpoint(lg) {
    display: none;
  }
}

.story-toc.open #story-toc-content {
  display: none;
  @include breakpoint(lg) {
    display: block;
  }
}

.story-toc.open ul {
  display: none;
  @include breakpoint(lg) {
    display: block;
  }
}

.annotation-sidebar-open .story-toc.open,
.comment-sidebar-open .story-toc.open {
  width: auto;
}

.annotation-sidebar-open .story-toc.open #story-toc-content,
.comment-sidebar-open .story-toc.open #story-toc-content {
  display: none;
}

.annotation-sidebar-open .story-toc.open .open-button,
.comment-sidebar-open .story-toc.open .open-button {
  display: none;
}

.story-toc .open-button {
  display: none;
  @include rem-fallback(font-size, 26);
  cursor: pointer;
  @include breakpoint(lg) {
    display: block;
  }
}

.story-toc.open .open-button {
  display: block;
  @include breakpoint(lg) {
    display: none;
  }
}

.story-toc header .mk-menu {
  display: none;
}

.story-toc .mk-close {
  display: inline-block;
  cursor: pointer;
  @include rem-fallback(font-size, 22);
  position: absolute;
  top: -5px;
  right: -14px;
  @include breakpoint(lg) {
    display: none
  }
}

.story-toc header {
  @include rem-fallback(font-size, 20);
  font-weight: 400;
  @include rem-fallback(margin-bottom, 10);
  width: 100%;
  /*  border-bottom: 1px solid #565656;*/
  text-align: right;
  height: 0;
  position: relative;
}

.story-toc ul {
  margin-left: 0;
  padding-left: 0;
}

.story-toc li {
  cursor: pointer;
  padding-left: 0;
  list-style: none;
  @include rem-fallback(line-height, 18);
  @include rem-fallback(margin-bottom, 14);
}

.story-toc li:hover {
  text-decoration: underline;
}

.story-toc li.active {
  font-weight: bold;
  border-left: 5px solid #000;
  padding-left: .3em;
}

.story-toc li.top {
  @include rem-fallback(font-size, 12);
}

#rev-preview .story-toc {
  display: none;
  /* hide TOC in story preview */
}

.item-overlay .story-toc {
  display: none;
  /* hide TOC in overlays */
}

/* #endregion */

/* #region STORY: ELEMENT LABELS */

.edit-story .story-body h2:hover,
.edit-story .story-body h3:hover,
.edit-story .story-body p:hover,
.edit-story .story-body ul:hover,
.edit-story .story-body blockquote:hover,
.edit-story .story-body figure.type-image:hover,
.edit-story .story-body figure.type-video:hover,
.edit-story .story-body figure.type-audio:hover,
.edit-story .story-body figure.type-file:hover,
.edit-story .story-body figure.type-slideshow:hover {
  position: relative;
}

.edit-story .story-body h2:hover::after,
.edit-story .story-body h3:hover::after,
.edit-story .story-body p:hover::after,
.edit-story .story-body ul:hover::after,
.edit-story .story-body blockquote:hover::after,
.edit-story .story-body figure.type-image:hover::after,
.edit-story .story-body figure.type-video:hover::after,
.edit-story .story-body figure.type-audio:hover::after,
.edit-story .story-body figure.type-file:hover::after,
.edit-story .story-body figure.type-slideshow:hover::after {
  position: absolute;
  top: 0px;
  left: -80px;
  background: #616161;
  font-size: 14px;
  padding: .1em .3em;
  border-radius: 2px;
  opacity: 1;
  color: #fff;
  display: inline-block;
  animation: fadeIn .25s;
}

.edit-story .story-body h2:hover::after {
  content: "H2 header";
  padding: .3em .3em !important;
  top: 3px;
}

.edit-story .story-body h3:hover::after {
  content: "H3 header";
  padding: .3em .3em !important;
}

.edit-story .story-body p:hover::after {
  content: "paragraph";
  top: 5px;
}

.edit-story .story-body ul:hover::after {
  content: "unordered list";
}

.edit-story .story-body blockquote:hover::after {
  content: "quote";
}

.edit-story .story-body figure.type-image:hover::after {
  content: "image";
  left: -60px;
}

.edit-story .story-body figure.type-video:hover::after {
  content: "video";
  left: -50px;
}

.edit-story .story-body figure.type-audio:hover::after {
  content: "audio";
  left: -52px;
}

.edit-story .story-body figure.type-file:hover::after {
  content: "file";
  left: -38px;
}

.edit-story .story-body figure.type-slideshow:hover::after {
  content: "slideshow";
}

/* #endregion */

#pastehelper{
  position: fixed;
  left:0;
  top:0;
  opacity: 0;
}