<% var item, themedImage, children = relationships.children, count = children.length, i = 0;  %>

<article class="template folder-template folder-template--table <% if(caption.length){ %> caption-active<% } %>">
    
  <div id="fl-<%= uri %>" class="folder-template__intro folder-item<% if(uri == current){ %> fl-open <% }else{ %> fl-close <% } %>" >
    
    <div class="content-primary">	
    	
      <div class="folder-info folder-table">
        <header class="item-header">
         <div class="item-nav">
           <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav><nav class="widgets-menu widgets-menu-<%= uri %>"></nav>
         </div>
           <div class="folder-info-inner">
        	  <h2><%= title %></h2>
        	 </div>
        	   <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
        </header>
        
        <header class="sticky-header">
          <h2><%= title %></h2>
          <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav>
           <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
        </header>
                	    
       <% if(caption.length){ %><div class="caption folder-caption"><%= caption %></div><% } %>
      
      </div>
    
    <div class="container-fluid">	
      	<div class="item-content main-item-content">
      		<div class="item-content-inner">
	        <div class="folder-list folder-table">
	        	<table class="folder-list--items table">
	        		<thead class="">
	        			<tr class="">
	        				<th scope="col" class="">Title</th>
	        				<th scope="col" class="">Type</th>
	        				<th scope="col" class="">Changed</th>
	        				<th scope="col" class="">Created</th>
	        				<th scope="col" class="">Author</th>
	        			</tr>
	        		</thead>	
	        		<% _.each(relationships.children,function(child){ if(child){ childItem = Mediakron.getItemFromURI(child); %>
	        		    <% if(childItem){ console.log(childItem); %>
	        		    <tr>
	        			    <td class="topic-title topic-title-<%= childItem.get('uri') %>"><%= childItem.getContextLink(uri) %></td>
	        			    <td > <span title="<%= childItem.getNormalType() %>" class="mk-icon mk-<%= childItem.getNormalType() %>"></span> <span class="sr-only">Type:  <%= childItem.getNormalType() %></span><%= childItem.getNormalType() %> </td>
	        			    <td><%= childItem.getChanged() %> </td>
	        			    <td><%= childItem.getCreated() %> </td>
	        			    <td><%= childItem.get("user").name %></td>
	        			 </tr>
	        			<% } %>
	        		<% } }); %>
	        	</table>	
	        </div>
	  	</div>
      	</div>
      	<aside class="widgets widgets--sidebar widgets--sidebar-<%= uri %>"></aside>
     </div>
     </div> 	
     
      <div class="widgets widgets--below widgets--below-<%= uri %>">
      	<div class="widgets__description widget-box"></div>
      	<div class="widgets__transcript widget-box"></div>
      	<div class="widgets__details widget-box"></div>
      </div>		
      
    </div>
  
  </div>
   
  <div class="folder-current-item">
  
  </div>
    
  <% if(last){ %>
  <div class="folder-navigation">
      <a class="folder-next" href="<%= uri %>"></a>
      <a class="folder-previous" href="<%= uri %>"></a> 
  </div>
  <% } %>

</article>