/* #region -- CONTENT BROWSER: Filters -- */

#content-manage h3 {
    display: block;
    width: 100%;
    @include rem-fallback(font-size, 18);
    margin-top: .2em;
    margin-bottom: 5px;
    cursor: pointer;
    @include breakpoint(md) {
      margin: -1px;
      padding: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      clip: rect(0, 0, 0, 0);
      position: absolute;
      margin-bottom: 10px;
    }
  }

  #content-manage h3 .mk-filter {
    position: relative;
    top: 6px;
    left: 0;
    padding-right: .3em;
  }

  #content-filters {
    clear: both;
    width: 100%;
    margin: 1em 0;
    border-radius: 2px;
  }

  #content-filters .chosen-container-active .chosen-choices {
    box-shadow: none;
  }

  #content-filter li.search-choice,
  #user-filter li.search-choice {
    background: none;
    background-image: none;
    background-clip: initial;
    box-shadow: none;
    border: 1px solid #565656;
  }

  .content-filters-inner {
    opacity: 0;
    position: absolute;
    left: -999em;
    @include breakpoint(md) {
      position: relative;
      left: 0;
      opacity: 1;
    }
  }

  .content-filters-inner.filters-toggled {
    position: relative;
    left: 0;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    transition: background .5s ease-in-out;
  }

  #content-manage select {
    width: 100%;
  }

  #content-browser .info-bar.fixed-bar .mk-breadcrumb {
    display: none;
  }

  .content-action {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: .5em 10px 0 0;
    position: relative;
    width: 48%;
    border: 1px solid #565656;
    @include rem-fallback(height, 30);
    width: 100%;
    clear: left;
    @include breakpoint(md) {
      width: 200px;
      margin-top: 0;
      clear: none;
    }
  }

  #settings .content-action {
    width: 30%;
  }

  #content-manage .mk-icon {
    position: absolute;
  }

  #content-search {
    padding: 3px 5px 3px 2em;
  }

  #content-search input:focus {
    background-color: #ffffd9;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    transition: all .5s ease;
  }

  #content-search .mk-search {
    left: 8px;
    top: 7px;
  }

  #content-search .search-drop {
    right: 5px;
    top: 10px;
    font-size: 7px
  }

  #content-search #content-bulk {
    right: 5px;
    top: 10px;
    font-size: 7px
  }

  #content-manage .mk-sort,
  #content-manage .mk-settings,
  #content-manage .mk-user {
    top: 6px;
    left: 7px;
  }

  #content-manage .mk-filter {
    top: 10px;
    left: 7px;
  }

  #content-manage.chosen-container-single .chosen-single div b {
    // background: url('../../core-css/img/chosen-sprite.png') no-repeat 0px 5px;
  }

  #content-manage .chosen-container-single .chosen-drop {
    width: auto;
  }

  #content-manage .chosen-container {
    border: none;
    float: left;
    padding-left: 3px;
    height: 24px;
  }

  #content-manage .chosen-container .chosen-single {
    border: none;
  }

  #content-manage .chosen-container-active .chosen-single {
    box-shadow: none;
    background: none;
  }

  #content-manage .select {
    margin-left: 20px;
  }

  #content-view-options {
    width: auto;
    padding-left: 6px;
    padding-right: 5px;
    margin-left: 0;
    @include breakpoint(md) {
      padding-left: 6px;
    }
  }

  #content-view-options button {
    border: 0;
    padding: 4px 5px 0px 3px;
    line-height: 1;
  }

  #content-view-options button:hover {
    background: none;
  }

  #content-view-options .mk-icon {
    position: static;
    color: #999;
  }

  #content-view-options .mk-icon:hover {
    color: #999;
  }

  #content-view-options .mk-list {
    @include rem-fallback(font-size,
    20);
  }

  #content-view-options .mk-grid {
    @include rem-fallback(font-size,
    18);
  }

  #content-view-options button.active {
    background: none;
    border: none;
    color: #000;
    box-shadow: none;
  }

  #content-view-options button.active .mk-icon {
    color: #000;
  }

  #content-filter {
    padding: .2em .2em .3em .2em;
  }

  #content-filter .chosen-container-multi .chosen-choices {
    border: none;
  }

  #content-sort {
    clear: left;
    @include breakpoint(md) {
      clear: none;
    }
  }

  #content-user {
    padding-top: .1em;
  }

  #content-manage #content-user .chosen-container {
    padding-left: .5em;
  }

  #content-user .chosen-container-multi .chosen-choices {
    border: none;
  }

  #content-user .chosen-container-single .chosen-single {
    padding: .2em 0 .2em .4em;
  }

  #content-user .chosen-container-single .chosen-single.chosen-default {
    background: #fff;
  }

  #content-user .chosen-container-single .chosen-single.chosen-default span {
    color: #000;
  }

  .sticky-filters {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    animation-name: messageFade;
    animation-duration: .3s;
  }

  .sticky-filters #content-filters {
    position: static;
    margin: 0;
  }

  .count-info {
    padding-right: 1em;
  }

  #search-rows.search-active,
  #search-rows.search-active:focus {
    background: #030303;
    color: #fff;
    padding: 0 0 0 .5em;
    border-radius: 3px;
    width: 100%;
  }

  .empty-search {
    display: none;
  }

  .empty-search.visible {
    display: block;
    right: .5em;
    top: .4em;
    color: #999;
    font-size: 18px;
  }

  /* #endregion */

  /* #region -- CONTENT BROWSER: Bulk Check -- */

  table#admin-content.list-view tr.item-row td.bulk-check {
    position: absolute;
    z-index: 1;
    background: #999;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom-right-radius: 5px;
    padding: 0px 4px 2px 4px;
  }

  /* #endregion */

  

  /* #region -- FILTERS - SETTINGS PANE */

  #settings-context #content-filters {
    clear: both;
    width: 100%;
    margin: .5em 0 .5em -5px;
    display: flex;
  }

  #settings-context #content-search,
  #settings-context #content-filter,
  #settings-context #content-sort {
    /*width: 32%;*/
    margin: 0 0 0 5px;
    padding: .2em .2em 0em .2em;
    border: 1px solid #999;
  }

  #settings-context #content-search {
    padding: .1em 0 .1em 1.7em;
    position: relative;
  }

  #settings-context #content-filter {
    padding-top: .2em;
  }

  #settings-context #content-sort {
    margin-left: 5px;
    padding-top: 0;
    margin-right: 5px;
  }

  #settings-context #content-sort a {
    font-weight: 300;
  }

  #settings-context #content-sort .chosen-container-single .chosen-single div b {
    background: none;
  }

  #settings-contex .content-action {
    border: 1px solid #565656;
  }

  #settings-context .browser-selector h2 {
    display: inline-block;
    margin-bottom: 1em;
  }

  /* #endregion */