/*  === SETTINGS PANE (_admin.scss) === */

/* #region -- General */

#settings-context #content-manage #search-rows {
  width: 90%;
}

#settings-context h3.organize-title {
  font-size: 1.2em;
  padding-top: 1em;
  border-bottom: none;
  margin-top: -1em;
}

#settings-context #manage-map h3.organize-title {
  padding-left: 10px;
}

#settings-context .browser-selector {
  padding: 1.5em 1.5em 1em 1.5em;
}

#settings-context #manage {
  padding: 0;
}

.admin .field {
  margin: 10px 0;
  display: block;
}

.settings-manage-select #settings-context.closed,
.settings-manage-organize #settings-context.closed {
  @include rem-fallback(right, -550);
  animation-name: slideOutright;
  animation-duration: .4s;
}

.settings-manage-organize.type-comparison .overlay-closed #settings-context {
  /* Comparison panes are full width */
  @include rem-fallback(right, 0);
  transition: none;
}

.settings-manage-select #settings-context.opened,
.settings-manage-organize #settings-context.opened {
  width: 100%;
  right: 0;
  left: auto;
  border-left: none;
  border-left: 1px solid #666;
  @include breakpoint(md) {
    @include rem-fallback(width, 550);
  }
}

.settings-manage-select #settings-context .save-bar,
.settings-manage-organize #settings-context .save-bar {
  right: 0;
  left: auto;
  width: 100%;
  padding-left: 1em;
  border-top: none;
  padding: 1em 1.5em .75em 1.5em;
  @include linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 5%, rgba(255, 255, 255, 0.5)10%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 1) 100%);
  @include breakpoint(md) {
    @include rem-fallback(width, 550);
    border-left: 1px solid #999;
  }
}

.content-push-sidebar {
  @include breakpoint(md) {
    width: calc(100% - 550px) !important;
    transition: width .35s ease;
  }
}

/*.settings-manage-select .main-content > .template,
.settings-manage-organize .main-content > .template {
    @include breakpoint(md){
         width: calc(100% - 550px);
         padding-left: 2em;
         transition: width .35s ease;
    }
}

.settings-manage-select.type-timeline .main-content > .template,
.settings-manage-organize.type-timeline .main-content > .template,
.settings-manage-select.type-map .main-content > .template,
.settings-manage-organize.type-map .main-content > .template,
.settings-manage-select .main-content > .template-comparison{
    @include breakpoint(md){ /* don't slide body over on these - causes display issues right now  *!/
         width: 100%;
         padding-left:0;
    }
}*/

.settings-manage-select .main-content>.slideshow-template--full,
.settings-manage-organize .main-content>.slideshow-template--full {
  @include breakpoint(md) {
    padding-left: 0em
  }
}

.settings-manage-select .main-content>.template .page-options,
.settings-manage-organize .main-content>.template .page-options {
  display: none;
}

/*
.settings-manage-organize .main-content > .template-comparison { /* Comparison panes are full width *!/
  @include breakpoint(md){
       width: 100%;
       padding-left: 0;
       transition: none;
  }
}*/

.settings-manage-select #settings-context h3.title,
.settings-manage-organize #settings-context h3.title {
  display: none;
  @include rem-fallback(font-size, 18);
}

.settings-manage-select .overlay h2,
.settings-manage-organize .overlay h2 {
  padding-left: .5em;
}

.settings-manage-organize.type-comparison #settings-context h3.title {
  display: block;
  @include rem-fallback(font-size, 32);
  padding: 0;
  margin-top: 1em;
}

/*#settings-context .option-organize,
#settings-context .option-edit,
#settings-context .option-add{
  display: none;
}*/

.settings-manage-select #settings-context,
.settings-manage-organize #settings-context {
  /*box-shadow: 0 0 8px 0 #555;*/
  border-left: 1px solid #999;
}

.settings-manage-select #settings-context .browser-selector {
  padding: 5em 1.5em 0 1.5em;
  height: 100%;
}

.settings-manage-organize #settings-context .organize {
  padding: 5em 1.5em 0 1.5em;
  height: 100%;
}

.settings-manage-select .item-header .option-add {
  display: none;
}

.settings-manage-organize .item-header .option-organize {
  display: none;
}

@keyframes fadeScreen {
  from {
    opacity: 0
  }
  to {
    opacity: .15;
  }
}

.fade-screen.is-visible-sidebar {
  opacity: .15;
  visibility: visible;
  z-index: 1059;
  animation-name: fadeScreen;
  animation-duration: 1s;
}

.fade-screen-sidebar {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s 0s ease-in;
}

.fade-screen-sidebar.is-visible {
  opacity: .15;
  visibility: visible;
  z-index: 1059;
  transition: opacity .35s .3s ease-in;
  width: calc(100% - 550px);
  height: 100%;
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
}

/* #endregion */

/* #region  ADD PANE */

#add-new-content-pane {
  padding-top: 0;
}

#add-new-content-pane h3 {
  border-bottom: none;
}

#add-new-content-pane ul {
  list-style: none;
  padding-left: 0;
}

#add-new-content-pane li {
  position: relative;
  margin-right: 1em;
  margin-bottom: .5em;
  list-style: none;
  display: block;
}

#add-new-content-pane a:first-child {
  list-style: none;
  background: #fff;
  border: 1px solid #565656;
  border-radius: 2px;
  width: 100%;
  display: block;
  background: #fff;
}

#add-new-content-pane a:first-child:hover {
  background: #ffffd9;
  text-decoration: none;
  color: #222;
  border: 1px solid #222;
  transition: color .25s linear, background-color .25s ease-in-out;
}

#add-new-content-pane a:first-child .btn-primary {
  margin-right: .5em;
  border-radius: 0;
  border-right: 1px solid #565656;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

#add-new-content-pane li a,
#add-new-content-pane li mk-icon {
  @include rem-fallback(font-size, 20);
}

#add-new-content-pane a:first-child .mk-icon,
#add-new-content-pane a:first-child .mki-marker {
  padding-right: .3em;
  top: 2px;
}

#add-new-content-pane a:first-child .mk-add {
  display: block;
  padding-right: 0;
  top: 0;
}

#add-new-content-pane .help-link {
  position: absolute;
  top: .2em;
  right: .5em;
}

#add-content #select-add {
  margin-top: 1em;
  padding-left: 0;
  margin-left: 0;
}

#add-content #select-add li {
  list-style: none;
}

#add-content #select-add a.btn {
  margin-bottom: 5px;
  cursor: pointer;
}

#add-content #select-add li h3 {
  cursor: default
}

#add-secondary-tabs.nav-tabs {
  margin-left: 0;
  padding-left: 10px;
  background: none;
  border-bottom: none;
  position: static;
  z-index: 101;
  width: 100%;
}

#main.managing {
  background: #eee;
  border: 3px solid #222;
}

#active-homepage {
  font-size: 1.2em;
}

.chosen-results li:hover {
  background: #4c63fc;
  color: #fff;
}

#search-rows {
  border: none;
  width: 95%;
  line-height: 1.4;
  padding: 0;
}

#content-manage .content-action input::-webkit-input-placeholder {
  color: #999;
  font-weight: 200;
  font-size: 1rem;
}

#content-manage .content-action input:-moz-placeholder {
  font-weight: 200;
  font-size: 1rem;
}

#content-manage .content-action input:-ms-input-placeholder {
  font-weight: 200;
  font-size: 1rem;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  font-weight: 200;
  color: #222;
  font-size: 1rem;
}

.settings-manage-select.type-comparison #collections-container,
.settings-manage-select.type-comparison .add-story,
.settings-manage-select.type-progression #collections-container,
.settings-manage-select.type-progression .add-story,
.settings-manage-select.type-progression .add-audio,
.settings-manage-select.type-progression .add-file,
.settings-manage-select.type-progression .add-video {
  display: none !important;
  /* Hide content types not supported by comparisons  */
}

/* #endregion  */

/* #region  ORGANIZE PANE - SHARED STYLES */

#settings-context #sort-slideshow {
  padding-left: 0;
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 5em;
}

#settings-context #sort-slideshow li {
  margin-bottom: 10px;
  border: 1px solid #565656;
  background: #fff;
  border-radius: 2px;
  list-style: none;
  position: relative;
  @include rem-fallback(height, 60);
  overflow: hidden;
}

#settings-context #sort-slideshow li:hover {
  background-color: #ffffd9;
  color: #222;
  border: 1px solid #222;
  cursor: move;
  transition: color .25s linear, background-color .25s ease-in-out;
}

#settings-context .ui-state-highlight {
  list-style: none;
}

#settings-context .drag-item .btn-primary {
  display: inline-block;
  float: left;
  padding: 1em .4em 1.1em .4em;
  margin-right: .5em;
  border-radius: 0;
  border: none;
  border-right: 1px solid #566565;
}

/*#settings-context .drag-item:hover .btn-primary  {
  background: #ffffd9;
  color: #222;
  transition: color .25s linear, background-color .25s ease-in-out;
}*/

#settings-context .manage-item .type,
#settings-context .event-manage .type {
  padding-right: 0em;
  padding-top: 4px;
  @include rem-fallback(font-size, 14);
  padding-left: .2em;
  color: #474747;
}

#settings-context #content-manage {
  padding-left: 0;
  margin-bottom: 0;
}

.organize #add-new-content {
  margin-left: 0;
  float: left;
}

.organize #add-new-content a {
  margin-left: 0;
}

.organize-edit-button {
  @include rem-fallback(font-size, 24);
  float: right;
}

#settings-context .organize-edit-button {
  color: #444;
  position: absolute;
  @include rem-fallback(right, 95);
  @include rem-fallback(bottom, 0);
}

#settings-context .organize-edit-button:hover {
  text-decoration: none;
}

.remove-item {
  @include rem-fallback(font-size, 24);
  position: absolute;
  @include rem-fallback(right, 70);
  @include rem-fallback(bottom, 0);
  padding-left: .3em;
}

.mk-icon.mk-remove {
  /*color: #912420;*/
  color: #852330;
  cursor: pointer;
  top: -1px;
}

.mk-icon.mk-remove:hover {
  /*color: #631513;*/
  color: #691B26;
}

#settings-context .manage-item .item-square-icon,
#settings-context .manage-item .square-thumbnail {
  position: absolute;
  right: 0;
}

#settings-context .manage-item .item-square-icon {
  display: inline-block;
  background: #ddd;
  color: #666;
  border-left: 1px solid #565656;
}

#settings-context .manage-item .item-square-icon .mk-icon {
  top: -10px;
  left: 9px;
  @include rem-fallback(font-size, 45);
  position: relative;
}

#settings-context .manage-item .square-thumbnail {
  display: inline-block;
}

#settings-context .manage-item .title {
  display: inline-block;
  position: relative;
  @include rem-fallback(top, 16);
  width: 400px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include rem-fallback(font-size, 18);
}

#settings-context .manage-item .type {
  position: absolute;
  right: 5.3em;
  top: 0;
  @include rem-fallback(font-size, 14);
}

#organize-add-new {
  width: 100%;
  height: 3em;
  margin-bottom: 4em;
  position: relative;
}

/* #endregion  */

/* #region  SAVE BAR */

.save-button-container {
  display: inline-block;
}

.save-bar .btn {
  margin-right: .2em;
}

.save-bar .btn-sm {
  padding: 1px 9px 4px 0px;
}

.save-bar {
  padding: .5em 1.5em .75em 1.5em;
  width: 100%;
  position: fixed;
  left: initial;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1001;
  border-top: 1px solid #565656;
}

.save-bar-inner {
  padding: 0 1em;
  max-width: 700px;
  margin: auto;
  @include breakpoint(sm) {
    padding: 0;
  }
}

#settings-context .save-bar {
  right: 0;
  left: auto;
  @include transition(0.35s ease);
  @include breakpoint(sm) {
    width: 100%;
  }
}

.setting-pane.closed .save-bar {
  right: -100%;
  @include transition(0.35s ease);
  @include breakpoint(md) {
    @include rem-fallback(right, -100%);
  }
}

.setting-pane.closed .save-bar {
  right: -700px;
}

#manage .close-settings .mk-icon {
  top: 4px;
  right: -9px;
}

/* #endregion  */

/* #region  SITE SETTINGS - SETTINGS */

#settings.site-settings {
  padding: 3.5em 1em 2em 1.5em;
}

#settings ul {
  padding-left: 0;
  margin-bottom: 0;
}

.overlay .site-settings h3.title {
  padding-bottom: .3em;
}

#settings li a,
#settingsli mk-icon {
  @include rem-fallback(font-size, 20);
}

#settings li a,
#settings li .comingsoon {
  font-weight: 500;
  @include rem-fallback(font-size, 18);
}

#settings h3,
  {
  border-bottom: none;
  margin-top: 0;
}

#settings h3 .mk-icon {
  padding-right: .3em;
  @include rem-fallback(font-size, 24);
}

#settings h4 {
  font-weight: normal;
}

.settings-description {
  padding-bottom: .5em;
  @include rem-fallback(font-size, 14);
  display: block;
}

.comment-options {
  /* Temporily hidding comment options */
  display: none;
}

.settings-section {
  list-style: none;
  padding-left: 0;
}

.settings-item {
  position: relative;
  margin-right: 1em;
  margin-bottom: .5em;
  list-style: none;
  display: block;
  border: 1px solid #565656;
  border-radius: 3px;
}

.settings-item a {
  list-style: none;
  background: #fff;
  padding: .2em .5em .2em .75em;
  border-radius: 3px;
  width: 100%;
  display: block;
}

.settings-item a:hover,
.settings-item a:focus {
  background: #eee;
  text-decoration: none;
  color: #666;
}

.settings-item.manage-user {
  /*hide until wired up */
  display: none;
}

/* #endregion  */







/* #region  SITE SETTINGS - ADD */

#add-content-pane {
  padding: 2.5em 1em 2em 1.5em;
}

.add-new-item-pane #add-content-pane {
  /* new add existing pane - timeline markers  */
  padding: 0;
  margin-top: -2.5em;
}

#add-content-pane ul {
  list-style: none;
  padding-left: 0;
}

#add-content-pane li {
  position: relative;
  margin-bottom: .5em;
  padding: .1em .75em .3em .75em;
  border-radius: 3px;
  border: 1px solid #565656;
}

#add-content-pane li:hover {
  background: #eee;
  text-decoration: none;
  color: #303030;
}

#add-content-pane a.add-link {
  list-style: none;
  display: inline-block;
  padding-right: .4em;
}

#add-content-pane li a {
  @include rem-fallback(font-size, 20);
}

#add-content-pane li a:hover,
#add-content-pane li a:focus {
  color: #303030;
  text-decoration: none;
}

#add-content-pane li .mk-icon {
  @include rem-fallback(font-size, 26);
  margin-right: .3em;
  @include rem-fallback(top, 5);
}

#add-content-pane li .get-help {
  position: absolute;
  @include rem-fallback(font-size, 16);
  margin-left: .1em;
  right: .5em;
  @include rem-fallback(top, 14);
}

#add-content-pane .get-help:hover {
  color: #000;
}

.add-item .bulk-upload-link {
  padding-top: 2.5em;
  display: block;
}

#add-content-pane .import-options a.add-link,
#add-content-pane .import-options a.add-link .mk-icon {
  @include rem-fallback(font-size, 16);
}

.import-options {
  margin-top: 1em;
  margin-left: 1em;
}

#add-content-pane .description {
  margin-bottom: 1.1em;
  font-size: 18px;
}

.import-options a {
  border: none;
}

.item-description,
.collection-description {
  padding-bottom: .5em;
  @include rem-fallback(font-size, 14);
  display: block;
  padding-left: 0;
  @include rem-fallback(margin-top, 4);
  line-height: 1.3;
  font-style: italic;
}

#add-content-pane .mk-icon {
  @include rem-fallback(font-size, 22);
  margin-right: .2em;
}

#online {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: pointer;
  z-index: 10000;
  display: none;
}

#status-indicator {
  width: 100%;
  height: 100%;
  background: green;
}

#status-indicator.offline {
  width: 100%;
  height: 100%;
  background: red;
}

#current-editors {
  padding: 1em;
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
  width: 500px;
  position: absolute;
  right: 0;
  top: 10px;
}

#editors {
  background: none repeat scroll #F9EDBE;
  color: #000;
  padding: .75em 0 0.1em 0;
  position: fixed;
  left: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
  height: 50px;
  font-weight: bold;
  border-bottom: 1px solid #565656;
}

/* #endregion  */



/* #region -- SETTINGS: Privacy */

.toggle-comments .toggle-label {
  width:auto;
}

/* #endregion  */

/* #region  STATISTICS */

.admin-statistics input {
  border: 1px solid #565656;
}

/* #endregion  */

/* #region  ADD LINK IN WYSIWYG */

#settings-context #admin-link-content .browser-selector h2 {
  margin-bottom: 0;
}

/* #endregion  */

/* #region  REVISIONS */

.site-settings-revisions {
  padding: 2em 1.5em;
  max-width: 900px;
  margin: 0 auto;
}

.site-settings-revisions thead td {
  font-weight: bold;
}

.rev-date {
  width: 13em;
}

.rev-id {
  width: 2em;
}

.rev-user {
  width: 8em;
}

td.rev-actions {
  width: 13em;
}

#adrevisions-content td:last-of-type {
  border-bottom: 1px solid #ddd;
}

.rev-actions .btn {
  padding: .1em .5em .2em .4em;
  @include rem-fallback(font-size, 16);
}

.preview-rev .mk-icon {
  top: 2px;
  @include rem-fallback(font-size, 18);
}

.revert-rev .mk-icon {
  @include rem-fallback(font-size, 18);
}

#rev-preview .sticky-header,
#rev-preview .page-options,
#rev-preview .add-story-header {
  display: none;
}

#rev-preview .item-header {
  background: none;
  @include rem-fallback(max-width, 700);
  margin: auto auto 1.5em auto;
  padding-bottom: 1em;
  position: relative;
  height: auto;
}

#rev-preview .item-header h1,
#rev-preview .item-header h2 {
  color: #000 !important;
  font-weight: bold;
  @include rem-fallback(font-size, 34);
}

.rev-preview-window {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  animation-name: slideInUp;
  animation-duration: .3s;
  background: #fff;
}

.rev-preview-window .template {
  padding-top: 3em;
  background: #fff;
}

.rev-preview-window .template.story-template {
  padding-top: 0;
}

.rev-preview-window .story-template .story-content {
  background: #fff;
}

.rev-preview-topbar {
  background: #ccc;
  @include rem-fallback(height, 50);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.rev-preview-topbar h1 {
  @include rem-fallback(font-size, 22);
  font-weight: normal;
  display: inline-block;
  margin: 0;
  padding: .6em 1em .2em 1em;
  color: #000;
  float: left;
}

.rev-preview-topbar-inner {
  /*  @include rem-fallback(max-width,700);
  margin: auto;*/
  @include clearfix;
}

.rev-preview-close,
.rev-preview-revert {
  margin: .3em 1em 0 0em;
  float: right;
}

.rev-preview-close {
  margin: .3em 1em 0 0em;
  padding: .3em .6em .3em .5em;
}

.rev-preview-revert {
  padding: .5em .6em .3em .5em;
  margin: .3em .5em 0 0em;
}

.rev-preview-revert .mk-icon {
  font-size: 16px;
  margin-right: .5em;
  top: 2px;
}

#revisions-content .table tr:first-child {
  /* Theme current revision row */
  font-weight: bold;
}

#revisions-content .table tr:first-child td.rev-actions a:nth-of-type(2n) {
  display: none;
}

#revisions-content .table tr:first-child td.rev-actions a:nth-of-type(1n):after {
  content: ' Current';
}

#revisions-content .table.trashcan tr:first-child {
  /* trashcan */
  font-weight: normal;
}

#revisions-content .table.trashcan tr:first-child td.rev-actions a:nth-of-type(1n):after {
  /* trashcan */
  content: none;
}

.rev-preview-window .timeline-template .item-overlay .overlay-bg {
  display: none;
  /* prevent background overlay from going over revisions preview */
}

.overlay .rev-preview-window .timeline-template #item-content {
  max-width: none;
}

.rev-preview-window .timeline-template .timeline-tour {
  display: none;
}

/* #endregion  */

/* #region  ARCHIVED */

.archive-message {
  font-weight: bold;
}

.archive-message-info {
  display: block;
  @include rem-fallback(font-size, 14);
}

#messages .alert-warning a.disable-archive {
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: .1em .5em;
  margin-left: .5em;
  margin-bottom: .5em;
}

.view-archived-content {
  margin-right: .75em;
}

.view-archived-content .icon {
  top: 1px;
}

/* #endregion  */

/* #region  AUTOSAVE */

.autosave-details {
  @include rem-fallback(font-size, 14);
}

/* #endregion  */

/* #region  MOVE TO SITE */

#transmit {
  display: block;
  margin-top: 1em;
}

/* #endregion  */
