@import url(https://fonts.googleapis.com/css?family=Roboto);:root {
  --mk-primary-color: #030303;
  /* default primary color - currently "background color" in settings */
  --mk-primary-color-contrast: #fff;
  /* contasting color to primary color; function: getContrastColor */
  --mk-primary-color-onwhite: #fff;
  /* contasting color - primary color on white; function: getContrastOnWhite */
  --mk-primary-color-tint: #444;
  /* tinted primary color; function: getTint */
  --mk-secondary-color: #fff;
  /* default secondary color - "banner link color" in settings */
  --mk-secondary-color-contrast: #030303;
  /* default secondary color */
}

.primary-background,
#mediakron #login-submit,
#login-banner,
#mediakron #header,
#mediakron .sticky-filters #content-filters,
#messages .alert-success,
#mediakron .btn-primary,
#mediakron .btn-primary a,
#mediakron .btn-success,
#content-filter li.search-choice,
#content-user .chosen-container-single .chosen-single,
.settings-pane .overlay header,
.overlay header.admin-style-header,
.search-pane.opened .overlay header,
.site-loader#progress-bar,
.edit-story .wysiwyg,
.edit-story .wysiwyg-headers-inner,
cite.annotation.highlight,
cite.annotation.highlight,
cite.annotation.contains-sup sup:hover,
sup.contains-cite:hover,
cite.annotation.highlight,
cite.annotation.contains-sup.highlight sup,
sup.contains-cite.highlight,
.home-menus--grid .homepage-menu-title,
#navbar .dropdown-container li.dropdown-title,
.home-image--half .home-template__info,
.home-image--full .home-template__info,
.timeline-category .add-category,
.folder-navigation .mk-icon,
.folder-navigation a:hover {
  background-color: var(--mk-primary-color);
}

.edit-story .wlink-tool button,
#mediakron #navbar #user .mk-user.level-1,
.folder-navigation a:hover .mk-icon {
  color: var(--mk-primary-color);
}

.settings-pane .overlay .page-options .mk-icon.mk-close::before,
.settings-pane .overlay .page-options .mk-icon.mk-close::after,
.search-pane .overlay .page-options .mk-icon.mk-close::before,
.search-pane .overlay .page-options .mk-icon.mk-close::after,
.overlay header.admin-style-header .page-options .mk-icon.mk-close::before,
.overlay header.admin-style-header .page-options .mk-icon.mk-close::after,
.add-content .edit-story .story-edit-page-options .page-options .mk-icon.mk-close::before,
.add-content .edit-story .story-edit-page-options .page-options .mk-icon.mk-close::after,
.editing-enabled .story-template .story-edit-page-options .page-options .mk-icon.mk-close::before,
.editing-enabled .story-template .story-edit-page-options .page-options .mk-icon.mk-close::after,
#navbar .close-modal .mk-icon.mk-close::after,
#navbar .close-modal .mk-icon.mk-close::before,
.edit-story .wlink-tool button,
.folder-navigation a:hover .mk-icon {
  background-color: var(--mk-primary-color-contrast);
}

#mediakron .settings-pane .overlay header h2,
.settings-pane .overlay header h1,
#mediakron .settings-pane .overlay h2 .mk-icon,
.overlay .page-options a,
.overlay .page-options button,
.add-story-header .page-options button.close-button,
.overlay .page-options .option-help a,
.add-story-header .page-options a,
.add-story-header .page-options button,
.search-pane.opened .overlay header h2,
.overlay header.admin-style-header h2,
.overlay header.admin-style-header .mk-icon,
.search-pane.opened .overlay header .mk-search,
.edit-story .wysiwyg-button,
.editing-enabled .story-template .story-edit-page-options .page-options .option-help a .mk-icon,
.timeline-category .add-category,
.folder-previous .mk-arrow-left,
.folder-navigation .mk-icon,
.folder-navigation a:hover .mk-icon {
  color: var(--mk-primary-color-contrast);
}

#navbar .main-menu .add-menu-navbar.no-menus a,
.site-loader#progress-bar {
  border-color: var(--mk-primary-color-contrast);
}

cite.annotation.highlight,
cite.annotation.highlight,
cite.annotation.contains-sup sup:hover,
sup.contains-cite:hover,
cite.annotation.highlight,
cite.annotation.contains-sup.highlight sup,
sup.contains-cite.highlight {
  background: var(--mk-primary-color-onwhite);
}

.annotation-popup .mk-icon {
  color: var(--mk-primary-color-onwhite);
}

.annotation-popup,
.annotation-item:hover,
.annotation-item.highlight {
  border-color: var(--mk-primary-color-onwhite);
}

.site-loader .progress {
  background-color: var(--mk-primary-color-tint);
}

.secondary-font,
#mediakron #login-submit,
#mediakron #header a,
#mediakron #header .mk-icon,
#mediakron #header button,
.sticky-filters#content-manage h3,
.add-menu-navbar a,
.add-menu-navbar .mk-icon,
#messages .alert-success,
#mediakron .btn-primary,
#mediakron .btn-success,
#login-banner a,
.loading-message,
#content-filter li.search-choice,
#content-user .chosen-container-single .chosen-single span,
.site-loader #progress-text,
.home-menus--grid .homepage-menu-title,
#navbar .dropdown-container li.dropdown-title,
.home-image--full h1,
.home-image--half h1,
.home-image--full .subtitle,
.home-image--half .subtitle {
  color: var(--mk-secondary-color);
}

#navbar #user .mk-user.level-1,
.secondary-menu li.level-1:hover {
  background: var(--mk-secondary-color);
}

.rounded,
.btn,
.btn-sm,
.btn-xs,
.btn-md,
.btn-default,
.settings-field,
#configure-site,
#main-menu .btn-menu,
[contentEditable=true],
#settings-context .form-control,
.edit .topics-sortable li,
.edit .selected-map,
.sp-replacer,
#content-manage,
.content-action,
.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices li.search-choice,
.nav-item-main,
.edit-menu,
.wysiwyg,
#organize-structure ul li.topic,
#settings-context .manage-item,
#settings-context #content-filters,
.left-nav .navbar-collapse,
.left-nav .navbar-toggle,
.navbar-inverse .navbar-toggle,
#search,
#full-screen,
.comment-body,
#welcome-full #homepage-description-inner,
.collections-list,
.collection-links,
.timeline-marker-text,
.timeline-marker,
#settings-context #add-new-content,
.utility-page .actions a,
.annotate .zoomout,
.annotate .zoomin,
table#admin-content .collection-links,
#text-type,
table#admin-content .btn-add:hover,
.toggle-options,
.alert {
  border-radius: 2px;
}

.background-image {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: 50% !important;
  height: 100%;
}

.background-image-darkened {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.visuallyhidden,
.sr-only {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.visuallyunhidden {
  margin: auto;
  padding: auto;
  width: auto;
  height: auto;
  overflow: visible;
  position: static;
}

.text-shadow {
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.box-shadow-subtle {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*@import*/

/*  "_attention-seekers/attention-seekers.scss",
  "_bouncing-entrances/bouncing-entrances.scss",
  "_bouncing-exits/bouncing-exits.scss",
  "_fading-entrances/fading-entrances.scss",
  "_fading-exits/fading-exits.scss",
/*  "_flippers/flippers.scss",*!/
/*  "_lightspeed/lightspeed.scss",
  "_rotating-entrances/rotating-entrances.scss",
  "_rotating-exits/rotating-exits.scss",*!/
  "_sliding-entrances/sliding-entrances.scss",
  "_sliding-exits/sliding-exits.scss",
  "_specials/specials.scss",
  "_zooming-entrances/zooming-entrances.scss",
  "_zooming-exits/zooming-exits.scss";
  */

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes zoomInDown {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
  }

  60% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
}

@keyframes zoomInDown {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
  }

  60% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
}

@-webkit-keyframes zoomInLeft {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
  }

  60% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
  }
}

@keyframes zoomInLeft {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
  }

  60% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
  }
}

@-webkit-keyframes zoomInRight {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
  }

  60% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
  }
}

@keyframes zoomInRight {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
  }

  60% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
  }
}

@-webkit-keyframes zoomInUp {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
  }

  60% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
  }
}

@keyframes zoomInUp {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
  }

  60% {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
  }
}

/* Adding a little shake action to the login when rejected */

#login {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes loginincorrect {
  8%, 41% {
    -webkit-transform: translate(-53%, -50%);
            transform: translate(-53%, -50%);
  }

  25%, 58% {
    -webkit-transform: translate(-47%, -50%);
            transform: translate(-47%, -50%);
  }

  75% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }

  92% {
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }

  0%, 100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes loginincorrect {
  8%, 41% {
    -webkit-transform: translate(-53%, -50%);
            transform: translate(-53%, -50%);
  }

  25%, 58% {
    -webkit-transform: translate(-47%, -50%);
            transform: translate(-47%, -50%);
  }

  75% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }

  92% {
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }

  0%, 100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes messageFadeInOut {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes messageFadeInOut {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes messageslideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  15% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  90% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes messageslideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  15% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  90% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes slideUpStay {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideUpStay {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }

  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes slideDownStay {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }

  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideDownStay {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }

  80% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slideDownSmooth {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideDownSmooth {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}

@keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
}

@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* Formatting bar in WYSIWYG  */

@-webkit-keyframes showWysiwyg {
  from {
    opacity: 0;
    margin-top: 10px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes showWysiwyg {
  from {
    opacity: 0;
    margin-top: 10px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@-webkit-keyframes highlight {
  0% {
    background-color: #fff36c;
    opacity: 1;
  }

  100% {
    background-color: #fff;
  }
}

@keyframes highlight {
  0% {
    background-color: #fff36c;
    opacity: 1;
  }

  100% {
    background-color: #fff;
  }
}

@-webkit-keyframes commentHighlightFade {
  0% {
    opacity: 1;
    border: 1px solid #616161;
    font-weight: 300;
  }

  100% {
    border: 1px solid transparent;
    cursor: default;
    margin-bottom: 0;
    background: none;
    font-weight: normal;
  }
}

@keyframes commentHighlightFade {
  0% {
    opacity: 1;
    border: 1px solid #616161;
    font-weight: 300;
  }

  100% {
    border: 1px solid transparent;
    cursor: default;
    margin-bottom: 0;
    background: none;
    font-weight: normal;
  }
}

@-webkit-keyframes highlight-yellow {
  0% {
    background-color: yellow;
    opacity: 1;
  }

  75% {
    background-color: yellow;
  }

  100% {
    background-color: #fff8aa;
  }
}

@keyframes highlight-yellow {
  0% {
    background-color: yellow;
    opacity: 1;
  }

  75% {
    background-color: yellow;
  }

  100% {
    background-color: #fff8aa;
  }
}

/* Formatting bar in WYSIWYG  */

@keyframes showWysiwyg {
  from {
    opacity: 0;
    margin-top: 10px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@-webkit-keyframes expandDown {
  0% {
    opacity: 0;
    height: 0;
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  100% {
    height: auto;
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes expandDown {
  0% {
    opacity: 0;
    height: 0;
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  100% {
    height: auto;
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* @group SCUT CENTER TRANSFORM */

/* http://davidtheclark.github.io/scut/center-transform.html */

/* @end */

/* @group SCUTT STRIP UNIT */

/* @end */

/* @group SCUT REM */

/* @end */

/* @group SCUT REM FALLBACK */

/* @group MAX-WIDTH REM FALLBACK */

/* @end */

/* @group MAX-WIDTH REM FALLBACK */

/* @end */

/* @group PX-RM */

/* Rem fallback mixin by Karl Merkli */

/* @end */

/* @group TRIANGLE */

/* http://hackingui.com/front-end/10-best-scss-utilities/*/

/* 
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/

/* @end */

/* @group TEXT TRUNCATE */

/* @end */

html {
  font-size: 100%;
}

body {
  color: #333;
  font-weight: normal;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

/* @group Default Skin Styles */

#mediakron #header {
  background-color: #030303;
}

#mediakron #header a,
#mediakron #header .mk-icon {
  color: #fff;
}

a {
  color: #4b4b4b;
}

.appearance-link {
  color: #4b4b4b;
}

.appearance-link-bg {
  background-color: #4b4b4b;
}

/* @end */

/* @group Links */

a {
  color: #4b4b4b;
}

a:hover {
  text-decoration: none;
  color: #999;
}

.text-body a,
.widget-box a,
.widgets--sidebar a,
.caption a,
.story-body a {
  border-bottom: 1px solid #4b4b4b;
  -webkit-box-shadow: inset 0 -1px 0 #4b4b4b;
          box-shadow: inset 0 -1px 0 #4b4b4b;
  -webkit-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  text-decoration: none;
}

.text-body a:hover,
.widget-box a:hover,
.widgets--sidebar a:hover,
.caption a:hover,
.story-body a:hover {
  border-bottom: 3px solid #333;
  -webkit-box-shadow: inset 0 -1px 0 #333;
          box-shadow: inset 0 -1px 0 #333;
  -webkit-transition: background .15s;
  transition: background .15s;
  text-decoration: none;
}

a:focus {
  border-color: #66afe9;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

blockquote {
  padding: 0 20px !important;
  margin: 33px 0 33px 33px !important;
  font-size: 100% !important;
  border-left: 4px solid #ccc !important;
}

.readable {
  font-size: 22px;
  font-size: 1.375rem;
  max-width: 700px;
  line-height: 33px;
}

.readable .sample_text p,
.readable.sample_text ul,
.readable ol,
.readable blockquote {
  margin-bottom: 33px;
}

/* @end */

/* @group ROUNDED CORNERS */

/* Rounded corners */

#settings-context .nav-tabs > li > a {
  border-radius: 2px 2px 0 0;
}

.leaflet-bar a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.leaflet-bar a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: none;
}

/* @end */

/* @group DROPDOWN MENUS */

.dropdown-menu {
  font-size: 16px;
  font-size: 1rem;
}

.dropdown-header {
  padding: 3px 20px;
  color: #222;
  font-weight: bold;
}

.dropdown-header > li > a {
  display: inline;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 200;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

/* @end */

/* @end */

/* @group Expander */

.expander .expander-trigger {
  /*@include user-select(none);*/
  /*    border-bottom: 1px solid $light-gray;*/
  color: #4b4b4b;
  cursor: pointer;
  display: block;
  /*    font-size: $expander-toggle-size;*/
  /*    margin-bottom: $expander-toggle-size;
    padding-bottom: $expander-toggle-size / 4;*/
  text-decoration: none;
}

.expander .expander-trigger:before {
  /*      font-size: $expander-arrow-width;*/
  content: "\25BC";
  margin-right: 0.5em;
}

.expander .expander-content p {
  color: #333;
  line-height: 1.5em;
}

.expander .expander-hidden:before {
  font-size: 0.7em;
  content: "\25BA";
}

.expander .expander-hidden + .expander-content {
  display: none;
}

/* @end */

/* @group FORMS */

input,
textarea {
  border: 1px solid #565656;
  margin-bottom: .5em;
  padding: 5px 7px;
  border-radius: 2px;
}

/* @end */

/* @group Accessibility */

[data-visually-hidden="true"] {
  display: none;
}

[data-visually-hidden="false"] {
  display: block;
}

/* @end */

/* @group MISC */

#story-debug {
  display: none;
}

.grippy {
  content: '....';
  width: 10px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  line-height: 5px;
  padding: 3px 4px;
  cursor: move;
  vertical-align: middle;
  margin-top: -.7em;
  margin-right: .3em;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #cccccc;
  text-shadow: 1px 0 1px black;
}

.grippy::after {
  content: '.. .. .. ..';
}

.hide {
  display: none;
}

/* @end */

/* 
#mediakron
	#wrapper-main
		#content .container-fluid .content-area
			#row
				#breadrumbs
				#main
					.main-content .page
						.template

 */

/* @group CONTAINERS */

#mediakron {
  height: 100%;
}

#main-container {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  left: 0;
  height: 100%;
  overflow: scroll;
}

.container {
  /* Bootstrap override  */
  width: 100%;
}

#content.container-fluid {
  padding-left: 0;
  padding-right: 0 !important;
}

.row {
  height: 100%;
}

#main {
  height: 100%;
}

.main-content {
  height: 100%;
  width: 100%;
  /*    animation-name: fadeIn;
    animation-duration: .2s;*/
}

.template {
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.view {
  height: 100%;
}

.main-item-content {
  height: 100%;
}

.content-primary .container-fluid {
  height: 100%;
  padding: 0;
}

/* @end */

/* @group CONTENT PRIMARY */

.content-primary {
  float: left;
  clear: both;
  width: 100%;
}

.caption-active .content-primary {
  float: left;
  clear: both;
  width: 100%;
}

/*@import "../backbone/content-tools/add-panes/add-styles.scss";
@import "../backbone/content-tools/add-panes/addpane-general/addpane-general-styles.scss";

@import "../backbone/content-tools/browsers/browsers-styles.scss";
@import "../backbone/content-tools/browsers/browser-updates/browser-updates-styles.scss";
@import "../backbone/content-tools/browsers/browser-filters/browser-filters-styles.scss";

@import "../backbone/content-tools/import/import-styles.scss";
@import "../backbone/content-tools/search/search-page/search-page-styles.scss";

@import "../backbone/content-tools/organize-panes/organize-styles.scss";

@import "../backbone/content-tools/select-panes/select-panes-styles.scss"; 
@import "../backbone/content-tools/select-panes/selector-narrative/selector-narrative-styles.scss"; 
@import "../backbone/content-tools/select-panes/selector-links/selector-links-styles.scss"; 

@import "../backbone/content-tools/tags/tag-page/tag-page-styles.scss";
@import "../backbone/content-tools/tags/tags-form/tags-form-styles.scss";
@import "../backbone/content-tools/tags/tags-page/tags-page-styles.scss";

// Items
@import "../backbone/items/item-components/annotations-comments/annotations-comments.scss";
@import "../backbone/items/item-components/breadcrumbs/breadcrumbs-styles.scss";
@import "../backbone/items/item-components/filters/filters-styles.scss";
@import "../backbone/items/item-components/item-details/item-details-styles.scss";
@import "../backbone/items/item-components/item-card/item-card-styles.scss";
@import "../backbone/items/item-components/item-header/item-header.scss";
@import "../backbone/items/item-components/item-page-options/item-page-options-styles.scss";
@import "../backbone/items/item-components/item-view-in/view-in-styles.scss";
@import "../backbone/items/item-components/item-wysiwyg/item-wysiwyg.scss";
@import "../backbone/items/item-components/revisions/revisions-styles.scss";
@import "../backbone/items/item-components/tourpane/tourpane-styles.scss";
@import "../backbone/items/item-components/widgets/widgets-styles.scss";

@import "../backbone/items/item-pages/audio/audio-styles.scss";
@import "../backbone/items/item-pages/comparison/comparison-styles.scss";
@import "../backbone/items/item-pages/file/file-styles.scss";
@import "../backbone/items/item-pages/folder/folder-styles.scss";
@import "../backbone/items/item-pages/image/image-styles.scss";
@import "../backbone/items/item-pages/map/maps-styles.scss";
@import "../backbone/items/item-pages/narrative/narrative-styles.scss";
@import "../backbone/items/item-pages/progression/progression-styles.scss";
@import "../backbone/items/item-pages/slideshow/slideshow-styles.scss";
@import "../backbone/items/item-pages/story/story-styles.scss";
@import "../backbone/items/item-pages/text/text-styles.scss";
@import "../backbone/items/item-pages/timeline/timeline-styles.scss";
@import "../backbone/items/item-pages/video/video-styles.scss";

//Form;
@import "../backbone/forms/chosen/chosen-custom-styles.scss";
@import "../backbone/forms/edit-styles.scss";
@import "../backbone/forms/form-expand-collapse/accessibleplugins-styles.scss";
@import "../backbone/forms/save-bar/save-bar-styles.scss";

//Help;
@import "../backbone/help/help-styles.scss";

//Homepage;
@import "../backbone/homepage/homepage-settings/homepage-settings.scss";
@import "../backbone/homepage/homepage-view/homepage-styles.scss";

//Settings;
@import "../backbone/site-settings/settings-page/settings-page-styles.scss";
@import "../backbone/site-settings/settings-styles.scss";

@import "../backbone/navigation/menu-settings/menu-settings-styles.scss";
@import "../backbone/navigation/navigation-styles.scss";

//Theme;
@import "../backbone/theme/banner/banner-styles.scss";
@import "../backbone/theme/site-appearance/site-appearance-styles.scss";
@import "../backbone/ui/buttons/buttons-styles.scss";

//UI;
@import "../backbone/ui/fullscreen/fullscreen-styles.scss";
@import "../backbone/ui/tooltips/tooltips-styles.scss";
@import "../backbone/ui/icons/mk-icons/mk-icons-styles.scss";
@import "../backbone/ui/icons/mapkey-icons/mapkey-styles.scss";
@import "../backbone/ui/overlay/overlay-styles.scss";
@import "../backbone/ui/progress-loaders/progress-loaders-styles.scss";
@import "../backbone/ui/tabs-accordion/tabs-accordion-styles.scss";
@import "../backbone/ui/typography/typography-styles.scss";

//Users;
@import "../backbone/users/manage-users/manage-users-styles.scss";

//Utilities;
@import "../backbone/utilities/active-editors/active-editors-styles.scss";
@import "../backbone/utilities/canvas/canvas-lti/canvas-lti-styes.scss";
@import "../backbone/utilities/login/login-styles.scss";
@import "../backbone/utilities/messages/messages-styles.scss";
@import "../backbone/utilities/print/print-styles.scss";*/

