<% var panopto = item.getPanoptoUrl(); console.log(panopto); %>


	<%= panopto %>


<div class="video-help-text">	
  <button class="js-expandmore btn btn-sm btn-no-style"><span class="mk-icon mk-help"></span> <span class="button-text">Video Help</span></button>
  <div class="js-to_expand hidden">
      If the video does not appear, you may need to <strong><a href="https://bc.hosted.panopto.com/Panopto/Pages/Auth/Login.aspx">log in here</a></strong> first and then reload the page.	
     </div>
  </div>	
