<div id="import">
<div class="container-fluid">

        <div class="form-instructions">Tools for adding content to your site. 
        </div>
	    <div id="import-drag-area" class="col-md-6">
	    	    <h3><span class="mk-icon mk-upload"> </span> Add Images and Files</h3>	
	        <span class="mk-icon mk-add-sign"></span>
	        <span class="upload-text">Drag files here to upload</span>
	        <button id="upload-file-button" type="submit" class="btn submit btn-primary">Browse for Files</button>
	        <input type="file" multiple="true" class="hide import-file" /> 
	    </div>
	    <div id="import-link-area" class="col-md-6 hide">
	    <h3>Add Video and Audio Links</h3>
	        <textarea rows="2">
	        </textarea>
	    <button id="import-link-button" type="submit" class="btn submit btn-primary"><span class="mk-icon mk-add"> </span> Add</button>
	    </div>
	    
    </div>
    
    <table id="import-table"  class="table table-striped table-bordered">
	    <thead class="hide">
	    	<tr>
	    		<th scope="col" class="sr-only">Save</th>
	    		<th scope="col" class="sr-only">Thumbnail</th>
	    		<th scope="col">Title</th>
	    		<th scope="col">Type</th>
	    		<th scope="col" class="sr-only">Remove</th>
	    	</tr>
	    </thead>
	    <tbody id="import-table-body">
	    	<!-- Empty Will Be replaced by body content -->
	    </tbody>
    </table>
    <button class="save-all btn btn-success submit hide btn-sm" type="submit"><span class="mk-icon mk-save"> </span> Save All</button>
</div>
</div>