/* #region  ORGANIZE PANE - SHARED STYLES */

#settings-context #sort-slideshow {
    padding-left: 0;
    margin-left: 0;
    margin-top: 1em;
    margin-bottom: 5em;
  }
  
  #settings-context #sort-slideshow li {
    margin-bottom: 10px;
    border: 1px solid #565656;
    background: #fff;
    border-radius: 2px;
    list-style: none;
    position: relative;
    @include rem-fallback(height, 60);
    overflow: hidden;
  }
  
  #settings-context #sort-slideshow li:hover {
    background-color: #ffffd9;
    color: #222;
    border: 1px solid #222;
    cursor: move;
    transition: color .25s linear, background-color .25s ease-in-out;
  }
  
  #settings-context .ui-state-highlight {
    list-style: none;
  }
  
  #settings-context .drag-item .btn-primary {
    display: inline-block;
    float: left;
    padding: 1em .4em 1.1em .4em;
    margin-right: .5em;
    border-radius: 0;
    border: none;
    border-right: 1px solid #566565;
  }
  
  #settings-context .manage-item .type,
  #settings-context .event-manage .type {
    padding-right: 0em;
    padding-top: 4px;
    @include rem-fallback(font-size, 14);
    padding-left: .2em;
    color: #474747;
  }
  
  #settings-context #content-manage {
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .organize #add-new-content {
    margin-left: 0;
    float: left;
  }
  
  .organize #add-new-content a {
    margin-left: 0;
  }
  
  .organize-edit-button {
    @include rem-fallback(font-size, 24);
    float: right;
  }
  
  #settings-context .organize-edit-button {
    color: #444;
    position: absolute;
    @include rem-fallback(right, 95);
    @include rem-fallback(bottom, 0);
  }
  
  #settings-context .organize-edit-button:hover {
    text-decoration: none;
  }
  
  .remove-item {
    @include rem-fallback(font-size, 24);
    position: absolute;
    @include rem-fallback(right, 70);
    @include rem-fallback(bottom, 0);
    padding-left: .3em;
  }
  
  .mk-icon.mk-remove {
    /*color: #912420;*/
    color: #852330;
    cursor: pointer;
    top: -1px;
  }
  
  .mk-icon.mk-remove:hover {
    /*color: #631513;*/
    color: #691B26;
  }
  
  #settings-context .manage-item .item-square-icon,
  #settings-context .manage-item .square-thumbnail {
    position: absolute;
    right: 0;
  }
  
  #settings-context .manage-item .item-square-icon {
    display: inline-block;
    background: #ddd;
    color: #666;
    border-left: 1px solid #565656;
  }
  
  #settings-context .manage-item .item-square-icon .mk-icon {
    top: -10px;
    left: 9px;
    @include rem-fallback(font-size, 45);
    position: relative;
  }
  
  #settings-context .manage-item .square-thumbnail {
    display: inline-block;
  }
  
  #settings-context .manage-item .title {
    display: inline-block;
    position: relative;
    @include rem-fallback(top, 16);
    width: 400px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include rem-fallback(font-size, 18);
  }
  
  #settings-context .manage-item .type {
    position: absolute;
    right: 5.3em;
    top: 0;
    @include rem-fallback(font-size, 14);
  }
  
  #organize-add-new {
    width: 100%;
    height: 3em;
    margin-bottom: 4em;
    position: relative;
  }
  
  /* #endregion  */