<% var color = item.getColor(), display = ''; if(color){ display = "color:"+color; } %>
<tr class="item-row row-type-<%= item.getNormalType() %>"> 
	<td class="actions title post-title">
			<a class="btn-add" title="Add <%- item.get('title') %>">
  			<div class="btn btn-primary">
  		    <span class="mk-icon mk-add"></span><span class="button-text">Add</span>  
  		 </div>

		  	<span class="item-title" style="<%= display %>"> <%- item.get('title') %> <span class="type"><%= item.getNormalType() %></span></span>
		  	<% if(thumbnails){ %>
		  	   	<span class="row-thumb" style="<%= display %>">
		  	   		<%= item.getSquareImage('small',thumbnails,thumbnails,false) %>
		  	   	</span>
		  	   <% } %>
			</a>
	</td>
</tr>