<!-- ===== Add To Pane - Folders and Slideshows  ===== -->
<% var search = Mediakron.ContentBrowser.filter.search, filter = Mediakron.ContentBrowser.filter.filter, sort = Mediakron.ContentBrowser.filter.sort, filterAuthor = Mediakron.ContentBrowser.filter.user, isSelected = function(type, filter){ if(filter){ if(filter.indexOf(type) > -1){ return 'selected'; } } return ''; }, isChecked = function(){ if(filterAuthor == Mediakron.user.get("id")){ return 'checked'; } else{ return ''; } }; %>
<div class="add-to-pane add-to-folder overlay overlay-sidebar">

  <header <% if(!item){ %>class="admin-context-header"<% } %>>
    <div class="header-inner">
      <h2><span class=" mk-icon mk-add"></span> Add<% if(item){ %> to <span class="title-type"><%= item.get('type') %></span><% } %> </h2>
      <nav>
        <ul class="page-options"> 
            <% if(item){ %>
          <li class="option-edit">
          	<a class="edit-button btn btn-sm btn-default" type="button" href="/settings/manage/edit/<%= Mediakron.controller.getPath() %>" aria-label="Edit <%= item.getNormalType() %>" title="Edit <%= item.getNormalType() %>">
          		<span class="toggles mk-icon mk-edit"></span><span class="button-text"> Edit</span>
          	</a>
          	<li class="option-organize">	  	
          		<a class="btn btn-sm btn-default" href="/settings/manage/organize/<%= Mediakron.controller.getPath() %>" aria-label="Organize <%= item.getNormalType() %>" title="Organize <%= item.getNormalType() %>">
          			<span class="toggles mk-icon mk-organize"></span>
          			<span class="button-text"> Organize</span>
          		</a>
          	</li>
          	<% } %>
          	<li class="edit-options option-close">	  	
          		<button class="btn btn-sm btn-default close-button" aria-label="Close">
            		<span class="mk-icon mk-close"></span>
            		<span class="button-text"> Close</span> 
            	</button>
    
          	</li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div id="admin-content-edit" class="browser-selector <% if(!item){ %>admin-context-body<% } %>">
    <% if(item){ %><h3 class="title"><%= item.get('title') %></h3><% } %>
   <ul class="accordion-tabs">
   	  <li class="tab-header-and-content">
   	    <a href="javascript:void(0)" class="is-active tab-link">Select Existing Content</a>
   	    <div class="tab-content is-open" style="display: block;">
   	  	 
        <% if(!Mediakron.user.isGuest() && !Mediakron.user.isMember()){ %> 
        <label class="label-switch" aria-hidden=true >
            <input id="mycontent" type="checkbox" name="mycontent" value="<%= Mediakron.user.get("id") %>" <%= isChecked() %> >
          <div class="checkbox"></div>
         </label>
         <label class="mycontent-label" for="mycontent">My Content Only  </label>
        <% } %>
   	  	 
   	  	 <div id="content-manage" class="tab-pane active">
   	  	       	<div id="content-filters" class="clearfix">
   	  	       		<div id="content-search" class="content-action clearfix">
   	  	       			<span class="mk-icon mk-search"></span>
   	  	       			<input id="search-rows" class="search" placeholder="Search" />
   	  	       		</div>
   	  	       		<div id="content-filter" class="content-action clearfix">
   	  	       			<span class="mk-icon mk-filter"></span>
   	  	       			<div class="select">
   	  	       				<select id="filter" multiple="" name="filter" data-placeholder="Filter">
   	  	       					<% if(Mediakron.typeCanSelect('image',item)){ %> <option value="image" <%= isSelected("image", filter) %>>Images</option> <% } %>
   	  	       					<% if(Mediakron.typeCanSelect('story',item)){ %> <option value="story" <%= isSelected("story", filter) %>>Story</option><% } %>
   	  	       					<% if(Mediakron.typeCanSelect('file',item)){ %> <option value="file" <%= isSelected("file", filter) %>>Files</option><% } %>
   	  	       					<% if(Mediakron.typeCanSelect('audio',item)){ %> <option value="audio" <%= isSelected("audio", filter) %>>Audio</option><% } %>
   	  	       					<% if(Mediakron.typeCanSelect('video',item)){ %> <option value="video" <%= isSelected("video", filter) %>>Videos</option><% } %>
   	  	       					<% if(Mediakron.typeCanSelect('folder',item)){ %> <option value="folder" <%= isSelected("folder", filter) %>>Folders</option><% } %>
   	  	       					<% if(Mediakron.typeCanSelect('slideshow',item)){ %> <option value="slideshow" <%= isSelected("slideshow", filter) %>>Slideshows</option><% } %>
   	  	       					<% if(Mediakron.typeCanSelect('narrative',item)){ %> <option value="narrative" <%= isSelected("narrative", filter) %>>Narratives</option><% } %>
   	  	       					<% if(Mediakron.typeCanSelect('map',item)){ %> <option value="map" <%= isSelected("map", filter) %>>Maps</option><% } %>
   	  	       					<% if(Mediakron.typeCanSelect('timeline',item)){ %> <option value="timeline" <%= isSelected("timeline", filter) %>>Timelines</option><% } %>
   	  	       					<% if(Mediakron.typeCanSelect('comparison',item)){ %> <option value="comparison" <%= isSelected("comparison", filter) %>>Comparisons</option><% } %>
   	  	       					<% if(Mediakron.typeCanSelect('progression',item)){ %> <option value="progression" <%= isSelected("progression", filter) %>>Progressions</option><% } %>
   	  	       				</select>
   	  	       			</div>
   	  	       		</div>
   	  	       		
   	  	       		<div id="content-sort" class="content-action clearfix">
   	  	       			<span class="mk-icon mk-sort"></span>
   	  	       			<div class="select">
   	  	       				<select id="sort" name="sort">
   	  	       					<option value="changed_desc" <%= isSelected("changed_desc", sort) %>>Updated: New-Old</option>
        						<option value="changed_asc" <%= isSelected("changed_asc", sort) %>>Updated: Old-New</option>
        						<option value="title_asc" <%= isSelected("title_asc", sort) %>>Title: A-Z</option>
        						<option value="title_desc" <%= isSelected("title_desc", sort) %>>Title: Z-A</option>
        						<option value="created_asc" <%= isSelected("created_asc", sort) %>>Created: New-Old</option>
        						<option value="created_desc" <%= isSelected("created_desc", sort) %>>Created: Old-New</option>
   	  	       				</select>
   	  	       			</div>
   	  	       		</div>
   	  	       	</div>
   	  	       </div>
   	  	 	
   	  	 		<table id="admin-content">
   	  	 		<thead class="sr-only">
   	  	 				<tr class="sr-only">
   	  	 					<th scope="col" class="sr-only">Title</th>
   	  	 					</tr>
   	  	 			</thead>	
   	  	 			<tbody id="admin-content-body" >
   	  	 				<!-- Empty Will Be replaced by body content -->
   	  	 			</tbody>
   	  	 		</table> 	  	 
   	  	 
   	      </div>   
   	  </li>
   	  
   	  <li class="tab-header-and-content">
   	    <a href="javascript:void(0)" class="tab-link">Add New Content</a>
   	  
   	    <% if(item || count === 0){  var url; %>
   	    <% if(item){ url = 'settings/manage/add/'+item.get('uri')+'/'; }else{ url = 'settings/content/add/'; } %>
   	  
   	    <div id="add-new-content-pane" class="tab-content">
   	        <div id="collections-container">   	    	        
   	               <h3>Basic Collections</h3>
   	       	        <ul class="add-collection">
   	                 <li class="add-folder">
   	                    <%= Mediakron.Theme.link('<div class="btn btn-primary"><span class="mk-icon mk-add"></span></div><span class="mk-icon mk-folder"></span>New Folder',url+'folder') %>  
   	                   <a class="help-link" href="#help/folder" class="help-link"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Folders</span></span></a>
   	                 </li>
             	      <li class="add-story">
             	      <%= Mediakron.Theme.link('<div class="btn btn-primary"><span class="mk-icon mk-add"></span></div><span class="mk-icon mk-story"></span>New Story',url+'story') %>
             	      <a class="help-link" href="#help/story"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Story</span></span></a>
             	      </li>
   	                 <li class="add-map">
   	                    <%= Mediakron.Theme.link('<div class="btn btn-primary"><span class="mk-icon mk-add"></span></div><span class="mki mki-marker"></span>New Map',url+'map') %>  
   	                   <a class="help-link" href="#help/map"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Maps</span></span></a>
   	                 </li>
   	               
   	                 <li class="add-timeline">
   	                    <%= Mediakron.Theme.link('<div class="btn btn-primary"><span class="mk-icon mk-add"></span></div><span class="mk-icon mk-timeline"></span>New Timeline',url+'timeline') %>  
   	                   <a class="help-link" href="#help/timeline"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Timelines</span></span></a>
   	                 </li>
   	       	       </ul>
   	          </div>
   	    	<div id="media-container">
   	    	 	<h3>Individual Media</h3>
   	    	 	  <ul class="add-item">
      	            
      	            <li class="add-image">
        	            <%= Mediakron.Theme.link('<div class="btn btn-primary"><span class="mk-icon mk-add"></span></div><span class="mk-icon mk-image"></span>New Image',url+'image') %>
        	            <a class="help-link" href="#help/image"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Images</span></span></a>
      	            </li>
      	            <li class="add-file">
        	            <%= Mediakron.Theme.link('<div class="btn btn-primary"><span class="mk-icon mk-add"></span></div><span class="mk-icon mk-file"></span>New File',url+'file') %>
        	            <a class="help-link" href="#help/text"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Files</span></span></a>
      	            </li>
      	            <li class="add-video">
        	            <%= Mediakron.Theme.link('<div class="btn btn-primary"><span class="mk-icon mk-add"></span></div><span class="mk-icon mk-video"></span>New Video',url+'video') %>
        	            <a class="help-link" href="#help/video"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Video</span></span></a>
      	            </li>
      	            <li class="add-audio">
        	            <%= Mediakron.Theme.link('<div class="btn btn-primary"><span class="mk-icon mk-add"></span></div><span class="mk-icon mk-audio"></span>New Audio',url+'audio') %>
        	            <a class="help-link" href="#help/audio"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Audio</span></span></a>
      	            </li>
   	    	        </ul>
   	    	      </div>
   	    	      <div id="collections-container">   	    	        
                 <h3>Special Collections</h3>
   	    	        <ul class="add-collection">
                  
                   <li class="add-slideshow">
                      <%= Mediakron.Theme.link('<div class="btn btn-primary"><span class="mk-icon mk-add"></span></div><span class="mk-icon mk-slideshow"></span>New Slideshow',url+'slideshow') %>  
                     <a class="help-link" href="#help/slideshow"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Slideshows</span></span></a>
                   </li>
                   <li class="add-comparison">
                      <%= Mediakron.Theme.link('<div class="btn btn-primary"><span class="mk-icon mk-add"></span></div><span class="mk-icon mk-comparison"></span>New Comparison',url+'comparison') %>  
                     <a class="help-link" href="#help/comparison"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Comparisons</span></span></a>
                   </li>         
                   <li class="add-progression">
                      <%= Mediakron.Theme.link('<div class="btn btn-primary"><span class="mk-icon mk-add"></span></div><span class="mk-icon mk-progression"></span>New Progression',url+'progression') %>  
                     <a class="help-link" href="#help/progression"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Progressions</span></span></a>
                   </li>
   	    	       </ul>
   	    	     </div>   
   	    	</div> 

   	    <% } %>
   	  
   	  </li>
   
   	</ul>
        
  </div>
  
  <div class="save-bar">
    <div class="save-bar-inner">
    	<% if(item){ %>
    		 <a href="<%= item.get('uri') %>" type="submit" class="btn btn-default btn-sm close-settings"><span class="mk-icon mk-close"> </span> Close</a>
    	   <% } %>
    </div>
  </div>

</div>

<div class="overlay-bg"></div>

