<div class="home-template home-template--menubasic home-menus home-menus--grid banner-menu <% if(Mediakron.Settings.HomePage.image){ %>image-active<% } %>">
 	
 	<% if(Mediakron.Settings.HomePage.image){ %>
 	<div class="menu-image"> 
 	<%= Mediakron.Image.theme(Mediakron.Image.style(Mediakron.Settings.HomePage.image,'full'),Mediakron.Settings.name,Mediakron.Settings.HomePage.alt) %>
 	</div>
 	<% } %>	
 	
  <div id="homepage-menu" class="item-card-large flex-grid">
  	<div class="loading"><img src="<%= Mediakron.Settings.cssURL %>/img/mk-loading6.gif" /> loading menus...</div>
  </div>
  
  <div class="home-description">
          
      <div class="description-text">  
    
        <% if(Mediakron.Settings.subtitle) { %>
        	<h2 class="subtitle"><%= Mediakron.Settings.subtitle%></h2>
        <% } %>
        
        <% if(description){ %>
          <div class="description"><%= description %></div>
        <% } %>	
      </div>
    
    </div>
    
  
	<% if(Mediakron.Access.check('can change site settings')){ %><a id="change-homepage" class="btn btn-default tooltip--w"  href="<%= basepath %>settings/homepage" data-tooltip="Change Homepage Settings"><span class="mk-icon mk-edit"></span><span class="button-text"> Edit Homepage</span></a><% } %>
	
</div>
<div id="homepage-content">
</div>