<div id = "error" class="clearfix">
	<% if(errorCode == '403'){ %>
		<center><h2 style="padding-top:5em;">Sorry, you don't have access to this page.</h2>
		<p>Please contact the person in charge of this site or email <a href="mailto:mediakron@bu.edu">mediakron@bu.edu</a> if you need help.</p></center>
	<% }else{ %>
		<center><h2 style="padding-top:5em;">Sorry, the page you're trying to access is missing or broken.</h2>
		<p>  Please contact the person in charge of this site or email <a href="mailto:mediakron@bu.edu">mediakron@bu.edu</a> if you need help.</p></center>
	<% } %>
    
</div> <!-- Mediakron Main -->

