<% var item, themedImage, children = relationships.children, count = children.length, i = 0;  %>

<article class="template folder-template folder-template--grid <% if(caption.length){ %> caption-active<% } %>">
  <div id="fl-<%= uri %>" class="folder-template__intro folder-item<% if(uri == current){ %> fl-open <% }else{ %> fl-close <% } %>" >
    
      <div class="content-primary">	
      	
        <div class="folder-info folder-grid">
          <header class="item-header bottom-border">
           <div class="item-nav">
             <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav><nav class="widgets-menu widgets-menu-<%= uri %>"></nav>
           </div>
             <div class="folder-info-inner">
          	  <h2><%= title %></h2>  	    
          	  <% if(caption.length){ %><div class="caption folder-caption"><%= caption %></div><% } %>
          	 </div>
          	   <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
          </header>
          
         <header class="sticky-header">
           <h2><%= title %></h2>
           <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav>
            <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
         </header>  

        
        </div>
       
        <div class="container-fluid">	
          <div class="item-content main-item-content">
          	<div class="item-content-inner">
          	    <aside class="widgets widgets--sidebar widgets--sidebar-<%= uri %>"></aside>
                <ul class="grid-items organize-button-bind">
                		<% _.each(relationships.children,function(child){ if(child){ childItem = Mediakron.getItemFromURI(child); %>
                		    <% if(childItem){ %>
                			    <li class="grid-item folder-item-<%= childItem.get('uri') %>">
                			        <a href="<%= childItem.getContextLink(uri,false,true) %>">
                        		        <%= childItem.getSquareImage('medium',150,150,false) %> 
                        		    </a>
                        		    <div class="slide-title">			                		    	
                        		    	<span class="title-link tooltip--n" data-tooltip="<%= childItem.get('title')%> (<%= childItem.get('type') %>)"> <%= childItem.getContextLink(uri) %></span>
                        		    </div>
                        		    
                			    </li>
                			<% } %>
                		<% } }); %>
                </ul>
            </div>
          </div>
      
       </div>
    </div> 	
        
    <div class="widgets widgets--below widgets--below-<%= uri %>">
    	<div class="widgets__description widget-box"></div>
    	<div class="widgets__transcript widget-box"></div>
    	<div class="widgets__details widget-box"></div>
    </div>	
        	
  </div>
   
  <div class="folder-current-item">
  </div>
    
  <% if(last){ %>
  <div class="folder-navigation">
      <a class="folder-next" href="<%= uri %>"></a>
      <a class="folder-previous" href="<%= uri %>"></a> 
  </div>
  <% } %>

</article>