/* @group ADD TAGS */
#tag-list {
  margin: 0 0 .5em 0;
  padding: 0;
}

.field-group-tags .field {
  padding: 0;
  margin: 0;
}

#tag-list li {
    list-style: none;
    display: inline-block;
    background: #eee;
    border: 1px solid #565656;
    padding: .1em .5em;
    border-radius: 4px;
    white-space: nowrap;
    margin-bottom: .5em;
    margin-right: .4em;
}

#tag-list li .remove-tag {
    padding-left: .3em;
}

#tag-list li .mk-icon.mk-remove {
  top: 2px;  
}

#tag-list li .mk-tag {
    padding-right: .3em;
    font-size: 14px;
    
}

#settings-context .all-tags ul {
  background: #fff;
  border: 1px solid #565656;
  padding: .5em;
  border-radius: 2px;
  position: relative;
  z-index: 1;
  width: 300px;
  box-shadow: none;
}


.all-tags .chosen-container-multi .chosen-choices li.search-choice {
  margin-right: .3em;
}

.field-group-tags .chosen-container-multi .chosen-choices li.search-field input[type="text"],  {
  color: #565656;
  @include rem-fallback(font-size, 18);
  width: 200px !important;
}

.field-group-tags #tag-field {
  @include placeholder {
      color: #565656;
      @include rem-fallback(font-size, 18);
    } 
}


/* @end */