/* #region  SITE SETTINGS - USERS */

#manage-users {
    max-width: 895px;
  }
  
  #btn-add-new-user,
  #btn-add-existing-user {
    margin-right: .5em;
    margin-top: 1em;
    display: block;
  }
  
  #manage-users label {
    display: inline-block;
  }
  
  #manage-users h4 {
    display: block;
    width: 100%;
    padding: 1em .5em 0 0;
    margin: 0;
    color: #333;
    @include rem-fallback(font-size, 26);
    line-height: inherit;
    color: #333333;
    border: 0;
  }
  
  .user-table {
    margin-top: 1em;
  }
  
  #manage-users fieldset:last-of-type {
    margin-bottom: 1.5em;
  }
  
  .add-new-user .chosen-container-single-nosearch,
  .group .chosen-container-single-nosearch {
    width: 8em !important;
  }
  
  .user-table .remove-user:hover {
    padding: 0;
    border: none;
    background: none;
  }
  
  .user-table .chosen-container {
    width: 8em !important;
  }
  
  #manage-users legend {
    @include rem-fallback(font-size, 20);
  }
  
  #manage-users .row-remove {
    text-align: center;
    width: 5em;
  }
  
  .row-ldap {
    text-align: center;
  }
  
  /* #endregion  */