/* @group LOGIN */

#login-banner {
	background: #030303;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #999;
}

#login-banner h1 {
	border: none;
	margin: 0;
	padding: .3em .5em .4em .5em;
	@include rem-fallback(font-size, 20);
   	-webkit-font-smoothing:antialiased;  
    text-rendering: optimizeLegibility;
    border: none;  
    display: inline-block;
    float: none;
    position: relative;
    margin-top: .4em;
    text-transform: uppercase;
    color: #fff;
    font-weight:500;
    @include breakpoint(xs){ 
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 700px;
        width: 80%;
        font-size: 1rem;
        padding-top: .7em;
        }
      	
    @include breakpoint(md){
        white-space: normal;
            padding: .3em 1em .4em 1.1em;
    }
}

#login-banner h1 a{
  color: #fff;
}

#login-image {
	padding: 1em 1em;
	background: #fff;
	text-align: center;
	display: block;
	width: auto;
	margin-bottom: 1.5em;
	border: 1px solid #ccc;
	border-radius: 2px;
}

#login-image img {
	width: 100%;
	height: auto;
}

#login{
    padding: 2em;
    width: 100%;
    z-index: 10000; 
    background: #ddd;
    border:1px solid #ccc;
    max-width: 400px;
    margin: 3em auto;
    animation-name: fadeIn;
    animation-duration: 1s;
    @include breakpoint(sm){ 
        margin: 6em auto 0 auto;
        border-radius: 5px;
    	}
}

#login h1 {
    margin: 0 0 1em 0;
    @include rem-fallback(font-size, 32);
}

#login h2 {
	color: #000;
	border-radius: 2px;
	border-bottom: 2px solid #333;
	padding: 0em 0 .2em 0;	
	font-size: 1.7em;
	margin-bottom:1em;
	margin-top:0;
	clear:left;
	@include rem-fallback(font-size, 24);
}

#login #password, #login #username {
	width:100%;
	border: 1px solid #ccc;
	border-radius: 2px;
}

#login-submit {
	color: #ffffff;
	background-color: #222;	
	border-radius: 2px;
	border: 1px solid #222;
	width: 100%;
}

#login input {
    font-size: 26px;
    padding: .3em;   
}

#login.loginincorrect {
    border-color: red;
    /*animation-name: loginincorrect;*/
}

.forgot-password, .need-account {
  display: inline-block;
  margin-right: 1em;
  margin-top:1em;
  text-decoration:underline;
}

.login-instructions {
  padding: .5em .5em 0 .5em;
  font-size: .9em;
  margin-bottom: 1em;
}


/* @end */