<div class="save-bar">
  <div class="save-bar-inner">
	<% if(edit){ %>
		<% if(published == '1'){ %>
		    <button id="done-editing" type="submit" class="btn btn-success submit btn-sm"><span class="mk-icon mk-save"> </span> Save</button>
			<% if(model.canUnpublish()){ %><a id="unpublish"  class="btn btn-default btn-sm"><span class="mk-icon mk-unpublish"> </span> Unpublish</a><% } %>
        <% } %>
		<% if(published == '0'){ %>
			<button id="done-editing" type="submit" class="btn btn-success submit btn-sm"><span class="mk-icon mk-save"> </span> Save Draft</button>
			<% if(model.canPublish()){ %><a id="publish"  class="btn btn-success btn-sm"><span class="mk-icon mk-save-circle"> </span> Save and Publish</a><% } %>
        <% } %>
		<% if(model.canDestroy()){ %><button id="delete-item" class="btn btn-warning btn-sm cancel"><span class="mk-icon mk-delete"> </span> Delete</button><% } %>
    <% }else{ %>
        <button id="done-editing" type="submit" class="btn btn-success submit btn-sm"><span class="mk-icon mk-save"> </span> Save</button>
    <% } %>
	<button id="close-settings-context" class="btn btn-default btn-sm close-settings"><span class="mk-icon mk-close"> </span> Cancel</button>
	</div>
</div> 