<article class="template audio-template audio-template--full <%= model.getClasses() %>">
	
	<div class="content-primary <% if(image){ %>background-image-active<% } %>"  <% if(image){ %> style="background: url(<%= Mediakron.Image.style(image.uri,"full") %>);" <% } %>">
		
		<header class="item-header">
		  <div class="item-nav">
		    <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav>
		    <nav class="widgets-menu widgets-menu-<%= uri %>"> </nav>

		  </div>
			  <h2><%= title %></h2>
			   <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
			<% if(caption.length){ %><div class="caption"><%= caption %></div><% } %>
		</header>
    
    <header class="sticky-header">
      <h2><%= title %></h2>
      <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav>
       <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
    </header>
    			
		<div class="item-content main-item-content">
				<div class="item-content--inner">
			    <div class="audio-container">
					<%= renderedAudio %>
				</div>
			</div>
		</div>
		<aside class="widgets widgets--sidebar widgets--sidebar-<%= uri %>"></aside>
	</div>
	
	<div class="widgets widgets--below widgets--below-<%= uri %>">
		<div class="widgets__description widget-box"></div>
		<div class="widgets__transcript widget-box"></div>
		<div class="widgets__details widget-box"></div>
	</div>	

</article>