<% var parents = ['topics','tags','maps','timelines','comparisons'], test = false; %>
<tr class="item-row row-<%= uri %> item-<% if(item.get('published') == 1){ %>published<% }else{ %>unpublished<% } %>">
	<% if(Mediakron.Access.check('can administer site')){ %>
		<td class="bulk-check"><input class="bulk-action" type="checkbox" name="bulk-action" value="<%= item.get('uri') %>" /><label class="bulk-actions-select sr-only" for="bulk-action">Select</label></td>
	<% } %>
	<% if(thumbnails){ %>
		<td class="row-thumb" >
			<%= item.getSquareImage('medium',thumbnails,thumbnails,true) %>
		</td>
	<% } %>
		
	<td class="title" >
	<div class="post-title"><h4><%= item.getLink() %><% if(item.get('published') == 1){ %><% }else{ %><span class="unpublished-title"> (unpublished)</span> <% }  %></h4></div>
	</td>
	
	<td class="browser-type" >
		<span title="<%= item.getNormalType() %>" class="mk-icon mk-<%= item.getNormalType() %>"></span> <span class="sr-only">Type:</span>
	<%= item.getNormalType() %>	
	</td>
	
	
	<% if(item.canEdit(false)){ %>
	<td class="actions">
		<%= item.editLink() %>
		<% if(item.get('published') == 1){ %><%= item.unpublishLink() %><% }else{ %><%= item.publishLink() %><% } %>
		<%= item.deleteLink() %> 
	</td>
	<% } %>
	
	<% if(hasCollection){ %>
	<td class="view-in-collection">
		<div class="select">
			<button type="button" class="collection-links dropdown-toggle" topic="default"  data-toggle="dropdown">
			     <span class="button-inner-text">View in <span class="caret"></span></span>
            </button>
				<ul class="dropdown-menu">  	
		       	<% if(collections.slideshow){ countTopic = collections.slideshow.length; %>
					<% if(countTopic > 0){ i = 0; %>
		                <% for(i;i<countTopic;i++){ slideshow = Mediakron.getItemFromURI(collections.slideshow[i].uri); if(!slideshow) continue; %>
		        			<li><span class="mk-icon mk-slideshow"></span> <%= item.getContextLinkTo(slideshow) %></li>
		                 <% } %>
					<% } %>
				<% } %>
				
				<% if(collections.folder){ countTopic = collections.folder.length; %>
					<% if(countTopic > 0){ i = 0; %>
		                <% for(i;i<countTopic;i++){ folder = Mediakron.getItemFromURI(collections.folder[i].uri); if(!folder) continue; %>
		        			<li><span class="mk-icon mk-folder"></span> <%= item.getContextLinkTo(folder) %></li>
		                 <% } %>
					<% } %>
				<% } %>
		       
		   <% if(collections.story){ countTopic = collections.story.length; %>
		   			<% if(countTopic > 0){ i = 0; %>
		   			                <% for(i;i<countTopic;i++){ story = Mediakron.getItemFromURI(collections.story[i].uri); if(!story) continue; %>
		           			<li><span class="mk-icon mk-story"></span> <%= item.getContextLinkTo(story) %></li>
		                    <% } %>
		   
		   			<% } %>
		   		<% } %>
		        		
				<% if(collections.narrative){ countTopic = collections.narrative.length; %>
					<% if(countTopic > 0){ i = 0; %>
					                <% for(i;i<countTopic;i++){ narrative = Mediakron.getItemFromURI(collections.narrative[i].uri); if(!narrative) continue; %>
		        			<li><span class="mk-icon mk-narrative"></span> <%= item.getContextLinkTo(narrative) %></li>
		                 <% } %>
		
					<% } %>
				<% } %>
				
						<% if(collections.comparison){ countTopic = collections.comparison.length; %>
					<% if(countTopic > 0){ i = 0; %>
					
		                <% for(i;i<countTopic;i++){ comparison = Mediakron.getItemFromURI(collections.comparison[i].uri);  if(!comparison) continue; %>
		        			<li ><span class="mk-icon mk-comparison"></span> <%= item.getContextLinkTo(comparison) %></li>
		                 <% } %>
		
					<% } %>
				<% } %>
				
					<% if(collections.progression){ countTopic = collections.progression.length; %>
					<% if(countTopic > 0){ i = 0; %>
					
		                <% for(i;i<countTopic;i++){ progression = Mediakron.getItemFromURI(collections.progression[i].uri); if(!progression) continue; %>
		        			<li><span class="mk-icon mk-progression"></span> <%= item.getContextLinkTo(progression) %></li>
		                 <% } %>
		
					<% } %>
				<% } %>
				
					<% if(relationships.maps){ var countMaps = relationships.maps.length; %>
					<% if(countMaps > 0){ i = 0; %>
					
		                <% i = 0;  for(i;i<countMaps;i++){ if(relationships.maps[i]){ map = Mediakron.getItemFromURI(relationships.maps[i].uri); if(!map) continue; %>
		        		<li><span class="mki mki-marker"></span> <%= item.getContextLinkTo(map) %></li>		
		                 <% }} %>
		
					<% } %>
				<% } %>
				
						<% if(relationships.timelines){ var countTimelines = relationships.timelines.length; %>
					<% if(countTimelines > 0){ i = 0; %>			
		                <% for(i;i<countTimelines;i++){ timeline = Mediakron.getItemFromURI(relationships.timelines[i].uri); if(!timeline) continue; %>
		        			<li><span class="mk-icon mk-timeline"></span> <%= item.getContextLinkTo(timeline) %></li>        			
		                 <% } %>
		
					<% } %>
				<% } %>
				</ul>

		</div>
	</td>
	<% } %>
	<td class="browser-meta"> 	
		<div class="meta-item"><span class="mk-icon mk-created" title="Date Created"></span><span class="sr-only">Created:</span> <%= item.getCreated() %> </div>
		<div class="meta-item"><span class="mk-icon mk-modified" title="Date Modified"></span><span class="sr-only">Modified:</span> <%= item.getChanged() %> </div>	
		<div class="meta-item"><span class="mk-icon mk-user" title="Author"></span><span class="sr-only">Author:</span> <%= item.get("user").name %></div>
	</td>
	
	<% var hit = item.get('hit'); %>
	<% if(hit){ if(hit.highlight){ %>
	<td class="search-highlight">
	    <div class="highlighted-results">
	    	 <ul>
	  		<% _.each(hit.highlight,function(data,type){ %>  
	              <% _.each(hit.highlight[type],function(highlight,id){ %>
	                  <li><strong>In <%= type %>:</strong> ...<%= Mediakron.CleanHighlight(highlight) %>...</li>
	              <% }); %>

	  		<% }); %>
        </ul>
	  		
	      </div>
	</td>
	<% } } %>
	

</tr>