h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: 400;
  line-height: 1.1;
  color: #222222;
  }
  
  h2 {
    @include rem-fallback(font-size, 38);
    margin-bottom: 20px;
    font-weight: 400;
    @include breakpoint(xxs){
      @include rem-fallback(font-size, 32);
    }
  }
  
  h3 {
    @include rem-fallback(font-size, 30);
  }
  
  h4 {
    @include rem-fallback(font-size, 26);
  }
  
  h5 {
    @include rem-fallback(font-size, 18);
  }




.font-roboto {
  font-family:"Roboto", "Helvetica Neue", Arial, sans-serif;
}

.font-roboto strong {
  font-weight: 700;
}

.font-open-sans {
  font-family:"Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.font-open-sans strong {
  font-weight: 700;
}

.font-nunito {
    font-family:"Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.font-nunito h1,
.font-nunito h2,  
.font-nunito h3,
.font-nunito #navbar li {
     font-family:"Nunito", "Helvetica Neue", Arial, sans-serif;
}

.font-merriweather  {
  font-family:"Georgia", serif;
}

.font-merriweather h1,
.font-merriweather h2,  
.font-merriweather h3,
.font-merriweather #navbar li {
   font-family:"Merriweather", "Helvetica Neue", Arial, sans-serif;
}

.font-roboto-slab {
  font-family:"Roboto", "Helvetica Neue", Arial, sans-serif;
}

.font-roboto-slab h1,
.font-roboto-slab h2,  
.font-roboto-slab h3,
.font-roboto-slab #navbar li {
  font-family:"Roboto Slab", "Helvetica Neue", Arial, sans-serif;
}

/* @group ALEGREYA */

.font-alegreya {
  font-family:"Roboto", "Helvetica Neue", Arial, sans-serif;
}

.font-alegreya h1,
.font-alegreya h2,  
.font-alegreya h3,
.font-alegreya #navbar li {
  font-family:"Alegreya", "Helvetica Neue", Arial, sans-serif;
}

/* @end */

/* @group AMATIC+JOSEFIN SANS */

.font-amatic-josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
}

.font-amatic-josefin-sans h1,
.font-amatic-josefin-sans h2,  
.font-amatic-josefin-sans h3 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 120%;
}

/* @end */

/* @group PLAYFAIR DISPLAY + ALICE */

.font-playfair {
  font-family: 'Source Sans Pro', serif;
}

.font-playfair h1,
.font-playfair h2,  
.font-playfair h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  text-transform: none;
  letter-spacing: 1px;
}

/* @end */

/* @group GOUDY + AVERAGE SANS*/

.font-goudy {
  font-family: 'Average Sans', serif;
}

.font-goudy  h1,
.font-goudy  h2,  
.font-goudy  h3 {
  font-family: 'Goudy Bookletter 1911',serif;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 1px;
}

/* @end */

h1.modularscale {
  font-size: ms(4);
}

h2.modularscale {
  font-size: ms(3);
}

h3.modularscale {
  font-size: ms(2);
}

h4.modularscale {
  font-size: ms(1);
}

p.modularscale.reading {
  font-size: ms(1);
}