html {
	font-size: 100%;
}

body {
	color:#333;
	font-weight: normal;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

$modularscale: (
  base: 1em,
  ratio: 1.414
);

/* @group Default Skin Styles */

#mediakron #header { 
  background-color:  #030303;
}
// #mediakron #header a, 
// #mediakron #header .mk-icon { 
//     color:#fff; 
// }
a { color:#4b4b4b; }
.appearance-link { color:#4b4b4b; }
.appearance-link-bg { background-color:#4b4b4b; }

/* @end */

/* @group Links */

a {
	color:#4b4b4b;
}

a:hover {
  text-decoration: none;
  color: #999;
}


.text-body a, 
.widget-box a,
.widgets--sidebar a, 
.caption a,
.story-body a, 
 {
	border-bottom: 1px solid #4b4b4b;
	box-shadow: inset 0 -1px 0 #4b4b4b;
	transition: background .15s cubic-bezier(.33,.66,.66,1);
	text-decoration: none;
}

.text-body a:hover, 
.widget-box a:hover, 
.widgets--sidebar a:hover, 
.caption a:hover,
.story-body a:hover {
  border-bottom: 3px solid #333;
  box-shadow: inset 0 -1px 0 #333;
  transition: background .15s; 
  text-decoration: none;
}

a:focus {
    border-color: #66afe9;
    transition: all .5s ease;
}

// Blockquotes

blockquote {
	padding: 0 20px !important;
	margin: 33px 0 33px 33px !important;
	font-size: 100% !important;
	border-left: 4px solid #ccc !important;
}

.readable {
	@include scut-rem-fallback(22);
	max-width: 700px;
	line-height: 33px;
}

.readable .sample_text p, 
.readable.sample_text ul, 
.readable ol, 
.readable blockquote {
	margin-bottom: 33px;
}


/* @end */



/* @group ROUNDED CORNERS */

/* Rounded corners */

.btn, 
.btn-sm, 
.btn-xs, 
.btn-md, 
.btn-default, 
.settings-field, 
#configure-site, 
#main-menu .btn-menu, 
[contentEditable=true],
#settings-context .form-control,
.edit .topics-sortable li,
.edit .selected-map,
.sp-replacer, /* Color picker */
#content-manage,
.content-action,
.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices li.search-choice,
.nav-item-main,
.edit-menu,
.wysiwyg,
#organize-structure ul li.topic,
#settings-context .manage-item,
#settings-context #content-filters,
.left-nav .navbar-collapse,
.left-nav .navbar-toggle,
.navbar-inverse .navbar-toggle,
#search,
#full-screen,
.comment-body,
#welcome-full #homepage-description-inner,
.collections-list,
.collection-links,
.timeline-marker-text,
.timeline-marker,
#settings-context #add-new-content,
.utility-page .actions a,
.annotate .zoomout,
.annotate .zoomin,
table#admin-content .collection-links,
.content-action,
#text-type,
table#admin-content .btn-add:hover,
.toggle-options,
.alert
 {
	 @extend .rounded;
}


#settings-context .nav-tabs > li > a {
	border-radius: 2px 2px 0 0;
}

.leaflet-bar a:first-child {
border-top-left-radius: 2px;
border-top-right-radius: 2px;
}

.leaflet-bar a:last-child {
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom: none;
}


/* @end */

/* @group DROPDOWN MENUS */

.dropdown-menu {
	@include scut-rem-fallback(16);
}

.dropdown-header {
	padding: 3px 20px;
	color: #222;
	font-weight: bold;
}

.dropdown-header > li > a {
	display:inline;
}

.dropdown-menu > li > a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: 200;
line-height: 1.428571429;
color: #333333;
white-space: nowrap;
}

/* @end */


/* @end */

/* @group Expander */

.expander {  
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #4b4b4b !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  $expander-arrow-width: 0.7em;
  $expander-toggle-size: 1em;
  $expander-toggle-arrow-size: $expander-toggle-size;
  $expander-toggle-margin: 1em;

  .expander-trigger {
    /*@include user-select(none);*/
/*    border-bottom: 1px solid $light-gray;*/
    color: $action-color;
    cursor: pointer;
    display: block;
/*    font-size: $expander-toggle-size;*/
/*    margin-bottom: $expander-toggle-size;
    padding-bottom: $expander-toggle-size / 4;*/
    text-decoration: none;

    &:before {
/*      font-size: $expander-arrow-width;*/
      content: "\25BC";
      margin-right: 0.5em;
    }
  }

  .expander-content p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  .expander-hidden {
    &:before {
      font-size: $expander-arrow-width;
      content: "\25BA";
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}



/* @end */

/* @group FORMS */

input, textarea {
  border: 1px solid #565656;
  margin-bottom: .5em;
  padding: 5px 7px;
  border-radius: 2px;
}

/* @end */

/* @group Accessibility */

[data-visually-hidden="true"] {
  display: none;
}

[data-visually-hidden="false"] {
  display: block;
}

/* @end */

/* @group MISC */

#story-debug {
  display: none;
}


.grippy {
  content: '....';
  width: 10px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  line-height: 5px;
  padding: 3px 4px;
  cursor: move;
  vertical-align: middle;
  margin-top: -.7em;
  margin-right: .3em;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #cccccc;
  text-shadow: 1px 0 1px black;
}
.grippy::after {
  content: '.. .. .. ..';
}

.hide {
  display: none;
}

  
/* @end */