:root {
    --mk-primary-color: #030303; /* default primary color - currently "background color" in settings */
    --mk-primary-color-contrast: #fff; /* contasting color to primary color; function: getContrastColor */
    --mk-primary-color-onwhite: #fff; /* contasting color - primary color on white; function: getContrastOnWhite */
    --mk-primary-color-tint: #444; /* tinted primary color; function: getTint */
    --mk-secondary-color: #fff; /* default secondary color - "banner link color" in settings */
    --mk-secondary-color-contrast: #030303; /* default secondary color */
}

// Primary Color - background
.primary-background, 
#mediakron #login-submit, 
#login-banner, 
#mediakron #header, 
#mediakron .sticky-filters #content-filters,  
#messages .alert-success, 
#mediakron .btn-primary, 
#mediakron .btn-primary a, 
#mediakron .btn-success, 
#content-filter li.search-choice, 
#content-user .chosen-container-single .chosen-single, 
.settings-pane .overlay header, 
.overlay header.admin-style-header, 
.search-pane.opened .overlay header, 
.site-loader#progress-bar, 
.edit-story .wysiwyg, 
.edit-story .wysiwyg-headers-inner, 
cite.annotation.highlight, 
cite.annotation.highlight, 
cite.annotation.contains-sup sup:hover, 
sup.contains-cite:hover, 
cite.annotation.highlight, 
cite.annotation.contains-sup.highlight sup, 
sup.contains-cite.highlight, 
.home-menus--grid .homepage-menu-title, 
#navbar .dropdown-container li.dropdown-title, 
.home-image--half .home-template__info, 
.home-image--full .home-template__info,  
.timeline-category .add-category, 
.folder-navigation .mk-icon, 
.folder-navigation a:hover { 
    background-color: var(--mk-primary-color);
}

// Primary color - font color
.edit-story .wlink-tool button, 
#mediakron #navbar #user .mk-user.level-1, 
.folder-navigation a:hover .mk-icon { 
     color: var(--mk-primary-color);
}

// Primary color contrast - Background 
// function: getContrastColor
.settings-pane .overlay .page-options .mk-icon.mk-close::before, 
.settings-pane .overlay .page-options .mk-icon.mk-close::after, 
.search-pane .overlay .page-options .mk-icon.mk-close::before, 
.search-pane .overlay .page-options .mk-icon.mk-close::after, 
.overlay header.admin-style-header .page-options .mk-icon.mk-close::before, 
.overlay header.admin-style-header .page-options .mk-icon.mk-close::after, 
.add-content .edit-story .story-edit-page-options .page-options .mk-icon.mk-close::before, .add-content .edit-story .story-edit-page-options .page-options .mk-icon.mk-close::after, .editing-enabled .story-template .story-edit-page-options .page-options .mk-icon.mk-close::before, .editing-enabled .story-template .story-edit-page-options .page-options .mk-icon.mk-close::after, #navbar .close-modal .mk-icon.mk-close::after, #navbar .close-modal .mk-icon.mk-close::before, .edit-story .wlink-tool button, .folder-navigation a:hover .mk-icon { 
    background-color: var(--mk-primary-color-contrast);
}

// Primary color contrast - font color
// function: getContrastColor
#mediakron .settings-pane .overlay header h2, 
.settings-pane .overlay header h1, 
#mediakron .settings-pane .overlay h2 .mk-icon, 
.overlay .page-options a, 
.overlay .page-options button, 
.add-story-header .page-options button.close-button, 
.overlay .page-options .option-help a, 
.add-story-header .page-options a, 
.add-story-header .page-options button, 
.search-pane.opened .overlay header h2,  
.overlay header.admin-style-header h2, 
.overlay header.admin-style-header .mk-icon, 
.search-pane.opened .overlay header .mk-search, 
.edit-story .wysiwyg-button, 
.editing-enabled .story-template .story-edit-page-options .page-options .option-help a .mk-icon,  .timeline-category .add-category, 
.folder-previous .mk-arrow-left, 
.folder-navigation .mk-icon, 
.folder-navigation a:hover .mk-icon { 
    color: var(--mk-primary-color-contrast);
}

// Primary color contrast - borders
// function: getContrastColor
#navbar .main-menu .add-menu-navbar.no-menus a, 
.site-loader#progress-bar { 
    border-color: var(--mk-primary-color-contrast);
}

// Primary color on white - background
// use color if it's dark enough on white background; otherwise, use black
// function: getContrastOnWhite
cite.annotation.highlight, cite.annotation.highlight, cite.annotation.contains-sup sup:hover, sup.contains-cite:hover, cite.annotation.highlight, cite.annotation.contains-sup.highlight sup, sup.contains-cite.highlight { 
    background: var(--mk-primary-color-onwhite);
}

// Primary color on white - background
.annotation-popup .mk-icon { 
    color: var(--mk-primary-color-onwhite);
}

// Primary color on white - background
.annotation-popup, .annotation-item:hover, 
.annotation-item.highlight { 
    border-color: var(--mk-primary-color-onwhite);
}

// Provide tinted color for backgrounds
// function: getTint
.site-loader .progress  { 
    background-color:  var(--mk-primary-color-tint);
}

// Secondary color (banner link color in settings) - color
.secondary-font, 
#mediakron #login-submit, 
#mediakron #header a, 
#mediakron #header .mk-icon, 
#mediakron #header button, 
.sticky-filters#content-manage h3, 
.add-menu-navbar a, 
.add-menu-navbar .mk-icon, 
#messages .alert-success, 
#mediakron .btn-primary, 
#mediakron .btn-success, 
#login-banner a, 
.loading-message,  
#content-filter li.search-choice,  
#content-user .chosen-container-single .chosen-single span, .site-loader #progress-text,
.home-menus--grid .homepage-menu-title, 
#navbar .dropdown-container li.dropdown-title, 
.home-image--full h1, 
.home-image--half h1, 
.home-image--full .subtitle, 
.home-image--half .subtitle  { 
    color: var(--mk-secondary-color);
}

// Secondary color - background
#navbar #user .mk-user.level-1, 
.secondary-menu li.level-1:hover { 
    background: var(--mk-secondary-color);
}