$theme-colors: (
  "primary":#225362
  // "primary":#030303
);

$navbar-dark-color:                 white ;
$navbar-dark-hover-color:           gray;

$grey-on-white1: #565656;
$grey-on-white2: #616161;


$highlight: #fff36c !default;
$highlight-light: #fff8aa !default;


$nav-pills-border-radius: 0rem;

/* Make input border colors accessible on white */
$input-border-color: #616161;