h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
}

/* Tables */

.table thead th {
  border-bottom: none;
}


/* radio disabled color */
// .custom-control-label::before {
//     background:$gray-600;
// }

/* Collapse Arrows */

.collapsed>.when-opened,
:not(.collapsed)>.when-closed {
  display: none;
}


/* Position Nav Bar Toggler Button in top right*/
.navbar-toggler {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.navbar-toggler {
  position: absolute;
  top: .5rem;
  right: 0;
  height: auto;
}

.collapsing {
  position: relative;
  height:  !important;
  width: 100%;
  overflow: hidden;
  transition: height 0 ease !important;
  transition: width .5 ease !important;
}


