
/* radio disabled color */
// .custom-control-label::before {
//     background:$gray-600;
// }


/* Loading Spinner */

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-spinner {
  animation: spinner 1s linear infinite;
}

/* Position Nav Bar Toggler Button in top right*/
.navbar-toggler {
  position: absolute;
  top: 0;
  right: 0;
  height:100%;
}

.navbar-toggler {
  position: absolute;
  top: .5rem;
  right: 0;
  height:auto;
}

  .collapsing {
    position: relative;
    height:    !important;
    width:100%;
    overflow: hidden;
    transition: height 0 ease !important; 
    transition: width .5 ease !important; 
  }

  // .navbar-collapse {
  //   position: fixed;
  //   top: 56px;
  //   bottom: 0;
  //   width: 0;
  //   padding-right: 1rem;
  //   padding-left: 1rem;
  //   overflow-y: auto;
  //   background-color: var(--gray-dark);
  //   transition: width .5 ease !important; 
  // }

  // .navbar-collapse.show {
  //   width:100%;
  //   transition: width .5 ease !important; 
  // }



/* Animated toggle hamburger menu  */
/* https://julienmelissas.com/animated-x-icon-for-the-bootstrap-navbar-toggle/ */

.navbar-toggler {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
    background-color: #fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggler[aria-expanded="false"] {

  height:100%;
  top:0; 

  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}





// * {
//   margin: 0;
//   padding: 0; 
// }

// /* Icon 1 */

// .navbar-toggler {
//   width: 36px;
//   height: 36px;
//   transition: .5s ease-in-out;
//   cursor: pointer;
// } 

// .navbar-toggler span {
//   display: block;
//   position: absolute;
//   height: 4px;
//   width: 100%;
//   background: #fff;
//   border-radius: 9px;
//   opacity: 1;
//   left: 0;
//   transition: .25s ease-in-out;
// }

// /* Icon 3 */

// .navbar-toggler span:nth-child(1) {
//   top: 0px;
// }

// .navbar-toggler span:nth-child(2), .navbar-toggler span:nth-child(3) {
//   top: 8px;
// }

// .navbar-toggler span:nth-child(4) {
//   top:16px;
// }

// .navbar-toggler[aria-expanded="true"] span:nth-child(1) {
//   top: 16px;
//   width: 0%;
//   left: 50%;
// }

// .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
//   transform: rotate(45deg);
// }

// .navbar-toggler[aria-expanded="true"] span:nth-child(3) {
//   transform: rotate(-45deg);
// }

// .navbar-toggler[aria-expanded="true"] span:nth-child(4) {
//   top: 16px;
//   width: 0%;
//   left: 50%;
// }


/* Header with line behind */

.line-behind {
  display: flex;
  align-items: center;
}

.line-behind::after {
  content: "";
  height: .5rem;
  flex: 1 1 auto;
  margin-left: 1rem;
  background-color: $primary;
  position:relative;
  top:.1rem;
} 


.nav-line-behind .nav-link.active, 
.nav-line-behind .show > .nav-link {
  display: flex;
  align-items: center;
}

.nav-line-behind .nav-link.active::after,
.nav-line-behind .show > .nav-link::after { 
// .nav-line-behind .nav-link.active::before,
// .nav-line-behind .show > .nav-link::before 
  content: "";
  height: .4rem;
  flex: 1 1 auto;
  background-color: #225362;
  position: relative;
  width: 1rem;
} 

.nav-line-behind .nav-link.active::after,
.nav-line-behind .show > .nav-link::after {
  margin-left: .5rem;
}

// .nav-line-behind .nav-link.active::before,
// .nav-line-behind .show > .nav-link::before {
//   margin-right: .5rem;
// } 


.nav-underline .nav-link.active, 
.nav-underline .show > .nav-link {
  border-bottom:5px solid #225362;
}



.modal-dialog-right.show .modal-dialog{
    margin: 0 0 1rem auto;
}

.modal-dialog-right .modal-dialog .modal-content {
border-radius:0;
height:100vh;
}

.modal-dialog-full.show .modal-dialog{
    margin: auto;
    max-width:none;
    width:100% !important;
}

.modal-dialog-full .modal-dialog .modal-content {
border-radius:0;
height:100vh;

}


/* Add padding when savebar is present */
.with-savebar {
  padding-bottom: 5rem;
}

// .sidebar-left {
//     position: fixed;
//     top: 2.5em;
//     bottom: 0;
//     // z-index: 100; /* Behind the navbar */
//     padding: 0 0 0; /* Height of navbar */
//     border-right:1px solid #ccc;
//     padding-top:.5rem;
//     width:15rem;
//     padding-top:2em;
//   }
  
  // .sidebar-sticky {
  //   position: relative;
  //   top: 3.5em;
  //   height: calc(100vh - 3.5em);
  //   overflow-x: hidden;
  //   overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  // }
  
  // @supports ((position: -webkit-sticky) or (position: sticky)) {
  //   .sidebar-sticky {
  //     position: -webkit-sticky;
  //     position: sticky;
  //   }
  // }
  
  .sidebar-left .nav-link {
    font-weight: 500;
    color: #333;
    margin-left: 0;
  }
  
  .sidebar-left .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar-left .nav-link.active {
    // background: #333;
    color:#fff;
  }
  
  .sidebar-left .nav-link:hover .feather,
  .sidebar-left .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  .sidebar-left-wrapper {
    margin: auto auto auto 15rem;
  }

  .sidebar-left-main {
    max-width: 40em; 
    margin: 2em auto auto auto;
  }


  .centered-main {
    max-width: 40em; 
    margin: auto;
  }
  

  .z-index-1 {
    z-index:1;
  }

.make-first {
  order:-1;
} 


/* Comeing out in next version of Bootstrap  */
/* https://github.com/twbs/bootstrap/blob/v4-dev/scss/utilities/_stretched-link.scss */
  .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
  }

  .heading-underlined {
    border-bottom: 2px solid #333;
    margin-bottom: 2rem;
    padding-bottom:.25rem;
  }

  .heading-nudge-up {
    position: relative;
    top: -.5rem;
  }



/* Floating Labels */
.floating-label {
  position: relative;
}

.floating-label > input, 
.floating-label div > input {
  color: #000;
}

.floating-label > input, 
.floating-label div > input,
.floating-label > label,
.floating-label div > label {
  padding:0.375rem 0.75rem;
}

.floating-label > label,
.floating-label div > label {
  position: absolute;
  top: 0;
  width:100%;
  display: block;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #616161;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.floating-label input::placeholder {
  color: transparent;
}

.floating-label input:not(:placeholder-shown) {
  // border-width: 2px;
  border: 2px solid var(--primary);
}

.floating-label input:not(:placeholder-shown) ~ label {
  padding: 0 0.25rem;
  font-size: .7rem;
  color:var(--primary);
  position: absolute;
  left: .5rem;
  top: -.6rem;
  width: auto;
  height: auto;
  background: #fff;
  text-transform:uppercase;


}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .floating-label > label,
  .floating-label div > label {
    display: none;
  }
  .floating-label input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .floating-label > label,
  .floating-label div > label {
    display: none;
  }
  .floating-label input:-ms-input-placeholder {
    color: #777;
  }
}