/* @group TAGS IN DETAILS */

.details-tags ul {
	padding-left: 0;
	margin-left: 0;
}

.details-tags ul li {
	list-style: none;
	display: inline-block;
	margin-right: .5em;
	border-radius: 3px;
	padding: 0em 0.5em;
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: .5em;
	@include rem-fallback(font-size, 16);
	background: #fafafa;
	padding: .2em .4em;
}

.details-tags ul li:hover {
  background: #666;
  color: #fff;
}

.details-tags ul li:hover a {
  color: #fff;
}

.details-tags ul li .mk-tag {
	@include rem-fallback(font-size, 14);
	top: 2px;
	left: 1px;
}

.details-tags ul li a,
.details-tags ul li a:hover{
	text-decoration: none;
	border-bottom: none;
	box-shadow: none;
}


/* @end */