<!--<h3 class="manage-title sr-only">Editing Options<%= title %></h3>
<ul class="nav nav-tabs" role="tablist">
    <li <% if(current == 'edit'){ %>class="active"<% } %>><a href="/settings/manage/edit/<%= Mediakron.controller.getPath() %>">Edit</a></li>
    <li <% if(current == 'organize'){ %>class="active"<% } %>><a href="/settings/manage/organize/<%= Mediakron.controller.getPath() %>">Organize</a></li>
    <li <% if(current == 'select'){ %>class="active"<% } %>><a href="/settings/manage/select/<%= Mediakron.controller.getPath() %>">Add</a></li>
</ul> -->
<div id="manage">
    
</div>