<!-- # Admin Pane - Statistics # -->

    <div class="admin-pane item-revisions overlay overlay-full">
        <header class="overlay-header">
            <div class="header-inner">
                <h2>Copy "<%= model.get("title") %>" to another site</h2>

                <nav>
                    <ul class="page-options">
                        <li class="option-close">	  	
                        	<button class="btn btn-sm btn-default close-button" aria-label="Close">
                        		<span class="mk-icon mk-close"></span>
                        		<span class="button-text"> Close</span> 
                        	</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div id="admin-site-settings" class="site-settings-revisions">
          <p>You can copy items without children (images, audio, video, and files) to another site in which you are an administrator.</p>
          <label>Select a site:</label>
          <select id="choose-site">
            <% var site; for(var i = 0;i<sites.length;i++){ site = sites[i]; if(site.data != Mediakron.Data.models.items){ %>
              <option value="<%= site.data %>"><%= site.name %></option>
            <% } } %>
            </select>
            <button id="transmit" type="submit" class="btn btn-primary submit btn-sm"> Copy</button>
        </div>

    </div>
