<% if(uri){ %>
<div class="current-folder">
	<strong>Current Folder: </strong><span class="
	current-folder-title" style="background: <%= color %>;color: <%= getContrastColor(color) %>"><%= title %></span>

	<span id="remove-folder" class="remove-folder">
		<span class="mk-icon mk-remove" title="Remove Item"></span><span class="sr-only">Remove Item</span>
	</span>
</div>

<div class="folder-color-edit">
  Edit Folder Color: <input id="layer-color" type="color" name="layer-color" value="<%= color %>">
</div>

<% } %>