<!-- ===== Template for Text Content Type Edit Form (deprecated) ===== -->

<div class="edit-form text-form non-collection overlay overlay-half">
  <header class="overlay-header">
    <div class="header-inner">
      <h2><%= label %></h2>	
      <nav>
        <ul class="page-options"> 
          	<li class="option-help">	  	
              <a class="btn btn-sm btn-default help-link" href="<%= Mediakron.Settings.basepath %>help/text"><span class="mk-icon mk-help"><span class="sr-only">Help with Texts</span></span></a>
          	</li>
          	<li class="option-close">	  	
          		<button class="btn btn-sm btn-default close-button" aria-label="Close">
            		<span class="mk-icon mk-close"></span>
            		<span class="button-text"> Close</span> 
            	</button>
          	</li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="admin-edit-text" class="edit">
  	<div id="item-content">
      	<div id="editors" class="hide"></div>
  		    <form role="form">
  	
  			<!-- === SECTION: BASIC INFORMATION === --> 
  			   <fieldset class="basic-information">
  					
  					<legend>Title</legend>
  					
  					<!-- Title Field--> 
  					<div class="field title-field">
  						<label for="title" class="sr-only">Title:</label>
  						<div id="title" aria-labelledby="title" role="textbox" aria-multiline="false" contenteditable="true" class="model-field single-line" model-attr="title" data-placeholder="Add a title" ><%- title %></div>
  					</div>
  					  
  					  <!-- Caption Field--> 
  			       <div class="rich-text field">
  			   	<label for="caption">Caption <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/caption"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Captions</span></span></a></label>
  			   	<div id="caption" class="model-field enable-wysiwyg" aria-labelledby="caption" role="textbox" aria-multiline="true" contenteditable="true" class="model-field enable-wysiwyg" model-attr="caption"  data-placeholder="A brief description/subtitle " edit-type="html"><%= caption %></div>
  			   	<%= wysiwyg %>
  			       </div>
  					    <div class="author-date">Created <%= model.getCreated() %> by <%= model.get("user").name %>. Last updated <%= model.getChanged() %>. </div>		
  			 </fieldset>
  								
  			<fieldset>				
  			<legend>Content</legend>
  			
  			<div class="field text-type-field">
  				<label for="text-type" class="text-type-label">Text Type <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/text-types"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Text Types</span></span></a></label>
  				<select class="form-control select-text" id="text-type" model-attr="text" >
  					<% _.each(Mediakron.Settings.TextTypes,function(info,type){ %>
  						<option value="<%= info.id %>" <%= Mediakron.Selected(text.type,info.id) %>><%= info.name %></option>
  					<% }); %>
  				</select>
  			</div>
  			<% var hide=""; if(text.type == 'pdf' || text.type == 'word' || text.type == 'ppt' || text.type == 'image'){ hide = 'hide'; } %>
  		   <div class="rich-text field body-field <%= hide %>">	
  				<label for="body">Text</label>
  				<div id="body" class="model-field enable-wysiwyg" contenteditable="true" model-attr="body"  data-placeholder="Enter text.  To add formatting, highlight text and the edit bar will appear" edit-type="html"><%= body %></div>
  				<%= wysiwyg %>
  			</div>
  
  			<div class="field edit-image clearfix">
  				<label for="file">File/Image Upload</label> 	
  				<% var thumbnail = ''; if(text.url){ thumbnail = Mediakron.Image.style(text.url,'medium'); } var removeClass = 'hide'; if(thumbnail !== ''){ removeClass = ''; } console.log(thumbnail); %>
  				<div class="edit-thumbnail">
  				    <% if(text.url && Mediakron.Settings.FileTypes.images.indexOf(text.mime) > -1){ %>
  					    <%= Mediakron.Image.theme(Mediakron.Image.style(text.url,'medium'),text.url,title,'img-responsive') %>
  					<% } %>
  				</div>					
  				<button id="remove-file" type="submit" class="btn submit btn-no-style <%= removeClass %>"><span class="mk-icon mk-remove"> </span> <span class="sr-only">Remove</span></button>
                  <button id="upload-file" type="submit" class="btn submit btn-primary"><span class="mk-icon mk-upload"> </span> Upload</button>
                  <div class="field field-alt <%= removeClass %>">
      					<label for="alt">Alternative Text <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/alt-text"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Alternative Text</span></span></a></label>
      					<input class="form-control model-field" id="alt" model-attr="image" placeholder="Describe images for web accessibility" value="<%- image.alt %>">
      				</div>
  				<input id="text-file" type="file" placeholder="File"  model-attr="text" />
  				
  				<div id="file-progress-bar">
  					<div id="file-progress-text">Loading</div>
  					<div class="progress progress-striped active">
  						<div class="progress-bar" style="width: 0%"></div>
  					</div>
  				</div>  
  			</div>
  			<% hide=""; if(!text.type ||  text.type == '' || text.type == 'tei' || text.type == 'html' || text.type == 'text'){ hide = 'hide'; } %>
  			
  			</fieldset>
  			
        <!-- === SECTION: DESCRIPTION === --> 
		    <fieldset>   
            
            <legend>Description <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/description"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Description</span></span></a></legend>

              <!-- Description Field --> 
              <div class="rich-text field">	
              <label class="sr-only" for="description">Description</label>
              <div id="description" class="model-field enable-wysiwyg" contenteditable="true" model-attr="description"  data-placeholder="A longer description" edit-type="html"><%= description %></div>
              <%= wysiwyg %>
              </div>	
                
			</fieldset>
			
			<!-- === SECTION: TRANSCRIPT === -->  
			 <fieldset>  
			<legend>Transcript  <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/transcript"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Transcript</span></span></a></legend>
			
			<!-- Transcript Field --> 
			<div class="rich-text field">	
					<label class="sr-only" for="transcript">Transcript</label>
					<div id="transcript" class="model-field enable-wysiwyg" contenteditable="true" model-attr="transcript"  data-placeholder="A supplemental text like a verbal summary or translation" edit-type="html"><%= transcript %></div>
					<%= wysiwyg %>
			</div>
			</fieldset>
			
      <!-- === SECTION: TAGS === -->  
      
      <fieldset class="field-group-tags">			
      	<legend>Tags <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/tags"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Tags</span></span></a></legend>
      	
      	<div class="field">
      		<legend class="sr-only">Tags for this Item</legend>
      		<ul id="tag-list">
      		    <% var curtags = {}; _.each(tags,function(tag){ curtags[tag.get('uri')] = true; %>
      		        <li uri="<%= tag.get('uri') %>"><span class="mk-icon mk-tag"></span> <%= tag.get('title') %><button class="remove-tag btn submit btn-no-style"><span class="mk-icon mk-remove"> </span> <span class="sr-only">Remove Tag</span></button></li>
      		    <% }) %>
      		</ul>
      	</div>
      		
      	<!-- create new tag field --> 
      	<div class="field">
      		<label class="add-tags" for="description">Create Tags</label>
      		<input id="tag-field" class="model-field" model-attr="tags" size="50" placeholder="Example: tag one, tag two" value="<%= model.getTagsComma() %>">
      		<button class="add-field-tag btn btn-primary"><span class="mk-icon mk-add"> </span> Add</button>
      	</div>
      	
      	<div class="all-tags field">
            <label for="choose-tag">Add Tags</label>
            <select id="choose-tag" data-placeholder="Choose an existing tag" multiple>
                <% _.each(Mediakron.items.where({type:'tag'}),function(tag){ %>
                    <option value="<%= tag.get('uri') %>"><%= tag.get('title') %></option>
                <% }); %>
            </select>
  	    </div> 	
      	
      </fieldset>
      
      <!-- === DATE === -->  
		 <fieldset id="date-fields" class="js-accordion__panel">
	 		  <legend class="js-accordion__header">Date</legend>
	 	   <div class="accordion-content">			    
	        <%= dateWidget %>
	 	   </div>
	 	 </fieldset>
	 	 
  		<!-- === SECTION: METADATA === -->
  		<fieldset>		
  			<legend>Metadata <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/source"><span class="mk-icon mk-help get-help"><span class="sr-only">Help with Metadata</span></span></a></legend>
  				
  				<div class="author-date">Created <%= model.getCreated() %> by <%= model.get("user").name %>. Last updated <%= model.getChanged() %>. </div>
  				
  				<ul class="accordion-tabs">
  				
  				  <li class="tab-header-and-content">
  				    <a href="javascript:void(0)" class="is-active tab-link">Source </a>
  				    <div class="tab-content is-open" style="display: block;">  
  				    
  				  	<div class="form-instructions"> Use the source fields to give attribution for item content with a citation and/or web address.</div>
  				  		<div class="rich-text field">
  				  			<label for="citation">Reference/citation</label> 
  				  		    <div id="citation" class="model-field enable-wysiwyg" contenteditable="true" model-attr="metadata"  data-placeholder="Provide a reference/citation for this item" edit-type="html"><%= metadata.citation %></div>
  				  			<%= wysiwyg %>
  				  		</div>
  				  		<div class="field">
  				  			<label for="source">Source URL</label>
  				  			<div class="model-field" contenteditable="true" id="source" model-attr="metadata" data-placeholder="http://www..." type="email"><%- metadata.source %></div>
  				  		</div>
  				  			<%= wysiwyg %>
  					  	</div>
  				  </li>
  		 
  				  <li class="tab-header-and-content">
  				    <a href="javascript:void(0)" class="tab-link">More Metadata</a>
  				    <div class="tab-content">			    
  
  				    	<%= metadataForm %>
  				    </div>
  				  </li>
  				</ul>
  			</fieldset>

				
  			<!-- === SECTION: APPEARANCE=== -->	

  				<%= sidebarOpts %>
      
  			<%= savebar %>

  
          </form>
  	</div><!-- End #item -->				    
  </div>

</div>

<div class="overlay-bg"></div>