<div class="comparison-item--story"> 
	
	<header class="title-box">
		<h2 class="go-to-item"> <a href="<%= uri %>"><%= title %></a></h2>
		<% if(caption.length > 0){ %><div class="caption"><%= caption %></div><% } %>
        <div class="compare-actions">
            <div class="show-description act">
			     <button class="btn btn-default comparison-description-button tooltip--n" data-tooltip="More item 		information"><span class="mk-icon mk-info"></span><span class="sr-only">Item Information</span></button>
			 </div>
        </div>
        <div class="comparison-description hidden">
        
        <aside class="widgets widgets--sidebar widgets--sidebar-<%= uri %>"></aside>
  	    
  	    <div class="widgets widgets--below widgets--below-<%= uri %>">
  	    	<div class="widgets__description widget-box"></div>
  	    	<div class="widgets__transcript widget-box"></div>
  	    	<div class="widgets__details widget-box"></div>
  	    </div>		
  	    
        </div>
        
    </header>
    
	<div class="tour-item-content">
	  <div class="story-content">
	  	<div class="story-body body" data-placeholder="Add text or insert content"><%= renderedHtml %></div>
	  </div>
	</div>
	
	</div>