<article class="template story-template story-template--half">

    <div class="content-primary clearfix">
    
     <nav class="story-edit-page-options">
       <ul class="page-options"> 
       	<li class="option-help">	  	
       	  <a class="btn btn-sm btn-default help-link" href="<%= Mediakron.Settings.basepath %>help/story-editing"><span class="mk-icon mk-help"></span><span class="editing-stories-text"> Editing Tips</span></a>
       	</li>
       	<li class="option-close">	  	
       		<button class="btn btn-sm btn-default close-button close-story-edit" aria-label="Close">
         		<span class="mk-icon mk-close"></span>
         		<span class="button-text"> Close</span> 
         	</button>
       	</li>
         </ul>
       </nav>
    
  <div class="item-header-container <% if(image){ %>background-image-active<% } %>"  <% if(image){ %> style="background-image: url(<%= Mediakron.Image.style(image.uri,"full") %>);" <% } %>">
    	<header class="item-header">
    	  <div class="item-nav">
    	    <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav>
    	    <nav class="widgets-menu widgets-menu-story">
    	    <ul class="page-options page-options-story js-nav-system">
    	    
        	    <li class="option-notes">
        	     <button class="btn btn-sm btn-default open-annotations-sidebar hide tooltip--s" aria- label="Open Notes Sidebar" data-tooltip="View All Notes">
        	     		<span class="mk-icon mk-comment"></span>
        	     		<span class="button-text"> Notes <span class="notes-count"></span></span> 
        	      </button>
							</li>
							
							<li class="option-comments hide">
							    <button class="btn btn-sm btn-default open-comments-sidebar tooltip--s" aria- label="Open Comments Sidebar" data-tooltip="View All Comments">
							        <span class="mk-icon mk-comment"></span>
							        <span class="button-text"> Comments <span class="comment-count"></span></span>
							    </button>
							</li>

    	     
        	    
        	    <% if(model.canEdit(false)){ %>
      	    
        	      <li class="option-edit option-options dropdown js-nav-system__item"  >
        	      	
        	      	<button class="btn btn-sm btn-default edit-button js-nav-system__link"><span class="toggles mk-icon mk-edit"></span><span class="button-text"> Edit </span></button>
  
          	      <ul class="dropdown-container js-nav-system__subnav" data-visually-hidden="true">
              	    <li class="option-edit-content js-nav-system__subnav__item">
              	    <button id="edit-story" type="submit" class="btn btn-sm btn-default js-nav-system__subnav__link"><span class="toggles mk-icon mk-paragraph-left"></span> <span class="button-text"> Story Content </span></button>    	
              	    </li>  
              	          	    
              	    <li class="option-edit-details js-nav-system__subnav__item">
              	    	<a class="btn btn-sm btn-default js-nav-system__subnav__link" class="edit-button" type="button" href="<%= basepath %>settings/manage/edit/<%= Mediakron.controller.getEditPath(uri) %>" aria-label="Edit Story" title="Edit Story"><span class="toggles mk-icon mk-info"></span><span class="button-text"> Details & Layout</span> </span></a>
              	    </li>
              	  </ul>
            	    
            	   </li>
          	    
          	    <% } %>	
          	    
          	    
          	   	<% if(item.canEdit(false)){ %>   
          	     <li id="secondary-options" class="option-options js-nav-system__item" >
          	      <button class="btn btn-sm btn-default button-secondary-options js-nav-system__link"><span class="mk-icon mk-ellipsis"></span>
          	      <span class="button-text"> Options</span>
          	      </button>
          	       <ul class="dropdown-container js-nav-system__subnav right-align" data-visually-hidden="true">
          	         <li class="option-view-revisions js-nav-system__subnav__item">
          	            	<a class="edit-this btn btn-default btn-sm js-nav-system__subnav__link" href="<%= item.revisionUrl() %>" aria-label="View Revisions <%= item.getNormalType() %>" title="View Revisions <%= item.getNormalType() %>">
          	                  	<span class="mk-icon mk-modified"></span><span class="button-text"> Revisions </span>             
          	              	</a>
          	         </li> 
          	     		 <% if(item.canDestroy(false)){ %>
          	     		 <li class="js-nav-system__subnav__item"><%= item.deleteLink() %> </li>
          	     		 <% } %>	
          	     		 
          	     		 <% if(item.canUnpublish(false)){ %>
          	     		 <li  class="js-nav-system__subnav__item"><% if(item.get('published') == 1){ %><%= item.unpublishLink() %><% }else{ %><%= item.publishLink() %><% } %></li>
          	     		 <% } %>	
          	     		 
          	     		 <% if(item.canDuplicate(false)){ %>
          	     		 <li  class="js-nav-system__subnav__item"><%= item.duplicateLink() %> </li>
          	     		 <% } %>
          	     		 
          	     		  <% if(item.canArchive(false)){ %>
          	     		 <li  class="js-nav-system__subnav__item"><% if(item.get('archived') == 1){ %><%= item.restoreLink() %><% }else{ %><%= item.archiveLink() %><% } %></li>
          	     		 <% } %>	
          	     		 <% if(item.canLock(false)){ %>
          	     		 <li  class="js-nav-system__subnav__item"><% if(item.get('locked') == true){ %><%= item.unlockLink() %><% }else{ %><%= item.lockLink() %><% } %></li>
          	     		 <% } %>	
          	     		 
          	     		 <% if(item.canTransmit(false)){ %>
          	     		 <li  class="js-nav-system__subnav__item"><%= item.transmitLink() %></li>  
          	     		 <% } %>	 
          	       </ul>
          	     </li>
          	     <% } %>      	    
        	    <li class="option-new-window">	  	
        	    		<a class="btn btn-sm btn-default" href="<%= uri %>" title="View in New Window">
        	      		<span class="mk-icon mk-new-window"></span>
        	      		<span class="button-text"> New Window</span> 
        	      	</a>
        	    </li>
        	    <li class="option-close">	  	
        	    		<button class="btn btn-sm btn-default close-button close-item-overlay close-story-overlay" aria-label="Close">
        	     		<span class="mk-icon mk-close"></span>
        	     		<span class="button-text"> Close</span> 
        	     	</button>
        	    </li>
              
        	  </ul>
    	    </nav>
    	  </div>
    		  <div class="item-header-inner">
    		    <h1 class="story-title" data-placeholder="Add a Title"><%= title %></h1>
    		  <% if(caption.length){ %><div class="caption"><%= caption %></div><% } %>
    		  </div>
    		  <ul class="page-options"></ul>
    		</header>
  </div>	
  
    	<header class="sticky-header">
    	  <h2><%= title %></h2>
    	  <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav>
    	  <ul class="page-options"><li class="option-close">	  	
    	      		<button class="btn btn-sm btn-default close-button close-item-overlay close-story-overlay" aria-label="Close">
    	        		<span class="mk-icon mk-close"></span>
    	        		<span class="button-text"> Close</span> 
    	        	</button>
    	      </li></ul>
    	
    	  <ul class="page-options page-options-story js-nav-system">
    	       <%= model.getStatus() %>
             <li class="option-notes">
              <button class="btn btn-sm btn-default open-annotations-sidebar hide tooltip--s" aria- label="Open Notes Sidebar" data-tooltip="View All Notes">
              		<span class="mk-icon mk-asterisk"></span>
              		<span class="button-text"> Notes <span class="notes-count"></span> 
               </button>
						 </li>     
						 
						 <li class="option-comments hide">
								<button class="btn btn-sm btn-default open-comments-sidebar tooltip--s" aria- label="Open Comments Sidebar" data-tooltip="View All Comments">
										<span class="mk-icon mk-comment"></span>
										<span class="button-text"> Comments <span class="comment-count"></span></span>
								</button>
							</li>   
    	    
            	    <% if(model.canEdit(false)){ %>
          	    
            	      <li class="option-edit option-options dropdown js-nav-system__item"  >
            	      	
            	      	<button class="btn btn-sm btn-default edit-button js-nav-system__link"><span class="toggles mk-icon mk-edit"></span><span class="button-text"> Edit </span></button>
      
              	      <ul class="dropdown-container js-nav-system__subnav" data-visually-hidden="true">
                  	    <li class="option-edit-content js-nav-system__subnav__item">
                  	    <button id="edit-story" type="submit" class="btn btn-sm btn-default js-nav-system__subnav__link"><span class="toggles mk-icon mk-paragraph-left"></span> <span class="button-text"> Story Content </span></button>    	
                  	    </li>  
                  	          	    
                  	    <li class="option-edit-details js-nav-system__subnav__item">
                  	    	<a class="btn btn-sm btn-default js-nav-system__subnav__link" class="edit-button" type="button" href="<%= basepath %>settings/manage/edit/<%= Mediakron.controller.getEditPath(uri) %>" aria-label="Edit Story" title="Edit Story"><span class="toggles mk-icon mk-info"></span><span class="button-text"> Details & Layout</span> </span></a>
                  	    </li>
                  	  </ul>
                	    
                	   </li>
              	    
              	    <% } %>	
              	    
              	    
              	   	<% if(item.canEdit(false)){ %>   
              	     <li id="secondary-options" class="option-options js-nav-system__item" >
              	      <button class="btn btn-sm btn-default button-secondary-options js-nav-system__link"><span class="mk-icon mk-ellipsis"></span>
              	      <span class="button-text"> Options</span>
              	      </button>
              	       <ul class="dropdown-container js-nav-system__subnav right-align" data-visually-hidden="true">
              	         <li class="option-view-revisions js-nav-system__subnav__item">
              	            	<a class="edit-this btn btn-default btn-sm js-nav-system__subnav__link" href="<%= item.revisionUrl() %>" aria-label="View Revisions <%= item.getNormalType() %>" title="View Revisions <%= item.getNormalType() %>">
              	                  	<span class="mk-icon mk-modified"></span><span class="button-text"> Revisions </span>             
              	              	</a>
              	         </li> 
              	     		 <% if(item.canDestroy(false)){ %>
              	     		 <li class="js-nav-system__subnav__item"><%= item.deleteLink() %> </li>
              	     		 <% } %>	
              	     		 
              	     		 <% if(item.canUnpublish(false)){ %>
              	     		 <li  class="js-nav-system__subnav__item"><% if(item.get('published') == 1){ %><%= item.unpublishLink() %><% }else{ %><%= item.publishLink() %><% } %></li>
              	     		 <% } %>	
              	     		 
              	     		 <% if(item.canDuplicate(false)){ %>
              	     		 <li  class="js-nav-system__subnav__item"><%= item.duplicateLink() %> </li>
              	     		 <% } %>
              	     		 
              	     		  <% if(item.canArchive(false)){ %>
              	     		 <li  class="js-nav-system__subnav__item"><% if(item.get('archived') == 1){ %><%= item.restoreLink() %><% }else{ %><%= item.archiveLink() %><% } %></li>
              	     		 <% } %>	
              	     		 <% if(item.canLock(false)){ %>
              	     		 <li  class="js-nav-system__subnav__item"><% if(item.get('locked') == true){ %><%= item.unlockLink() %><% }else{ %><%= item.lockLink() %><% } %></li>
              	     		 <% } %>	
              	     		 
              	     		 <% if(item.canTransmit(false)){ %>
              	     		 <li  class="js-nav-system__subnav__item"><%= item.transmitLink() %></li>  
              	     		 <% } %>	 
              	       </ul>
              	     </li>
              	     <% } %>
              	     	   
    	    <li class="option-close">	  	
    	    	<button class="btn btn-sm btn-default close-button close-item-overlay close-story-overlay" aria-label="Close">
    	    		<span class="mk-icon mk-close"></span>
    	    		<span class="button-text"> Close</span> 
    	    	</button>
    	    </li>
    	  </ul>
    	    	
    	</header>
		
      <div class="content-widget-container">  
      			
       <div class="story-content">
       	<div class="story-edit-left-bind"></div>
       	<div id="story-body" class="story-body body" data-placeholder="Add text or insert content"><%= renderedHtml %></div>
				 <div class="annotation-sidebar"></div>
				<div class="comment-sidebar"></div>
       	<div class="story-edit-right-bind"></div>
       </div>
        
        <div class="widgets-container">
          <aside class="widgets widgets--sidebar widgets--sidebar-<%= uri %>"></aside>
          <div class="widgets widgets--below widgets--below-<%= uri %>">
          	<div class="widgets__description widget-box"></div>
          	<div class="widgets__transcript widget-box"></div>
          	<div class="widgets__details widget-box"></div>
          </div>	
        </div>
  	 </div> 
	    	
	    </div>
	    
	    <% var curClass = "closed"; if(current !== uri){ curClass = "opened"; } %>
	    <div class="item-overlay story-overlay <%= curClass %>">
    	    <div class="overlay-bg"></div>
	        <div class="overlay-window overlay">
    	        <div class="item-contents"></div>
                <div class="slideshow-navigation">
                    <a class="slideshow-next" style="display: none;">
                        <span class="mk-icon mk-arrow-right"></span>
                        <span class="navigation-title sr-only">
                            <span class="navigation-slideshow">
                                
                            </span>
                        </span>
                    </a>
                    <a class="slideshow-previous" style="display: none;">
                        <span class="mk-icon mk-arrow-left"></span>
                        <span class="navigation-title sr-only">
                            <span class="navigation-slideshow">
                            </span>
                        </span>
                    </a>
                </div>
	        </div>
	        
	    </div>
    </div>
    
        
    <div class="story-edit-bar save-bar">
      <div class="save-bar-inner">
      
      </div>
              
    </div>
</article>