<div class="annotation-popup">
  <div class="annotation-content">
    <% if(annotation){ %>	
      <% var length = 300;
      var annotationTrimmed = annotation.substring(0,length);  %>
      <div class="text-annotation <% if(item && annotation){ %> content-present <% } %>"><span class="mk-icon mk-asterisk"></span>      <%= annotationTrimmed %><% if (annotation.length > 350) { %>... <a> Read More </a>  <% } %>  
       </div>
    <% } %>  
   
    <div class="content-annotation">
    <% if(item){ %>	
    	<header><span class="mk-icon mk-<%= item.get('type') %>"></span> <%= item.get('title') %></header>
      <%= item.getImage('medium') %>
      
      <% if(item.getStoryTeaser()){ %>	
        <%= item.getStoryTeaser() + '... <a>Read More </a>' %>
      <% } %>

      <% var description = item.get('description');
      var descriptionTrimmed = description.substring(0,length);  %>
      
      <% if (annotation.length == 0) { %>
      <%= descriptionTrimmed %><% if (description.length > 350) { %>... <a> Read More </a>  <% } %>  
        <% } %>  
    <% } %></div>
  </div>
</div>
<% if(edit){ %>
<div class="annotation-controls">
  <div class="annotation-controls-header">Note</div>
  <button class="btn btn-no-style edit-annotation"  annotation-id="<%= id %>"><span class="mk-icon mk-edit"></span><span class="annotation-controls-label sr-only">Edit Note </span></button>
  <button class="btn btn-no-style remove-annotation" annotation-id="<%= id %>"><span class="mk-icon mk-remove" ></span><span class="annotation-controls-label sr-only">Remove Note </span></button>
</div><% } %>