<article class="template map-template in-narrative map-template--basic <% if(caption.length){ %> caption-active<% } %>">

	<div class="content-primary<% if(caption.length){ %> caption-active<% } %>">	
		
		<header class="title-box">
			<h3><a href="<%= uri %>" data-tooltip="View outside of narrative" class="tooltip--n"><%= title %></a></h3>	<span class="edit-menu edit-menu-<%= uri %>"></span>
			
			<% if(caption.length){ %><div class="caption"><%= caption %></div><% } %>
		</header>
		
		<% if(Mediakron.Settings.timeline === true){ var time_class = "map-timeline"; }else{ var time_class = "map-no-timeline"; } %>
		<div class="map-view render-maps <%= time_class %>">
		  <div class="map-template__content">
			  <div class="map-view">
			    <div class = "mediakron-map-load mediakron-openlayers-map"> &nbsp;
			    </div>
			    <div class= "mediakron-map-tooltip"> </div>
			    <div id="<%= identifier %>" class="map"><div class="info"></div></div>
			    
			  </div>
		  </div>
		  <aside class="widgets widgets--sidebar widgets--sidebar-<%= uri %>"></aside>
		</div>
	
		<% var curClass = "closed"; if(current !== uri){ curClass = "opened"; } %>
	    <div class="item-view <%= curClass %>">
	        <a href="#<%= uri %>" class="view-close"><span class="mk-icon mk-close"></span><span class="sr-only" >Close</span></a>
	        <div class="item-contents"></div>
	    </div>
	</div>
	
	<div class="widgets widgets--below widgets--below-<%= uri %>">
		<div class="widgets__description widget-box"></div>
		<div class="widgets__transcript widget-box"></div>
		<div class="widgets__details widget-box"></div>
	</div>	

</article>
