<article class="template timeline-template timeline-template--default filters-closed  <% if(caption.length){ %> caption-active<% } %> <% if(Mediakron.controller.breadcrumb.length > 1) { %> breadcrumb-active <% } %>">
	
	<div class="content-primary">
		
		<header class="item-header timeline-header">
		  <div class="item-nav">
		    <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav>
		    <nav class="widgets-menu widgets-menu-<%= uri %>"></nav>
		  </div>
		  
		  <h2><%= title %></h2>
		  <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
			<% if(caption.length){ %><div class="caption"><%= caption %></div><% } %>
			
		</header>
		
		<header class="sticky-header">
		  <h2><%= title %></h2>
		  <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav>
		   <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
		</header>
		
    <div id="item-content" class="main-item-content no-sidebar">	
  		<div class="timeline timeline-<%= uri %> <% if(image){ %>background-image-active<% } %>">
        <% if(item.canOrganize()){ %>   		
          <% if(item.canAddTo(false)){ %>
            <div class="timeline-no-content-message">
      		    There are no items on the timeline. You can add some by clicking the "Add to" button. 
      		  </div>
      		<% } %>	
        <% } %>
      </div>
      
      <div class="item-sidebar">
  	  
  		    <div class="sidebar-controls">
  		      
            <% if(options.layersHidden != 'hidden' && options.filtersHidden != 'hidden'){ %>
              <button class="map-filters btn btn-default tooltip--w" data-tooltip="Tools">
                <span class="mk-icon mk-filter" ></span><span class="sr-only">Tools</span>
              </button>
            <% } %>
          
                     </div>
			 
          <% if(options.layersHidden != 'hidden' && options.filtersHidden != 'hidden'){ %> 
			      <div class="filter-bind"></div>
			    <% } %>
			  </div>
			  
			</div>
    </div>
    
    <% var curClass = "closed"; if(current !== uri){ curClass = "opened"; } %>
    <div class="item-overlay timeline-overlay <%= curClass %>">
    	<div class="overlay-bg"></div>
	    <div class="overlay-window overlay ">
        <div class="item-contents"></div>
	    </div>
	  </div>
	  
	   <% if((description) || item.hasMetadata() || item.hasSource() ||(Mediakron.Settings.showauthor)) { %>
	  <div class="details-sidebar details-open">	 
  	    <button class="open-details-button btn btn-default tooltip--w" data-tooltip="Details">
  	      <span class="mk-icon mk-info" ></span><span> Details</span>
  	    </button>
    	 <button class="close-details-button btn btn-default tooltip--w" data-tooltip="Close">
    	   <span class="close-icon" ></span><span class="sr-only">Close</span>
    	 </button>
      <div class="widgets widgets--below widgets--below-<%= uri %> widgets--timeline">
    	  <aside class="widgets widgets--sidebar widgets--sidebar-<%= uri %>"></aside>
        <div class="widgets__description widget-box"></div>
        <div class="widgets__transcript widget-box"></div>
        <div class="widgets__details widget-box"></div>
       
      </div>	
    </div>
     <% } %>
    
  </div>
</article>