<article id="<%= uri %>-progression" class="template progression-template progression-template--default <% if(caption.length){ %> caption-active<% } %>">
	
	<div class="content-primary">
		
		<header class="item-header">
		  <div class="item-nav">
		    <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav><nav class="widgets-menu widgets-menu-<%= uri %>"></nav>
		  </div>
			  <h2><%= title %></h2>
			   <ul class="page-options page-options-<%= uri %> js-nav-system">
			</ul>
			  
			<% if(caption.length){ %><div class="caption"><%= caption %></div><% } %>
		</header>
		
		<header class="sticky-header">
		  <h2><%= title %></h2>
		  <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav>
		   <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
		</header>
			
		<% var iterClass = 'first', i=0; %>
	
	  <div id="progression-arrange">
	  <h3><span class="mk-icon mk-organize"></span> Arrange Progression Images</h3>
	  <div class="form-instructions">Drag the bottom slider control to select an image to arrange. Change the position of image by clicking and dragging. Resize an image by clicking and dragging the corner of the image. </div>
	  </div>
	  
		<div id="progression-content" class="progression main-item-content no-sidebar">
		    <div class="dummy"></div>
			<div class="progression-frame">
    			
			</div>
		</div>
		
		<aside class="widgets widgets--sidebar widgets--sidebar-<%= uri %>"></aside>
	</div>
	
  <div class="widgets widgets--below widgets--below-<%= uri %>">
  	<div class="widgets__description widget-box"></div>
  	<div class="widgets__transcript widget-box"></div>
  	<div class="widgets__details widget-box"></div>
  </div>	
	
</article>