<div class="story-annotate-bg is-visible"></div>

<div class="story-annotate is-visible">
  <div id="annotation-edit" class="annotate-story settings-pane opened">
    <div class="overlay overlay-sidebar">
      <header>
        <div class="header-inner">
          <h2><span class="mk-icon mk-asterisk"> </span> Add/Edit Annotation</h2>
          <nav>
            <ul class="page-options">
              <button class="btn btn-sm btn-default close-button" aria-label="Close">
              	<span class="mk-icon mk-close"></span>
              	<span class="button-text"> Close</span> 
              </button>
            </ul>
          </nav>
        </div>
      </header>
  
      <div class="story-annotate-main">
        
        <fieldset class="text-annotation-field">
          <legend>Text Annotation</legend>
          <div class="form-instructions"> A basic text annotation. Longer annotations will appear trimmed in pop-ups and full length in the notes sidebar. </div>
          <div class="rich-text field">
            <div contenteditable="true" 
              data-placeholder="add a text annotation" edit-type="html"
                name="annotation" id="annotation-body" class="model-field enable-wysiwyg" ><%= body %></div>
            <%= wysiwyg %>
          </div>
        
        </fieldset>
        
        <fieldset class="content-annotation-field">
          <legend>Content Annotation</legend>
          <div class="form-instructions"> Add MediaKron content as an annotation, either alone or with a text annotation above. </div>
          <% if(item){ %>
            <div id="selected-item">
              <span class="attached">Attached:</span> 
              <span class="content-annotation-thumbnail">
                  <%= item.getSquareImage('small',50,50,true)  %>
              </span>
              <span class="title"> <%= item.get('title') %> <span class="type">(<%= item.get('type') %>)</span></span>
              <span id="remove-attach" class="remove-item">
              		<span class="mk-icon mk-remove" title="Remove Item"></span>
              		<span class="sr-only">Remove Item</span>
              </span>
            </div>
          <% } %>
          <button id="attach-existing" class="btn btn-sm btn-primary" aria-label="Attach Existing Content">
            <span class="button-text">Attach Existing</span>
          </button> 
          <button id="attach-new" class="btn btn-sm btn-primary" aria-label="Attach New Content">
            <span class="button-text">Create New</span>
          </button>
        </fieldset>
        
        <div class="save-bar">
          <button type="submit" class="btn btn-primary save-add" data-type="image"><span class="mk-icon mk-save"> </span>Save</button> 
          <button type="submit" class="btn btn-primary cancel" data-type="image"> <span class="mk-icon mk-close"> </span>Cancel</button>
        </div>
      </div>
      <div id="admin-link-content"></div>
    </div>
  </div>
</div>
