output {
  if [type] == "nginx" {
    s3{
      access_key_id => "AKIAIRXTWJCAE5PAR6WA"             
      secret_access_key => "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"
      region => "us-east-1"
      bucket => "mediakron-application-logs"
      prefix => "{{ env }}/{{inventory_hostname}}/nginx/"
      size_file => 5242880
      time_file => 15 
      codec => "plain" 
      canned_acl => "private"
    }
  }
  if [app] == "mediakron-api" {
    s3{
      access_key_id => "AKIAIRXTWJCAE5PAR6WA"             
      secret_access_key => "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"
      region => "us-east-1"
      bucket => "mediakron-application-logs"
      prefix => "{{ env }}/{{inventory_hostname}}/mediakron/"
      size_file => 5242880
      time_file => 15 
      codec => "plain" 
      canned_acl => "private"
    }
  }
}