
  <td><%= name %></td>
  <td><label for="change-role-<%= id %>"class="sr-only">Role: </label>
    <select id="change-role-<%= id %>" class="change-role" name="change-role-<%= id %>"  group="<%= id %>">
      <option value="member" <%= group.roleSelect('member') %>>Member</option>
      <option value="contributor" <%= group.roleSelect('contributor') %>>Contributor</option>
      <option value="collaborator" <%= group.roleSelect('collaborator') %>>Collaborator</option>
      <option value="editor" <%= group.roleSelect('editor') %>>Editor</option>
      <option value="administrator" <%= group.roleSelect('administrator') %>>Administrator</option>
    </select>
  </td>
  <td class="row-remove">
    <button class="btn btn-no-style remove-group" group="<%= id %>">
    		<span class="sr-only">Remove</span><span class="mk-icon mk-remove" title="Remove Item"></span>
    </button>
  </td>
