<% var item,themedImage, children = relationships.children, count = children.length, i = 0, track = "", extra = ''; if(uri == current){ track="current"; }   %>

<article class="template narrative-template narrative-template--basic">
	
	<div class="narrative-template__intro "> 
		<% themedImage = model.getImage("full", "img-responsive sr-only"); %><%= themedImage %>			
		
		<header class="item-header">
		  <div class="item-nav">
		    <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav><nav class="widgets-menu widgets-menu-<%= uri %>"></nav>
		  </div>
			  <h2><%= title %></h2>
			   <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
				<% if(caption.length){ %><div class="caption narrative-intro"><%= caption %></div><% } %>
		</header>
	  
	  <header class="sticky-header">
	    <h2><%= title %></h2>
	    <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav>
	     <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
	  </header>
	
	
	<% if(image){ %> 
	    <div class="narrative-intro-image">
	        <% themedImage = model.getImage("full","img-responsive"); %><%= themedImage %>	
	    </div>
	<% } %>
	
  <div class="widgets widgets--below widgets--below-<%= uri %>">
  	<div class="widgets__description widget-box"></div>
  </div>	
	
	<div class="narrative-template__items">
		<% for(i;i<count;i++){ track = ""; if(children[i].uri == current){ track = "current"; } childItem = Mediakron.getItemFromURI(children[i].uri); if(!childItem){ continue; } %>
		    <% extra = ''; if(children[i].data){ if(children[i].data.hideSidebar){ extra = extra+' hideSidebar'; } if(children[i].data.hideTitle){ extra = extra+' hideTitle'; } } %>
            <div id="nr-<%= uri %>-<%= children[i].uri %>" class="narrative-template--item nr-<%= childItem.getNormalType() %> <%= extra %> nr-item nr-<%= children[i].uri %> <%= track %>">
            </div>
        <% } %>
	</div>
	
	<div class="widgets widgets--below widgets--below-<%= uri %>">
		  <div class="widgets__details widget-box"></div>
	</div>

</article>