<header>
		<div class="tour-item-title"> 
			<h3><%= title %> </h3> 
			<span class="display-options">
					<span class="tooltip--s" data-tooltip="View"><span class="mk-icon mk-view"></span><span class="sr-only">View in Text</span></span>
					<a href="<%= Mediakron.controller.getContextPath() %><%= model.get('uri') %>" uri="<%= model.get('uri') %>" class="tooltip--s open-overlay btn-no-style" data-tooltip="Open"><span class="mk-icon mk-new-window"></span><span class="sr-only"> Open</span></a>
			</span>    
		</div>
			<div class="caption"><% if(caption != '') { %><%= caption %><% } %></div>
	</header>
	
		<% if(time){ %> 
		<div class="item-date"><a href="<%= Mediakron.controller.getContextPath() %><%= model.get('uri') %>" uri="<%= model.get('uri') %>" class="open-overlay tooltip--s" data-tooltip="Open"><%= time %> <span class="mk-icon  mk-new-window"></span><span class="sr-only"> Open</span></a></div>
		<% } %>

<div class="tour-item-content">
  <div class="item-content container-fluid items-comparison-<%= uri %>">
	    <div class="row">
  		    <% if(children.length > 0 && children[0].uri){ %> 
  		        <div class="comparison-item item-0 item col-sm-6  cmp-<%= children[0].uri %>">
      				<div class="contents">
      				</div>
      			</div>
  		    <% }else{ %>
      		    <div class="comparison-item item-0 item col-sm-6 add-comparison-item">
          		    <div class="contents">
          		        <a class="btn btn-primary" id="add-new-content"  href="settings/manage/select/<%- uri %>"><span class="mk-icon mk-add-bold"></span> Add Item </a>
          		    </div>
                  </div>
                  <div class="comparison-item item-1 item col-sm-6 add-comparison-item">
                      <div class="contents">
                          <a class="btn btn-primary disabled" id="add-new-content"  href="settings/manage/select/<%- uri %>"><span class="mk-icon mk-add-bold"></span> Add Item </a>
          	        </div>
      		    </div>
  		    <% } %>
  			<% if(children.length > 1 && children[1].uri){ %>
      			<div class="comparison-item item-1 item col-sm-6 cmp-<%= children[1].uri %>">
      				<div class="contents">
      				</div>
      			</div>
  			<% }else if(children.length == 1) { %>
      			<div class="comparison-item item-1 item col-sm-6 add-comparison-item">
      			    <div class="contents">
                          <a class="btn btn-primary" id="add-new-content"  href="settings/manage/select/<%- uri %>"><span class="mk-icon mk-add-bold"></span> Add Item </a>
      			    </div>
      			</div>
  			<% } %>
		</div>
  </div>
	
</div>	

</div>

<% if(description){ %>
<aside class="description">
	<div class="description__inner">
		<h3 class="sr-only">Description</h3> 
		<%= description %>
	</div>
</aside>
<% } %>
    
