/* #region  SITE SETTINGS - HOMEPAGE */

/* Homepage Admin */

#admin-homepage {
    padding-top: 0;
  }
  
  #admin-homepage .edit-image {
    margin: .5em 0 .5em;
  }
  
  #admin-homepage .progress {
    margin: 1em 0 0 0;
  }
  
  #admin-homepage .file-progress-bar {
    margin-top: 1.5em;
  }
  
  #admin-homepage .mk-edit {
    font-size: 20px;
    top: 2px;
    left: 5px;
  }
  
  #admin-homepage .link-to-settings {
    @include rem-fallback(font-size, 20);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 1em;
    padding: .3em .3em .3em .3em;
  }
  
  #admin-homepage .link-to-settings img {
    @include rem-fallback(max-height, 75);
  }
  
  #admin-homepage .current-homepage-item {
    font-weight: bold;
    padding-left: .5em;
  }
  
  #homepage-remove-item {
    top: 2px;
  }
  
  .admin-homepage .field {
    /* remove flex */
    display: block;
  }
  
  /* #endregion  */