<% var basepath = Mediakron.Settings.baseurl, secondary = Mediakron.Settings.Navigation.secondary; %>

<ul class="secondary-menu" role="navigation">

  <% if(secondary.browse && !Mediakron.user.isGuest() && !Mediakron.user.isMember() || Mediakron.Access.check('can create content')){ %>
   <li class="level-1 browse-menu">
       <a href="<%= basepath %>browse" title="Browse All Site Content"><span class="mk-icon mk-grid level-1"></span><span class="link-text"> Browse</span> </a>
   </li><% } %>  
   
   <% if(secondary.browse && !Mediakron.user.isGuest() && !Mediakron.user.isMember() || Mediakron.Access.check('can create content')){ %>
     <% if(Mediakron.items.changeCount() > 0){ %>
    <li class="level-1 updates-menu">
        <a href="<%= basepath %>updates"><span class="mk-icon mk-updates level-1"></span><sup><%= Mediakron.items.changeCount() %></sup><span class="update-text link-text">Changes </span> </a>          
    </li>
      <% } %>
    <% } %>

    <% if(secondary.tags && tags.length > 0){ %>
    <li id="tags" class="level-1">
        <a href="<%= basepath %>tags" class="tags-menu"><span class="mk-icon mk-tag level-1"></span><span class="link-text"> Tags</span></a>
    </li><% } %>
    
    <% if(secondary.search){ %>
    <li id="search" class="level-1">
    <button class="toggle-search btn-no-style" aria-label="Search Button"><span class="mk-icon mk-search level-1"></span><span class="link-text"> Search</span></button>
    </li>
    <% } %>

    
    <% if(Mediakron.Access.check('can create content')){ %>
    	<li class="level-1 add-content-button nav-left">
    	  <a href="settings/content/add" title="Add Content"><span class="mk-icon mk-add level-1"></span><span class="link-text">Add</span>  
           </a>
    	</li>
    <% } %>
    

	<% if(Mediakron.Access.check('can create content')){ %>
		<li class="level-1 add-content-button nav-top ">
		  <a href="settings/content/add" title="Add Content"><span class="mk-icon mk-add level-1"></span><span class="link-text">Add</span>  
		   </a>
		</li>
     <% } %>


     <% if(Mediakron.Access.check('can change site settings') || Mediakron.Access.check('can archive content') || Mediakron.Access.check('can import')){ %>  
        <li id="settings-button" class="level-1">
        	<a href="<%= basepath %>settings"><span class="mk-icon mk-settings level-1"></span><span class="link-text" >Settings</span></a>
        </li>
       <% } %>
         
    <% if(!Mediakron.user.isGuest()){ %>
    <li id="user" class="level-1">
        <button class="btn-no-style open-modal"><span class="mk-icon mk-user level-1"></span><span class="link-text"> User</span></button>
        <ul class="modal-content dropdown-container" data-visually-hidden="true">
          <li class="modal-title dropdown-title"><span class="mk-icon mk-user"></span> User Information
          </li> 
          
          <li class="dropdown-item user-details"><% if(!Mediakron.user.isGuest()){ %> <%= Mediakron.user.get("name") %> <span class="user-role">Role: <%= Mediakron.user.get("role") %></span>
          <% } %>
          </li> 
          
          <li class="close-modal">
            <button class="btn btn-sm btn-default" aria-label="Close">
          		<span class="mk-icon mk-close"></span>
          		<span class="button-text sr-only"> Close</span> 
          	</button>
          </li>
          
           <li class="dropdown-item  my-content-menu">
              <a href="<%= basepath %>mycontent" ><span class="mk-icon mk-grid"></span><span> My Content</span></a>
           </li> 
           <li class="dropdown-item ">
             <a href="redirect/profile"><span class="mk-icon mk-tools"></span> My Account</a>
             </li>
            <% if(Mediakron.Access.check('can change site settings')){ %>
           <li class="dropdown-item ">
               <a href="<%= Mediakron.Settings.baseurl %>settings/users" class=""> <span class="mk-icon mk-settings"></span> Manage All Users</a>
           </li>  
           <% } %> 
           <li class="dropdown-item ">
             <% if(!Mediakron.user.isGuest()){ %> <a href="<%= Mediakron.Settings.baseurl %>redirect/logout" class=""> <% } %><span class="mk-icon mk-unpublish"></span> Sign Out </a>
           </li>
         </ul>    
           
    </li><% } %>
    
      <% if(secondary.user && Mediakron.user.isGuest()){ %>
        <li id="settings-button" class="level-1">
        	<a href="<%= basepath %>login" title="Log into this site"><span class="mk-icon mk-user" ></span><span class="link-text"> Login</span></a>
        </li>
    <% } %>

    
     <% if(!Mediakron.user.isGuest()){ %>
    <li id="help-menu" class="level-1">
      <button class="btn-no-style open-modal"  aria-label="Help Button"><span class="mk-icon mk-help level-1"></span><span class="link-text"> Help</span></button>
      <ul class="modal-content dropdown-container" data-visually-hidden="true">
        <li class="modal-title dropdown-title"><span class="mk-icon mk-help"></span> MediaKron Support
        </li>
        <li class="close-modal">
          <button class="btn btn-sm btn-default" aria-label="Close">
        		<span class="mk-icon mk-close"></span>
        		<span class="button-text sr-only"> Close</span> 
        	</button>
        </li>
        <li class="dropdown-item email-support"><a href="mailto:mediakron@bc.edu"><span class="mk-icon mk-mail"></span> Email mediakron@bc.edu</a>
        </li>
        <li class="dropdown-item "><a href="http://mediakron.bc.edu/help"><span class="mk-icon mk-info"></span> Visit Support Site</a>
        </li>
        <li class="dropdown-item dropdown-header">
           Help Categories
           <ul>
           <li><a href="http://tmkp2.bc.edu/help/mediakron-basics">About MediaKron</a>
           </li>
           <li><a href="https://mediakron.bc.edu/help/working-with-content">Working with Content</a>
           </li>
           <li><a href="https://mediakron.bc.edu/help/site-administration">Administering Your Site</a>
           </li>
            </ul>
        </li>
        
        <li class="dropdown-item dropdown-header">
           For Content Editors
           <ul>
             <li><a href="https://mediakron.bc.edu/help/working-with-content/content-types/stories-overview">Working with stories</a>
             </li>
             <li><a href="https://mediakron.bc.edu/help/working-with-content/content-types/folder-overview">Working with folders</a>
             </li>
             <li><a href="https://mediakron.bc.edu/help/working-with-content/content-types/map-overview">Working with maps</a>
             </li>
             <li><a href="https://mediakron.bc.edu/help/working-with-content/content-types/timeline-overview">Working with timelines</a></li>
             <li><a href="https://mediakron.bc.edu/help/working-with-content/content-types">Other content types</a></li>
             <li><a href="https://mediakron.bc.edu/help/working-with-content/revisions">Recovering previous versions</a></li>
             </li>
           </ul>
        </li>
        
        <li class="dropdown-item dropdown-header">
           For Site Administrators
           <ul>
             <li><a href="https://mediakron.bc.edu/help/site-administration/managing-users">Adding users or classes to a site</a>
             </li>
             <li><a href="https://mediakron.bc.edu/help/site-administration/hompage-overview">Customizing the homepage</a>
             </li>
             <li><a href="https://mediakron.bc.edu/help/site-administration/menu-overview">Adding Menus</a>
             </li>
             <li><a href="https://mediakron.bc.edu/help/site-administration/site-appearance">Changing site colors/logo</a>
             </li>
             <li><a href="http://tmkp2.bc.edu/help/site-administration/mediakron-to-canvas-overview">Integrating MediaKron with Canvas</a>
             </li>
           </ul>
        </li>
      </ul>
    </li>
          
    
    <% } %>
    
    <% if(secondary.fullscreen){ %>
    <li id="full-screen-menu" class="level-1">
        <button id="full-screen" title="Full screen On/Off"><span class="mk-icon mk-fullscreen-open level-1" ></span><span class="link-text"> Full</button>
    </li>
    <% } %>
    <% if(secondary.logo){ %>
    <li id="mk-logo-menu" class="level=1">
        <a href="http://mediakron.bc.edu" class="tooltip--sw" data-tooltip="About MediaKron"><img id="mediakron-logo" src="<%= Mediakron.Settings.cssURL %>/img/MKlogo.png" alt="MediaKron Logo"></a>
    </li>
    <% } %>
</ul>

<div class="menu-bg"></div>