<% if(Mediakron.Settings.commenting && relationships.comments && uri){ %>
<div class="comments">
	<div class="comments__inner">
		<h3>Comments</h3>
		<div class="comment-list">
		<% _.each(relationships.comments,function(comment){ %>
			<div class="comment">
				<div class="comment-body">
					<%= comment.data.body %>
				</div>
				<div class="comment-author">
					<span class="comment-author">by: <%= comment.data.name %></span> &nbsp;
					<span class="comment-date">on: <%= comment.data.date %></span>
				</div>
			</div>
		<% }) %>
		</div>
		<% if(Mediakron.Access.check('can comment')){ %>
		<div class="comment-form">
			<h4 class="post-comment">Post a Comment</h4>
			<div class="comment-post">
				<div id="comment-field" class="comment-field" contenteditable="true" data-placeholder="Enter comment. To add formatting, highlight text and the edit bar will appear" edit-type="html"></div>
				<div id="comment-actions">
					<button id="save" type="submit" class="btn btn-success submit btn-sm"><span class="mk-icon mk-save"> </span> Save</button>
					<button id="cancel" class="btn btn-default btn-sm cancel">Cancel</button>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>	
<% } %>