<!-- ===== Organize Pane - Folders and Slideshows  ===== -->

<% var record; %>

<div class="organize-pane organize-folder collection overlay overlay-sidebar">

  <header>
    <div class="header-inner">
      <h2><span class="toggles mk-icon mk-organize"></span> Organize <%= item.type.charAt(0).toUpperCase() + item.type.slice(1) %> </h2>
      <nav>
        <ul class="page-options"> 
          <li class="option-edit">
          	<a class="edit-button btn btn-sm btn-default" type="button" href="/settings/manage/edit/<%= Mediakron.controller.getPath() %>" aria-label="Edit" title="Edit Timeline">
          		<span class="toggles mk-icon mk-edit"></span><span class="button-text"> Edit</span>
          	</a>
          	<li class="option-add">	  	
          		<a class="btn btn-sm btn-default" href="/settings/manage/select/<%= Mediakron.controller.getPath() %>" aria-label="Add To" title="Add To">
          			<span class="toggles mk-icon mk-add"></span>
          			<span class="button-text"> Add To</span>
          		</a>
          	</li>
          	<li class="option-close">	  	
          		<button class="btn btn-sm btn-default close-button" aria-label="Close">
            		<span class="mk-icon mk-close"></span>
            		<span class="button-text"> Close</span> 
            	</button>
    
          	</li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div id="manage-slideshow" class="organize">
  
    <h3 class="title"><%= item.title %></h3>
          <ul id="sort-slideshow">
      		<%  _.each(item.relationships.children,function(child){ record = Mediakron.getItemFromURI(child.uri); if(record){ %>
      			<li class="slideshow-sortable" uri="<%= child.uri %>" data="<%= JSON.stringify(child.data) %>">
      				<div class="drag-item">
        				<span class="btn btn-primary"><span class="mk-icon mk-re-order"></span></span>
          				<span class="manage-item">
      					    <span class="title"><a href="<%= child.uri %>"> <%= record.get('title') %></a></span>
          					<span class="type"><%= record.getNormalType() %></span>
          					<% if(record.canEdit() || model.canRemoveFrom()){ %><span class="remove-item" uri="<%= child.uri %>"><span class="mk-icon mk-remove"></span></span><% } %>
            				<% if(record.canEdit()){ %>
            				  <a class="edit-button tooltip--w organize-edit-button" type="button" href="<%= record.editURL() %>" data-tooltip="Edit <%= record.getNormalType() %>">
              				  <span class="mk-icon mk-edit"></span><span class="sr-only"> Edit <%= record.getNormalType() %></span>
              				</a>
            				<% } %>
          				<%= record.getSquareImage('small',60,60) %>
        				</span>
      				</div>			
      			</li>
      		<% } }); %>
      	</ul>

  
  	<div class="save-bar">
  	  <div class="save-bar-inner">
  			<button id="done-editing" type="submit" class="btn btn-success submit btn-sm"><span class="mk-icon mk-save"> </span> Save</button>
  			<button id="cancel-editing" class="btn btn-default btn-sm close-settings"><span class="mk-icon mk-close"> </span> Close</button>
        </div>
    </div>
    
  </div>

</div>

<div class="overlay-bg"></div>