<article class="template image-template in-narrative image-template--narrow <% if(caption.length){ %> caption-active<% } %>">

	<div class="content-primary">
		
		<div class="info-bar default-bar clearfix">
			<nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav><div class="page-options">
				<div class="widgets-menu widgets-menu-<%= uri %>"></div>
				<div class="edit-menu edit-menu-<%= uri %>"></div>
			</div>	
		</div>
		
		<header class="title-box">
			<h3><a href="<%= uri %>" data-tooltip="View outside of narrative" class="tooltip--n"><%= title %></a></h3>	<span class="edit-menu edit-menu-<%= uri %>"></span>
			<% if(caption.length){ %><div class="caption"><%= caption %></div><% } %>
		</header>
		
		<div class="container-fluid">
			<div class="item-content main-item-content">
				<% if(image){ %>
						<% var themedImage = model.getImage("full", "img-responsive "); %>
						<div class="annotate"><%= themedImage %></div>
				<% } %>		
			</div>	
			<aside class="widgets widgets--sidebar widgets--sidebar-<%= uri %>"></aside>
		</div>
	</div>
	
  <div class="widgets widgets--below widgets--below-<%= uri %>">
  	<div class="widgets__description widget-box"></div>
  	<div class="widgets__transcript widget-box"></div>
  	<div class="widgets__details widget-box"></div>
  </div>	

</article>
