<% var comments = relationships.comments, topic, map, timeline, countTopic, i = 0; %>  

   <% if(item.hasMetadata() || item.hasSource() || Mediakron.Settings.showauthor || collections.tag.length > 0 || description.length > 0 || (transcript) || item.hasTags()) { %>
   	<button type="button" class="btn-no-style details-button"><span class="mk-icon mk-arrow-down"></span>   	
	   
	<!-- deprecated -->
   	<!-- <ul class="details-list">
 
   <% if(description){ %>
   		<% if(description.length > 0){ %>
   			<li class="detail-list-description">Description</li>
   		<% } %>
   	<% } %>
   	
    <% if(item.hasTags()) { %>
    	<li class="detail-list-tags">Tags</li>
    <% } %>
  
  	<% if(item.hasMetadata() || item.hasSource() || (Mediakron.Settings.showauthor)) { %>
  		<li class="detail-list-details">Details</li>
  	<% } %>
  	
  	<% if(transcript){ %>
  		<% if(transcript.length > 0){ %>
  			<li class="detail-list-transcript">Transcript</li>
  		<% } %>
  	<% } %>

  	
  	</ul> -->
  	      			
   	</span></button>
   	
   <% } %>

<% if(Mediakron.Settings.showview){ %>

  <% if(hasCollection){ %>
		
		<button  role="button" class="collections-link btn-no-style">View in <span class="caret"></span>
		</button>
		
				<div class="collections-list" role="menu">
				<ul>  	
		       	<% if(collections.slideshow){ countTopic = collections.slideshow.length; %>
					<% if(countTopic > 0){ i = 0;  %>
		                <% for(i;i<countTopic;i++){ if(collections.slideshow[i]){ slideshow = Mediakron.getItemFromURI(collections.slideshow[i].uri); if(!slideshow) continue; %>
		        			<li><span class="mk-icon mk-slideshow"></span> <%= item.getContextLinkTo(slideshow) %></li>
		                 <% }} %>
					<% } %>
				<% } %>
				
				<% if(collections.folder){ countTopic = collections.folder.length; %>
					<% if(countTopic > 0){ i = 0;  %>
		                <% for(i;i<countTopic;i++){ if(collections.folder[i]){ folder = Mediakron.getItemFromURI(collections.folder[i].uri); if(!folder) continue; %>
		        			<li><span class="mk-icon mk-folder"></span> <%= item.getContextLinkTo(folder) %></li>
		                 <% }} %>
					<% } %>
				<% } %>
				
				<% if(collections.story){ countTopic = collections.story.length; %>
							<% if(countTopic > 0){ i = 0;  %>
							                <% for(i;i<countTopic;i++){ if(collections.story[i]){ story = Mediakron.getItemFromURI(collections.story[i].uri); if(!story) continue; %>
				        			<li><span class="mk-icon mk-story"></span> <%= item.getContextLinkTo(story) %></li>
				                 <% }} %>
				
							<% } %>
						<% } %>  
		        		
				<% if(collections.narrative){ countTopic = collections.narrative.length; %>
					<% if(countTopic > 0){ i = 0;  %>
					                <% for(i;i<countTopic;i++){ if(collections.narrative[i]){ narrative = Mediakron.getItemFromURI(collections.narrative[i].uri); if(!narrative) continue; %>
		        			<li><span class="mk-icon mk-narrative"></span> <%= item.getContextLinkTo(narrative) %></li>
		                 <% }} %>
		
					<% } %>
				<% } %>
				
						<% if(collections.comparison){ countTopic = collections.comparison.length; %>
					<% if(countTopic > 0){ i = 0;  %>
					
		                <% for(i;i<countTopic;i++){ if(collections.comparison[i]){ comparison = Mediakron.getItemFromURI(collections.comparison[i].uri);  if(!comparison) continue; %>
		        			<li ><span class="mk-icon mk-comparison"></span> <%= item.getContextLinkTo(comparison) %></li>
		                 <% } } %>
		
					<% } %>
				<% } %>
				
					<% if(collections.progression){ countTopic = collections.progression.length; %>
					<% if(countTopic > 0){ i = 0;  %>
					
		                <% for(i;i<countTopic;i++){ if(collections.progression[i]){ progression = Mediakron.getItemFromURI(collections.progression[i].uri); if(!progression) continue; %>
		        			<li><span class="mk-icon mk-progression"></span> <%= item.getContextLinkTo(progression) %></li>
		                 <% }} %>
		
					<% } %>
				<% } %>
				
					<% if(relationships.maps){ var countMaps = relationships.maps.length; %>
					<% if(countMaps > 0){ i = 0;  %>
					
		                <% i = 0;  for(i;i<countMaps;i++){ if(relationships.maps[i]){ map = Mediakron.getItemFromURI(relationships.maps[i].uri); if(!map) continue; %>
		        		<li><span class="mki mki-marker"></span> <%= item.getContextLinkTo(map) %></li>		
		                 <% } } %>
		
					<% } %>
				<% } %>
				<% if(relationships.citations){ var countCitations = relationships.citations.length; %>
					<% if(countCitations > 0){ i = 0;  %>
					
		                <% i = 0;  for(i;i<countCitations;i++){ if(relationships.citations[i]){ citation = Mediakron.getItemFromURI(relationships.citations[i].uri); if(!citation) continue; %>
		        		<li><span class="mk-icon mk-asterisk"></span> Note in <%= item.getContextLinkTo(citation) %></li>		
		                 <% }} %>
		
					<% } %>
				<% } %>
				
						<% if(relationships.timelines){ var countTimelines = relationships.timelines.length; %>
					<% if(countTimelines > 0){ i = 0;  %>			
		                <% for(i;i<countTimelines;i++){  if(relationships.timelines[i]){ timeline = Mediakron.getItemFromURI(relationships.timelines[i].uri); if(!timeline) continue; %>
		        			<li><span class="mk-icon mk-timeline"></span> <%= item.getContextLinkTo(timeline) %></li>        			
		                 <% }} %>
		
					<% } %>
				<% } %>
				</ul>
				</div>
		    <% } %>
<% } %>
		
		 

