$base-spacing: 1em !default;
$success-color: #333 !default;
$warning-color: #f9edbe !default;
$danger-color: #852330 !default;
$info-color: #183c5c !default;

@mixin flash($color) {
  background-color: $color;
  /*color: darken($color, 65%);*/
  color: #fff;
  display: block;
  margin-bottom: 0;
  padding-top: $base-spacing / 2;
  padding-bottom: $base-spacing / 2;
  text-align: center;
  border: 1px solid darken($color, 70%);
  @include rem-fallback(font-size,20);  

  a {
    color: darken($color, 70%);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
  
  .btn-primary {
    background: #333;
    border: 1px solid darken($color, 70%);
    color: #fff;
  }
  
}

#messages .alert{
    z-index: 1063;
    text-align: center;
}

/* @group MESSAGE COLORS */

#messages .alert-success {
	@include flash($success-color);
  /*animation-name: messageFadeInOut;*/
  animation-name:messageslideUp;
  animation-duration: 4s;
  padding-top: .5em;
  padding-bottom: .45em;
  width: 100%;
  right: 0;
  margin: .2em 0;
  box-shadow: 0 3px 10px rgba(0,0,0,0.35);
  border-radius: 2px;
}
/*
.settings-pane #messages .alert-success {
  @include rem-fallback(max-width,400);
  @include rem-fallback(width,400);
}
*/

#messages .alert-success .mk-icon {
  @include rem-fallback(font-size,20);  
}

#messages .alert-warning {
	@include flash($warning-color);
	border-radius: 3px;
	color: #000;
  animation-name: fadeIn;
  animation-duration: .5s;
  padding: 0 0 .5em 0;
}

#messages #message-center .alert-warning { 
	@include rem-fallback(max-width,475); 
}

#messages .alert-warning .message-text {
  padding: .5em 2.5em 0 2.5em;
  display: inline-block;
}

#messages .alert-warning .mk-icon {
  margin-right: 0em;
  font-size: 22px;
  top: 3px;
}

#messages .alert-warning.alert-dismissible .close {
  position: absolute;
  top: 2px;
  right: .3em;
  padding: 0em .3em .1em 0.3em;
  border-radius: 2px;
  border: 1px solid #777;
  display: block;
  font-size: 20px;
  line-height: 1.2;
  margin-top: .3em;
  float: right;
  background: #000;
  color: #fff;
}

.warning-overlay {
  display: none;
}

#messages .alert-danger {
	padding-top: .6em;
	padding-bottom: .6em;
	@include flash($danger-color);
}

#messages .alert-info {
/*	margin-bottom: .5em;
	padding-top: .2em;
	padding-bottom: .2em;*/
	@include flash    ($info-color);
  animation-name: fadeIn;
  animation-duration: .75s;
  z-index: 1062;
  position: fixed;
  bottom:0;
  z-index: 1062;
  width: 550px;
  max-width: 550px;
  padding-top: .6em;
  padding-bottom: .6em;
  border: navyone;
  right: 0;
  
	}

#messages .alert-info  .mk-icon {
  @include rem-fallback(font-size,20);
  display: none;  
}

/* @end */

/* @group MESSAGE POSITIONS */



#message-top {
    @include scut-center-transform(x);
    z-index: 1063;
    width: 100%;
    top: 0;
    border-radius: none;
    position: fixed;
    right: 0;
}

/*.settings-pane #message-top {
  @include scut-center-transform(x);
  @include rem-fallback(max-width,400);
  
}*/

#message-bottom {
    z-index: 1063;
    @include rem-fallback(min-width, 225);  
    border-radius: none;
    position: fixed;
    @include rem-fallback(bottom, 30);  
    @include rem-fallback(left, 30);  
}

#message-left {
    position: absolute;
    left:0;
    width: 100%;
    max-width: 500px;
    z-index: 1002;
}

#message-right {
    position: fixed;
    top:0;
    z-index: 1062;
    width: 4em;
    max-width: 300px;
    right: 20px;
    padding-top: .5em;
    padding-bottom: .5em;
}

#message-center .alert {
	 @include scut-center-transform;
	 z-index: 1063;
	 position: fixed;
}

#message-center .warning-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: visible;
  top: 0;
  left: 0;
  z-index: 1062;
  background: rgba(250,250,250,0.7);
  animation-name: fadeIn;
  animation-duration: .2s;
  display: block;
}

#messages #message-bottom .alert-warning {
  text-align: left;
  animation-name:slideUpStay;
  animation-duration: .5s;
}

#messages #message-bottom .alert-warning .message-text {
  padding-left:  1em;
  padding-right: 1em;
}

  

/* @end */

.confirm-buttons {
	margin: 1em auto auto auto;	
}

#messages .close {
	opacity: 1;
	@include rem-fallback(font-size,28);  
}

#messages .alert-dismissable .close {
	color: #555;
}

#message-top .alert-dismissable .close {
	color: #fff;
}

#messages .mk-icon {
  margin-right: .5em;
}

.alert {
  border-radius: 0;
}

