<div class="add">
    <input type="text" class="story-add-field title-field" name="title" placeholder="Title"> 
    
    <label for="video-type" class="video-type-label">Video Type
        <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/video-types">
            <span class="mk-icon mk-help get-help">
                <span class="sr-only">Help with Video Types</span>
            </span>
        </a>
    </label> 
    <select class="form-control select-video" id="video-type" model-attr="video">
        <option>
            Select a Video Type
        </option><% _.each(Mediakron.Settings.VideoTypes,function(info,type){ %>

        <option value="<%= info.id %>" <%= Mediakron.Selected(false,info.id) %>>
            <%= info.name %>
        </option><% }); %>
    </select> 
    <input type="text" class="story-add-field file-url-field" name="url" placeholder="Url to item">
    <div class="save-bar"> 
      <button type="submit" class="btn btn-sm btn-primary save-add" data-type="video"> <span class="mk-icon mk-save"></span>Save New Video</button>
    </div>
</div>
<div class="video-timecodes-story">
  <h4>Video Clips</h4>
  <div class="form-instructions">You can create a video clip by adding timecodes to start and stop the video particular times. To do this, you'll need to create the video first by saving this Story and then clicking the + button in the right corner of the menu bar.
  </div>
</div>