<tr class="timeline-manage-row">
	<% if(thumbnails){ %>
	   	<td class="row-thumb" >
	   		<%= item.getSquareImage('small',thumbnails,thumbnails,false) %>
	   	</td>
	   <% } %>
	<td class="actions">
	   <a class="btn btn-primary date-add" title="Add <%- item.get('title') %>"><span class="mk-icon mk-add"></span> Add</a><h4 class="post-title"> <%- item.get('title') %></h4>
	 <span class="type"><%= item.getNormalType() %></span>
	</td>
	<td class="time-fields">
    	 <div class="start-date-container">	
    		<label> Start: </label>
    			<div class="start-date-fields start-date-<%- item.get('uri') %>"></div>
    	 </div>	
    	  <div class="end-date-container">	
                <label> 
                	End:</span>
                </label>
                <div class="start-date-fields end-date-fields end-date-<%- item.get('uri') %>"></div>
           </div> 	
	</td>

	
</tr>