<div class="popup timeline-popup timeline-simple">

   <div class="timeline-edit-buttons">
    <% if(parent.canEdit(false)){ %>
    <a href="<%= Mediakron.Settings.basepath+uri+'/manager/'+id %>"><span class="mk-icon mk-edit"></span></a>
    <% } %>	
    <% if(parent.canRemoveFrom(false)){ %>
      <a href="<%= Mediakron.Settings.basepath+ uri +'/manager/'+id+'/remove' %>"><span class="mk-icon mk-remove"></span></a>
    <% } %>	 
  </div>
	
	<div class="popup-body clearfix">
	  <span class="timeline-date"><span class="sr-only">Date:</span> <%= time %></span><span class="popup-header">:
	  	<%= label %></span>   
	</div>
	

	
</div>