<!-- ===== Add New Item  ===== -->

<% var record; %>
    <div class="comment-edit-pane overlay overlay-sidebar add-new-item-pane">
        <div class="add-show">
            <header>
                <div class="header-inner">
                    <h2><span class="toggles mk-icon mk-edit"></span>
                        <%= panetitle %>
                    </h2>
                    <nav>
                        <ul class="page-options">
                            <li class="option-close">
                                <button class="btn btn-sm btn-default close-button" aria-label="Close">
                                    <span class="mk-icon mk-close"></span>
                                    <span class="button-text"> Close</span> 
                                </button> 
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div id="admin-edit-comment" class="edit">
                <div id="item-content">
                    <div class="comment">

                        <fieldset id="description-field" class="top-panel expandable-fieldset">
                            <legend>Comment Text </legend>

                            <!-- Description Field -->
                            <div class="rich-text field accordion-content" aria-hidden="true">
                                <label class="sr-only" for="comment">Comment Text</label>
                                <div id="comment" class="model-field enable-wysiwyg" contenteditable="true" data-placeholder="A longer description" edit-type="html">
                                    <%= comment %>
                                </div>
                                <%= wysiwyg %>
                         
                            </div>
                        </fieldset>

                        <fieldset id="comment-visiblity">
                            <legend>Visiblity</legend>

                            <div class="js-to_expand">
                                <div class="form-instructions"></div>
                                <div class="layout-widget layout-public">
                                    <span>
                                        <input name="comment-visible" class="comment-visiblity" id="comment-public"  model-attr="visiblity" value="public" type="radio" <%= Mediakron.Checked(visible,0) %> /> 
                                        <label for="comment-public">Public comment</label>
                                        <div class="form-instructions">Visible to any site members</div>
                                    </span>
                                </div>
                                <div class="layout-widget layout-private">
                                    <span>
                                        <input name="comment-visible" class="comment-visiblity" id="comment-private"  model-attr="visiblity" value="private" type="radio" <%= Mediakron.Checked(visible,1) %> /> 
                                        <label for="comment-private">Private Comment</label>
                                        <div class="form-instructions">Visible only to Story author and comment author</div>
                                    </span>
                                </div>
                                <div class="layout-widget layout-personal">
                                    <span>
                                        <input name="comment-visible" class="comment-visiblity" id="comment-personal"  model-attr="visiblity" value="personal" type="radio" <%= Mediakron.Checked(visible,2) %> /> 
                                        <label for="comment-personal">Personal Note</label>
                                        <div class="form-instructions">Visible only to comment author</div>
                                    </span>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                    <div class="add-bind hide">This is the add Bind point</div>
                </div>
            </div>
            <%= savebar %>
        </div>
    </div>


    <div class="overlay-bg"></div>