/* @group === ACCESSIBLE PLUGINS (_accessibleplugins.scss) === */

/* @group SHOW/HIDE */

.js-expandmore {
  margin-top: 0;
}

.js-expandmore .mk-help {
  @include rem-fallback(font-size, 16);
  text-decoration: none;
  top: 1px;
}

.js-to_expand {
  margin-top: .5em;
}

.js-to_expand a {
 text-decoration: underline;
}

.js-to_expand[aria-hidden=true],
.js-to_expand[data-hidden=true] {
  display: none;
}

.expandmore__button {
  background: none;
  font-size: inherit;
  color: inherit;
  border: none;
  position: relative;
  padding-left: 18px;
}
/* optional */
.expandmore__button:before {
  content: "";
  width: 20px;
  height: 20px;
  border-left: solid 10px black;
  border-bottom: solid 10px transparent;
  border-top: solid 10px transparent;
  position: absolute;
  margin-top: 10px;
  margin-left: -16px;
}

.expandmore__button[aria-expanded=true]:before,
.expandmore__button[data-expanded=true]:before {
  content: "";
  width: 16px;
  height: 32px;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
  border-top: solid 10px black;
  position: absolute;
  margin-top: 16px;
  margin-left: -20px;
}

.expandmore__button.has-data[aria-expanded=true]:before,
.expandmore__button.has-data[data-expanded=true]:before {
  border-top: solid 10px green;
}

.author-date .expandmore__button[aria-expanded=true]:before,
.author-date .expandmore__button[data-expanded=true]:before {
  border-top: solid 10px green;
}


/* @end */

/* @end ACCESSIBLE PLUGINS == */
