
	<% if(uri){ %>
	
	  	<% if(item.canEdit(false) && !item.canOrganize()){ %>
    		<li class="edit-options edit-single js-nav-system__item">
      		<a class="edit-button btn btn-sm btn-default js-nav-system__subnav__link" type="button" href="<%= basepath %><%= item.editURL() %>" aria-label="Edit <%= item.getNormalType() %>" title="Edit <%= item.getNormalType() %>">
  	    		<span class="toggles mk-icon mk-edit"></span><span class="button-text"> Edit</span>
  	    	</a>
	    	</li>
    	<% } %>	
    	
    	<% if(item.canEdit(false) && item.getNormalType() == 'text'){ %>
				<li class="option-edit js-nav-system__item">
  				<a class="btn btn-sm btn-default js-nav-system__subnav__link" class="convert-story" type="button" href="<%= basepath %>settings/convert/story/<%= uri %>" aria-label="Convert to Story" title="Convert to Story"><span class="toggles mk-icon mk-edit"></span><span class="button-text"> Convert to Story </span></a>
				</li>
				<li class="option-edit js-nav-system__item">
  				<a class="btn btn-sm btn-default js-nav-system__subnav__link" class="convert-file" type="button" href="<%= basepath %>settings/convert/file/<%= uri %>" aria-label="Convert to File" title="Convert to File"><span class="toggles mk-icon mk-edit"></span><span class="button-text"> Convert to File </span></a>
				</li>
			<% } %>	 
    	  
    	<% if(item.canOrganize()){ %>
    		
    		<% if(item.canAddTo(false)){ %>
          
          <% if(item.getNormalType() == 'timeline'){ %>
            <li class="option-add-to option-options js-nav-system__item">
              <button class="btn btn-sm btn-default add-button js-nav-system__link">
                <span class="toggles mk-icon mk-add"></span><span class="button-text"> Add to </span>
              </button>
              <ul class="dropdown-container js-nav-system__subnav left-align">  
                <li class="option-edit-details js-nav-system__subnav__item subnav">
                  <a class="btn btn-sm btn-default js-nav-system__subnav__link" class="edit-button" type="button" href="<%= basepath %><%= uri %>/manager/simple" aria-label="Edit <%= item.getNormalType() %>" title="Edit <%= item.getNormalType() %>">
                    </span><span class="button-text"> Add simple label </span>
                  </a>
                </li>
                <li class="option-edit-details js-nav-system__subnav__item subnav">
                  <a class="btn btn-sm btn-default js-nav-system__subnav__link" class="edit-button" type="button" href="<%= basepath %><%= uri %>/manager/add" aria-label="Edit <%= item.getNormalType() %>" title="Edit <%= item.getNormalType() %>">
                    </span><span class="button-text"> Add a new item </span>
                  </a>
                </li>
                <li class="option-edit-details js-nav-system__subnav__item subnav">
                  <a class="btn btn-sm btn-default js-nav-system__subnav__link" class="edit-button" type="button" href="<%= basepath %><%= uri %>/manager/browse" aria-label="Edit <%= item.getNormalType() %>" title="Edit <%= item.getNormalType() %>">
                    <span class="button-text"> Add an existing item </span>
                  </a>
                </li>
                
              </ul>
    			  </li>
          <% }else{ %>
            <li class="option-add">
    				  <a class="btn btn-sm btn-default js-nav-system__subnav__link" href="<%= basepath %>settings/manage/select/<%= Mediakron.controller.getEditPath(uri) %>" aria-label="Add to <%= item.getNormalType() %>" title="Add to <%= item.getNormalType() %>">
    					  <span class="toggles mk-icon mk-add"></span>
    					  <span class="button-text"> Add To </span>
    				  </a>
    			  </li>
          <% } %>
          	
    		<% } %>	
    		
    		
    		<% if(item.canEdit(false) || item.canAddTo(false)){ %>
    		
    		   <% if(item.getNormalType() != 'timeline'){ %>
    		
      		<li class="option-edit option-options js-nav-system__item">
      		      	      	
        	<button class="btn btn-sm btn-default edit-button js-nav-system__link"><span class="toggles mk-icon mk-edit"></span><span class="button-text"> Edit </span></button>
      		
        		  <ul class="dropdown-container js-nav-system__subnav">  		
          		<% if(item.canEdit(false)){ %>
      				<li class="option-edit-details js-nav-system__subnav__item">
        				<a class="btn btn-sm btn-default js-nav-system__subnav__link" class="edit-button" type="button" href="<%= basepath %>settings/manage/edit/<%= Mediakron.controller.getEditPath(uri) %>" aria-label="Edit <%= item.getNormalType() %>" title="Edit <%= item.getNormalType() %>"><span class="toggles mk-icon mk-info"></span><span class="button-text"> Details & Layout </span></a>
      				</li>
      		  	<% } %>	  
      			
      			  <% if(item.canAddTo(false)){ %>
      				<li class="option-organize js-nav-system__subnav__item">	  	
      					<a class="btn btn-sm btn-default js-nav-system__subnav__link" href="<%= basepath %>settings/manage/organize/<%= Mediakron.controller.getEditPath(uri) %>" aria-label="Organize <%= item.getNormalType() %>" title="Organize <%= item.getNormalType() %>">
      						<span class="toggles mk-icon mk-organize"></span>
      						<span class="button-text"> Reorder/Remove Items </span>
      					</a>
      					</li>
      				 <% } %>	 
      				</ul>
      			</li>
  				<% } %>	
  				
  				<% if(item.canEdit(false) && item.getNormalType() == 'timeline'){ %>
  					<li class="edit-options edit-single js-nav-system__item">
  						<a class="edit-button btn btn-sm btn-default js-nav-system__subnav__link" type="button" href="<%= basepath %><%= item.editURL() %>" aria-label="Edit <%= item.getNormalType() %>" title="Edit <%= item.getNormalType() %>">
  				  		<span class="toggles mk-icon mk-edit"></span><span class="button-text"> Edit</span>
  				  	</a>
  					</li>
  				<% } %>	 
				
				<% } %>	
			
	    <% } %>	
	    
    <% } %>	
    
  <% if (item.getStatus()) { %>
   <li class="edit-status"> <%= item.getStatus() %></li>
   <% } %>
      
 	<% if(item.canEdit(false)){ %>   
    <li id="secondary-options" class="option-options js-nav-system__item">
     <button class="btn btn-sm btn-default button-secondary-options js-nav-system__link"><span class="mk-icon mk-ellipsis"></span>
     <span class="button-text"> Options</span>
     </button>
      <ul class="dropdown-container js-nav-system__subnav right-align">
        <li class="option-view-revisions js-nav-system__subnav__item">
           	<a class="edit-this btn btn-default btn-sm js-nav-system__subnav__link" href="<%= item.revisionUrl() %>" aria-label="View Revisions <%= item.getNormalType() %>" title="View Revisions <%= item.getNormalType() %>">
                 	<span class="mk-icon mk-modified"></span><span class="button-text"> Revisions </span>             
             	</a>
        </li> 
    		 <% if(item.canDestroy(false)){ %>
    		 <li class="js-nav-system__subnav__item"><%= item.deleteLink() %> </li>
    		 <% } %>	
    		 
    		 <% if(item.canUnpublish(false)){ %>
    		 <li  class="js-nav-system__subnav__item"><% if(item.get('published') == 1){ %><%= item.unpublishLink() %><% }else{ %><%= item.publishLink() %><% } %></li>
    		 <% } %>	
    		 
    		 <% if(item.canDuplicate(false)){ %>
    		 <li  class="js-nav-system__subnav__item"><%= item.duplicateLink() %> </li>
    		 <% } %>
    		 
    		  <% if(item.canArchive(false)){ %>
    		 <li  class="js-nav-system__subnav__item"><% if(item.get('archived') == 1){ %><%= item.restoreLink() %><% }else{ %><%= item.archiveLink() %><% } %></li>
    		 <% } %>	
    		 <% if(item.canLock(false)){ %>
    		 <li  class="js-nav-system__subnav__item"><% if(item.get('locked') == true){ %><%= item.unlockLink() %><% }else{ %><%= item.lockLink() %><% } %></li>
    		 <% } %>	
    		 
    		 <% if(item.canTransmit(false)){ %>
    		 <li  class="js-nav-system__subnav__item"><%= item.transmitLink() %></li>  
    		 <% } %>	 
      </ul>
    </li>
    <% } %>
    
    
    <% if(item.canDownload(false) && item.downloadable()){ %>
    		<li class="option-download js-nav-system__item ">
    	    	<a target="_blank" class="edit-this btn btn-default btn-sm" href="<%= item.downloadUrl() %>" aria-label="Download <%= item.getNormalType() %>" title="Download <%= item.getNormalType() %>">
                	<span class="mk-icon mk-download"></span><span class="button-text"> Download </span>             
            	</a>
    	 </li>  
    <% } %>
    	
    <li class="option-new-window ">	  	
    		<a class="btn btn-sm btn-default" href="<%= uri %>" title="View in New Window">
      		<span class="mk-icon mk-new-window"></span>
      		<span class="button-text"> New Window</span> 
      	</a>
    </li>
    <li class="option-view-in-mk">	  	
    		<a class="btn btn-sm btn-default" href="<%= uri %>" title="View in New Window" target="_blank">
      		<span class="mk-icon mk-new-window"></span>
      		<span class="button-text"> View in MediaKron</span> 
      	</a>
    </li>
    <li class="option-close">	  	
    		<button class="btn btn-sm btn-default close-button close-item-overlay" aria-label="Close">
      		<span class="mk-icon mk-close"></span>
      		<span class="button-text"> Close</span> 
      	</button>
    </li>
    <!-- End sidebar-->
    