/* #region ANNOTATIONS */

cite {
  font-style: inherit;
  /* overrides bootstrap styles */
}

/* create space to the right for annotations */

.story-template.annotations-present .story-body,
.story-template.annotations-present .item-header,
.story-template.annotations-present .story-body,
.story-template.annotations-present .item-header,
.edit-story .story-template.annotations-present .story-content,
.edit-story .story-template.annotations-present .item-header {
  @include rem-fallback(max-width, 1000);
  @include rem-fallback(padding-right, 0);
  @include breakpoint(md) {
    @include rem-fallback(padding-right, 300);
  }
  @include breakpoint(lg) {
    padding-right: 0;
    @include rem-fallback(max-width, 700);
  }
}

/* Override for stories in notes sidebar in story edit mode */

.edit-story .story-template.annotations-present .annotation-sidebar .story-content {
  @include breakpoint(md) {
    @include rem-fallback(padding-right, 0);
  }
}

.story-template.annotations-present.annotation-sidebar-open .story-body,
.story-template.annotations-present.annotation-sidebar-open .item-header,
.edit-story .story-template.annotations-present.annotation-sidebar-open .story-content,
.edit-story .story-template.annotations-present.annotation-sidebar-open .item-header {
  @include breakpoint(md) {
    @include rem-fallback(padding-right, 0);
    @include rem-fallback(max-width, 700);
  }
}

.edit-story .story-template.annotations-present .story-body {
  @include breakpoint(md) {
    @include rem-fallback(max-width, 700);
    padding-right: 0;
  }
}

.story-body sup {
  position: static;
  vertical-align: super;
}

.story-body sup .annotation-popup,
.story-body sup .annotation-content {
  line-height: 1em;
}

.story-body p {
  position: relative;
}

cite.annotation {
  border-bottom: 2px dashed #565656;
  cursor: pointer;
  display: inline;
  margin-bottom: -3px;
  padding-bottom: 0;
  line-height: 120%;
}

cite.annotation:hover {
  border-bottom: 2.5px dashed transparent;
}

cite.annotation cite.annotation {
  border-bottom: 2.5px dashed #565656;
  cursor: pointer;
}

cite.annotation.contains-sup,
sup.contains-cite cite.annotation {
  border: none;
}

cite.annotation.contains-sup:hover,
sup.contains-cite cite.annotation:hover {
  border: none;
}

cite.annotation.highlight.contains-sup {
  background: none;
}

cite.annotation.contains-sup sup,
sup.contains-cite {
  padding: .1em .2em .1em .2em;
  background: #eee;
  border-radius: 3px;
  border: 1px solid #565656;
  margin-left: .1em;
  margin-right: .3em;
}

cite.annotation.contains-sup sup .annotation-content,
sup.contains-cite .annotation-content {
  line-height: 1.5;
  @include rem-fallback(font-size, 15);
}

cite.annotation.contains-sup sup:hover,
sup.contains-cite:hover {
  background: $highlight;
}

/* Highlight a regular text annotation */

cite.annotation.highlight {
  background: $highlight;
}

/* If it's superscript, highlight the sup, not the cite */

cite.annotation.contains-sup.highlight sup,
sup.contains-cite.highlight {
  background: $highlight;
}

cite-annotation sup {
  font-weight: bold;
}

/* #endregion  */

/* #region ANNOTATIONS: Edit Popover  */

.annotation-controls {
  position: absolute;
  z-index: 300;
  background: #fff;
  padding: 0 0 0em 0;
  border-radius: 5px;
  color: #000;
  z-index: 1;
  border: 1px solid #757575;
  @extend .box-shadow-subtle;
  text-align: center;
  // animation: fadeInUp .2s;
}

.annotation-controls:after,
.annotation-controls:before {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  z-index: 100;
  cursor: pointer;
}

.annotation-controls:before {
  content: "";
  bottom: -22px;
  margin-left: -11px;
  border-top-color: #565656;
  left: 50%;
  border-bottom-width: 0;
  border-width: 11px;
}

.annotation-controls:after {
  content: "";
  bottom: -20px;
  margin-left: -10px;
  border-top-color: #fff;
  left: 50%;
  border-bottom-width: 0;
  border-width: 10px;
}

.annotation-controls-header {
  text-align: center;
  @include rem-fallback(font-size, 14);
  margin: 0 0 0em 0;
  padding: 0 1.5em;
  border-bottom: 1px solid #999;
  background: #eeeeee;
}

.annotation-controls-header .mk-asterisk {
  @include rem-fallback(font-size, 16);
  margin-right: .2em;
  top: 2px;
}

.annotation-controls button {
  padding: 0;
  border: none;
  display: inline-block;
  background: #fff;
  margin: .2em 0 0 0;
}

.annotation-controls button:hover {
  background: none;
  padding: 0;
  border: none;
}

.annotation-controls button .mk-icon {
  font-size: 22px;
  top: 0;
}

.annotation-controls button:hover .mk-icon {
  color: #000;
}

.annotation-controls .mk-edit {
  color: #444;
}

.story-annotate-main {
  height: 100%;
  padding: 4.5em 1.5em 1.5em 1.5em;
  ;
  margin: auto;
}

.story-annotate-main fieldset {
  margin-bottom: 1em;
}

.story-annotate-main legend {
  padding-top: 0;
}

#annotation-title,
#annotation-body {
  width: 100%;
}

.edit-story .story-annotate-main .save-bar {
  @include rem-fallback(max-width, 550);
  padding: .5em 1.5em .5em 1.5em;
  transition: right .4s cubic-bezier(.25, .1, .25, 1);
  border: 1px solid #565656;
  right: 0;
  left: auto;
  bottom: 0;
}

.edit-story .story-annotate {
  display: block;
  position: absolute;
  margin-left: -60px;
  width: 92px;
  z-index: 1004;
}

.edit-story .note-add {
  color: #aaa;
  display: none;
  margin-left: 9px;
  position: absolute;
}

#annotation-edit .page-options {
  position: fixed;
  top: 10px;
}

/* #endregion */

/* #region ANNOTATIONS: Edit Pane */

.text-annotation-field .field {
  border: 1px solid #565656;
  border-radius: 2px;
}

.content-annotation-field #selected-item {
  margin-bottom: 1em;
}

.content-annotation-field .attached {
  display: block;
  font-weight: bold;
}

.content-annotation-field .content-annotation-thumbnail,
.content-annotation-field .title {
  display: inline-block;
}

.content-annotation-field .title {
  display: inline-block;
  position: relative;
  @include rem-fallback(top, -12);
  font-weight: bold;
  @include rem-fallback(font-size, 18);
}

.content-annotation-field .remove-item {
  position: relative;
  right: auto;
  @include rem-fallback(top, -6);
}

#annotation-edit #admin-link-content .edit-form.overlay.overlay-half {
  @include rem-fallback(max-width, 570);
}

#annotation-edit #admin-link-content .edit-form.overlay.overlay-half header.overlay-header {
  z-index: 1003;
}

/* #endregion */

/* #region COMMENTS */

/* Hide comments on non-Story items (not built yet) */
.widgets__comments {
  display:none
}

.popupTracker {
  position: absolute;
  top: 0;
  width: 4px;
  height: 5px;
  border: 2px solid black;
  display: block;
}

span.comment {
  border-bottom: none;
  cursor: pointer;
  display: inline;
  padding: 0 1px;
  margin-bottom: -3px;
  padding-bottom: 0;
  line-height: 120%;
  border: 1px solid transparent;
}

/* active, highlighted comments */

.story-body:hover span.comment,
.story-body span.comment.highlight,
.story-body span.comment.commentControls-highlight {
  border-top: 1px solid #616161;
  border-bottom: 1px solid #616161;
}

/* active, highlighted public comments */

.story-body:hover span.public-comment,
.story-body span.public-comment.highlight,
.story-body span.public-comment.commentControls-highlight {
  background: $highlight-light;
}

/* active, highlighted private comments */

.story-body:hover span.private-comment,
.story-body span.private-comment.highlight,
.story-body span.private-comment.commentControls-highlight {
  background: #D3E0F0;
}

/* active, highlighted personal comments */

.story-body:hover span.personal-comment,
.story-body span.personal-comment.highlight,
.story-body span.personal-comment.commentControls-highlight {
  background: #dff0d8
}

.story-body span.comment.commentHighlightFade {
  animation: commentHighlightFade 4s;
}

.story-body span.public-comment.commentHighlightFade {
  background: $highlight-light;
}

.story-body span.private-comment.commentHighlightFade {
  background: #D3E0F0;
}

.story-body span.personal-comment.commentHighlightFade {
  background: #dff0d8
}

/* archived and comments without permission are hidden */

span.comment.hidden-comment,
span.comment.archived-comment {
  border: 1px solid transparent;
  cursor: default;
  margin-bottom: 0;
  background: none;
  font-weight: normal;
}

/* keep hidden archived comments hidden when hovering over comment control popover */

span.comment.hidden-comment.commentControls-highlight,
span.comment.archived-comment.commentControls-highlight {
  border: 1px solid transparent !important;
  cursor: default !important;
  margin-bottom: 0 !important;
  background: none !important;
  font-weight: normal !important;
}

/* brighter when hovering over commented text */

.story-body:hover span.public-comment:hover,
span.comment.highlight {
  background: $highlight;
}

/* different highlight color for archived comments when actived from sidebar */

.story-body span.comment.archived-comment.highlight {
  background: #F8CDD2;
}

/* archived and comments without permission hidden on hover */

.story-body:hover span.comment.hidden-comment,
.story-body:hover span.comment.archived-comment,
.story-body:hover span.comment.hidden-comment:hover,
.story-body:hover span.comment.archived-comment:hover {
  color: #333;
  background: none;
  border: 1px solid transparent;
}

.comment-controls {
  position: absolute;
  top: 0;
  background: #fff;
  padding: 0 0 .5em 0;
  border-radius: 5px;
  color: #000;
  z-index: 1;
  border: 1px solid #757575;
  @extend .box-shadow-subtle;
  text-align: center;
  animation: fadeInUp .2s;
}

.comment-controls-header {
  text-align: center;
  @include rem-fallback(font-size, 14);
  margin: 0 0 .5em 0;
  padding: .3em 1.25em .1em 1.25em;
  border-bottom: 1px solid #999;
  background: #eeeeee;
}

.comment-controls-header .mk-comment {
  @include rem-fallback(font-size, 18);
  margin-right: .2em;
  top: 3px;
}

.comment-controls button {
  padding: 0;
  border: none;
  display: inline-block;
  background: #fff;
  margin: 0 0;
}

.comment-controls button:hover {
  background: none;
  padding: 0;
  border: none;
}

.comment-controls button .mk-icon {
  margin-right: .2em;
  font-size: 22px;
  top: 2px;
}

.comment-controls button:hover .mk-icon {
  color: #000;
}

.comment-controls button.addCommentTools {
  padding: .4em .5em 0 .5em;
}

.comment-controls button.editCommentTools {
  margin-left: .2em
}

.comment-controls button.addCommentTools .mk-add {
  @include rem-fallback(font-size, 18);
}

.comment-controls .mk-edit,
.comment-controls .mk-archive {
  color: #444;
}

.comment-controls:after,
.comment-controls:before {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  z-index: 100;
  cursor: pointer;
}

.comment-controls:before {
  content: "";
  bottom: -22px;
  margin-left: -11px;
  border-top-color: #565656;
  left: 50%;
  border-bottom-width: 0;
  border-width: 11px;
}

.comment-controls:after {
  content: "";
  bottom: -20px;
  margin-left: -10px;
  border-top-color: #fff;
  left: 50%;
  border-bottom-width: 0;
  border-width: 10px;
}

.comment-details {
  @include rem-fallback(font-size, 12);
}

.comment-sidebar .comment-details {
  margin-top: -5px;
}

.comment-popup .comment-details {
  margin-top: -10px;
}

.comment-sidebar h2 .mk-comment {
  top: 3px;
  font-size: 22px;
}

button.toggle-archive {
  display: inline-block;
  font-size: 12px;
  padding: .1em .3em;
  margin-left: .5em;
}

button.toggle-archive .mk-icon {
  @include rem-fallback(font-size, 14);
  top: 2px;
}

.comment-label {
  border: 1px solid #616161;
  border-radius: 2px;
  padding: .1em .3em;
  @include rem-fallback(font-size, 11);
}

.archived.comment-label {
  background: #F8CDD2;
}

.public.comment-label {
  background: $highlight-light;
}

.private.comment-label {
  background: #D3E0F0;
}

.personal.comment-label {
  background: #dff0d8;
}

/* Hide archived comment text in story body */

.archived-comment .comment-controls,
.archived-comment .comment-popup {
  display: none;
}

/* show archived comment text in story body when clicking on comment in sidebar*/

.archived-comment.highlighted .comment-controls {
  display: block;
}

/* Hide comments in story edit mode */

.edit-story span.comment,
.edit-story .comment-controls,
.edit-story .option-comments {
  display: none !important;
}

/* message if there are no commments */

.comment-sidebar .instructions {
  padding: 0 1.5em;
  text-align: center;
}

.comment-sidebar .instructions img {
  margin: .5em auto 0 auto;
  display: block;
  @extend .box-shadow-subtle;
}

/* #endregion */

/* #region COMMENTS: Edit Pane */

#admin-edit-comment {
  padding: 4em 1em 1em 1em;
}

#comment {
  @include rem-fallback(min-height, 150);
}

/* #endregion */

/* #region ANNOTATION/COMMENTS: Hover Side Popover */

.annotation-popup,
.comment-popup {
  background: #fff;
  display: none;
  height: auto;
  margin-top: 0;
  padding: 1em 1em 1em 0;
  position: absolute;
  right: 0;
  top: -20px;
  @include rem-fallback(width, 315);
  z-index: 100;
  @include rem-fallback(font-size, 15);
  color: #030303;
  @extend .box-shadow-subtle;
  animation: fadeIn .35s;
  @include breakpoint(md) {
    @include rem-fallback(right, -325);
    padding: .3em 0 0 0em;
    border: none;
    box-shadow: none;
  }
}

/* don't show hover popups when sidebar is open */

.annotation-sidebar-open .annotation-popup,
.comment-sidebar-open .annotation-popup,
.annotation-sidebar-open .comment-popup,
.comment-sidebar-open .comment-popup {
  display: none !important;
}

.annotation-popup .mk-asterisk,
.edit-story .story-template.annotations-present .annotation-popup span.mk-asterisk {
  @include rem-fallback(font-size, 15);
  color: #565656;
  display: inline;
  padding-right: .3em;
  float: left;
  top: 2px;
}

.annotation-sidebar-open .annotation-popup,
.comment-sidebar-open .comment-popup {
  right: 0px;
  @include breakpoint(lg) {
    right: -258px;
  }
}

.annotation-content,
.comment-content {
  margin-left: 1em;
}

.annotation-popup .annotation-content p,
.comment-popup .comment-content p {
  margin-bottom: 15px;
}

.annotation-popup h3,
.comment-popup h3 {
  margin-top: 0;
  padding-top: 0;
  @include rem-fallback(font-size, 14);
  display: inline;
  font-style: italic;
}

.text-annotation {
  display: inline-block;
  @include rem-fallback(font-size, 15);
  width: 100%;
}

.text-annotation.content-present {
  border-bottom: 1px dotted #565656;
  margin-bottom: 1em;
}

.content-annotation header {
  font-weight: bold;
  padding-bottom: .5em;
}

.content-annotation img {
  margin-bottom: 1em;
}

/* #endregion  */

/* #region ANNOTATIONS/COMMENTS SIDEBAR */

#annotations,
#comments,
#archived {
  padding-top: 3em;
  /* below fixed header */
}

.edit-story #annotations {
  padding-bottom: 4em;
  /* add space at bottom so notes don't get cut off by save bar */
}

.story-template.annotations-present.annotation-sidebar-open,
.story-template.annotations-present.comment-sidebar-open {
  transition: .2s cubic-bezier(.25, .1, .25, 1);
  margin-left: 0;
  @include breakpoint(md) {
    width: calc(100% - 400px);
  }
  @include breakpoint(lg) {
    width: calc(100% - 415px);
  }
  @include breakpoint(xxl) {
    width: calc(100% - 400px);
  }
}

.annotation-sidebar,
.comment-sidebar {
  position: fixed;
  right: -100%;
  border-left: 1px solid #565656;
  border-top: 1px solid #565656;
  border-bottom: 1px solid #565656;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 0 1em;
  height: calc(100vh - 50px);
  margin-right: -1px;
  @include breakpoint(md) {
    right: -100%;
    border: none;
    height: 100%;
  }
  @include breakpoint(lg) {
    right: -100%;
  }
}

.annotation-sidebar-open .annotation-sidebar,
.comment-sidebar-open .comment-sidebar {
  width: 80%;
  @include rem-fallback(max-width, 400);
  height: 100%;
  position: fixed;
  right: 1em;
  @include rem-fallback(top, 115);
  overflow: auto;
  transition: all .4s cubic-bezier(.25, .1, .25, 1);
  background: #fff;
  height: calc(100vh - 50px);
  z-index: 4;
  padding: 1em;
  @include breakpoint(md) {
    right: 1em;
    width: 100%;
    @include rem-fallback(top, 115);
    @include rem-fallback(max-width, 400);
    padding: 0 .5em 1em;
  }
  @include breakpoint(lg) {
    @include rem-fallback(width, 400);
    right: 1em;
    transition: all .2s cubic-bezier(.25, .1, .25, 1);
  }
}

.overlay .annotation-sidebar-open .annotation-sidebar,
.overlay .comment-sidebar-open .comment-sidebar {
  right: 11em;
}

.scrolled .annotation-sidebar .scrolled .comment-sidebar {
  @include rem-fallback(top, 60);
}

.annotation-sidebar h2,
.comment-sidebar header {
  @include rem-fallback(font-size, 20);
  margin-left: .75em;
  margin-top: 1em;
  position: fixed;
  width: 338px;
  background: #fff;
  padding: 0 0 .5em 0;
  margin: 0 1em;
  z-index: 101;
}

.comment-sidebar h2 {
  @include rem-fallback(font-size, 20);
  margin: 0;
  padding: 0;
  display: inline-block;
}

.annotation-sidebar h2 .mk-asterisk,
.comment-sidebar h2 .mk-asterisk {
  @include rem-fallback(font-size, 18);
}

.edit-story .annotation-sidebar-open .annotation-sidebar,
.edit-story .comment-sidebar-open .comment-sidebar {
  top: 4em;
}

.annotation-sidebar .close-button,
.comment-sidebar .close-button {
  display: none;
}

.annotation-sidebar-open .annotation-sidebar .close-button,
.comment-sidebar-open .comment-sidebar .close-button {
  display: block;
}

.page-options button.open-annotations-sidebar,
.page-options button.open-comments-sidebar {
  position: relative;
  @include breakpoint(md) {
    display: inline-block;
  }
}

.story-overlay .page-options button.open-annotations-sidebar,
.story-overlay .page-options button.open-comments-sidebar {
  display: none;
  /* hide when story in annotation is opened in overlay */
}

.annotation-sidebar-open .page-options .option-notes,
.comment-sidebar-open .page-options .option-comments {
  display: none;
  /* hide annotation sidebar button when sidebar is open  */
}

// .sticky-header.active .page-options .option-notes {
//   position: fixed;
//   @include rem-fallback(top, 60);
//   @include rem-fallback(right, 10);
// }
.edit-story .sticky-header.active .page-options {
  display: block;
  /* to show notes sidebar button in edit mode */
}

.edit-story .sticky-header.active .page-options .option-edit {
  display: none;
}

.open-annotations-sidebar:hover,
.open-comments-sidebar:hover {
  border: 1px solid #565656;
}

.annotation-sidebar-open .open-annotations-sidebar,
.commments-sidebar-open .open-comments-sidebar {
  display: block;
  @include breakpoint(md) {
    display: none;
  }
}

.open-annotations-sidebar .mk-asterisk,
.open-comments-sidebar .mk-asterisk {
  @include rem-fallback(font-size, 16);
}

.annotation-sidebar .close-button,
.comment-sidebar .close-button {
  position: fixed;
  @include rem-fallback(top, 112);
  @include rem-fallback(right, 40);
  border: none;
  z-index: 102;
}

.scrolled .annotation-sidebar .close-button,
.scrolled .comments-sidebar .close-button {
  position: fixed;
  @include rem-fallback(top, 115);
  border: none;
}

.annotation-sidebar .close-button .close-icon,
.comment-sidebar .close-button .close-icon {
  width: 18px;
  height: 18px;
}

/* change position when in overlay  */

.overlay .annotation-sidebar .close-button .close-icon,
.overlay .comment-sidebar .close-button .close-icon {
  right: 11em;
}

.annotation-sidebar-open .page-options,
.comment-sidebar-open .page-options {
  position: fixed;
  top: 65px;
  right: 32px;
}

/* change position when in overlay  */

.overlay .annotation-sidebar-open .page-options,
.overlay .comment-sidebar-open .page-options {
  position: fixed;
  top: 1.5em;
  right: 13.5em;
}

.scrolled .annotation-sidebar-open .page-options,
.scrolled .comment-sidebar-open .page-options {
  display: none;
}

.scrolled .overlay .annotation-sidebar-open .page-options,
.scrolled .overlay .comment-sidebar-open .page-options {
  display: block;
}

/* prevent scrolled from affecting item overlays */

.scrolled .annotation-sidebar-open .sticky-header.active .page-options,
.scrolled .comment-sidebar-open .sticky-header.active .page-options {
  display: inline-block;
}

.annotation-sidebar-open .item-overlay .page-options,
.comment-sidebar-open .item-overlay .page-options {
  position: absolute;
  right: 1em;
  top: 0em;
}

.scrolled .annotation-sidebar-open .item-overlay .page-options,
.scrolled .comment-sidebar-open .item-overlay .page-options {
  display: block;
}

.annotation-sidebar-open .page-options li li .button-text,
.comment-sidebar-open .page-options li li .button-text {
  display: inline;
}

.editing-enabled .story-template.annotations-present .item-nav {
  display: block;
}

.editing-enabled .story-template.annotations-present .item-nav #secondary-options,
.editing-enabled .story-template.annotations-present .item-nav .option-edit,
.editing-enabled .story-template.annotations-present .item-nav .widgets-menu.in-story,
.editing-enabled .story-template.annotations-present .item-nav .mk-breadcrumb {
  display: none;
}

.edit-story .annotation-sidebar-open .wysiwyg-inner,
.edit-story .annotation-sidebar-open .story-edit-bar .save-bar-inner {
  position: relative;
  left: 1em;
  max-width: none;
  @include breakpoint(lg) {
    position: relative;
    left: -200px;
    @include rem-fallback(max-width, 700);
  }
}

.annotation-item,
.comment-item {
  padding: 1em 1em;
  border-left: 4px solid #fff;
}

.annotation-item:hover,
.comment-item:hover {
  background: #fff;
  animation-name: highlight;
  animation-duration: 1s;
  border-left: 4px solid $highlight-light;
  cursor: pointer;
}

.annotation-item.highlight,
.comment-item.highlight {
  background: #fff;
  animation-name: highlight;
  animation-duration: 1s;
  border-left: 4px solid $highlight;
}

.comment-item.highlight {
  border-left: 4px solid #565656;
}

.annotation-item .story-body {
  padding: 0 0 1em 0;
}

.annotation-item .story-body p {
  @include rem-fallback(font-size, 16);
}

.story-template .annotation-item .caption,
.story-template .annotation-item p,
.edit-story .story-body .annotation-item p {
  padding-left: 0;
  @include rem-fallback(font-size, 16);
}

.annotation-sidebar .tour-item-title h3,
.comment-sidebar .tour-item-title h3 {
  padding-bottom: .5em;
  @include rem-fallback(font-size, 18);
  color: #333;
  font-weight: bold;
}

.annotation-sidebar.closed #annotations,
.comment-sidebar.closed #comments {
  border: none;
  margin-left: 0em;
  @include breakpoint(md) {
    margin-left: 0em;
  }
}

.annotation-sidebar .tour-item-content {
  margin-bottom: 1em;
}

#annotations .story-content {
  min-height: auto;
  /* overide of .story-template .story-content height  */
}

#annotations .item-date {
  display: none;
}

button .notes-count,
button .comment-count {
  @include rem-fallback(font-size, 12);
}

h2 .notes-count,
h2 .comment-count {
  @include rem-fallback(font-size, 16);
}

/* #endregion */

/* #region Story Preview Pane with Annotations */

#rev-preview .annotation-sidebar h2 .mk-asterisk {
  color: #000 !important;
}

#rev-preview .annotation-sidebar {
  right: 1em !important;
}

#rev-preview .annotation-sidebar .close-button {
  display: none !important;
}

/* #endregion */