<% var panopto = item.getPanoptoAudioUrl(); console.log(panopto); %>


	<%= panopto %>


<div class="audio-help-text">	
  <button class="js-expandmore btn btn-sm btn-no-style"><span class="mk-icon mk-help"></span> <span class="button-text">Audio Help</span></button>
  <div class="js-to_expand hidden">
      If the audio file does not appear, you may need to <strong><a href="https://bc.hosted.panopto.com/Panopto/Pages/Auth/Login.aspx">log in here</a></strong> first and then reload the page.	
     </div>
  </div>	
