<div class="add">
    
    <input type="text" class="story-add-field title-field" name="title" placeholder="Title"> 
    <label for="audio-type" class="audio-type-label">
        Audio Type 
        <a class="help-link" href="<%= Mediakron.Settings.basepath %>help/audio-types">
            <span class="mk-icon mk-help get-help">
                <span class="sr-only">Help with Audio Types</span>
            </span>
        </a>
    </label> 
    
    <select id="audio-type" name="audio-type" class="form-control select-audio" role="listbox" aria-labelledby="audio-type">
        <option>
            Select an audio type
        </option><% _.each(Mediakron.Settings.AudioTypes,function(data,type){ %>

        <option value="<%= type %>" <%= Mediakron.Selected(false,type) %>>
            <%= data.name %>
        </option><% }); %>
    </select> 
    <input type="text" class="story-add-field file-url-field" name="url" placeholder="Url to item"> 
    <div class="save-bar">
      <button type="submit" class="btn btn-sm btn-primary save-add" data-type="audio"> <span class="mk-icon mk-save"></span>Save New Audio</button>
    </div>
</div>