<div class="template comparison-template comparison-template--vertical2 <% if(caption.length){ %>caption-active<% } %> <% if (children.length > 2){ %>vertical-layout<% } else { %>panel-layout <% } %>">
	
	<div class="content-primary clearfix ">
		
		<header class="item-header">
		  <div class="item-nav">
		    <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav><nav class="widgets-menu widgets-menu-<%= uri %>"></nav>
		  </div>
			  <h2><%= title %></h2>
			   <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
			<% if(caption.length){ %><div class="caption"><%= caption %></div><% } %>
		</header>
		
		<header class="sticky-header">
		  <h2><%= title %></h2>
		  <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav>
		   <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
		</header>
				
		<div class="item-content container-fluid items-comparison-<%= uri %>">
		    <div class="row">
    		    <% if(children.length > 0 && children[0].uri){ %> 
    		        <div class="comparison-item item-0 item col-sm-6  cmp-<%= children[0].uri %>">
        				<div class="contents">
        				</div>
        			</div>
    		    <% }else{ %>
        		    <div class="comparison-item item-0 item col-sm-6 add-comparison-item">
            		    <div class="contents">
            		        <a class="btn btn-primary" id="add-new-content"  href="settings/manage/select/<%- uri %>"><span class="mk-icon mk-add-bold"></span> Add Item </a>
            		    </div>
                    </div>
                    <div class="comparison-item item-1 item col-sm-6 add-comparison-item">
                        <div class="contents">
                            <a class="btn btn-primary disabled" id="add-new-content"  href="settings/manage/select/<%- uri %>"><span class="mk-icon mk-add-bold"></span> Add Item </a>
            	        </div>
        		    </div>
    		    <% } %>
    			<% if(children.length > 1 && children[1].uri){ %>
        			<div class="comparison-item item-1 item col-sm-6 cmp-<%= children[1].uri %>">
        				<div class="contents">
        				</div>
        			</div>
    			<% }else if(children.length == 1) { %>
        			<div class="comparison-item item-1 item col-sm-6 add-comparison-item">
        			    <div class="contents">
                            <a class="btn btn-primary" id="add-new-content"  href="settings/manage/select/<%- uri %>"><span class="mk-icon mk-add-bold"></span> Add Item </a>
        			    </div>
        			</div>
    			<% } %>
			</div>
		</div>
		
	</div>	
	<div class="items-below container-fluid items-comparison-<%= uri %>">
	    <% var i=2, even, length = children.length; for(i;i<length;i++){ if(children[i].uri){ %>
	    <% even = 'odd';  if(i % 2 == 0){ even = 'even'; if((i+1) == length){ even = even+' last'; } } %>
	    <% if(even == 'even'){ %> <div class="row"><% } %>
	        <div class="comparison-item item-<%= i %> <%= even %> item col-sm-6 cmp-<%= children[i].uri %>">
				<div class="contents">
				</div>
			</div>
		<% if(even == 'odd' || (i+1) == length){ %> </div><% } %>
		<% }} %>
		
		
	</div>
	
  <div class="widgets widgets--below widgets--below-<%= uri %>">
  	<div class="widgets__description widget-box"></div>
  	<div class="widgets__transcript widget-box"></div>
  	<div class="widgets__details widget-box"></div>
  </div>	
  
</div>
