/* @group PAGE OPTIONS */

.page-options {
    position:absolute;
    right: .5em;
    top: .5em;
    z-index: 1001;
    padding-left: 0;
  }
  
  .page-options.page-options-story {
    right: 1em;
    top: 1em;
  }
  
  .page-options li {
    list-style: none;
    display: inline-block;
    margin: 0 .1em .2em .1em;
    @include breakpoint(xs){
    display: block;
    }
  }
  
  .sticky-header .page-options li {
    display: inline-block;
  }
  
  .page-options .mk-icon {
      @include rem-fallback(font-size, 16);
      top: 2px;
  }
  
  .page-options .mk-save {
    margin-right: -7px;
  }
  
  .page-options a,
  .page-options button,
  .homepage .template #change-homepage {  
    text-align: left;
    padding: .2em .4em .1em .4em;
    border: 1px solid #565656;
    display: inline-block;
    width: auto;
    @include rem-fallback(font-size, 14);
  }
  
  .page-options .btn-primary,
  .page-options .btn-primary:focus {  
    padding: 0em .4em .1em .3em;
  }
  
  .page-options li .button-text {
    display: none;
    @include breakpoint(md){ 
    display: inline;
    }
  }
  
  .page-options li li .button-text {
    display: inline-block;
    @include breakpoint(md){ 
    display: inline-block;
    }
  }
  
  /*.page-options li.option-view-revisions .button-text, */
  .page-options li.option-download .button-text { 
    display: none;
  }
  
  /*.page-options li.option-view-revisions a:hover > .button-text,*/
  .page-options li.option-download a:hover > .button-text {
    display: inline; 
  }
  
  .option-view-revisions .mk-icon {
    margin-right: .2em;
  }
  
  #secondary-options {
    position:relative
  }
  
  .button-secondary-options {
    text-align: center;
  }
  
  .button-secondary-options.open {
    border-bottom: none;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 1;
  }
  
  .button-secondary-options.open:hover {
    background: #fff;
  }
  
  .button-secondary-options.open .button-text {
    display: inline;
  }
  
  #secondary-options [data-visually-hidden="false"] {
    border-top-right-radius: 0;
  }
  
  [data-visually-hidden="false"] {
    display: block;
  }
  
  #secondary-options .dropdown-container a {
    border: none;
  }
  
  #secondary-options .mk-delete {
    top: 0;
   right: 0;
  }
  
  #secondary-options .mk-save {
    margin-right: -3px;
  }
  
  #secondary-options .mk-ellipsis {
    margin-left: -7px;
    right: -3px;
  }
  
  .item-header .option-close {
    display: none;
  }
  
  .page-options li.option-new-window { /* hide unless used in overlays or other contexts */
    display: none;
  }
  
  #change-homepage {
      display: none;
  }
  
  #change-homepage .mk-icon {
      top: 1px;
  }
  
  .homepage #change-homepage {
      display: inline;
  }
  
  .homepage .template #change-homepage {
      display: inline;
      position: static !important;
      border: none;
  }
  
  .homepage .template .background-image-active #change-homepage {
      color: #fff;
  }
  
  .download {
    padding: 0;
  }
  
  .mk-icon.mk-download {
      @include rem-fallback(font-size, 16);
      top: 2px;
  }
  
  #settings-context .option-add, 
  #settings-context .option-organize, 
  #settings-context .option-edit {
      display: none; /* Hidding these to simplify the add/organize panes - just do one thing */
  }
  
  .page-options .option-add, 
  .page-options .option-organize, 
  .page-options .option-view-revisions,
  .page-options #secondary-options {
    @include breakpoint(xs){
    display: none;
    }
  }
  
  .option-edit {
    position: relative;
  }
  
  .option-edit a {
    border: none;
  }
  
  .option-edit a:hover {
    border: none;
  }
  
  .option-organize {
    text-transform: capitalize;
  }
  
  .organize-button-bind {
    position: relative;
  }
  
  .option-organize.in-context {
    position: absolute;
    top: 10px;
    right: 0;
    list-style: none;
    @include rem-fallback(font-size, 14);
  }
  
  .option-organize.in-context a{
     @include rem-fallback(font-size, 14);
     padding: .1em .4em;
     animation-name: hightlight;
     animation-duration: 2s; 
  }
  
  .option-organize.in-context a:hover{
     @include rem-fallback(font-size, 14);
     padding: .1em .4em;
     background: #eee;
  }
  
  .option-organize.in-context a .mk-icon{
     @include rem-fallback(font-size, 18);
  }
  
  .edit-button.open {
    border-bottom: none;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 1;
  }
  
  .edit-button.open:hover {
    background: #fff;
  }
  
  /* Dropdown submenu */
  .js-nav-system__subnav {
    position: absolute;
    @include rem-fallback(right, 0);
    @include rem-fallback(top, 27);
    @include rem-fallback(margin-top, -2);
    border: 1px solid #565656;
    padding:0;
    border-radius: 3px;
    background: #fff;
    @include rem-fallback(min-width, 150);
    z-index: 1;
    animation: fadeInDown .3s;
    @extend .box-shadow-subtle;
  }
  
  .js-nav-system__subnav.left-align {
    margin-left: 1px;
  }
  
  .js-nav-system__subnav.right-align {
    margin-right: 2px;
  }
  
  .page-options .dropdown-container li{
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  
  .page-options .dropdown-container li:last-of-type{
    border-bottom: none;
  }
  
  .page-options .dropdown-container a {
    padding: 0.3em .5em .3em;
    margin: 0;
    width: 100%;
    border: none;
  }
  
  .js-nav-system__item[data-show-sub="true"] .js-nav-system__link {
    background: #303030;
    color: #fff;
    border: 1px solid #303030;
  }
  
  .option-edit [data-visually-hidden="false"] {
    border-top-right-radius: 0;
  }
  
  .page-options .option-add {
    margin-right: -2px;
  }
  
  .close-icon,{
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    overflow: hidden;
    &:hover {
      &::before, &::after {
      background: #666;
      }
    }
  
    &::before, &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #000;
    }
    &::before {
      @include transform(rotate(45deg));
    }
    &::after {
      @include transform(rotate(-45deg));
    }
  }
  
  .page-options .mk-icon.mk-close,
  .close-story-button .mk-icon.mk-close,
  .close-modal .mk-icon.mk-close {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    overflow: hidden;
    &:hover {
      &::before, &::after {
      background: #666;
      }
    }
  
    &::before, &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #000;
    }
    &::before {
      @include transform(rotate(45deg));
    }
    &::after {
      @include transform(rotate(-45deg));
    }
  }
  
  
  
  /* @end */

  /* @group Unpublished, Archived */

.unpublished-append,
.archived-append,
.locked-append {
  display: inline-block;
  background: #f9edbe;
  padding: .2em .5em;
  margin-right: .5em;
  border-radius: 2px;
  @include rem-fallback(font-size, 14);
  font-weight: normal;
  color: #333;
  border: 1px solid #565656;
}

.unpublished-append {
  background: #F8CDD2;
}

.locked-append {
  margin: 0;
  padding: .2em 0em .2em .5em;
  @include breakpoint(md){ 
    padding: .2em .5em;
  }
}

.unpublished-append .status-text,
.archived-append .status-text,
.locked-append .status-text {
  display: none;
  @include breakpoint(md){ 
      display: inline;
  	}
}

.unpublished-append .mk-icon,
.archived-append .mk-icon,
.locked-append .mk-icon {
  @include rem-fallback(font-size, 14);
  top: 0;
  margin-right: .0em;
  @include breakpoint(md){ 
    margin-right: .3em;
  }
}


.locked-append .mk-icon {
  margin: 0;
}

/* @end */