/* @group ITEM HEADER */

.item-header {
  padding: 1em 1em 1em 1em;
  width: 100%;
  clear: left;
  position: static;
  margin: auto;
  @include rem-fallback(max-width, 700);
  margin-bottom: 1em;
  @include breakpoint(sm){ 
  padding: 1em 0em .5em 0em;
  }
}

.image-template .item-header {
  border-bottom: 1px solid #565656;
}

.map-template .content-primary .item-header {
  max-width: none;
  padding-left: 0;
  margin-bottom: .5em;
}


.file-template .content-primary .item-header.file-header {
  padding: .7em 1em 0 2em;
  max-width: none;
  @include breakpoint(xs){
    padding: .7em 1em 0 1em;
  }
}

.timeline-template .content-primary .item-header.timeline-header{
  padding: .7em 1em 0 1em; 
  max-width: none;
}

.file-template.text-template--image .content-primary .item-header  {
  @include rem-fallback(max-width, 700);
  padding: 1em 0em 1em 0em;  
}

.item-nav {
  margin-bottom:.5em;
  margin-top: .5em;
  position: relative; /* for background image layouts */
  transition:visibility 1s, opacity 1s; visibility:visible; opacity:1;
}

.item-header h1,
.item-header h2  {
  margin: .0 0 0 0;
  display: inline-block;
  transition:visibility 1s, opacity 1s; visibility:visible; opacity:1;
}

/* @end */

/* @group CAPTION */

.item-header .caption {
	padding: .5em 0 0 0;
	@include rem-fallback(font-size, 20);
	color: #565656;
	@include rem-fallback(max-width, 960);
	transition:visibility 1s, opacity 1s; visibility:visible; opacity:1;
}

.background-image-active .caption {
	color: #fff;
}

/* @end */



/* @group WIDGET LINKS */

.widgets-menu {
  display: inline;
}

.details-button {
  display: none;
}

.image-template .details-list,
.video-template .details-list {
  display: none;  
}

.image-template .details-button .mk-arrow-down,
.video-template .details-button .mk-arrow-down { 
    display: none;  
}

.progression-template .details-button,
.image-template .details-button,
.video-template .details-button,
.file-template .details-button {
    bottom: 0;
    position: fixed;
    z-index: 2;
    display: block;
    cursor: pointer;
    padding: 0em .4em 0em .4em;
    border-radius: 5px;
    color: #000;
    @include rem-fallback(font-size, 18);
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 2em;
    background: #fff;
    display: block;
    @include breakpoint(xs){ 
        right: 0;
        font-size:18px;
    	}
    
    @include breakpoint(md){ 
        right: 0;
    	}
}

.file-template .details-button {
  border-top: 1px solid #565656;
}

.details-button:focus {
  box-shadow:none;
  outline: none;
}

.overlay-opened .details-button {
  cursor: default;
}

.overlay-opened .details-button:hover {
    background: #fff;
    border: 1px solid #999;
}

.details-button .mk-arrow-down {
    @include rem-fallback(font-size, 22);
    position: relative;
    top: 4px;
    padding-right: .2em;  
}

.details-list {
  display: inline;
  padding-left: 0;
}

.details-list li {
  display: inline;
  list-style: none;
}

.details-list li:after {
content: ", ";
}
 
.details-list li:last-child:after {
content: "";
}

.image-template .details-button,
.video-template .details-button {
display: block;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.25+12,0.5+24,0.6+49,0.8+100 */
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 12%, rgba(255,255,255,0.5) 24%, rgba(255,255,255,0.6) 49%, rgba(255,255,255,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(12%,rgba(255,255,255,0.25)), color-stop(24%,rgba(255,255,255,0.5)), color-stop(49%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 12%,rgba(255,255,255,0.5) 24%,rgba(255,255,255,0.6) 49%,rgba(255,255,255,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 12%,rgba(255,255,255,0.5) 24%,rgba(255,255,255,0.6) 49%,rgba(255,255,255,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 12%,rgba(255,255,255,0.5) 24%,rgba(255,255,255,0.6) 49%,rgba(255,255,255,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 12%,rgba(255,255,255,0.5) 24%,rgba(255,255,255,0.6) 49%,rgba(255,255,255,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccffffff',GradientType=0 ); /* IE6-9 */  
padding: 1em .4em .75em .4em;
}



/* @end */

/* @group STICKY HEADER */

.sticky-header {
  display: none;
}

.sticky-header.active {
    display: block;
    background: transparent;
    z-index: 1001;
    width: 100%;
    max-width: none !important;
    padding: .2em .5em .2em 1.5em !important;
    position:fixed;
    top:0;
    left:0;
    background:#ffffff;
    opacity:.98;    
    border: 1px solid #999;
    animation-name: slideDownSmooth;
    animation-duration: .75s; 
    @include breakpoint(sm){
    	padding-right: 1.2em;
    	}
}

.sticky-header.active .item-nav,
.sticky-header.active .caption {
    display: none;
}

.sticky-header.active h2{
   margin: .5em 0 .5em !important;
   float: left !important;
   position: static !important;
   font-size: 20px !important;
   font-size: 1.25rem !important;
   transform: none !important;;  
}

.sticky-header.active .page-options{
    position: static;
    float: right;
    padding: 0;
    margin: .4em 0 0 0;
    @include breakpoint(xs){
      display: none;
    }
}

.sticky-header.active .close-button {
  display: none;
}

.sticky-header.active .mk-breadcrumb {
  display: none;
}

/* @end */


/* @group WITH BACKGROUND IMAGE */

.background-image-active .widgets-menu .collections-link,
.background-image-active .breadcrumb-list a, 
.background-image-active .breadcrumb-list > li + li:before
 {
	color: #fff;	
}

.background-image-active .breadcrumb-list > li.active-crumb {
	color: #fff;
}

.background-image-active  .breadcrumb-list li:last-child a {
	color: #fff;
}

.background-image-active  .breadcrumb-list li:first-child a:before { /* the "in" before breadcrumb trail */
  color: #fff;
}

.background-image-active .breadcrumb-list li:first-child a:before {
	color: #ddd;
}

/* @end */

