.btn {
	@include rem-fallback(font-size, 16);
	cursor:pointer
}

.btn:hover {
  background-color: #ccc;
  background: #ccc;
  color: #000;
  transition: color .25s linear, background-color .25s ease-in-out;
  border: 1px solid #666;
}

.btn-no-style { /* Unstyled button  */
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

.btn-default {
  border: 1px solid #565656;
}

.btn .mk-icon {
	@include rem-fallback(font-size, 22);
	position: relative;
	top: 3px;
	right: 0;
}

.btn-delete, .btn-warning {
    background: #fff;
    color: #333;
    border: 1px solid #565656;
}

.btn-delete:hover, .btn-warning:hover  {
    background-color: #6c1d27;
    border: 1px solid #6c1d27;
    color: #fff;
}

.btn-save, .btn-success  {
	color: #ffffff;
	background-color: #444;
	border: 1px solid #444;
}

.btn-save .mk-icon, .btn-success .mk-icon  {
    right: -9px;
}

.btn-save:hover, .btn-success:hover, .btn-success:focus {
	background-color: #666;
}

.btn-primary {
	background-color: #444;
	border: 1px solid #444;
    padding: 5px 10px 6px 10px;
    color:#fff;
}

.btn-primary:focus, .btn-primary:active, .btn-primary.active {
background-color: #444;
border: 1px solid #444;  
}


.btn-primary .mk-icon {
    right: 0;
}

.btn-primary:hover {
	background-color: #000;
	color: #fff;
}

.btn-primary.disabled {
    background: #4F727F;
    color: #fff;
    border: 1px solid #4F727F;
}

.save-bar #unpublish {
    background: #fff  ;
    color: #333;
    border: 1px solid #565656;
}


#cancel-editing, #close-settings-context {
    background: #fff;
    border: 1px solid #565656;
    color: #333;
}

#cancel-editing .mk-icon, #close-settings-context .mk-icon, .discard .mk-icon  {
    right: -9px;
}

#delete-item .mk-delete {
 	top: 3px;
 	right: -7px;
}

#unpublish .mk-unpublish {
  right:  -7px;
}
 
 /* @group TOGGLE SWITCH */
 
 /* Toggle instances */
  .toggle {
     width: 120px;
     margin: 10px;
 }
 .stacked .toggle {
     display: block;
 }
 
 /* General toggle styles */
  .toggle {
     position: relative;
     padding: 0;
     display: inline-block;
     white-space: nowrap;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
 }
 .toggle input {
     position: absolute;
     opacity: 0;
 }
 .toggle > div {
     overflow: hidden;
     padding: 0;
     width: 100%;
 }
 .toggle label {
     display: block;
     margin: 0 0 0 -100%;
     padding: 0;
     width: 200%;
     max-width: none;
     -webkit-transition: margin 0.15s cubic-bezier(1, 0.035, 0.665, 0.91);
     transition: margin 0.15s cubic-bezier(1, 0.035, 0.665, 0.91);
 }
 .toggle label:before, .toggle label:after {
     content:" ";
     display: table;
 }
 .toggle label:after {
     clear: both;
 }
 .toggle label .btn {
     display: block;
     float: left;
 }
 .toggle input:focus + div {
     outline: thin dotted #333;
     outline: 5px auto -webkit-focus-ring-color;
     outline-offset: -2px;
 }
 .toggle input:checked + div > label {
     margin-left: 0;
 }
 .toggle input:checked + div > label .toggle-handle {
     left: 90%;
     left: calc(90% - 2px);
 }
 .toggle-on, .toggle-off {
     border-radius: 0;
     width: 50%;
 }
 .toggle-on {
     padding-right: 10%;
     padding: 1px 14px 4px 0px;
     color: #333;
     background-color: #fff;
     border: 1px solid #565656;
     border-radius: 2;
 }
 .toggle-off.btn-warning {
     padding-left: 10%;
     padding: 2px 0px 4px 4px;
     color: #333;
     background-color: #eee;
     border-color: #565656;
     box-shadow: none;
      border-radius: 2;
 }
 .toggle-handle {
     width: 10%;
     padding: 0;
     position: absolute;
     left: 2px;
     top: 2px;
     bottom: 2px;
     -webkit-transition: left 0.15s cubic-bezier(1, 0.035, 0.665, 0.91);
     transition: left 0.15s cubic-bezier(1, 0.035, 0.665, 0.91);
     background: #565656;
     border: 0;
     border-radius: 0;
 }
 .toggle-align .toggle-on {
     text-align: left;
     padding-right: 0;
 }
 .toggle-align .toggle-off {
     text-align: right;
     padding-left: 0;
 }
 
  .toggle-off.btn-warning:after {
     content: "Hidden";
  }
 
 .toggle .mk-icon {
    @include rem-fallback(font-size, 16);
    position: relative;
    top: 2px;
    right: -1px;
 }
 
 .toggle-label {
    width: 125px;
    @include rem-fallback(font-size, 20);
    display: inline-block;
 }
 
 /*
   Hide radio button (the round disc)
   we will use just the label to create pushbutton effect
   
 */
 
.menu-options-container {
  width: 18em;
  background: #fff;
  border: 1px solid #565656;
}

.menu-display-options input[type=radio] {
     display:none; 
     margin:10px;
 }
  
 /*
   Change the look'n'feel of labels (which are adjacent to radiobuttons).
   Add some margin, padding to label
 */
.menu-display-options input[type=radio] + label {
     display:inline-block;
     padding: .3  em .5em;
     vertical-align: middle;
     cursor: pointer;
     border: 1px solid #ccc;
     font-weight: normal;
     @include rem-fallback(font-size, 16);
     background: #eee;
     margin-right: .3em;
 }
 
 .menu-display-options input[type=radio] + label:hover {
     color: #000;
     background: #999;
  }
 /*
  Change background color for label next to checked radio button
  to make it look like highlighted button
 */


.menu-display-options input[type=radio]:checked + label { 
      background-image: none;
      speak: none;
      color: #000;
      background: #666;
      font-weight: bold;
      border: 1px solid #565656;
      color: #fff;
 }
 
 .menu-display-options label.menu-horizontal { 
      width: 100%;
      text-align: center;
  }
 
 .menu-display-options label.menu-vertical { 
      float: right;
      width: 6em;
      height: 8em;
      text-align: center;
  }
 
.menu-display-options input[type=radio]:checked + label:before{ 
    font-family: 'mediakron';
    content: "\e83a";
    position: relative;
    right: 0;
    top: 1px;
    margin-left: -5px;
 }
 
 .menu-display-options input[type=radio]:checked + label.menu-vertical:after{ 
     content: "(enabled)";
     display: block;
     	@include rem-fallback(font-size, 14);
  }
  
.menu-display-options input[type=radio]:checked + label.menu-horizontal:after{ 
      content: " (enabled)";   
   }
  
 
 /* @end */
 
 /* @group LABEL SWITCH */
 
 .label-switch {  
   $action-color: #477DCA !default;
   $base-background-color: white !default;
   $switch-width: 48px;
   $switch-padding: 2px;
   $switch-height: 28px;
   $switch-radius: $switch-height;
   $knob-size: $switch-height - ($switch-padding * 2);
   $knob-radius: $switch-height - ($switch-padding * 2);
   $knob-width: $knob-size;
   $switch-background: $base-background-color;
   $switch-border-background: darken($base-background-color, 9%);
   $switch-shadow: 0 2px 5px transparentize(black, 0.6);
 
   border-radius: $switch-radius;
   cursor: pointer;
   display: inline-block;
   height: $switch-height;
   position: relative;
   width: $switch-width;
   padding: 0;
   margin: 0;
   bottom: -.2em;
 
   input[type="checkbox"] {
     display: none;
 
     + .checkbox {
       transition: all 0.3s ease;
       background: #ccc;
       border-radius: $switch-radius;
       border: none;
       cursor: pointer;
       height: $switch-height;
       margin: 0;
       padding: 0;
       position: relative;
       width: $switch-width;
       z-index: 0;
 
       &:before {
         position:absolute;
         top:2px;
         bottom:0;
         right:0;
         left:2px;
         @include transform(scale(1));
         transition: all 0.3s ease;
         background:#ddd;
         border-radius: $switch-radius;
         content: "";
         height: $knob-radius;
         width: $switch-width - ($switch-padding * 2);
         z-index: 1;
       }
 
       &:after {
        position:absolute;
        top:2px;
        bottom:0;
        right:0;
        left:2px;
         transition: all 0.3s ease;
         width: $knob-size;
         height:$knob-size;
         background: $switch-background;
         border-radius: $knob-radius;
         box-shadow: $switch-shadow;
         content: "";
         z-index: 2;
       }
     }
     
     &:checked {
       + .checkbox {
         background: $action-color;
         
 
         &:before {
           @include transform(scale(0));
         }
 
         &:after {
           left: $switch-width - $knob-width - ($switch-padding);
           background:white;
           
       
         }
       }
     }
   }
 }
 
 
 
 /* @end */
  
