<article class="template map-template map-template--tour <% if(caption.length){ %> caption-active<% } %> collection maptype-<%= type %> ">

	<div class="content-primary<% if(caption.length){ %> caption-active<% } %>">
		
		<header class="item-header">
		  <div class="item-nav">
		    <nav class="mk-breadcrumb" role="breadcrumbs"><%= Mediakron.breadcrumb.getBreadcrumb() %></nav><nav class="widgets-menu widgets-menu-<%= uri %>"></nav>
		  </div>
			  <h2><%= title %></h2>
			   <ul class="page-options page-options-<%= uri %> js-nav-system"></ul>
			<% if(caption.length){ %><div class="caption map-caption"><%= caption %></div><% } %>
		</header>
		
		<div class="map-view render-maps">
		  <div class="map-template__content tour-container-open">
  		  
  		  <div class="item-sidebar">
           <button class="close-sidebars-button btn btn-default tooltip--w" data-tooltip="Close"><span class="close-icon" ></span><span class="sr-only">Close</span></button>
    		  <div class="sidebar-controls">
      		 <button class="tour-contents btn btn-default tooltip--w" data-tooltip="Contents"><span class="mk-icon mk-menu" ></span><span class="sr-only">Contents</span></button>
      		<%if(options.layersHidden != 'hidden' && options.filtersHidden != 'hidden'){ %>
      		  <button class="map-filters btn btn-default tooltip--w" data-tooltip="Tools"><span class="mk-icon mk-filter" ></span><span class="sr-only">Tools</span></button>
          <% } %>
      		<% if((description) || item.hasMetadata() || item.hasSource() ||(Mediakron.Settings.showauthor)) { %>
      		 <button class="sidebar-details btn btn-default tooltip--w" data-tooltip="Details"><span class="mk-icon mk-info" ></span><span class="sr-only">Details</span></button>
      		 <% } %>
      	</div>
    		  
    		  <section class="tour-container">
    		    <nav class="tour-nav">
      		    <button class="tour-previous btn btn-default tooltip--w" data-tooltip="Previous Item"><span class="up-button" ></span><span class="navigation-title sr-only">Previous</span></button>
      		    <button class="tour-next btn btn-default tooltip--w" data-tooltip="Next Item"><span class="down-button"></span><span class="navigation-title sr-only">Next</span></button>
    		    </nav>
      		  
      		  <div class="tour-content"> </div>
      		  
    		  </section>
			
			    
			    <% if(options.layersHidden != 'hidden' && options.filtersHidden != 'hidden'){ %> 
			     <div class="filter-bind"></div>
			    <% } %>
			  
  			  <div class="sidebar-widgets"> 
  			     <div class="widgets widgets--sidebar widgets--sidebar-<%= uri %>"></div> 
  			     <div class="widgets widgets--below widgets--below-<%= uri %>">
  			  	   	<div class="widgets__description widget-box"></div>
  			  	   	<div class="widgets__details widget-box"></div>
  			  	   	<div class="widgets__transcript widget-box"></div>
  			  	   	<div class="widgets__comments widget-box"></div>
  			     </div>
			   </div>
			  
			  </div>
			  
			  <section class="map-view">
			    
			    <div class = "mediakron-map-load mediakron-openlayers-map"> &nbsp;
			    </div>
			    
			    <div class= "mediakron-map-tooltip"> </div>
			    
			    <div id="<%= identifier %>" class="map"><div class="info"></div></div>
			    
			  </section>
		  </div>
				</div>
	
	    <div class="item-overlay map-overlay closed">
    	    <div class="overlay-bg"></div>
	        <div class="overlay-window overlay ">
    	        <div class="item-contents"></div>
	        </div>
	    </div>
	</div>

</article>
