	
/*  Homepage */

.home-template {
	height:100%;
	width:100%;
	position: relative; /* to contain edit homepage button */
}

	.home-template__inner {
		height:100%;
		width:100%;
	}
	
.homepage .container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 15px;
	height:100%;
}

#change-homepage {
	position: absolute;
  right: .5em;
  top: .5em;
	border: 1px solid #565656;
	color: #303030;
	padding: 0;
	border-radius: 3px;
	padding: .2em .5em .2em .2em;
	background: #fff;
	margin-right: .2em;
	z-index: 106;
}

#change-homepage .mk-icon {
  @include rem-fallback(font-size,18);
  position: relative;
  top: 2px;
  margin-left: 0.3em;
}

.homepage .info-bar.fixed-bar {
	display: none;
}

.homepage .edit-options #change-homepage {
	display: none;
}

.homepage .template { /* Padding above homepage content */
    clear: both;
    padding-top: 2em;
}

.homepage .template.folder-image--half, 
.homepage .template.folder-image--full{
  padding-top: 0;
}

.homepage .col-md-8, .homepage .col-md-4 {
    position: static;
}

.homepage .template .page-options {
  top: 3em;
}

.homepage .loading {
  margin: 2em auto 0 auto;
  @include rem-fallback(width,200);
  text-align: center;
}

.homepage .loading img{
  height: 15px;
  width: auto;
}

/* @group HOME TEMPLATE NONE */

.home-template--none {
  padding-top: 0;
}

/* @end */

/* @group HOME-IMAGE--FULL */

.body-full-image #header {
  border-bottom: none;
}

.body-homepage-nobanner.homepage #main {
	height:100% !important;
}

.body-homepage-nobanner #institution-logo {
    float: none;
    position: absolute;
    bottom: 4px;
    right: 75px;
    display:none;
}

.home-image--full .home-template__info {
	background-color: #666;
	@extend .background-image;
	height: calc("100vh - 50px");
}

.home-image--full.image-active .home-template__info:before {
	@extend .background-image-darkened;
  height: calc("100vh - 50px");
}

.home-content-active.home-image--full .home-template__info,
.description-active.home-image--full .home-template__info {
   height: calc("90vh - 50px");
}

.home-content-active.home-image--full .home-template__info:before,
.description-active.home-image--full .home-template__info:before  {
   height: calc("90vh - 50px");
}

.home-image--full .title-box-home{
    padding:1em 1em;
    width:100%;
    @include scut-center-transform;
    z-index: 1;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    @include breakpoint(md){ 
    max-width:90%;
    top: 45%;
    	}
}

.home-image--full .home-description  {
    width:100%;
    max-width:90%;
    margin:1em auto auto auto;
    @include breakpoint(md){ 
    max-width:90%;
    	}
}

.home-image--full.image-active .home-description {
    @extend .text-shadow;
}

.home-image--full h1{
  text-align: center;
  width: 100%;
  z-index:100;
  padding:0 2%;
	line-height: 1.5;
	letter-spacing: 1px;
	color: #fff;
	@include rem-fallback(font-size,44);
	font-size: 6.5vw;
	line-height: 8vw;
	
	@include breakpoint(xs){ 
		font-size: 32px;
		font-size: 7vw;
		line-height: 8vw;
		}
	@include breakpoint(md){ 
		@include rem-fallback(font-size,54);
		font-size: 7vw;
		line-height: 8vw;
			}
}

.home-image--full.image-active h1 {
   color: #fff !important; /* text must be white over image  */
   @extend .text-shadow;
}

.home-image--full .subtitle {
	letter-spacing: 2px;
    margin:.5em auto auto auto;
    color:#fff;
    @include rem-fallback(font-size,30);
    font-size: 3.5vw;
    line-height: 5vw;
    
    @include breakpoint(xs){ 
    	font-size: 32px;
    	font-size: 5vw;
    	line-height: 6.5vw;
    	}
    	
    @include breakpoint(md){ 
    	font-size: 50px;
    	font-size: 3vw;
    	line-height: 4vw;
    	}
}

.home-image--full.image-active .subtitle {
   color: #fff !important; /* text must be white over image  */
   @extend .text-shadow;
}

.home-image--full .description {
    @include rem-fallback(font-size, 22);
    letter-spacing: .01rem;
    line-height: 1.5;
    margin: 1em auto;
    @include rem-fallback(max-width,750);
    width: 100%;
    padding: .5em 1.5em 2em 1.5em;
}

.home-image--full .description a {
	text-decoration: underline;
}

.home-image--full #change-homepage {
  right: 1em;
  top: 1em;
}

.body-homepage-nobanner .content-push{
       margin-right: 285px;
}

/* @end */


/* @group HOME-IMAGE--HALF */

.body-half-image #header {
  border-bottom: none;
}

.body-homepage-half #mediakron {
	/*overflow: hidden;*/
}

.body-homepage-half.homepage #main {
	height:100% !important;
}

.body-homepage-half #institution-logo {
    float: none;
    position: absolute;
    bottom: 4px;
    right: 75px;
    display:none;
}

.home-image--half .home-template__info {
	background-color: #666;
	@extend .background-image;
  height: calc("50vh - 50px");
}

.home-image--half.image-active .home-template__info:before {
	@extend .background-image-darkened;
	height: calc("50vh - 50px");
}

.home-image--half .title-box-home{
    padding:1em 1em;
    width:100%;
    @include scut-center-transform;
    z-index: 1;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    @include breakpoint(md){ 
    max-width:90%;
    top: 45%;
    	}
}

.home-image--half .home-description  {
    width:100%;
    max-width:90%;
    margin:1em auto auto auto;
    @include breakpoint(md){ 
    max-width:90%;
    	}
}

.home-image--half.image-active .home-description {
    @extend .text-shadow;
}

.home-image--half h1{
    text-align: center;
    width: 100%;
    
    z-index:100;
    padding:0 2%;
	line-height: 1.5;
	letter-spacing: 1px;
	color: #fff;
	@include rem-fallback(font-size,44);
	font-size: 7vw;
	line-height: 8.5vw;
	
	@include breakpoint(xs){ 
		font-size: 32px;
		font-size: 7vw;
		line-height: 8vw;
		}
	@include breakpoint(md){ 
		@include rem-fallback(font-size,54);
		font-size: 6vw;
		line-height: 7vw;
			}
}

.home-image--half.image-active h1 {
   color: #fff !important; /* text must be white over image  */
   @extend .text-shadow;
}


.home-image--half .subtitle {
	letter-spacing: 2px;
    margin:.5em auto auto auto;
    color:#fff;
    @include rem-fallback(font-size,30);
    font-size: 3.5vw;
    line-height: 5vw;
    
    @include breakpoint(xs){ 
    	font-size: 32px;
    	font-size: 5vw;
    	line-height: 6.5vw;
    	}
    	
    @include breakpoint(md){ 
    	font-size: 50px;
    	font-size: 3vw;
    	line-height: 4vw;
    	}
}

.home-image--half.image-active .subtitle  {
   color: #fff !important; /* text must be white over image  */
   @extend .text-shadow;
}

.home-image--half .description {
    @include rem-fallback(font-size, 22);
    letter-spacing: .01rem;
    line-height: 1.5;
    margin: 0 auto;
    @include rem-fallback(max-width,750);
    width: 100%;
    padding: 1.5em 1.5em 1em 1.5em;
}

.home-image--half .description a {
	text-decoration: underline;
}

.home-image--half #change-homepage {
  right: 1em;
  top: 1em;
}

.home-image--half .content-push{
   margin-right: 285px;
}


/* @end */

/* @group Flexbox Grid */

.home-template .flex-grid ul {
  ///////////////////////////////////////////////////////////////////////////////////
  
    $flex-box-gutter: 0.4em;
    padding: 1em;
    @include clearfix;
    display:flex;;
    justify-content: center;
    align-items:stretch;
    flex-wrap:wrap;
    clear: both;
    text-align: center;

  li {
    transition: all 0.2s ease-in-out;
    flex:1 1 175px;
    align-self:stretch;
    display: block;
    margin: $flex-box-gutter;
    list-style:none;
    max-width: 200px;
    }
    
   li img {
     width: 100%;
     height: auto;
   }
     
}

.home-template .flex-grid li .square-thumbnail {
	@extend .box-shadow-subtle;
}

.home-template .flex-grid li .item-square-icon{
	font-size:120px !important;
	color:#565656;
	background:#ddd;
	border:#ddd;
	@extend .box-shadow-subtle;
	align-self:center;
}

.home-template .flex-grid li .item-square-icon .mk-icon{
    top: -5px;
}


/* @end */




/* @group HOME-TEMPLATE--BASIC */

.body-homepage-basic #branding{
	text-align: center;
}

.home-template--basic .home-template__inner .homepage-title{
	text-align:center;
}

.home-template--basic .home-template__inner .homepage-title h1{
	display: block;
	margin: 0;
	padding-top: .5em;
	@include rem-fallback(font-size,50);
	text-transform: uppercase;
}

.home-template--basic h2 {
	margin-left: 1.2em;
	color: #444;
	text-align: center;
	padding: 1em 1.5em;
	max-width: 960px;
	width: 100%;
	margin:auto;
	
    @include breakpoint(xs){ 
        font-size: 32px;
        font-size: 7vw;
        line-height: 8vw;
        
    	}
}

.home-template--basic .home-template__inner {
	width: 100%;
}

.home-template--basic .home-image {
	width: 90%;
	padding: 0;
	margin: .5em auto 1em auto;
	@include breakpoint(md){ 
    	width: 100%;
    	max-width: 960px;
    	margin: 1.5em auto 1em auto;
    	}
}

.home-template--basic .home-image img {
	width: 100%;
	height: auto;
}

.home-template--basic .description {
	padding:.5em 1.5em 1em 1.5em;
	font-size:1.5em;
	line-height: 1.5;
	max-width: 960px;
	width: 100%;
	margin: auto;
}

.home-template--basic .home-description a {
	text-decoration: underline;
}

.homepage .narrative-template--basic .title-box {
    padding-top:0;
}

.homepage .narrative-template--basic .title-box .edit-menu {
       padding-bottom:1em;
}

.homepage .narrative-template--basic .text-body{
    padding-left:.3em;    
}

/* @end */


/* @group HOME-TEMPLATE--CENTERED-LOGO */

.body-homepage-centered-logo #branding{
	text-align: center;
}

.body-homepage-centered-logo #header h1{
	float: none;
	display: none;
}

.home-template--centered-logo .home-template__inner .homepage-title{
	text-align:center;
}

.home-template--centered-logo .home-template__inner .homepage-title h1{
	display: block;
	margin: 0;
	padding-top: .5em;
	@include rem-fallback(font-size,50);
	text-transform: uppercase;
}

.home-template--centered-logo .body-logo{
	text-align: center;
	padding-top: 2em;
}

.home-template--centered-logo .body-logo img{
	max-width: 500px;
	max-height: 200px;
}

.body-homepage-centered-logo #site-logo, .body-homepage-centered-logo #site-name {
    display:none;
}

.body-homepage-centered-logo #navbar,
.navbar-toggled.body-homepage-centered-logo #navbar {
    @include breakpoint(md){
    float: left;
    width: 100%;
    }
}

.home-template--centered-logo h2 {
	margin-left: 1.2em;
	color: #444;
	text-align: center;
	padding: 1em 1.5em;
	max-width: 960px;
	width: 100%;
	margin:auto;
	
    @include breakpoint(xs){ 
        font-size: 32px;
        font-size: 7vw;
        line-height: 8vw;
        
    	}
}

.home-template--centered-logo .home-template__inner {
	width: 100%;
}

.home-template--centered-logo .home-image {
	width: 100%;
	padding: 0;
	margin: auto;
	margin-bottom: 1em;
	@include breakpoint(md){ 
    	width: 100%;
    	margin-top: 1em;
    	}
}

.home-template--centered-logo .home-image img {
	width: 100%;
	height: auto;
}

.home-template--centered-logo .home-description {
	padding:.5em 1.5em 2em 1.5em;
	font-size:1.5em;
	line-height: 1.5;
	text-align: center;
	max-width: 960px;
	width: 100%;
	margin: auto;
}

.home-template--centered-logo .home-description a {
	text-decoration: underline;
}

/* @end */

/* @group HOME-TEMPLATE--LEFT */

.body-homepage-right .container-fluid.content-area {
	@include rem-fallback(max-width,1200);
}

.home-template--left .home-image {
    padding: 0;
	@include breakpoint(md){ 
	padding:2em 1em 1em 2em;
	margin: auto;
	max-width: 1000px;
	}
}

.home-template--left .home-image img {
	width: 100%;
	height: auto;
}

.home-template--left .home-template_info {
	padding: 1.5em;
	@include breakpoint(md){ 
	padding: 2em 2em 1em 2;
	}
}

.home-template--left.no-image .home-template_info {
    width: 100%;
    max-width: 700px;
    float: none;
    margin: 1em auto auto auto;
}

.home-template--left .home-description {
	padding-right:0;
	line-height: 1.5;
	max-width: 800px;
	margin: auto;
	@include rem-fallback(font-size,20);
	@include breakpoint(md){ 
	padding-right: 1.5;
	}
}

.home-template--left .home-description a {
	text-decoration: underline;
}

.home-template--left .home-subtitle{
	margin-top: 10px;
	font-style: normal;
	padding: 0 .5em;
	text-align: center;
	@include breakpoint(md){ 
	padding: 0;
	text-align: left;
	}
}

.home-template--left h2 {
    margin-top: 0;
    @include rem-fallback(font-size,26);
	@include breakpoint(xs){ 
	    font-size: 32px;
	    font-size: 7vw;
	    line-height: 8vw;
	    
		}
}



/* @end */

/* @group HOME-TEMPLATE--RIGHT */

.body-homepage-right .container-fluid.content-area {
	@include rem-fallback(max-width,1200);
}

.home-template--right .home-image {
    padding: 0;
	@include breakpoint(md){ 
	padding:2em 2em 1em 1.5em;
	margin: auto;
	max-width: 1000px;
	float: right;
	}
}

.home-template--right .home-image img {
	width: 100%;
	height: auto;
	margin-top: .75em;
}

.home-template--right .home-template_info {
    padding: 1.5em;
	@include breakpoint(md){ 
	padding: 2em 1.5em 1em 2.5em;
	}
}

.home-template--right.no-image .home-template_info {
    width: 100%;
    max-width: 700px;
    float: none;
    margin: auto;
}

.home-template--right .home-description {
	line-height: 1.5;
	max-width: 800px;
	margin: auto;
	@include rem-fallback(font-size,20);
}

.home-template--right .home-description a {
	text-decoration: underline;
}

.home-template--right .home-subtitle{
	margin-top: 10px;
	font-style: normal;
	padding: 0 .5em;
	text-align: center;
	@include breakpoint(md){ 
	padding: 0;
	text-align: left;
	}
}

.home-template--right  h2 {
    margin-top: 0;
    @include rem-fallback(font-size,26);
	@include breakpoint(xs){ 
	    font-size: 32px;
	    font-size: 7vw;
	    line-height: 8vw;
	    
		}
}


/* @end */


/* @group HOME-TEMPLATE--NOBANNER */


.body-homepage-nobanner #mediakron {
	/*overflow: hidden;*/
}

.body-homepage-nobanner.homepage #main {
	height:100% !important;
}

.body-homepage-nobanner #institution-logo {
    float: none;
    position: absolute;
    bottom: 4px;
    right: 75px;
    display:none;
}

.home-template--nobanner .title-box-home{
    padding:1em 1em;
    width:100%;
    @include scut-center-transform;
    z-index: 1;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    @include breakpoint(md){ 
    max-width:90%;
    top: 45%;
    	}
}

.home-template--nobanner .description {
    @include rem-fallback(font-size, 22);
    letter-spacing: .01rem;
    line-height: 1.5;
    margin: 1em auto;
    @include rem-fallback(max-width,750);
    width: 100%;
    padding: .5em 1.5em 2em 1.5em;
}

.home-template--nobanner .description a {
	text-decoration: underline;
}

.home-template--nobanner #change-homepage {
  right: 1em;
  top: 1em;
}

.body-homepage-nobanner .content-push{
       margin-right: 285px;
}

/* @group HOME TEMPLATE NONE */

.home-template--none {
  padding-top: 0;
}

/* @end */

/* @end */

/* @group HOME-TEMPLATE--HALF */


.body-homepage-half #mediakron {
	/*overflow: hidden;*/
}

.body-homepage-half.homepage #main {
	height:100% !important;
}

/* @end */

/* @group HOME-TEMPLATE--menubasic */

.home-template--menubasic {
  padding: 0;
  margin: 0;
}

.home-template--menubasic #homepage-menu {
  width: 100%;
  max-width: none;
}

.home-template--menubasic .menu-image {
  width: 100%;
  margin: 3em auto 1em auto;
  max-width: 800px;
}

.home-template--menubasic .menu-image img {
  width: 100%;
  height: auto;
}

/* @end */

/* @group HOME-TEMPLATE--UPDATES*/

#homepage-updates {
  @include rem-fallback(max-width, 992);
  margin: auto;
  @include clearfix;
  padding: 0 1em;
}

.homepage-updates-container.updates-present {
  border-top: 1px solid #565656; 
  margin-top: 1em;
  padding-top: 1em;

}

#recent-changes-container.no-new-content,
#new-content-container.no-updated-content {
  @include rem-fallback(max-width, 650);
  margin: auto;
  float: none;
  width: 100%;
}

#homepage-updates .item-card--status .updates-changed,
#homepage-updates .item-card--status .updates-new {
  display: none;
}


/* @end */

/* @group HOME-MENUS */

.home-template--menubasic .home-description,
.home-template--updates-basic .home-description {
  padding: 0 .5em;
  margin: 0 auto;
  @include rem-fallback(font-size, 20);
  width: 100%;
  max-width: 700px;
  padding: 0 .5em;
  @include clearfix;
}

.home-template--menubasic .home-description img,
.home-template--updates-basic .home-description img  {
  width: 100%;
  height: auto;
  padding: .5em .5em .5em .5em;
  @include breakpoint(md){
    width: 30%;
    float: left;
    padding-right: 1em;
    padding-top: .3em;
  }
}

.home-template--menubasic .home-description .subtitle,
.home-template--updates-basic .home-description .subtitle {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

.home-template--menubasic.image-active .home-description .subtitle,
.home-template--updates-basic .home-description .subtitle {
  text-align: left;
  @include rem-fallback(font-size, 24);
}

/* @end */

/* @group HOME-MENUS--GRID */

.home-menus--grid #homepage-menu ul {
  list-style: none;
  margin: 0;
  padding: 2em 2em 1.5em 2em;
}

.home-menus--grid .homepage-menu--item {
  border-radius: 3px;
  margin: 0 1em 1em 0;
  position: relative;
  display: block;  
  list-style: none;
  padding-left: 0;
  border: 1px solid #999;
}

.home-menus--grid .homepage-menu--item:hover {
  opacity: .7;
}

.home-menus--grid .homepage-menu-title {
  border-top: 1px solid #fff;
  border-right: none;
  border-left: none;
  border-bottom: none;
  height: 100%; /* in case one of the titles wraps */
}

.home-template .flex-grid li .item-square-icon {
  color: #565656;
  background: #dddddd;
}

/* @end */




/* @group CONTENT HOMEPAGE */

.homepage .header-visibility,
.homepage .item-header { 
  padding: 0;
  transition: none;
  visibility: visible;
  opacity: 1;
  border: none;
}

.homepage .item-header .item-nav .widgets-menu, 
.homepage .item-header h1,
.homepage .item-header h2, /* Hide item title one homepage */
#homepage-content .item-header .item-nav .widgets-menu, 
#homepage-content .item-header h1,
#homepage-content .item-header h2 { /* Hide item title on homepage */
    display: none;
}

#homepage-content .overlay .item-header .item-nav .widgets-menu, 
#homepage-content .overlay .item-header h1,
#homepage-content .overlay .item-header h2 { /* show item title on homepage but in overlay */
    display: block;
}

.homepage .folder-template .item-header.bottom-border {
  border: none;
}

.homepage .template {
  padding-top: 1em;
}

.homepage .sticky-header {
 display:none;
}



/* @end */


/* @group HOMEPAGE MENU */

#homepage-menu {
  max-width: 90%;
  margin: auto;
}

#homepage-menu ul {
  list-style: none;
  margin: 0;
  padding: 2em;
}

.homepage-menu--item {
  border-radius: 3px;
  margin: 0 1em 1em 0;
  position: relative;
  display: flex;
  overflow: hidden;
  list-style: none;
  padding-left: 0;
}

.homepage-menu--thumbnail {
  float: left;
  position: relative;
  margin-right: 1em;
  border-right: 1px solid #565656;
}

#homepage-menu .item-square-icon,
#homepage-menu .square-thumbnail {
  width: 100% !important;
}

#homepage-menu .item-square-icon {
  /*border: 2px solid #ccc;*/
  border-bottom: none;
}

.homepage-menu-title {
 display: block;
 padding-top: .5em;
 background: #000;
 color: #fff;
 width: 100%;
 @include rem-fallback(max-width,200);
 padding: .5em .2em;
 border: 1px solid #fff;
 
}


/* @end */


