<!-- # Admin Pane - Performance #  -->

<div class="admin-pane admin-performance overlay overlay-half">

<header class="overlay-header"> 
  <div class="header-inner">
  <h2><span class="mk-icon mk-settings"></span> Settings > Site Cache</h2> 	
  <nav>
    <ul class="page-options"> 
      	<li class="option-close">	  	
      		<button class="btn btn-sm btn-default close-button" aria-label="Close">
        		<span class="mk-icon mk-close"></span>
        		<span class="button-text"> Close</span> 
        	</button>
      	</li>
    </ul>
  </nav>
  </div>
</header>

	<div id="admin-canvas" class="site-settings canvas">
	  <h3 class="title">Site Cache</h3>
      <p>Mediakron has a powerful record caching system that allows high performance response over a secure data interface.  There are certain circumstances under which this cache might encoder problems.  Pressing this button will rebuild the cache and should resolve this issue.</p>
      <button id="clear-cache" type="submit" class="btn btn-primary submit btn-sm"> Clear Cache</button>

    </div>
</div>

</div>

<div class="overlay-bg"></div>