<div class="marker-edit">
	<div id="marker-header">
		<%= item.getSquareImage('small',50,50) %>
		<h3><%= item.get('title') %></h3>
	</div>
	<div id="marker-form">
		<label>Address</label>
		<input name="address" id="address" placeholder="Address" />	
		<label>Longitude</label>
		<input name="longitude" id="longitude" placeholder="Longitude" />	
		<label>Latitude</label>
		<input name="latitude" id="latitude" placeholder="Latitude" />	
	</div>
	<div id="marker-actions">
		<button id="save" type="submit" class="btn btn-success submit btn-sm"><span class="mk-icon mk-save"> </span> Save</button>
		<button id="remove" type="submit" class="btn btn-default submit btn-sm hidden"><span class="mk-icon mk-remove"> </span> Remove</button>
		<button id="cancel" class="btn btn-default btn-sm cancel">Cancel</button>
	</div>
</div>