<!-- ===== Organize Pane - Comparison  ===== -->

<% var record; %>

<div class="organize-pane organize-comprison collection overlay overlay-sidebar">

  <header>
    <div class="header-inner">
      <h2><span class="toggles mk-icon mk-organize"></span> Organize Comparison </h2>
      <nav>
        <ul class="page-options"> 
          <li class="option-edit">
          	<a class="edit-button btn btn-sm btn-default" type="button" href="/settings/manage/edit/<%= Mediakron.controller.getPath() %>" aria-label="Edit" title="Edit Timeline">
          		<span class="toggles mk-icon mk-edit"></span><span class="button-text"> Edit</span>
          	</a>
          	<li class="option-add">	  	
          		<a class="btn btn-sm btn-default" href="/settings/manage/select/<%= Mediakron.controller.getPath() %>" aria-label="Add To" title="Add To">
          			<span class="toggles mk-icon mk-add"></span>
          			<span class="button-text"> Add To</span>
          		</a>
          	</li>
          	<li class="option-close">	  	
          		<button class="btn btn-sm btn-default close-button" aria-label="Close">
            		<span class="mk-icon mk-close"></span>
            		<span class="button-text"> Close</span> 
            	</button>
    
          	</li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div id="manage-comparison" class="organize">
    <h3 class="title"><%= item.title %></h3>
    <div class="form-instructions">Drag items to reorder.  
    </div>
  	<ul id="sort-comparison">
  		<%  _.each(item.relationships.children,function(child){ record = Mediakron.getItemFromURI(child.uri); %>
  			<li class="comparison-sortable" uri="<%= child.uri %>" data="<%= JSON.stringify(child.data) %>">
  			    <div class="title"><a href="<%= child.uri %>" class="title-link"> <%= record.get('title') %> </a></div>
  			    <%= record.getMosaicImage('medium') %>
  					
  				<% if(record.canEdit()){ %><a class="edit-button tooltip--n organize-edit-button" type="button" href="<%= record.editURL() %>" data-tooltip="Edit <%= record.getNormalType() %>"><span class="mk-icon mk-edit"></span><span class="sr-only"> Edit <%= record.getNormalType() %></span></a><% } %>
  				<% if(record.canEdit() || model.canRemoveFrom()){ %><span class="remove-item" uri="<%= child.uri %>">
  					<span class="mk-icon mk-remove"></span>
  				</span><% } %>
  			</li>
  		<% }); %>
  	</ul>

  	<div class="save-bar">
  	  <div class="save-bar-inner">
  			<button id="done-editing" type="submit" class="btn btn-success submit btn-sm"><span class="mk-icon mk-save"> </span> Save</button>
  			<button id="cancel-editing" class="btn btn-default btn-sm close-settings"><span class="mk-icon mk-close"> </span> Close</button>
        </div>
    </div>
    
  </div>

</div>

<div class="overlay-bg"></div>
<div class="overlay-bg"></div>