/* #region  SITE SETTINGS - SETTINGS */

#settings.site-settings {
    padding: 3.5em 1em 2em 1.5em;
  }
  
  #settings ul {
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .overlay .site-settings h3.title {
    padding-bottom: .3em;
  }
  
  #settings li a,
  #settingsli mk-icon {
    @include rem-fallback(font-size, 20);
  }
  
  #settings li a,
  #settings li .comingsoon {
    font-weight: 500;
    @include rem-fallback(font-size, 18);
  }
  
  #settings h3,
    {
    border-bottom: none;
    margin-top: 0;
  }
  
  #settings h3 .mk-icon {
    padding-right: .3em;
    @include rem-fallback(font-size, 24);
  }
  
  #settings h4 {
    font-weight: normal;
  }
  
  .settings-description {
    padding-bottom: .5em;
    @include rem-fallback(font-size, 14);
    display: block;
  }
  
  .comment-options {
    /* Temporily hidding comment options */
    display: none;
  }
  
  .settings-section {
    list-style: none;
    padding-left: 0;
  }
  
  .settings-item {
    position: relative;
    margin-right: 1em;
    margin-bottom: .5em;
    list-style: none;
    display: block;
    border: 1px solid #565656;
    border-radius: 3px;
  }
  
  .settings-item a {
    list-style: none;
    background: #fff;
    padding: .2em .5em .2em .75em;
    border-radius: 3px;
    width: 100%;
    display: block;
  }
  
  .settings-item a:hover,
  .settings-item a:focus {
    background: #eee;
    text-decoration: none;
    color: #666;
  }
  
  .settings-item.manage-user {
    /*hide until wired up */
    display: none;
  }
  
  /* #endregion  */
  
  