/* @group MAP HEIGHT */

.map-template .map{
	/*height:85vh !important;*/
  height: 100%;
  height: calc(100vh - 185px) !important;
  margin-bottom: 2em;
  z-index: 1;
}

/* Map in folder - needs more space at the bottom */
.folder-template .map-template .map {
	height: calc(100vh - 240px) !important;
}

	.caption-active.map-template .map{
		/*height:80vh !important;*/
		height: 100%;
		height: calc(100vh - 225px) !important;
	}

	/* Map in folder - needs more space at the bottom */
	.folder-template .caption-active.map-template .map {
		height: calc(100vh - 300px) !important;
	}

	
.item-overlay.opened .map-template .map{
  height: 100%;
  height: calc(100vh - 125px) !important;
  margin-bottom: 2em;
}

	.item-overlay.opened .caption-active.map-template .map{
		height: 100%;
		height: calc(100vh - 170px) !important;
	}
	

/* @end */

/* === @group MAPS (_maps.scss) === */

.map-template{    
	height: 100%;
	width:100%;
	/*z-index: 0;*/ /* fixing issue with sidebar menu getting convered by map content  */
}

.content-primary {
  padding: 0 1em 0 1.5em;
}

.map-template .map-template__content {
	height: 100%;

}


.map-view{
	width:100%;
	height:100%;
	position: relative;
	overflow: hidden;
	border: 1px solid #565656; 
}

.map-template .content-primary > .title-box{
	float:none;
	width:100%;
	z-index: 1;
	padding-bottom: 1em;
}

.map-template .option-add {
  display: none; /* hide add to button on maps  */
}

.settings-manage-organize .map-template {
  z-index: 1062; /* keeps map visible above overlay when organize pane or marker edit panes are open */
}

.settings-manage-organize .map-template .map,
.settings-manage-organize .map-template .tour-container-open .map {
    border: 1px solid #565656; 
}

.settings-manage-organize .map-template .map-template__content {
  	border:none; 
}

.leaflet-container {
  background: #fafafa;
}

.caption.map-caption {
  @include rem-fallback(font-size, 18);
  max-width: none;
}

/***** Layer Management *****/
.icon-item{
  float: left;
  font-size: 3em;
  cursor:pointer;
  padding-right:8px;
}
.highlight-icon{
  border:2px solid black;
  border-radius: 3px;
}

/*** Map Region ******/
#item-map{
	float: right;
    height: 70%;
    overflow: hidden;
    position: relative;
    width: 500px;
}
#region-map{
	width:100%;
	height:100%;
}
.loaded-maps{
	 height: 500px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 500px;
}
.hidden-map{
	left:-999em;	
}
.swap-map{
	cursor:pointer;
}
/*** End Map ***/


.map-actions{
	display:none;
}

.add-content #settings-context .map,
.settings-manage-edit #settings-context .map{
	width:100%;
	height:400px !important;
}
.mediakron-map-load{
	display:none;
}

.map-view .map-content.col-md-11 {
	width:100%;
	padding:0;
}

.map-view .map-content.col-md-8 {
	padding:0;
	width:100%;
}

.map-view .sidebar.col-md-1 {
	width:4%;
}

.map-marker {
  text-align: center;
}

.map-marker .mki {
    color: #000000;
    cursor: pointer;
    font-size: 38px;
    height: 38px;
}

.map-marker .mki:hover{
	color: #1e549c;
}

.leaflet-clickable {
  stroke-opacity: .8;
  stroke-width: 4;
  fill-opacity: .4;
}

.leaflet-clickable:hover,
.leaflet-clickable.highlight{
  stroke: #1e549c;
}

.leaflet-edit-marker-selected { /* centering edit view of markers  */
  width: 36px !important;
  height: 32px !important;
}

.type-stamen-dark .map-marker {
	color: #666;
}

.map-marker.highlight .mki{
  color: yellow;
  border: 2px dotted #222;
  background-color: rgba(0,0,0,.5);
  height: auto;
  width: auto;
  border-radius: 7px;
  padding: .2em .1em 0 0.1em;
  line-height: .7;
  margin-right:-8px;
  margin-top:-4px;
  font-size: 44px;
  height: 44px;
}

.map-marker.highlight .mki:hover{
  color: #000;
}

.map-marker.highlight > .map-marker.highlight {
  border: none;
}

.marker-fullscreen .map-marker{
  background-color: rgba(255,255,255,.3);
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  font-size: 18px;
  height: 33px;
  padding: 3px;
  width: 26px;
}
.map-popup-edit{
	width:300px;
	height:300px;
}

.map-template .leaflet-top .leaflet-control {
	@include rem-fallback(margin-top, 14);
	@include rem-fallback(margin-left, 10);
	box-shadow: none;
}

.sidebar-map{
  position: relative;
}
.sidebar-map h3{
  position: absolute;
  background: rgba(255,255,255,.9);
  width:100%;
}

.map-template .sidebar{
	position:absolute;
	z-index: 999;
	right:0;
	top:60px;
	height: 100%;
	background:#fff;
	padding:1em 1em 1em 0em;
}
.map-template #sidebar-inner{
	background:rgba(255,255,255,.9);
}

.dragging-marker{
    z-index: 100005;
    margin-top:-25px;
    margin-left:-14px;
    display: block;
}

.full .map-template .gotoView .title-box{
    display: block;
    position: static;
}

.sticky-header.active {
  @include breakpoint(xs){ 
      display: none; /* hide sticky header on small screen */
  }
}

/* @group HOMEPAGE CUSTOMIZATIONS */

#homepage-content .map-template .caption.map-caption {
  max-width: none;
  padding-bottom: .5em;
  @include rem-fallback(font-size, 20);
  text-align:center;
}

.body-homepage-basic #homepage-content .map-template .page-options {
  margin-top: 0em;
  right: .6em;
}


/* @end */

/* @group CONTROLS */

.leaflet-touch .leaflet-control-layers, 
.leaflet-touch .leaflet-bar {
  border: none;
  background-clip: none;
}

.map-template .leaflet-top {
  position: static;
}

.map-template  .leaflet-bar {
  box-shadow: none;
}

.map-template .leaflet-control-zoom  {
  position: relative;
  left: .2em;
  top: 0;
  background: rgba(250, 250, 250, 0.6);
  border: 1px solid #565656;
  border-radius: 2px;
  padding: .4em 0.3em .4em .5em;
}

.map-template .leaflet-control-zoom.leaflet-bar a, 
.map-template .leaflet-control-zoom.leaflet-bar a:hover {
  margin-right: .1em;
}

.map-template .leaflet-control-zoom.leaflet-bar .leaflet-control-zoom-out {
  margin-left: 0;
  margin-bottom: 0;
}

.map-template .leaflet-draw {
  position: absolute;
  left: .2em;
  top: 7.5em;
  background: rgba(250, 250, 250, 0.7);
  border: 1px solid #565656;
  border-radius: 2px;
  padding: .4em .3em 0.2em .2em;
}

.map-template .leaflet-draw-toolbar, 
.map-template .leaflet-draw-add {
  display: inline;
}

.map-template .leaflet-draw-add {
  @include rem-fallback(font-size, 18);
  display: none;
}

.map-template .leaflet-draw-add .mk-icon {
  @include rem-fallback(font-size, 24);
  margin: 0 .2em 0 .1em;
  top: 1px;
  left: 3px;
}

.map-template .leaflet-bar a, 
.map-template .leaflet-bar a:hover {
  display: block;
  border: 1px solid #666 !important;
  color: #030303;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: .3em;
}

.map-template .leaflet-draw .leaflet-bar a,
.map-template .leaflet-draw a:hover {
  margin-left: .3em;
  margin-right: .2em;
}

.map-template .leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    background-position: -32px -3px;
}

.map-template .leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    background-position: -2px -3px;
}

.map-template .leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
    background-position: -63px -3px;
}

.map-template .leaflet-draw-toolbar .leaflet-draw-draw-circle {
    background-position: -93px -3px;
}

.map-template .leaflet-draw-toolbar .leaflet-draw-draw-marker {
    background-position: -123px -3px;
}

.story-template figure .leaflet-draw,
.story-template figure .leaflet-control-geosearch {
  display: none; /* hide when embedded in stories */
}

.story-template figure .leaflet-control-zoom-out {
  margin-left: 0;
}


.map-template .leaflet-draw-draw-circlemarker {
  display: none; /* hide circle button */
}
/* @end */

/* @group WIDGET SIDEBAR */

.sidebar-widgets {
  padding: .5em 1.5em .5em 1.5em;
}

.sidebar-widgets .widgets--below,
.sidebar-widgets .widgets--below p, 
.sidebar-widgets .widgets--below ul, 
.sidebar-widgets .widgets--below ol, 
.sidebar-widgets .widgets--below blockquote {
   @include rem-fallback(font-size, 14);
}

.sidebar-widgets .widgets.col-md-4 {
   @include rem-fallback(font-size, 14);
   width: 100%;
   padding: 0;
}

.sidebar-widgets .widget-box > aside {
  padding: .5em 0 0 0;
}

.sidebar-widgets .widgets h3 {
   @include rem-fallback(font-size, 16);
   margin-top: 0;
}

.map-template .map-view > .widgets--sidebar.col-md-4 {
	padding: 1em;
	@include breakpoint(md){ 
		position: fixed;
		@include rem-fallback(top, 175);
		right: 2em;
		background: #fff;
		padding: 1em;
		border-radius: 3px;
		overflow: scroll;
		max-height: calc(95vh - 175px);
		z-index: 10;
		border: 1px solid #565656;
		@include rem-fallback(max-width, 375);
		}
}


/* @end */

/* @group ITEM SIDEBAR  */


.sidebar-closed .item-sidebar{
  display: block;
  transition: .3s ease;
  right: -100%;
  overflow: visible;
}

.item-sidebar {
  background: #ffffff;
  position: absolute;
  top: 1px;
  right: 1px;
  @include rem-fallback(width, 300);
  z-index: 101;
  border-bottom-left-radius: 2px;
  transition: .3s ease;
  overflow-y:scroll;
  overflow-x: visible;
  max-height: calc(80vh - 5em);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.settings-manage-organize .map-template .item-sidebar {
  display: none; /* Hide map sidebar when settings panes are open */
}

.close-sidebars-button {
  display: block;
  position: absolute;
  border: none;
  padding: 0;
  z-index: 1000;
  margin-left: .4em;
  right: -0.75em;
  top:0em;
}

.map-template .tour-container-open .close-sidebars-button {
  margin-left: .2em;
  right: 1.5em;
  top: .5em;
}

.close-sidebars-button .close-icon {
  height: 20px;
  width: 20px;
}

.close-sidebars-button .mk-icon,
map  {
  @include rem-fallback(font-size, 18);
}

.sidebar-controls button.map-filters {
  padding-top: .3em;
  padding-bottom: .3em;
}

.sidebar-controls .map-filters .mk-icon {
  font-size: 17px;
  top: 6px;
  padding: .3em .1em;
}

.sidebar-controls .map-filters,
.sidebar-controls .sidebar-details {
  display: none;
}

.sidebar-closed .sidebar-controls .map-filters,
.sidebar-closed .sidebar-controls .sidebar-details {
  display: block;
}

.tour-container-open .map-filters,
.tour-container-open .sidebar-details {
  display: block;
}

/* @end */

/* @group MAP FILTER SIDEBAR  */

.filter-bind {
  padding: 1.5em;
}

.filters-pen .item-sidebar {
  @include rem-fallback(width, 350);
  overflow-y: visible;
}

.filter-layers {
  margin-bottom: 0em;
}

.filter-layers.general-filters-on {
  margin-bottom: 1em;
}

.filter-by-layers {
  padding:0;
  margin: 0;
}

.filter-by-layers li {
  list-style: none;
  @include rem-fallback(font-size, 18);
  cursor: pointer;
  text-decoration: none;
}
.filter-by-layers li.hideLayer {
  text-decoration: line-through;
}

.filter-by-layers li .mki {
  @include rem-fallback(font-size, 26);
}

.general-filters {
 margin: .5em 0 0em; 
 cursor: pointer;
}

.general-filters .content-action {
  background: transparent;
  border: none;  
  float: none;
}

.general-filters .content-action .mk-icon {
  float: left;
  top: .3em;
  margin-right: .3em;
  margin-left: 0.3em;
  }

.general-filters h3 {
  @include rem-fallback(font-size,16);
  margin: 0;
  color: #565656;
  font-weight: normal;
}

.general-filters h3 .mk-icon {
  font-size: 15px;
  top: 3px;
  padding-right: .2em;
}

.general-filters-inner {
  display: none;
}

.general-filters-inner.open {
  display: block;
  padding-top: .5em;
}

.general-filters .content-action .chosen-container {
  width: 85% !important;
  min-width: 85%;
}

.general-filters .content-action .chosen-choices {
  padding-left: .3em;
}

.general-filters .content-action .chosen-container-single .chosen-drop {
  width: auto;
}

.general-filters .content-action .chosen-choices, 
.general-filters .content-action .chosen-container-single .chosen-default {
  border: 1px solid #565656;
  border-radius: 2px;
  width: 100%;
}

.general-filters .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  width: 170px !important;
}

.filter-bind #content-search {
  padding-left: 0em;
  float: none;
  margin-bottom: .5em;
  background: none;
  border: none;
  @include rem-fallback(width, 175);
}

.filter-bind #search-rows,
.filter-bind #search-rows.search-active,
.filter-bind #search-rows.search-active:focus {
  width: 75%;
  border: 1px solid #616161;
  padding: 0 0 0 .3em;
  border-radius: 2px;
  background: none;
  color: #000;
  @include rem-fallback(font-size, 14);
}

.filter-bind .content-action#content-search .mk-search {
  left: 0;
  top: 2px;
  @include rem-fallback(font-size, 18);
  margin-left: 0;
  margin-right: 0;
}

.filter-bind .content-action#content-search .mk-filter {
  top: .6em;
}

.empty-map-search {
  display: inline;
  cursor: point;
}


/* @end */

/* @group OVERLAY SLIDER */

.overlay-filter {
  @include rem-fallback(margin-bottom, 10);
}

.overlay-filter #overlay-slider {
  display: inline-block;
  width: calc(100% - 95px);
  margin-top: 10px;
  border: 1px solid #616161;
}

.overlay-filter .overlay-0 {
  display: inline-block;
  width: 35px;
  @include rem-fallback(padding-right, 5);
  @include rem-fallback(font-size, 14);
  position: relative;
  @include rem-fallback(top, -3);
}

.overlay-filter .overlay-100 {
  display: inline-block;
  width: 50px;
  @include rem-fallback(padding-left, 5);
  @include rem-fallback(font-size, 14);
  position: relative;
  @include rem-fallback(top, -3);
}

.overlay-filter .ui-slider .ui-slider-handle {
  @include rem-fallback(width, 15);
  background: #565656;
  border: none;
}

/* @end */

/* @group ADD/EDIT LAYERS */

.field.layer-icon {
  display: block;
}

.icons {
  position: absolute;
  top: 0;
  left: 100%;
  background: #fff;
  padding: 1.5em;
  transition: .2s;
}

.icons.open {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  background: #eee;
  padding: 1em;
  transition: .2s;
  z-index: 1060;
}

.icons.open h3 {
  padding-top: 0;
  margin-top: 0;
}

.layer-type-label,
button.select-icon {
  display: inline-block;
}

.icons .mki {
  @include rem-fallback(font-size,36);
  line-height: 1;
  margin: 0 .2em;
}

.current-icon.mki {
  @include rem-fallback(font-size,32);
  margin-left: .2em;
}

.icon-item {
  float: left;
  font-size: 2em;
  cursor: pointer;
  padding-right: .5em;
}

.icons .close-icon {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0 .2em;
}

.icons #types button {
  margin: .2em;
  border-radius: 2px;
  background: #fff;
  border-style: none;
  border: 1px solid #565656;
  @include rem-fallback(font-size,14);
}

.icons #search {
  padding-bottom: .5em;
}

.icons #search_input {
  padding-left: .5em;
  border: 1px solid #565656;
  border-radius: 2px;
}

.edit-layer .mk-icon {
  font-size: 22px;
  top: 3px;
}

.layer-template .item-header {
  position: relative;
  margin-top: 1em;
}

.layer-options-edit {
  position: relative;
  top: -2px;
}

.layer-options-edit:hover {
  padding: 0;
}

.marker-add-pane .browser-selector table#admin-content .row-type-layer .mk-icon.mki {
  left: -3px; /* layer markers  */
  color: inherit; /* inherit layer color  */
}

.marker-add-pane .browser-selector #admin-content .row-type-layer .item-square-icon {
  color: inherit; /* inherit layer color  */
}

/* @end */

/* @group MAP POPUP */

.leaflet-popup-content {
  padding: 0;
  margin: 0;
}

.leaflet-popup-content-wrapper {
  padding:.5em;
} 

.popup-body {
   max-width: 225px; 
   min-width: 100px;
}

.leaflet-popup-content .popup h3.map-item-title {
    padding: .5em 1em .3em 1em;
    margin: 0;
    @include rem-fallback(font-size, 15);
    background-color: #fff;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    text-align: center;
    max-width: 225px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.leaflet-popup-content-wrapper {
    border-radius: 6px;
}

.leaflet-popup-content .popup-body {
   padding: .1em 1em .1em 1em; 
   text-align: center;
}

.leaflet-popup-content .item-square-icon  {
    margin: auto;
    color: #666;
    width: 60px !important;
    height: 60px !important;
    font-size: 50px !important;
    display: none;
}

.leaflet-popup-content .square-thumbnail {
    margin: 0em auto 1em auto;
}

.leaflet-container a {
	color: #4b4b4b;
}

.caption-text {
  @include rem-fallback(font-size, 13);
  line-height: 1.1;
  text-align: center;
  margin-top: 0em;
}

.caption-text p {
 padding: 0;
 margin: 0;
}

.leaflet-popup-content .popup .map-item-label {
  border-bottom: none;
  @include rem-fallback(font-size, 15);
  font-weight: normal;
  text-align: center;
  padding: .5em 1em .3em 1em;
  max-width: 225px; 
  display: block;
}

.popup.empty .popup-body {
  padding: 0em 1em .5em 1em;
}

.popup-map-nocaption .square-thumbnail,
.popup-map-caption .square-thumbnail  {
   margin: .5em  auto .5em auto;
   width: 75px !important;
   height: 75px !important;
}

.leaflet-container a.leaflet-popup-close-button {
  color: #565656;
}

.popup-body .mk-remove{
  top: 4px;
  font-size: 27px;
}

.popup-body .mk-edit {
  top: 4px;
  font-size: 27px;
  margin-left: 3px;
}

.popup-body .mk-expand {
 background: #303030;
 color:#fff;
 border-radius: 3px;
 padding: 2px;
 font-size: 18px
}

.map-no-content {
  text-align: center;
  font-style: italic;
  display: block;
  padding-bottom: .5em;
}

.click-to-view {
  position: relative;
  @include rem-fallback(font-size, 11);
  margin-bottom: -5px;
  padding-top: 3px;
}

/* @end */

/* @group EDIT MAP */

.map-create {
  background: #999;
}

.map-create .leaflet-control-zoom-out{
  margin-left: 0; /* align zoom button on the right */
}

#map_type_chosen {
    width: 250px !important;
}

.map-tiles .chosen-container {
   width: 180px !important;
}

.current-zoom-level {
  margin-top: .5em;
}



/* @end */

/* @group CARTO Maps */

#cartodb-map{
  height:83vh;
  width:100%;
  min-height: 500px;
}

.cartodb-url {
  margin-top: 1em;
}

.map-form.maptype-cartodb .layout-option.maptour,
.map-form.maptype-cartodb .layout-option.timemap {
  display: none; /* hide tour and timemeap layout options if Carto basemap is selected  */
}

.maptype-cartodb .filter-bind,
.maptype-cartodb .sidebar-closed .sidebar-controls .map-filters {
  display: none; /* hide MK map filters options on Carto DB maps */
}

.maptype-cartodb .settings-manage-edit #settings-context .map { /* hide preview in edit pane if Carto map  */
  display: none;
}

/* @end */

/* @group ORGANIZE MAP */
  
.manage-map-list li {
    width: 100%;
    clear: both;
    margin: 0 0 1em 0;
    list-style: none;
    border: 1px solid #565656;
    background: #fff;
    border-radius: 2px;
    position: relative;
    @include rem-fallback(height, 62);
}

#settings-context .manage-map-list .drag-item .btn-primary {
    padding: 1em .4em 1.2em .4em;
}

#settings-context #manage-map .manage-item {
  width: 100%;
}

#manage-map .item-title {
  width: 350px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  @include rem-fallback(top, 17);
  padding-left: 1em;
  @include rem-fallback(font-size, 18);
  overflow: hidden;
  font-weight: bold;
}

.map-selector{
	display:none;
}
.selected-map .remove-relationship{
	float:right;
}

#maps {
		padding-left:0;
}

.map-image,
.map-create{
	display:none;
}

.edit .map-title{
	cursor: pointer;
	font-weight:bold;
}
.edit .selected-map{
	list-style: none;
	width:100%;
	clear:both;
	color:#000;
	background: #fff;
	padding:10px;
	margin-bottom:0;
}
.edit .add-top-map-tool{
	background: #fff;
	margin:0 2em;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding:1em;
}

.add-to-map-title {
	margin-top: .2em;
	margin-bottom: .1em;
	width: 300px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table#admin-content.list-view .add-to-map-title h4 {
	display: inline;
	padding-right: .5em;
}

#settings-context table#admin-content.list-view tr.item-row .add-to-map-title .type {
	float: none;
}

.add-to-map-actions {
	clear: both;
	margin-bottom: .1em;	
}


#settings-context [template|="default"] .organize-map .ui-sortable-handle .btn-primary,
#settings-context [template|="timemap"] .organize-map .ui-sortable-handle .btn-primary  {
    display:none;
}

#settings-context [template|="maptour"] .organize-map .ui-sortable-handle .btn-primary {
    display:block;
}

.address-label {
	display: inline-block;
	@include rem-fallback(font-size, 16);
	font-weight: normal;
}

.geocode {
	padding: 0px 4px;
	margin-right:0;
	margin-left: .5em;
	@include rem-fallback(font-size, 16);
	@include rem-fallback(width, 50%);
	@include breakpoint(md){ 
	@include rem-fallback(width, 242);
	}
}

.gogogeocode {
	@include rem-fallback(font-size, 14);
	padding: .3em .3em .1em .3em;
}

#admin-edit-map label[for="map-type"] {
	display:block;
	text-align:left; 
	margin-bottom: .5em;
}

.manage-map-list .active .manage-item,
.manage-map-list .active .manage-item a{
/*    color:red;*/
}
.manage-map-list li:hover .manage-item,
.manage-map-list li:hover .manage-item a{
/*    color:red;*/
}

.manage-map-list .mk-icon.mk-remove {
	top: 0;
}

.coordinates{
    float:right;
}

.manage-map-list {
	margin-bottom: 1em;
	padding-left:0;
	margin-bottom: 5em;
}

.manage-map-list .mk-re-order /* hide reorder icons until we have use for them */{}



/* @end */

/* @group ADD TO MAP */


#settings-context #admin-content-map .instructions {
	margin-left:.5em;
	margin-top:.5em;
}

/*.settings-manage-select .map-template .map-template__content,
.settings-manage-organize .map-template .map-template__content{
  border: 5px solid #66afe9;
}*/

.settings-manage-select.type-map #settings-context  table#admin-content h4 {
  display: inline;
  padding-right: .25em;
}

.settings-manage-select.type-map #settings-context .item-row {
	cursor: move;
	border: 1px solid #565656;
	background: #fff;
	margin-bottom: 1em;
	padding-left: .5em;
	border-radius: 2px;
}

.settings-manage-select.type-map #settings-context .item-row:hover {
  	background-color:#ffffd9;	
  	border: 1px solid #66afe9;
}

.settings-manage-select.type-map #settings-context .row-thumb {
  display: inline;
  top: 0;
}

.settings-manage-select.type-map #settings-context .row-thumb > div {
//  height: 50px !important;
//  width: 50px !important;
  display: inline-block;
//  font-size: 50px !important;
}

.settings-manage-organize.type-map #settings-context .manage-item .title {
	@include rem-fallback(width, 325);
}

.settings-manage-select.type-map #settings-context .browser-selector table#admin-content .type {
  top: 4px;
}


/* @end */

/* @group EDIT MARKER */

.add-layer admin-edit-layer {
  padding: 0 1.5em 1em;
}

.settings-manage-organize #settings-context #edit-map-marker {
  padding-top: 3.5em;
}

.settings-manage-organize #settings-context #edit-map-marker h3 {
  display: block;
  text-transform: capitalize;
  @include rem-fallback(font-size, 26);
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: none;
}

.attach-content-label {
  @include rem-fallback(font-size, 20);
  padding: .2em .5em .2em 0;
  font-weight: 600;
}

.layer-options {
  padding-top: .75em;
}

.marker-content-options {
  margin-top: 1em;
}

#attach-existing,
#attach-existing-layer,
#attach-new-layer,
#add-label,
#attach-new,
.select-icon,
.layer-edit-button, 
#save-zoom {
  margin-right: .3em;
  padding: .1em .4em;
  @include rem-fallback(font-size, 15);
  margin-top: -.4em;
}

.settings-manage-organize #settings-context #edit-map-marker .simple-label {
  width: calc(100% - 2.5em);
  margin: -1em .5em 1em 0;
  display: inline-block;
}

.marker-add-pane .accordion-tabs {
  padding: 2.5em 1.5em;    
}

#settings-context .marker-add-pane .admin-context-header {
  padding-left: 0;
}

#selected-map {
  position: relative;
}

#selected-map .nav-item-main {
  padding: 0;
  display: inline-block;
}

#selected-map .title {
  font-weight: bold;
  position: relative;
  @include rem-fallback(bottom, 22);
  padding-left: .5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 389px;
}

#selected-map .square-thumbnail, 
#selected-map .item-square-icon {
  display: inline-block;
}

#selected-map .item-square-icon {
  position: relative;
  @include rem-fallback(bottom, 12);
}

#selected-map .type {
  margin-right: 0;
  font-size: .9em;
  margin-left: .5em;
}

#selected-map .remove-item {
  position: relative;
  right: auto;
  right: auto;
  bottom: 21px;
}

#selected-map .remove-item .mk-icon,
.remove-layer .mk-icon,
.remove-label .mk-icon {
  right: auto;
  bottom: auto;
  top: 3px;
  @include rem-fallback(font-size, 22);
}

.location-fields{
  margin-top: 1em;
}

.location-fields input {
  	width: calc(100% - 1.5em);
  	padding-left: .5em;
  	border-radius: 2px;
  	border: 1px solid #565656;
}

#selected-layer .title {
  font-weight: bold;
}

#selected-layer .nav-item-main {
  padding-left: 0;
  @include rem-fallback(font-size, 20);
}

/* hide leaflet draw tool bar when editing marker */
.settings-manage-organize .map-template .map .leaflet-draw { 
    display:none;
}

/*.settings-manage-organize .map-template .map{
	width: calc(100% - 535px);
	margin-bottom: 0;
}*/

#manage-map .row-no-thumbnail .item-title {
  font-weight: normal;
  width: 80%;
}

#manage-map .row-no-thumbnail .marker-label .item-title {
  font-weight: bold;
}

#settings-context .row-no-thumbnail .manage-item .type {
  right: .5em;
}

#settings-context .row-no-thumbnail .edit-button {
  font-size: 24px;
  bottom: 0;
  right: 1.4em;
}

.row-no-thumbnail .remove-item {
  position: absolute;
  top: auto;
  bottom: 0;
  right: .3em;
}

/* @end */

/* @group MAP TOUR */

.map-template--tour .tour-container{
  display: none;
}

.map-template--tour .tour-container-open .tour-container{
  display: block;
}

.tour-empty-message {
  padding: 1em;
  font-weight:bold;
}

.map-template--tour .map {
  width: 100%;
  transition: .3s ease;
}

.tour-container-open .item-sidebar {
  overflow-y: visible;
  @include breakpoint(xs){ 
    top: auto;
    bottom: 0;
    width: calc(100% - 2px);
    max-height: calc(50vh - 5em);
  }
  @include breakpoint(sm){ 
    @include rem-fallback(width, 450);
  }
}

.map-template--tour .tour-container-open .map {
  width: calc(100% - 300px);
  @include breakpoint(xs){ 
    width: calc(100%);
  }
  @include breakpoint(sm){ 
    width: calc(100% - 450px);
  }
}

.tour-container-open .tour-nav {
  @include breakpoint(xs){ 
    top: -78px;
    left: auto;
    right: 0px;
    padding-right: .3em;
    border-bottom: none;
    border-radius: 0;
    border-top-left-radius: 3px;
  }
}

.settings-manage-organize .map-template--tour .tour-container-open .map {
  width: 100%;
}

.settings-manage-organize .tour-container-open .sidebar-controls {
  display: none;
  transition: none;
}

.tour-container-open .tour-contents/* hide control  */ {
  display: none;
}

.map-template--tour .tour-content {
  @include breakpoint(xs){ 
  height: 40vh;
  }
}

.tour-container-open .map-filters {
  display: block;
}

.tour-container-open .sidebar-controls {
  position: absolute;
  @include rem-fallback(right, 460);
  @include rem-fallback(top, 10);
  z-index: 1000;
  transition: .3s ease;
}

.tour-container-open .sidebar-controls .close-sidebars-button {
  display: block;
  position: static;
  padding: 0 .2em;
  background: #fff;
  border: none;
}

.tour-container-open .sidebar-controls .close-sidebars-button:hover {
  background: #fff
}

.tour-item-content .item-square-icon {
  width: 18px !important;
  height: 18px !important;
  font-size: 18px !important;
  display: inline;
}

.map-template .tour-item .item-thumbnail-icon .square-thumbnail{
  width: 75px !important;
  height: 75px !important;
  margin-bottom: .5em;
}

.filters-open .tour-contents {
  top: 40px;
  right: 2px;
}

.tour-item.comparison .story-body .type-file,
.tour-item.comparison .story-body .type-audio,
.tour-item.comparison .story-body .type-slideshow,
.tour-item.comparison .story-body .type-map,
.tour-item.comparison .story-body .type-stamen-light,
.tour-item.comparison .story-body .type-image-map{
  display: none;
}

.tour-item .mejs-container {
  overflow: hidden;
  background: #999;
  border-radius: 4px;
}

.tour-item .item-date {
  display: none; /* hide item date in maps tours */
}


/* @end */

/* @group TIME MAP */

.map-template--timemap .map-template__content{
  position: relative;
}

.timemap-controls {
  padding: 0 1.5em;
  background: #eee;
  position: absolute;
  bottom: 23px;
  z-index: 1001;
  width: 100%;
}

.map-template--timemap {
  
}

.timeline-slider.ui-widget-content {
  background: #ddd;
  border:1px solid #999;
}

.timeline-slider .ui-state-default, 
.timeline-slider.ui-widget-content .ui-state-default {
  background: #000;
}

.timeline-slider  .ui-widget-header {
  background: #565656;
}

.time-handle{
  background: #000 none repeat scroll 0 0;
  color: #fff;
  position: absolute;
  top: -40px;
  padding: .2em .4em;
  font-weight: normal;
  font-size: 16px;
  border-radius: 2px;
  width: auto;
  left: -14px;
  display: none;  
}

.ui-state-focus .time-handle,
.ui-state-hover .time-handle {
  display: block;
  white-space: nowrap;
}

.time-handle::after {
 content: '';
 position: absolute;
 top: 100%;  
 left: 24px;
 margin-left: -8px;
 width: 0; height: 0;
 border-top: 8px solid #000000;
 border-right: 8px solid transparent;
 border-left: 8px solid transparent;
}

.end-date.help-text {
  display: block !important;
  width: auto;
  left: 32px;
  text-align: center;
  top: -5px;
  white-space: nowrap;
  font-size: 14px;
  padding: .3em .6em;
}

.end-date.help-text::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  left: auto;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.timeline-start,
.timeline-end {
  position: absolute;
  top: -40px;
  border-radius: 3px;
  padding: .1em .3em;
  background: rgba(250, 250, 250, 0.7);
  border: 1px solid #565656;
  background: #444;
  color: #fff;
}

.timeline-start {
  left: 1em;
}

.timeline-end{
  right: 1.5em; 
}

.displayNone {
	display: none;
}

.map-template .leaflet-top .leaflet-control.leaflet-control-geosearch {
  display: block;
  float: none;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
}

.map-template .leaflet-control-geosearch a.glass {
    background-image: url(img/geosearch.png);
    background-size: 100% 100%;
}


/*.leaflet-control-geosearch {
  position: relative;
  left: .2em;
  top: 13em;
  background: rgba(250, 250, 250, 0.7);
  border: 1px solid #565656;
  border-radius: 2px;
  padding: .5em .5em .2em .5em;
}*/

.leaflet-control-geosearch a {
	-webkit-border-radius: 4px;
			border-radius: 4px;
	border-bottom: none;
}

.leaflet-control-geosearch a.glass {
	background-image: url(img/geosearch.png);
	background-size: 100% 100%;
}

.leaflet-control-geosearch a.spinner {
	background-image: url(img/spinner.gif);
	background-position: 50% 50%;
}

.leaflet-control-geosearch a.alert {
	background-image: url(img/alert.png);
	background-size: 64% 64%;
}

.leaflet-control-geosearch a:hover {
	border-bottom: none;
}

.leaflet-control-geosearch form {
	position: absolute;
	top: 0px;
	left: 31px;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
	-webkit-border-radius: 4px;
			border-radius: 0px 4px 4px 0px;
	z-index: -1;
	background: #FFF;
	height: 26px;
	padding: 0 6px 0 6px;
}

.leaflet-touch .leaflet-control-geosearch form {
	padding: 2px 6px 2px 8px;
	line-height: 28px;
}

.leaflet-control-geosearch form input {
	width: 200px;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	margin-top: 5px;
}

.leaflet-control-geosearch .message {
	position: absolute;
	top: 26px;
	left: 0px;
	width: 226px;
	color: #FFF;
	background: rgb(40, 40, 40);
	padding: 4px 0 4px 8px;
}

.leaflet-touch .leaflet-control-geosearch .message {
	top: 30px;
	left: -2px;
}

.tour-item-content .progression-frame{
  height: 300px;
    width: 100%;
}



/*.map-template.map-template--timemap .leaflet-control-zoom {
  top: 80px;
}

.map-template.map-template--timemap .leaflet-draw {
  top: 165px ;
}*/

/* @end */

/* @end MAPS */
