/* @group CONTAINER HEIGHTS */

.comparison {

}
	.comparison-template {
		height: 100%;
		position: relative;
	}        
           .comparison-template .item-content {
            	height: 100%;
            	padding-left: .5em;
            	padding-right: .5em;
  /*          	@include breakpoint(sm){
            		height: 100%;
            		height:80vh;
            	}	*/
            }	
                .comparison-template .item-content > .row {
                     margin-left: 0; 
                     margin-right: 0; 
                          }	
	
/* @end */


.comparison-template .item-header {
    border-bottom: 1px solid #565656;;
}

/* @group COMPARISON ITEMS */

.comparison-item .contents{
    width:100%;
    height:100%;
    padding-bottom: 1em;
}

.comparison-item .image {
    height: 100%;
}

.comparison-template .items-below {
    padding-bottom: 2em;
}

.comparison-template .items-below .item {
    @include rem-fallback(padding-bottom, 10);
    margin-top: 2em;
}

.comparison-template .items-below .last {
    	width: 100%;
    @include breakpoint(sm){
    	margin-left: auto;
    	margin-right: auto; 
    	max-width:50%;
    	float: none;
    	clear: left;
        }	
}

.comparison-template .item {

}

.comparison-template .item .title-box{
	padding:5px 5px 5px 1em;
	margin-top:0;
	border-bottom: none;
	background: #fff;
}

.comparison-item .title-box{
    display: block;
    text-align: center;
}

.comparison-description-button {
	border:none;
	padding:0;	
}

.comparison-description {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
    clear: both;
    margin: .5em 0 0 0;
    padding: 1em;    
    @include rem-fallback(top, 25);
    max-height: 75vh;
    overflow: auto;
    position: absolute;
    z-index: 999;
    text-align: left;
    border: 1px solid #ccc;
    box-shadow: 0 3px 10px rgba(0,0,0,0.35);
}

.comparison-item .title-box .mk-icon{ /* Right Page */
	@include rem-fallback(font-size, 16);
}
	
.comparison-item .comparison-description .widget-box {
	background: none;
	@include rem-fallback(font-size, 16);
	line-height: 1.4;
}
.comparison-item .comparison-description .widget-box > div {
	padding: 0;
}

.comparison-item .widgets--sidebar.col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

.comparison-item .widgets--sidebar .description h3 {
  position: static;
  width: auto;
  height: auto;
  margin-bottom: .5em;
  margin-top: .5em;
}

.comparison-item .widgets--sidebar {
    padding: 0;
    width: 100%;
}

.comparison-item:hover .title-box{
    display:block;    
}

.comparison-template .item .title-box h2{
	margin:0;
	@include rem-fallback(font-size,20);
	float: none;
	display: inline;
}

.comparison-template .item .title-box h2 a{
	color:#000;
	text-decoration:none;
}

.comparison-item .title-box h2 a:hover{
	text-decoration:underline;
}

.comparison-template .annotate img {
    height: auto;
    max-height: 70vh;
}

.comparison-item--image .annotate .zoom { 
	height: 130px;
	width: 150px;
	position: absolute;
	display: none;
	top: 10px;
	right: 10px;
}	

.comparison .annotate .zoom-min .zoomout{
    bottom:1px;
    border: 1px solid #333;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.comparison .annotate .zoom-min .zoomin{
    border: 1px solid #333;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.compare-actions{
    display: inline;
}
.compare-actions .act{
    display:inline-block;
    margin-left:.5em;
}
.compare-actions .act a{
    color:#000;
}
.compare-actions .act .link-text{
    display:none;
}

.compare-actions .mk-icon{
	top: 0;
} 
.compare-actions .act:hover .link-text{
    display:block;
}

.comparison-template .story-body .type-file,
.comparison-template .story-body .type-slideshow,
.comparison-template .story-body .type-map,
.comparison-template .story-body .type-stamen-light,
.comparison-template .story-body .type-image-map {
  display: none; /* hide some story figures in comparisons */
}


/* @end */

/* @group Organize Comparison */

#edit-compare {
    width: 770px;
    height: 500px;
    position: relative;
}
#edit-compare .compare-item{
    position: absolute;
    width: 374px;
    height: 240px;
    border: 1px solid black;
}
#edit-compare .compare-first{
    top:0;
    left:0;
}
#edit-compare .compare-second{
    top:0;
    right:0;
}
#edit-compare .compare-third{
    bottom:0;
    left:0;
}
#edit-compare .compare-fourth{
    right:0;
    bottom:0;
}
#edit-compare .compare-item .btn{
    margin:100px 34px 35px 145px;
}

.comparison-template .item .remove{
	display:none;
	bottom: 5px;
    position: absolute;
    right: 5px;
    z-index: 100;
}

#sort-comparison{
  list-style: none;
  margin-top: 1.5em;
  padding-left: 0;
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap (wrap);
  @include justify-content(center);
  @include align-items (flex-start);
}

#sort-comparison .comparison-sortable{
    width:45%;
    float:left;
    margin:.5em 1%;
    padding:1em;
    background: #fff;
    position: relative;
    text-align: center;
    cursor: move;
    background: #eee;
    @extend .rounded;
    border: 1px solid #ddd;
    @extend .box-shadow-subtle;
    @include flex-shrink (1);
    @include flex-basis (48%);
}

#sort-comparison .comparison-sortable:hover{
  	background-color:#ffffd9;	
}

#sort-comparison .comparison-sortable img{ 
    width: 100%;
    height: auto;
}

#sort-comparison .comparison-sortable .remove-item{
    position: absolute;
    top: -1px;
    right: 1px;
}

#sort-comparison .title {
	margin-top: 1em;
	@include rem-fallback(font-size, 18);
}

#sort-comparison .title a.title-link{
	width: 200px;
	display: inline-block;
  @include text-truncate();
    font-weight: bold;
}

#settings-context #sort-comparison .organize-edit-button{
	position: absolute;
	right: 25px;
	top: -2px;
}

#sort-comparison .item-square-icon {
  font-size: 200px;
  margin: auto;
  color: #666;
  margin-top: -40px;
}

#sort-comparison .square-thumbnail {
	margin: auto;
}

#sort-comparison .ui-state-highlight{
  float:left;
  width:45%;
  background: #ccc;
}

/* @end */

.comparison-template .add-comparison-item .contents {
    padding: 4em;
    text-align: center;
    background: #eee;
    border: 1px solid #ddd;
}

.comparison-template .add-comparison-item.item-0 .contents {
    margin-right: 1em;
}

.comparison-template #add-new-content {
	@include scut-rem-fallback(18);
	float: none;
}

.comparison-template #add-new-content .mk-icon {
	top: 4px;
}


/* @group ORGANIZE COMPARISON */

#settings-context #manage-comparison {
  padding-top: 1em;
}

#settings-context #manage-comparison h3.organize-title {
	padding-left: 0px;
}

.type-comparison #organize-add-new {
  text-align: center;
}


/* @end */

/* @group TOURPANE */

.tour-item-content .comparison-item--image .annotate {
  width: 100%;
  margin: 0;
  padding: 0 .5em;
}


.tour-item-content .comparison-item  .annotate img {
  display: block;
  width: 100%;
  height: auto;
  position: static;
}

.tour-item-content .comparison-item .annotated-frame,
.tour-item-content .comparison-item .compare-actions {
  display: none;
}

.tour-item-content .comparison-item header{
  display: block;
  position: static;
}

.tour-item-content .comparison-item header h2 {
  @include rem-fallback(font-size, 16);
}


/* @end */