@media print {

  #mediakron, #main-container {    
    overflow: visible;
  }

   .folder-navigation, 
   .item-nav,
   .page-options,
   #nav-main,
   #nav-secondary,
   .mobile-nav-button,
   #search {
     display: none !important;
   }
 
   
.item-header-inner h1 {
     padding-left: 0   !important; 
     margin-left: 0 !important; 
     color: #000 !important;
     display: block !important;
     transition: initial !important;
     transform: none !important;
     font-size: 36px !important;
     text-align: left !important;
     height: auto !important;
     position: static !important;
     white-space:normal !important;
     line-height: 1.5 !important;
     
   }

   .story-template .item-header-container,
   .story-template .item-header-container:before,
   .story-template .background-image-active .item-header-inner, 
   .story-template .background-image-active .item-header {    
     position: static !important;   
     display: block !important;      
     color: #000 !important;  
     transition: initial !important;
     transform: none !important;   
     text-align: left !important;
     height: auto !important;
     background: none !important;
     white-space:normal !important;
     line-height: 1.5 !important;
   }
   
   /* Printable images */
   .annotated-frame {
     display: none;  
   }
   
   .annotated-move {
     position: static;
   }
   
   .story-body {
       @include rem-fallback(font-size, 16);
       @include rem-fallback(max-width, 800);
   }
 
}

@media print {
a[href]:after {
    display:none;  
}
}

