/* #region  REVISIONS */

.site-settings-revisions {
    padding: 2em 1.5em;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .site-settings-revisions thead td {
    font-weight: bold;
  }
  
  .rev-date {
    width: 13em;
  }
  
  .rev-id {
    width: 2em;
  }
  
  .rev-user {
    width: 8em;
  }
  
  td.rev-actions {
    width: 13em;
  }
  
  #adrevisions-content td:last-of-type {
    border-bottom: 1px solid #ddd;
  }
  
  .rev-actions .btn {
    padding: .1em .5em .2em .4em;
    @include rem-fallback(font-size, 16);
  }
  
  .preview-rev .mk-icon {
    top: 2px;
    @include rem-fallback(font-size, 18);
  }
  
  .revert-rev .mk-icon {
    @include rem-fallback(font-size, 18);
  }
  
  #rev-preview .sticky-header,
  #rev-preview .page-options,
  #rev-preview .add-story-header {
    display: none;
  }
  
  #rev-preview .item-header {
    background: none;
    @include rem-fallback(max-width, 700);
    margin: auto auto 1.5em auto;
    padding-bottom: 1em;
    position: relative;
    height: auto;
  }
  
  #rev-preview .item-header h1,
  #rev-preview .item-header h2 {
    color: #000 !important;
    font-weight: bold;
    @include rem-fallback(font-size, 34);
  }
  
  .rev-preview-window {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    animation-name: slideInUp;
    animation-duration: .3s;
    background: #fff;
  }
  
  .rev-preview-window .template {
    padding-top: 3em;
    background: #fff;
  }
  
  .rev-preview-window .template.story-template {
    padding-top: 0;
  }
  
  .rev-preview-window .story-template .story-content {
    background: #fff;
  }
  
  .rev-preview-topbar {
    background: #ccc;
    @include rem-fallback(height, 50);
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  
  .rev-preview-topbar h1 {
    @include rem-fallback(font-size, 22);
    font-weight: normal;
    display: inline-block;
    margin: 0;
    padding: .6em 1em .2em 1em;
    color: #000;
    float: left;
  }
  
  .rev-preview-topbar-inner {
    /*  @include rem-fallback(max-width,700);
    margin: auto;*/
    @include clearfix;
  }
  
  .rev-preview-close,
  .rev-preview-revert {
    margin: .3em 1em 0 0em;
    float: right;
  }
  
  .rev-preview-close {
    margin: .3em 1em 0 0em;
    padding: .3em .6em .3em .5em;
  }
  
  .rev-preview-revert {
    padding: .5em .6em .3em .5em;
    margin: .3em .5em 0 0em;
  }
  
  .rev-preview-revert .mk-icon {
    font-size: 16px;
    margin-right: .5em;
    top: 2px;
  }
  
  #revisions-content .table tr:first-child {
    /* Theme current revision row */
    font-weight: bold;
  }
  
  #revisions-content .table tr:first-child td.rev-actions a:nth-of-type(2n) {
    display: none;
  }
  
  #revisions-content .table tr:first-child td.rev-actions a:nth-of-type(1n):after {
    content: ' Current';
  }
  
  #revisions-content .table.trashcan tr:first-child {
    /* trashcan */
    font-weight: normal;
  }
  
  #revisions-content .table.trashcan tr:first-child td.rev-actions a:nth-of-type(1n):after {
    /* trashcan */
    content: none;
  }
  
  .rev-preview-window .timeline-template .item-overlay .overlay-bg {
    display: none;
    /* prevent background overlay from going over revisions preview */
  }
  
  .overlay .rev-preview-window .timeline-template #item-content {
    max-width: none;
  }
  
  .rev-preview-window .timeline-template .timeline-tour {
    display: none;
  }
  
  /* #endregion  */