<div class="popup">
	<div class="popup-header">
	<h3 class="map-item-title"> <%= item.get('title') %></h3>
	</div>
	<div class="popup-body clearfix">
    <% if(item.get('caption') !== '') { %>
     <div class="popup-map-caption">
       <% var length = 75;
       var caption = item.get('caption');
       var captionTrimmed = caption.substring(0,length);  %>
      <div class="caption-text"><%= captionTrimmed %><% if (caption.length > 75) { %>...  <% } %>   </div>
       <%= item.getSquareImage('medium',75,75) %>
     </div>
    <% }else{ %>
     <div class="popup-map-nocaption">
       <%= item.getSquareImage('medium',75,75) %>
     </div>
    <% } %> 
  		
		<div class="map-controls">
    <% if(item.canEdit(false)){ %>
  		<a href="<%= Mediakron.Settings.basepath+'settings/marker/'+mapUri+'/'+uri %>"><span class="mk-icon mk-edit"></span></a>
    <% } %>	 
	  <% if(parent.canRemoveFrom(false)){ %>
	    <a href="<%= Mediakron.Settings.basepath+'settings/marker/'+mapUri+'/'+uri+'/remove' %>"><span class="mk-icon mk-remove"></span></a>
    <% } %>	 
    </div>
    <div class="click-to-view">click to view</div>
  	</div>
</div>