/* #region  SITE SETTINGS - APPEARANCE */

#admin-appearance .field {
    clear: left;
  }
  
  label.custom-colors {
    display: inline;
    padding-right: 1em;
  }
  
  #admin-appearance #site_skin_chosen {
    width: 200px !important;
  }
  
  #admin-appearance #select_font_chosen {
    width: 200px !important;
  }
  
  #themes {
    display: none;
  }
  
  .sp-replacer {
    height: 100%;
  }
  
  .admin-appearance .field {
    /* remove flex */
    display: block;
  }
  
  /* #endregion  */