<% var output = '', tags = relationships.topics, i = 0, count = tags.length, tag; for(i;i<count;i++){ if(tags[i]){ tag = Mediakron.getItemFromURI(tags[i].uri); if(tag){ if(tag.get('type') == 'tag'){  output = output + '<li><span class="mk-icon mk-tag"></span> '+ tag.getLink() + '</li>'; } } } } if(output.length > 0){ %>
    <aside class="details-tags">
        <h3	>Tags</h3>
        <ul>
            <%= output %>
        </ul>
    </aside>
<% } %>

<% if(item.hasMetadata() || item.hasSource() || (Mediakron.Settings.showauthor)) { %>
    <aside class="details">
    	<div class="details__inner">
    	<h3>Details</h3>
      	<dl>
      	<% if(metadata.citation){ %>
      	  <dt>Source </dt>
      	    <dd><%= metadata.citation %></dd>
      	<% } %>
      	
      	<% if(metadata.source){ %>
      	  <dt>Source URL</dt>
      	    <dd><a href="<%= metadata.source %>">View URL</a></dd>		
      	<% } %>
      	
      	<% if(Mediakron.Settings.showauthor){  %>
      	<dt class="author-date">Author and Date</dt>
      	    <dd class="author-date">Last updated <%= item.getChanged() %>. Originally created <%= item.getCreated() %> by <%= item.get("user").name %>. </dd>
      	<% } %>   
      	
      	<% if(metadata.creator){ %>
      	  <dt>Creator:</dt>
      	    <dd><%= metadata.creator %></dd>
      	<% } %>
      	
      	<% if(metadata.subject){ %>
      	  <dt>Subject:</dt>
      	    <dd><%= metadata.subject %></dd>
      	<% } %> 
        	
      	<% if(metadata.contributor){ %>
      	  <dt>Contributor:</dt>
      	    <dd><%= metadata.contributor %></dd>
      	<% } %>
      	
      	<% if(metadata.coverage){ %>
      	  <dt>Coverage:</dt>
      	    <dd><%= metadata.coverage %></dd>
      	<% } %>
      	
      	<% if(metadata.format){ %>
      	  <dt>Format:</dt>
      	    <dd><%= metadata.format %></dd>
      	<% } %>
      	
      	<% if(metadata.identifier){ %>
      	  <dt>Identifier:</dt>
      	    <dd><%= metadata.identifier %></dd>
      	<% } %>
      	
      	<% if(metadata.language){ %>
      	  <dt>Language:</dt>
      	    <dd><%= metadata.language %></dd>
      	<% } %>
      	
      	<% if(metadata.location){ %>
      	  <dt>Location:</dt>
      	    <dd><%= metadata.location %></dd>
      	<% } %>
      	
      	<% if(metadata.medium){ %>
      	  <dt>Medium:</dt>
      	    <dd><%= metadata.medium %></dd>
      	<% } %>
      	
      	<% if(metadata.publisher){ %>
      		  <dt>Publisher:</dt>
      		    <dd><%= metadata.publisher %></dd>
      	<% } %>
      	
    		<% if(metadata.published){ %>
    		  <dt>Published:</dt>
    		    <dd><%= metadata.published %></dd>
    		<% } %>
      	
      	<% if(metadata.provenance){ %>
      	  <dt>Provenance:</dt>
      	    <dd><%= metadata.provenance %></dd>
      	<% } %>
      	   	
      	<% if(metadata.relation){ %>
      	  <dt>Relation:</dt>
      	    <dd><%= metadata.relation %></dd>
      	<% } %>
      	
      	<% if(metadata.rights){ %>
      	  <dt>Rights:</dt>
      	    <dd><%= metadata.rights %></dd>
      	<% } %>
      	      	      	
      	<% if(metadata.SizeOrDuration){ %>
      	  <dt>Size or Duration:</dt>
      	    <dd><%= metadata.SizeOrDuration %></dd>
      	<% } %>
      	
      	
      	</dl>
    	</div>
    </aside>
<% } %>
